## Importation des librairies

In [1]:
import pandas as pd
import tkinter as tk
from tkinter import *
import matplotlib.pyplot as plt
import math
#import rpack
import random
import numpy as np
import sys
from PIL import Image
#from PIL import EpsImagePlugin
#EpsImagePlugin.gs_windows_binary =  r'C:\...\gs\gs9.52\bin\gswin64c'
from PIL import ImageGrab
import time
from scipy import spatial
from scipy.spatial.distance import pdist, squareform

np.set_printoptions(threshold=sys.maxsize)

In [2]:
from IPython.core.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
class App(tk.Tk):
    def __init__(self):
        super().__init__()

        self.title('Window')
        self.h = 1000
        self.w = 2000
        self.geometry(str(self.w)+'x'+str(self.h))
   
    def getH(self):
        return self.h
    
    def getW(self):
        return self.w
    
    def quit(self):
        self.destroy()

In [4]:
class Piece():
    def __init__(self):
        self.x = 0
        self.y = 0
        self.h = 0
        self.w = 0
        self.pct = 0
        self.oldwh = []
        
        self.tlc = []
        self.trc = []
        self.blc = []
        self.brc = []
        
        self.center = []
        
    def setX(self,x):
        self.x = x
        
    def setY(self,y):
        self.y = y
        
    def setW(self,w):
        self.w = w
        
    def setH(self,h):
        self.h = h
    
    def setPct(self, pct):
        self.pct = pct        
    
    def setTlc(self, tlc):
        self.tlc = tlc
    
    def getTlc(self):
        self.tlc = [self.x, self.y]
        return self.tlc
    
    def getTrc(self):
        self.trc = [self.x+self.w, self.y]
        return self.trc
    
    def getBlc(self):
        self.blc = [self.x, self.y+self.h]
        return self.blc
    
    def getBrc(self):
        self.brc = [self.x+self.w, self.y+self.h]
        return self.brc
    
    def getCenter(self):
        tlc = self.getTlc()
        self.center = [tlc[0]+(self.w/2), tlc[1]+(self.h/2)]
        return self.center
    
    def appendOldWH(self):
        self.oldwh.append([self.w,self.h])
        
    def getOldWH(self):
        return self.oldwh
    
    def setDims(self, x, y, w, h):
        self.setX(x)
        self.setY(y)
        self.setW(w)
        self.setH(h)
        
    def getSurface(self):
        return self.w*self.h
    
class Chambre(Piece):
    def __init__(self):
        Piece.__init__(self)
        self.h = 100
        self.w = 100
        self.pct = 15
        self.pctdef = 15
        self.num = 1
        self.col = "orange"
        self.prio = 2
    
    def __str__(self):
        return "Chambre"
        
class Cuisine(Piece):
    def __init__(self):
        Piece.__init__(self)
        self.h = 100
        self.w = 100
        self.pct = 15
        self.pctdef = 15
        self.num = 2
        self.col = "green"
        self.prio = 3
        
    def __str__(self):
        return "Cuisine"
        
class Sam(Piece):
    def __init__(self):
        Piece.__init__(self)
        self.h = 100
        self.w = 100
        self.pct = 15
        self.pctdef = 15
        self.num = 3
        self.col = "purple"
        self.prio = 1
        
    def __str__(self):
        return "Salle à manger"
    
class Sdb(Piece):
    def __init__(self):
        Piece.__init__(self)
        self.h = 100
        self.w = 100
        self.pct = 10
        self.pctdef = 10
        self.num = 4
        self.col = "blue"
        self.prio = 4
    
    def __str__(self):
        return "Salle de bain"
        
class Toilettes(Piece):
    def __init__(self):
        Piece.__init__(self)
        self.h = 100
        self.w = 100
        self.pct = 5
        self.pctdef = 5
        self.num = 5
        self.col = "grey"
        self.prio = 5
        
    def __str__(self):
        return "Toilettes"
        
class Rangement(Piece):
    def __init__(self):
        Piece.__init__(self)
        self.h = 100
        self.w = 100
        self.pct = 5
        self.pctdef = 5
        self.num = 6
        self.col = "maroon"
    
    def __str__(self):
        return "Rangement"
    
class Buanderie(Piece):
    def __init__(self):
        Piece.__init__(self)
        self.h = 100
        self.w = 100
        self.pct = 5
        self.pctdef = 5
        self.num = 7
        self.col = "cyan"
        
    def __str__(self):
        return "Buanderie"

class Entree(Piece):
    def __init__(self):
        Piece.__init__(self)
        self.h = 100
        self.w = 100
        #self.pct = 15
        self.num = 8
        self.col = "yellow"
        self.prio = 1001
    
    def __str__(self):
        return "Entrée"    

def tabModulo(n):
    n = n
    l = []
    
    #print(n)
    
    for i in range (1,n+1):
        if n%i == 0 and i != 1 and i != n:
            l.append(i)
            
    nl = l[::-1]
    tab = pd.DataFrame(l, columns = [1])
    tab[2] = nl
    #display(tab)
    
    return tab

In [5]:
def uniq(lst):
    last = object()
    for item in lst:
        if item == last:
            continue
        yield item
        last = item

def sort_and_deduplicate(l):
    return list(uniq(sorted(l, reverse=True)))

In [6]:
class Appartement():
    def __init__(self, app, h, w):
        self.app = app
        self.x = 150
        self.y = 50
        self.h = h
        self.w = w
        self.listePieces = []
        self.prio = 1000
        
        self.tlc = [self.x, self.y, "TLC"]
        self.trc = [self.x+self.w, self.y, "TRC"]
        self.blc = [self.x, self.y+self.h, "BLC"]
        self.brc = [self.x+self.w, self.y+self.h, "BRC"]
        self.listeCoinsFinale = []
        self.listeCoinsTotale = []
        self.listeCoinsAppart = [[self.tlc],[self.trc],[self.brc],[self.blc]]
        self.listeCoinsRemoved = []
        self.tabCoinsPieceWithoutRemoved = pd.Series()
        self.indic = 1
        self.doneList = []
        self.listObjectifs = []
        
        self.ent = Entree()
        
        self.mat = np.zeros((self.w, self.h))
        
        self.can = tk.Canvas(self.app, bg = "white", height = app.getH(), width = app.getW())
        
    def afficherAppartement(self):
        self.can.create_rectangle(self.x, self.y, 
                             self.x+self.w, self.y+self.h)
        self.can.create_rectangle(self.x+700, self.y, 
                             self.x+700+self.w, self.y+self.h)
        
                             #fill = "white" )
        #can.create_polygon(self.x, self.y,
        #                   (self.x+self.w)-(self.x+self.w)/4, self.y,
        #                   (self.x+self.w)-(self.x+self.w)/4, self.y+(self.x+self.w)/6,
        #                   self.x+self.w, self.y+(self.x+self.w)/6,
        #                   self.x+self.w, self.y + self.h,
        #                   self.x, self.y + self.h, 
        #                   outline = "black",
        #                   fill = "white" )
        
        self.ent.setX(int((self.x+(self.w)/2)-25))
        self.ent.setY(self.y)
        self.ent.setW(50)
        self.ent.setH(self.y)
        tlc = self.ent.getTlc()
        brc = self.ent.getBrc()
        #self.can.create_rectangle(tlc[0],tlc[1],brc[0],brc[1], outline = "black")
        
        self.can.create_line((self.x+(self.w)/2)-17, self.y,(self.x+(self.w)/2)+17, self.y, fill = "white")
        self.can.create_line((self.x+700+(self.w)/2)-17, self.y,(self.x+700+(self.w)/2)+17, self.y, fill = "white")
        self.can.pack()
    
    def afficherGrille(self,k):
        self.dimcase = math.sqrt((5*(self.h*self.w))/100)
        self.nbcasesh = int(self.h/self.dimcase)
        self.nbcasesw = int(self.w/self.dimcase)
        #print(self.dimcase)
        #print(self.nbcasesh)
        #print(self.nbcasesw)
        for i in range(self.nbcasesh):
            for j in range(self.nbcasesw):
                #print(i)
                self.can.create_rectangle(self.x+k+j*self.dimcase, self.y+i*self.dimcase, self.x+k+(j+1)*self.dimcase, self.y+(i+1)*self.dimcase, outline = 'red')
        
        self.can.pack()
    
    def drawRoom(self, tlc, brc, piece, k):
        self.can.create_rectangle(tlc[0]+k,tlc[1],brc[0]+k,brc[1], outline = piece.col, fill = "white")
        self.can.create_text(tlc[0]+k+(piece.w/2),tlc[1]+(piece.h/2),fill="black",font="Times 8",text=f"{piece.__str__()}")
    
    def dimensionRoom(self, piece):
        piece.setPct(piece.pctdef)
        piece.setX(self.x)
        piece.setY(self.y)
        
        totalpct = 100

        if piece.pct == 5:
            rndpct = random.randrange(0,2,2)
        else:
            rndpct = random.randrange(-5,6,5)

        if totalpct > 15:
            piece.setPct(piece.pct+rndpct)

        totalpct = totalpct-(piece.pct+rndpct)

        #print(piece.__str__()+" "+str(piece.pct))
        #print(totalpct)

        dimcase = int((piece.pct*(self.h*self.w))/100)
        tab = tabModulo(dimcase)

        for i in range(2):
            dimliste = [self.w, self.h]
            indexModuloLow = tab[tab[i+1] < 100].index
            indexModuloHigh = tab[tab[i+1] > dimliste[i]].index
            tab.drop(indexModuloLow, inplace = True)
            tab.drop(indexModuloHigh, inplace = True)

        #display(tab)
        
        tabOldWH = piece.getOldWH()
        
        rnddim = random.choice(tab.values.tolist())
        
        while rnddim in tabOldWH:
            print(rnddim, tabOldWH)
            rnddim = random.choice(tab.values.tolist())
               
        piece.setW(rnddim[0])
        piece.setH(rnddim[1])
            
        
        #return piece
    
    def createRooms(self):      
        chb = Chambre()
        csn = Cuisine()
        sdb = Sdb()
        sam = Sam()
        tlt = Toilettes()
        rng = Rangement()
        bdr = Buanderie()
        
        #self.listePieces = [chb,csn,sdb,sam,tlt,rng,bdr]
        self.listePieces = [chb,csn,sdb,sam,tlt]
        random.shuffle(self.listePieces)
        
        idx = 0
        sumW = 0
        for piece in self.listePieces:
            self.dimensionRoom(piece)
            sumW = sumW+piece.w
            tlc = [piece.x+(sumW-piece.w),piece.y+450]
            brc = [piece.x+sumW, piece.y+450+piece.h]
            
            self.drawRoom(tlc, brc, piece,0)
            
            idx += 1
        
        self.can.pack()
    '''  
    def placeRooms(self):
        L = self.listePieces
        placed = []
        done = 0
        sumW = 0
        sumH = 0
        k = 0
        
        while len(placed) != len(L):
            for piece in L:
                if self.x+piece.w < (self.x+(self.w)/2)-17 and done == 0:
                    piece.setX(self.x)
                    piece.setY(self.y)
                    
                    self.drawRoom(piece.getTlc(), piece.getBrc(), piece,0)
                                        
                    done = 1
                    sumW = piece.w
                    sumH = piece.h
                    placed.append(piece)
                    
                    #self.majMatrice(piece)
                    #self.app.update()
                    #input("Press Enter to continue...")
                    
                if piece in placed:
                    #print(placed)
                    for piece2 in L:
                        #print((self.x+(self.w)/2)-17)
                        if piece2.__str__() != piece.__str__() and sumH + piece2.h <= self.h and piece2 not in placed:
                            tlc = piece.getBlc()
                            piece2.setX(tlc[0])
                            piece2.setY(tlc[1])
                            
                            self.drawRoom(piece2.getTlc(), piece2.getBrc(), piece2, 0)
                            
                            placed.append(piece2)
                            sumH = sumH + piece2.h
                            
                            #self.majMatrice(piece2)
                            #self.app.update()
                            
                            break
                            
                    for piece2 in L:
                        if piece.y != self.y:
                            lim = self.w
                        else:
                            lim = ((self.w)/2)-17
                            
                        if piece2.__str__() != piece.__str__() and sumW + piece2.w <= lim and piece2 not in placed:
                            tlc = piece.getTrc()
                            piece2.setX(tlc[0])
                            piece2.setY(tlc[1])

                            self.drawRoom(piece2.getTlc(), piece2.getBrc(), piece2, 0)

                            placed.append(piece2)
                            sumW = sumW + piece2.w
                            
                            #self.majMatrice(piece2)
                            #self.app.update()
                            
                            break
                            
                    print("ite "+str(k))
                    for p in placed:
                        print(p.__str__())
                        
                    k+=1
                    
            placed = L 
                
            self.can.pack()
    '''
    def verifyRooms(self, piece, listeCoins, multipleToRemove, placed):
        ptrc, ptlc, pbrc, pblc = piece.getTrc(),piece.getTlc(),piece.getBrc(),piece.getBlc()
        listeCoinsPiece = [ptrc, ptlc, pbrc, pblc]
        horsChamps = 0
        superposition = 0
        superpositionplaced = 0
        remover = 0

        for coinpiece in listeCoinsPiece:
            for coinliste in listeCoins:
                if coinpiece[0] == coinliste[0] and coinpiece[1] == coinliste[1]:
                    print(f"Removed corner : {coinliste}")
                    listeCoins.remove(coinliste)
                    remover += 1
                    multipleToRemove.append(coinliste)
            if coinpiece[0] < self.x or coinpiece[0] > self.x+self.w or coinpiece[1] < self.y or coinpiece[1] > self.y+self.h:
                horsChamps = 1

        #print(placed)
        for placedpiece in placed:
            if piece.__str__() != placedpiece.__str__():
                pptrc, pptlc, ppbrc, ppblc = placedpiece.getTrc(),placedpiece.getTlc(),placedpiece.getBrc(),placedpiece.getBlc()
                listeppcoins = [pptrc, pptlc, ppbrc, ppblc]
                center = piece.getCenter()
                if (center[0] >= pptlc[0] and center[0] <= ppbrc[0] and center[1] >= pptlc[1] and center[1] <= ppbrc[1]):
                    superposition = 1
                    print(piece.__str__(), placedpiece.__str__(), 'center')
                    break
                if (center[0]+(piece.w/2)-1 >= pptlc[0] and center[0]+(piece.w/2)-1 <= ppbrc[0] and center[1] >= pptlc[1] and center[1] <= ppbrc[1]) or (center[0]-(piece.w/2)+1 >= pptlc[0] and center[0]-(piece.w/2)+1 <= ppbrc[0] and center[1] >= pptlc[1] and center[1] <= ppbrc[1]):
                    superposition = 1
                    print(piece.__str__(), placedpiece.__str__(), 'close edge lr')
                    break
                if (center[0] >= pptlc[0] and center[0] <= ppbrc[0] and center[1]+(piece.h/2)-1 >= pptlc[1] and center[1]+(piece.h/2)-1 <= ppbrc[1]) or (center[0] >= pptlc[0] and center[0] <= ppbrc[0] and center[1]-(piece.h/2)+1 >= pptlc[1] and center[1]-(piece.h/2)+1 <= ppbrc[1]):
                    superposition = 1
                    print(piece.__str__(), placedpiece.__str__(), 'close edge tb')
                    break
                '''
                if (ptlc[0]+1 > pptlc[0] and pbrc[0]-1 < ppbrc[0] and ptlc[1]+1 > pptlc[1] and pbrc[1]-1 < ppbrc[1]):
                    superposition = 1
                    self.drawRoom([ptlc[0]+1,ptlc[1]+1],[pbrc[0]-1,pbrc[1]-1], piece, 0)
                    break

                for coinpiece in listeCoinsPiece:
                    if (coinpiece[0] > pptlc[0] and coinpiece[0] < ppbrc[0] and coinpiece[1] > pptlc[1] and coinpiece[1] < ppbrc[1]):
                        superposition = 1

            
                
                
                centerplaced = placedpiece.getCenter()
                centerTLC = centerplaced[0]+(piece.w/2)-1
                if (centerplaced[0]+(piece.w/2)-1 >= ptlc[0] and centerplaced[0]+(piece.w/2)-1 <= pbrc[0] and centerplaced[1] >= ptlc[1] and centerplaced[1] <= pbrc[1]) or (centerplaced[0]-(piece.w/2)+1 >= ptlc[0] and centerplaced[0]-(piece.w/2)+1 <= pbrc[0] and centerplaced[1] >= ptlc[1] and centerplaced[1] <= pbrc[1]):
                    superposition = 1
                    print(piece.__str__(), placedpiece.__str__(), 'close edge lr')
                    break
                if (centerplaced[0] >= pptlc[0] and centerplaced[0] <= pbrc[0] and centerplaced[1]+(piece.h/2)-1 >= ptlc[1] and centerplaced[1]+(piece.h/2)-1 <= pbrc[1]) or (centerplaced[0] >= ptlc[0] and centerplaced[0] <= ppbrc[0] and centerplaced[1]-(piece.h/2)+1 >= pptlc[1] and centerplaced[1]-(piece.h/2)+1 <= ppbrc[1]):
                    superposition = 1
                    print(piece.__str__(), placedpiece.__str__(), 'close edge tb')
                    break
                
                if (center[0]+(piece.w/2)-1 >= ptlc[0] and center[0]+(piece.w/2)-1 <= pbrc[0] and center[1]+(piece.h/2)-1 >= ptlc[1] and center[1]+(piece.h/2)-1 <= pbrc[1]) or (center[0]-(piece.w/2)+1 >= ptlc[0] and center[0]-(piece.w/2)+1 <= pbrc[0] and center[1]-(piece.h/2)+1 >= ptlc[1] and center[1]-(piece.h/2)+1 <= pbrc[1]):
                    superposition = 1
                    print(piece.__str__(), placedpiece.__str__(), 'close edge lr')
                    break
                
                if (center[0] >= pptlc[0] and center[0] <= pbrc[0] and center[1]+(piece.h/2)-1 >= ptlc[1] and center[1]+(piece.h/2)-1 <= pbrc[1]) or (center[0] >= ptlc[0] and center[0] <= pbrc[0] and center[1]-(piece.h/2)+1 >= ptlc[1] and center[1]-(piece.h/2)+1 <= pbrc[1]):
                    superposition = 1
                    print(piece.__str__(), placedpiece.__str__(), 'close edge tb')
                    break
                    
                if (coinpp[0] > ptlc[0] and coinpp[0] <= pbrc[0] and coinpp[1] >= ptlc[1] and coinpp[1] < pbrc[1]):
                    superpositionplaced = 1
               
                '''
                
                
                for coinpp in listeppcoins:
                    if (coinpp[0] > ptlc[0] and coinpp[0] < pbrc[0] and coinpp[1] > ptlc[1] and coinpp[1] < pbrc[1]):
                        superpositionplaced = 1
                        print('classique')
                
                
        return horsChamps, superposition, superpositionplaced, remover
    
    def f(self, piece, listeCoins, placed, listeCoinsTotale, listeCoinsRemoved):
            listeCoinsPotentiels = []
            multipleToRemove = []
            
            if len(listeCoins) == 0:
                piece.appendOldWH()
                self.dimensionRoom(piece)
                #self.app.update()
                print("\n\nREDIMENSION !!!!!!!!!!!!!!!!!")
                for elem in listeCoinsTotale:
                    if elem not in listeCoinsRemoved:
                        listeCoins.append(elem)
            
            print("\n"+piece.__str__())  
            print(f"TOTALE : {listeCoinsTotale}")
            print(f"COINS : {listeCoins}")
            print(f"REMOVED : {listeCoinsRemoved}")
            coin = random.choice(listeCoins)
            
            #print(coin)
            #print([coin[0]-self.x,coin[1]-self.y,coin[2]])
            
            if coin[2] == "TLC":
                piece.setX(coin[0])
                piece.setY(coin[1])
                
                trc = piece.getTrc() + ['TLC']
                blc = piece.getBlc() + ['TLC']
                
                listeCoinsPotentiels.append(trc)
                listeCoinsPotentiels.append(blc)

            if coin[2] == "TRC":
                piece.setX(coin[0]-piece.w)
                piece.setY(coin[1])
                
                tlc = piece.getTlc() + ['TRC']
                brc = piece.getBrc() + ['TRC']

                listeCoinsPotentiels.append(tlc)
                listeCoinsPotentiels.append(brc)

            if coin[2] == "BLC":
                piece.setX(coin[0])
                piece.setY(coin[1]-piece.h)
                
                tlc = piece.getTlc() + ['BLC']
                brc = piece.getBrc() + ['BLC']
                
                listeCoinsPotentiels.append(tlc)
                listeCoinsPotentiels.append(brc)

            if coin[2] == "BRC":
                piece.setX(coin[0]-piece.w)
                piece.setY(coin[1]-piece.h)
                
                trc = piece.getTrc() + ['BRC']
                blc = piece.getBlc() + ['BRC']
                
                listeCoinsPotentiels.append(trc)
                listeCoinsPotentiels.append(blc)
            
            horsChamps, superposition, superpositionplaced, remover = self.verifyRooms(piece, listeCoins, multipleToRemove, placed)
                        
            if horsChamps == 1 or superposition == 1 or superpositionplaced == 1:
                print(f"hors champs = {horsChamps}, superposition = {superposition}, superpositionPlaced = {superpositionplaced}")
                if remover == 0:
                    listeCoins.remove(coin)
                print("\nREITERATION")
                self.f(piece, listeCoins, placed, listeCoinsTotale, listeCoinsRemoved)
                listeCoins.append(coin)
            else:
                if remover == 0:
                    listeCoins.remove(coin)
                    listeCoinsRemoved.append(coin)
                else:
                    for coin in multipleToRemove:
                        listeCoinsRemoved.append(coin)
                self.drawRoom(piece.getTlc(), piece.getBrc(), piece, 0)
                placed.append(piece)
                for coinp in listeCoinsPotentiels:
                    listeCoins.append(coinp)
                    listeCoinsTotale.append(coinp)
                    self.listeCoinsAppart.append([coinp, piece])
                print(piece.__str__()+" placée")
            #self.majMatrice(piece)
            
            #print(f"REMOVED : {listeCoinsRemoved}")
            '''
            cotes = [self.x, self.y, self.w+self.x, self.h+self.y]
            
            for nb in cotes:
                for placedpiece in placed:
                    tlc, brc = placedpiece.getTlc(), placedpiece.getBrc()
                    mindiff = 0
                    for placedpiece2 in placed:
                        tlc2, brc2 = placedpiece.getTlc(), placedpiece.getBrc()
                        if placedpiece is not placedpiece2:
                            if placedpiece.tlc[0] == nb and placedpiece.tlc[0] == placedpiece.tlc2[0] and placedpiece.tlc[1]-:
                                mindiff = 
                        
            '''
            
            self.listeCoinsTotale = listeCoinsTotale
            self.listeCoinsRemoved = listeCoinsRemoved
            #self.listeCoinsPiece = listeCoinsPiece
    
    def verify2(self, piece, coin, listeCoins, multipleToRemove, placed, x, y, w, h, snapshotTabCoinsPieceWithoutRemoved):
        print(piece.__str__())
        horsChamps, superposition, superpositionplaced, remover = self.verifyRooms(piece, listeCoins, multipleToRemove, placed)
        print(horsChamps, superposition, superpositionplaced)
        print('Changé: ', piece.x, piece.y, piece.w, piece.h)
        if horsChamps+superposition+superpositionplaced != 0:
            piece.setDims(x, y, w, h)
            display(self.tabCoinsPieceWithoutRemoved)
            self.tabCoinsPieceWithoutRemoved = snapshotTabCoinsPieceWithoutRemoved.copy()
            display(self.tabCoinsPieceWithoutRemoved)
            print('Ancien: ', piece.x, piece.y, piece.w, piece.h)
            self.indic = 0
            self.doneList.remove(coin)
    
    def broadRooms(self, tabCoinsPiece, tabCoinsRemoved, listeCoins, placed):
        self.tabCoinsPieceWithoutRemoved = pd.merge(tabCoinsPiece,tabCoinsRemoved, how="outer", on=["x_corner","y_corner"])
        display(self.tabCoinsPieceWithoutRemoved)
        self.tabCoinsPieceWithoutRemoved = self.tabCoinsPieceWithoutRemoved[self.tabCoinsPieceWithoutRemoved['cornertype_y'].isna()].drop(columns = ["x_corner","y_corner","corner_y","cornertype_y"])
        self.tabCoinsPieceWithoutRemoved[1] = self.tabCoinsPieceWithoutRemoved[1].fillna(self)
        self.tabCoinsPieceWithoutRemoved['prio'] = None
        self.tabCoinsPieceWithoutRemoved = self.tabCoinsPieceWithoutRemoved.reset_index().drop('index',axis = 1)

        idx = 0
        for elem in self.tabCoinsPieceWithoutRemoved[1]:
            print(idx,elem,elem.prio)
            self.tabCoinsPieceWithoutRemoved['prio'][idx] = elem.prio
            idx += 1

        self.tabCoinsPieceWithoutRemoved = self.tabCoinsPieceWithoutRemoved.sort_values(by='prio').reset_index().drop('index',axis = 1)

        '''
        tlcEnt = [self.ent,None,self.ent.getTlc(),"TRC",self.ent.prio]
        trcEnt = [self.ent,None,self.ent.getTrc(),"TLC",self.ent.prio]
        tabEnt = pd.DataFrame([tlcEnt,trcEnt])
        tabEnt.columns = [1,3,'corner_x','cornertype_x','prio']
        print('tabEnt')
        display(tabEnt)

        self.tabCoinsPieceWithoutRemoved = pd.concat([self.tabCoinsPieceWithoutRemoved,tabEnt],axis = 0)
        '''

        display(self.tabCoinsPieceWithoutRemoved)
        multipleToRemove = []
        archivePieces = []
        i = -1
        for piece, done, coin, typecoin, prio in self.tabCoinsPieceWithoutRemoved.itertuples(index=False):
            diff = 0
            i += 1
            j = -1
            #print(f"i:{i}")
            print("\n", piece, "\n")
            for piece2, done2, coin2, typecoin2, prio2 in self.tabCoinsPieceWithoutRemoved.itertuples(index=False):
                j += 1
                #print(f"j:{j}")
                print(piece2)
                if coin != coin2 and piece != piece2:
                    #print(piece, piece2)
                    #print(f"{coin[1]+coin2[1]} > {piece.h+piece2.h}")
                    if coin[0] in [self.tlc[0],self.brc[0]] and coin[0] == coin2[0] and coin not in self.doneList and coin2 not in self.doneList: #and ((coin[1]+coin2[1])>(piece.h+piece2.h) or (piece == 'Appartement' or piece2 == 'Appartement'))
                        print('VERTICAL')
                        diff = abs(coin2[1]-coin[1])
                        print(piece,piece2,diff)
                        #self.doneList.append(coin)
                        #self.doneList.append(coin2)
                        x, y, w, h = piece.x, piece.y, piece.w, piece.h
                        x2, y2, w2, h2 = piece2.x, piece2.y, piece2.w, piece2.h
                        snapshotTabCoinsPieceWithoutRemoved = self.tabCoinsPieceWithoutRemoved.copy()
                        if prio < prio2:
                            self.doneList.append(coin)
                            if typecoin == 'TLC':
                                archivePieces.append(piece)
                                piece.setH(piece.h + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece.getBrc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BLC"
                            if typecoin == 'TRC':
                                archivePieces.append(piece)
                                piece.setH(piece.h + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece.getBlc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BRC"
                            if typecoin == 'BLC':
                                archivePieces.append(piece)
                                piece.setY(piece.y - diff)
                                piece.setH(piece.h + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece.getTrc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "TLC"
                            if typecoin == 'BRC':
                                archivePieces.append(piece)
                                piece.setY(piece.y - diff)
                                piece.setH(piece.h + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece.getTlc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "TRC"
                            
                            self.indic = 1
                            self.verify2(piece, coin, listeCoins, multipleToRemove, placed, x, y, w, h, snapshotTabCoinsPieceWithoutRemoved)
                            
                        elif prio > prio2 or self.indic == 0:
                            self.doneList.append(coin2)
                            if typecoin2 == 'TLC':
                                archivePieces.append(piece2)
                                piece2.setH(piece2.h + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece2.getBrc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BLC"
                            if typecoin2 == 'TRC':
                                archivePieces.append(piece2)
                                piece2.setH(piece2.h + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece2.getBlc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BRC"
                            if typecoin2 == 'BLC':
                                archivePieces.append(piece2)
                                piece2.setY(piece2.y - diff)
                                piece2.setH(piece2.h + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece2.getTrc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "TLC"
                            if typecoin2 == 'BRC':
                                archivePieces.append(piece2)
                                piece2.setY(piece2.y - diff)
                                piece2.setH(piece2.h + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece2.getTlc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "TRC"
                            
                            self.indic = 1
                            self.verify2(piece2, coin2, listeCoins, multipleToRemove, placed, x2, y2, w2, h2, snapshotTabCoinsPieceWithoutRemoved)

                        display(self.tabCoinsPieceWithoutRemoved)

                    if coin[1] in [self.tlc[1],self.brc[1]] and coin[1] == coin2[1] and (typecoin != 'TRC' and typecoin != 'TLC') and coin not in self.doneList and coin2 not in self.doneList: #and (coin[0]+coin2[0])>(piece.w+piece2.w) 
                        print('HORIZONTAL')
                        diff = abs(coin2[0]-coin[0])
                        print(piece,piece2,diff)
                        #self.doneList.append(coin)
                        #self.doneList.append(coin2)
                        x, y, w, h = piece.x, piece.y, piece.w, piece.h
                        x2, y2, w2, h2 = piece2.x, piece2.y, piece2.w, piece2.h
                        snapshotTabCoinsPieceWithoutRemoved = self.tabCoinsPieceWithoutRemoved.copy()
                        if prio < prio2:
                            self.doneList.append(coin)
                            if (typecoin == 'BLC' and coin[0] != 650) or (typecoin == 'BRC' and coin[0] == 650):
                                piece.setW(piece.w + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece.getTrc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BRC"
                            if (typecoin == 'BRC' and coin[0] != 150) or (typecoin == 'BLC' and coin[0] == 150):
                                #archivePieces.append(piece)
                                piece.setX(piece.x - diff)
                                piece.setW(piece.w + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece.getTlc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BLC"
                            
                            self.indic = 1
                            self.verify2(piece, coin, listeCoins, multipleToRemove, placed, x, y, w, h, snapshotTabCoinsPieceWithoutRemoved)

                        elif prio > prio2 or self.indic == 0:
                            self.doneList.append(coin2)
                            if (typecoin2 == 'BLC' and coin2[0] != 650) or (typecoin2 == 'BRC' and coin2[0] == 650):
                                archivePieces.append(piece2)
                                piece2.setW(piece2.w + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece2.getTrc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BRC"
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece2.getTlc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BLC"
                            if (typecoin2 == 'BRC' and coin2[0] != 150) or (typecoin2 == 'BLC' and coin2[0] == 150):
                                archivePieces.append(piece2)
                                piece2.setW(piece2.w + diff)
                                piece2.setX(piece2.x - diff) 
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece2.getTrc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BRC"
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece2.getTlc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BLC"
                            
                            self.indic = 1
                            self.verify2(piece2, coin2, listeCoins, multipleToRemove, placed, x2, y2, w2, h2, snapshotTabCoinsPieceWithoutRemoved)

                        display(self.tabCoinsPieceWithoutRemoved)

        print(self.doneList)
        display(self.tabCoinsPieceWithoutRemoved)
        print(archivePieces)

        for piece in self.listePieces:
            print(piece.__str__())
            horsChamps, superposition, superpositionplaced, remover = self.verifyRooms(piece, listeCoins, multipleToRemove, placed)
            print(horsChamps, superposition, superpositionplaced)

            self.drawRoom(piece.getTlc(), piece.getBrc(), piece, 700)
        
        self.can.pack()
    
    def placeRooms2(self):
        #entTlc = self.ent.getTlc() + ['TRC']
        #entTrc = self.ent.getTrc() + ['TLC']
        #entBlc = self.ent.getBlc() + ['BLC']
        #entBrc = self.ent.getBrc() + ['BRC']
        placed = [self.ent]
        listeCoins = [self.tlc,self.trc,self.brc,self.blc]
        listeCoinsTotale = [self.tlc,self.trc,self.brc,self.blc]
        listeCoinsRemoved = []
        
        for piece in self.listePieces:
            self.f(piece, listeCoins, placed, listeCoinsTotale, listeCoinsRemoved)
            
        for elem in self.listeCoinsTotale:
            if elem not in self.listeCoinsRemoved:
                self.listeCoinsFinale.append(elem)
              
        #print(self.listeCoinsFinale)
        
        tabCoinsPiece = pd.DataFrame(self.listeCoinsAppart)
        tabCoinsRemoved = pd.DataFrame([self.listeCoinsRemoved]).transpose()
        tabCoinsPiece[3] = None
        #tabCoinsPiece = tabCoinsPiece[tabCoinsPiece[0] not in self.listeCoinsRemoved]
        listeTabs = [tabCoinsPiece,tabCoinsRemoved]
        display(tabCoinsPiece)
        
        for tab in listeTabs:
            i = 0
            tab['corner'] = None
            tab['cornertype'] = 0
            tab['x_corner'] = 0
            tab['y_corner'] = 0
            for elem in tab[0]:
                print(elem)
                tab['corner'][i] = [elem[0],elem[1]]
                tab['x_corner'][i] = elem[0]
                tab['y_corner'][i] = elem[1]
                tab['cornertype'][i] = elem[2]
                
                i += 1
            tab.drop(0, inplace = True, axis = 1)
        
        
        display(tabCoinsPiece)
        display(tabCoinsRemoved)
        
        while self.indic != 0:
            self.indic = 0
            self.broadRooms(tabCoinsPiece, tabCoinsRemoved, listeCoins, placed)
            
    def surfaceHabitable(self):
        surfaceHabitable = 0
        
        for piece in self.listePieces:
            if piece.__str__() != 'Toilettes':
                surfaceHabitable += piece.getSurface()
        
        return surfaceHabitable

    def surfaceTechnique(self):
        surfaceTotale = self.w*self.h
        surfaceTechnique = surfaceTotale - self.surfaceHabitable()
        
        return surfaceTechnique
    
    def pourcentageSurfaceHabitable(self):
        surfaceTotale = self.w*self.h
        surfaceHabitable = self.surfaceHabitable()
        surfaceTechnique = self.surfaceTechnique()
        
        pourcentageSurfaceHabitable = surfaceHabitable/surfaceTotale
        pourcentageSurfaceTechnique = surfaceTechnique/surfaceTotale
        
        return pourcentageSurfaceHabitable, pourcentageSurfaceTechnique
    
    def distanceRooms(self):
        for piece in self.listePieces:
            if piece.__str__() == 'Cuisine': csn = piece
            if piece.__str__() == 'Chambre': chb = piece
            if piece.__str__() == 'Salle à manger': sam = piece
            if piece.__str__() == 'Salle de bain': sdb = piece
            if piece.__str__() == 'Toilettes': tlt = piece
        
        chbSdb = round(math.dist(chb.getCenter(), sdb.getCenter())/10, 2)
                
        csnSam = round(math.dist(csn.getCenter(), sam.getCenter())/10, 2)
                
        tltSdb = round(math.dist(tlt.getCenter(), sdb.getCenter())/10, 2)
                
        csnTlt = round(math.dist(csn.getCenter(), tlt.getCenter())/10, 2)
                
        return chbSdb, csnSam, tltSdb, csnTlt
    
    def afficherObjectifs(self):
        pSH, pST = self.pourcentageSurfaceHabitable()
        
        #self.can.create_text(150+600,210, text = 'Pourcentage de surface technique')
        #self.can.create_text(150+600,225, text = pST)
        self.can.create_text(150+600,210, text = 'Pourcentage de surface habitable')
        self.can.create_text(150+600,225, text = pSH)
        #print(self.listePieces)
        
        chbSdb, csnSam, tltSdb, csnTlt = self.distanceRooms()
        
        self.can.create_text(150+600,275, text = 'Distances')
        self.can.create_text(150+600,290, text = 'Chambre <--> Salle de bain')
        self.can.create_text(150+600,305, text = chbSdb)
        self.can.create_text(150+600,320, text = 'Cuisine <--> Salle à manger')
        self.can.create_text(150+600,335, text = csnSam)
        self.can.create_text(150+600,350, text = 'Toilettes <--> Salle de bain')
        self.can.create_text(150+600,365, text = tltSdb)
        self.can.create_text(150+600,380, text = 'Cuisine <--> Toilettes')
        self.can.create_text(150+600,395, text = csnTlt)
        
        self.listObjectifs = [pSH, chbSdb, csnSam, tltSdb, csnTlt]
        
    def majMatrice(self, piece):
        x = piece.x - self.x
        y = piece.y - self.y
        brc = piece.getBrc()
        print(piece.__str__(), piece.num)
        print([x,y])
        print([piece.w,piece.h])
        print([x+piece.w,y+piece.h])
        
        W = x+piece.w
        H = y+piece.h
        xi = x
        yi = y
        
        self.can.create_rectangle(self.x+self.w+200, self.y, 
                             self.x+self.w*2+200, self.y+self.h)        
        #self.can.create_line((self.x+(self.w)/2)-17, self.y,(self.x+(self.w)/2)+17, self.y, fill = "white")
        self.can.pack()
        
        while xi < W:
            #print(xi)
            yi = y
            while yi < H:
                #print(yi)
                self.mat[xi][yi] = self.mat[xi][yi]*7+piece.num
                self.can.create_text(self.x+xi+self.w+200,self.y+yi,fill=piece.col,font="Arial 1",text=f"{self.mat[xi][yi]}")
                
                yi += 1
            xi += 1
    
    def afficherMatrice(self):
        print(len(self.mat))
        print(self.mat)
        
        return self.mat
    
    def getSurface(self):
        return self.h*self.w
    
    def getCoordoAppart(self):
        return self.x , self.y, self.h, self.w 
    
    def getObjectifs(self):
        return self.listObjectifs
    
    def getCanvas(self):
        return self.can
    
    def __str__(self):
        return "Appartement"

In [7]:
def sim(o, vo):
    d = pd.DataFrame()
        
    o = o.drop(['id', 'plan'], axis = 1)
    
    ol = o.values.tolist()
    vol = [vo]
    
    for i in range(len(vol)):
        for j in range(len(ol)):
            print(vol[i])
            print(ol[j])
            print(spatial.distance.cosine(vol[i],ol[j]))
            d.loc[j,i] = round(1 - spatial.distance.cosine(vol[i],ol[j]),2)
    
    display(d)
    d.columns = ['Ranking']
    d.index = list(o.index.values)
    
    w = [1,2,3,4,5]
    distances = pdist(vol, metric='cosine', w=w)
    print(distances)
                
    return d

In [8]:
maxiter = 100
listeObjTotale = []

for i in range(maxiter):
    app = App()
    
    A1 = Appartement(app, 400,500)

    #A1.afficherGrille(0)
    #A1.afficherGrille(700)

    A1.afficherAppartement()
    A1.createRooms()
    A1.placeRooms2()
    A1.distanceRooms()
    A1.afficherObjectifs()
    
    listObjectifs = A1.getObjectifs()
    listObjectifs.insert(0, i)
    listObjectifs.append(f'plan{i}')
    
    cv = A1.getCanvas()
    
    cv.postscript(file=f"plans/plan{i}.eps", height=app.getH(), width=app.getW(), colormode='color')
    img = Image.open(f"plans/plan{i}.eps")
    img.save(f'plans/plan{i}.png', "png", dpi = (100000000,100000000))
    #img.show(f'plans/plan{i}.jpg', "jpeg")
    
    
    listeObjTotale.append(listObjectifs)
    
    #A1.afficherAppartement()
    #wat = A1.afficherMatrice()
    #tabModulo(172)

tabObjectifs = pd.DataFrame(listeObjTotale, columns = ['id', 'Pourcentage surface habitable', 'chbSdb', 'csnSam', 'tltSdb', 'csnTlt', 'plan'])
display(tabObjectifs)

vectObjectif = [1, 0, 0, 0, 100]
rkg = sim(tabObjectifs, vectObjectif)

tabFinale = pd.concat([tabObjectifs, rkg], axis = 1)
tabFinale = tabFinale.sort_values(by=['Ranking'], ascending=False).reset_index().drop('index', axis = 1)
display(tabFinale)

for i in range(3):
    plan = tabFinale['plan'][i]
    img = Image.open(f"plans/{plan}.eps")
    img.show(f'plans/{plan}.png', "png")

app.mainloop()

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [650, 50, 'TRC']
Cuisine placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
REMOVED : [[650, 50, 'TRC']]
Removed corner : [650, 450, 'BRC']
Toilettes placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC']]
REMOVED : [[650, 50, 'TRC'], [650, 450, 'BRC']]
Removed corner : [550, 450, 'BRC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC']]
REMOVED : [[650, 50, 'TRC'], [650, 450, 'BRC']]
Removed corner : [650, 350, 'BRC']
Salle à manger Cuisine center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [650, 450, 'BRC']]
Removed corner : [650, 290, 'TRC']
Salle à manger Toilettes center
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [525, 50, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [650, 450, 'BRC']]
Removed corner : [150, 450, 'BLC']
Salle à manger placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [150, 150, 'BLC'], [250, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [525, 50, 'TRC'], [150, 150, 'BLC'], [250, 450, 'BLC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC']]
REMOVED : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
Removed corner : [150, 150, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [150, 150, 'BLC'], [250, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [525, 50, 'TRC'], [250, 450, 'BLC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC']]
REMOVED : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
Removed corner : [150, 50, 'TLC']
Chambre Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [150, 150, 'BLC'], [250, 450, 'BLC']]
COINS : [[525, 50, 'TRC'], [250, 450, 'BLC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC']]
REMOVED : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
Removed corner : [250, 450, 'BLC']
Chambre placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [150, 150, 'BLC'], [250, 450, 'BLC'], [250, 130, 'BLC'], [375, 450, 'BLC']]
COINS : [[525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [250, 130, 'BLC'], [375, 450, 'BLC'], [150, 50, 'TLC'], [150, 150, 'BLC']]
REMOVED : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 450, 'BLC']]
Removed corner : [150, 150, 'BLC']
classique
hors champs = 1, superposition = 0, superpositionPlaced = 1

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [150, 150, 'BLC'], [250, 450, 'BLC'], [250, 130, 'BLC'], [375, 450, 'BLC']]
COINS : [[525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [250, 130, 'BLC'], [375, 450, 'BLC'], [150, 50, 'TLC']]
REMOVED : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 450, 'BLC']]
Removed corner : [150, 50, 'TLC']
Salle de bain Salle à manger close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [150, 150, 'BLC'], [250, 450, 'BLC'], [250, 130, 'BLC'], [375, 450, 'BLC']]
COINS : [[525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [250, 130, 'BLC'], [375, 450, 'BLC']]
REMOVED : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 450, 'BLC']]
Removed corner : [525, 50, 'TRC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [150, 150, 'BLC'], [250, 450, 'BLC'], [250, 130, 'BLC'], [375, 450, 'BLC']]
COINS : [[650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [250, 130, 'BLC'], [375, 450, 'BLC']]
REMOVED : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 450, 'BLC']]
Removed corner : [250, 130, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [150, 150, 'BLC'], [250, 450, 'BLC'], [250, 130, 'BLC'], [375, 450, 'BLC']]
COINS : [[650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [375, 450, 'BLC']]
REMOVED : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 450, 'BLC']]
Removed corner : [650, 350, 'BRC']
Salle de bain Cuisine center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [150, 150, 'BLC'], [250, 450, 'BLC'], [250, 130, 'BLC'], [375, 450, 'BLC']]
COINS : [[650, 290, 'TRC'], [550, 450, 'BRC'], [375, 450, 'BLC']]
REMOVED : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 450, 'BLC']]
Removed corner : [375, 450, 'BLC']
Salle de bain placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [525, 50, TRC]         Cuisine  None
5   [650, 290, TRC]         Cuisine  None
6   [650, 350, BRC]       Toilettes  None
7   [550, 450, BRC]       Toilettes  None
8   [150, 150, BLC]  Salle à manger  None
9   [250, 450, BLC]  Salle à manger  None
10  [250, 130, BLC]         Chambre  None
11  [375, 450, BLC]         Chambre  None
12  [375, 290, BLC]   Salle de bain  None
13  [500, 450, BLC]   Salle de bain  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[525, 50, 'TRC']
[650, 290, 'TRC']
[650, 350, 'BRC']
[550, 450, 'BRC']
[150, 150, 'BLC']
[250, 450, 'BLC']
[250, 130, 'BLC']
[375, 450, 'BLC']
[375, 290, 'BLC']
[500, 450, 'BLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[250, 450, 'BLC']
[375, 450, 'BLC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Cuisine  None   [525, 50]        TRC       525        50
5          Cuisine  None  [650, 290]        TRC       650       290
6        Toilettes  None  [650, 350]        BRC       650       350
7        Toilettes  None  [550, 450]        BRC       550       450
8   Salle à manger  None  [150, 150]        BLC       150       150
9   Salle à manger  None  [250, 450]        BLC       250       450
10         Chambre  None  [250, 130]        BLC       250       130
11         Chambre  None  [375, 450]        BLC       375       450
12   Salle de bain  None  [375, 290]        BLC       375       290
13   Salle de bain  None  [500, 450]        BLC       500       450

       corner cornertype  x_corner  y_corner
0   [650, 50]        TRC       650        50
1  [650, 450]        BRC       650       450
2  [150, 450]        BLC       150       450
3  [250, 450]        BLC       250       450
4  [375, 450]        BLC       375       450

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,NaN,NaN
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Cuisine,None,"[525, 50]",TRC,525,50,NaN,NaN
5,Cuisine,None,"[650, 290]",TRC,650,290,NaN,NaN
6,Toilettes,None,"[650, 350]",BRC,650,350,NaN,NaN
7,Toilettes,None,"[550, 450]",BRC,550,450,NaN,NaN
8,Salle à manger,None,"[150, 150]",BLC,150,150,NaN,NaN
9,Salle à manger,None,"[250, 450]",BLC,250,450,"[250, 450]",BLC
10,Chambre,None,"[250, 130]",BLC,250,130,NaN,NaN
11,Chambre,None,"[375, 450]",BLC,375,450,"[375, 450]",BLC
12,Salle de bain,None,"[375, 290]",BLC,375,290,NaN,NaN
13,Salle de bain,None,"[500, 450]",BLC,500,450,NaN,NaN

0 Appartement 1000
1 Cuisine 3
2 Cuisine 3
3 Toilettes 5
4 Toilettes 5
5 Salle à manger 1
6 Chambre 2
7 Salle de bain 4
8 Salle de bain 4

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [150, 150]          BLC     1
1         Chambre  None  [250, 130]          BLC     2
2         Cuisine  None   [525, 50]          TRC     3
3         Cuisine  None  [650, 290]          TRC     3
4   Salle de bain  None  [375, 290]          BLC     4
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None  [650, 350]          BRC     5
7       Toilettes  None  [550, 450]          BRC     5
8     Appartement  None   [150, 50]          TLC  1000

 Salle à manger

Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement
VERTICAL
Salle à manger Appartement 100
Salle à manger
Removed corner : [150, 50, 'TLC']
0 0 0
Changé:  150 50 100 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          TLC     1
1         Chambre  None  [250, 130]          BLC     2
2         Cuisine  None   [525, 50]          TRC     3
3         Cuisine  None  [650, 290]          TRC     3
4   Salle de bain  None  [375, 290]          BLC     4
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None  [650, 350]          BRC     5
7       Toilettes  None  [550, 450]          BRC     5
8     Appartement  None   [150, 50]          TLC  1000

 Chambre

Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement

 Cuisine

Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement

 Cuisine

Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
VERTICAL
Cuisine Toilettes 60
Cuisine
Removed corner : [525, 50, 'TRC']
Removed corner : [650, 350, 'BRC']
0 0 0
Changé:  525 50 125 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          TLC     1
1         Chambre  None  [250, 130]          BLC     2
2         Cuisine  None   [525, 50]          TRC     3
3         Cuisine  None  [525, 350]          BRC     3
4   Salle de bain  None  [375, 290]          BLC     4
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None  [650, 350]          BRC     5
7       Toilettes  None  [550, 450]          BRC     5
8     Appartement  None   [150, 50]          TLC  1000

Toilettes
Appartement

 Salle de bain

Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement

 Salle de bain

Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes
HORIZONTAL
Salle de bain Toilettes 50
Salle de bain
Removed corner : [375, 290, 'BLC']
Removed corner : [550, 450, 'BRC']
classique
0 0 1
Changé:  375 290 175 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          TLC     1
1         Chambre  None  [250, 130]          BLC     2
2         Cuisine  None   [525, 50]          TRC     3
3         Cuisine  None  [525, 350]          BRC     3
4   Salle de bain  None  [375, 290]          BLC     4
5   Salle de bain  None  [550, 290]          BRC     4
6       Toilettes  None  [650, 350]          BRC     5
7       Toilettes  None  [550, 450]          BRC     5
8     Appartement  None   [150, 50]          TLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          TLC     1
1         Chambre  None  [250, 130]          BLC     2
2         Cuisine  None   [525, 50]          TRC     3
3         Cuisine  None  [525, 350]          BRC     3
4   Salle de bain  None  [375, 290]          BLC     4
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None  [650, 350]          BRC     5
7       Toilettes  None  [550, 450]          BRC     5
8     Appartement  None   [150, 50]          TLC  1000

Ancien:  375 290 125 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          TLC     1
1         Chambre  None  [250, 130]          BLC     2
2         Cuisine  None   [525, 50]          TRC     3
3         Cuisine  None  [525, 350]          BRC     3
4   Salle de bain  None  [375, 290]          BLC     4
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None  [650, 350]          BRC     5
7       Toilettes  None  [550, 450]          BRC     5
8     Appartement  None   [150, 50]          TLC  1000

Appartement

 Toilettes

Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement

 Toilettes

Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
HORIZONTAL
Toilettes Salle de bain 50
Salle de bain
classique
0 0 1
Changé:  375 290 175 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          TLC     1
1         Chambre  None  [250, 130]          BLC     2
2         Cuisine  None   [525, 50]          TRC     3
3         Cuisine  None  [525, 350]          BRC     3
4   Salle de bain  None  [375, 290]          BLC     4
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None  [650, 350]          BRC     5
7       Toilettes  None  [375, 290]          BLC     5
8     Appartement  None   [150, 50]          TLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          TLC     1
1         Chambre  None  [250, 130]          BLC     2
2         Cuisine  None   [525, 50]          TRC     3
3         Cuisine  None  [525, 350]          BRC     3
4   Salle de bain  None  [375, 290]          BLC     4
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None  [650, 350]          BRC     5
7       Toilettes  None  [550, 450]          BRC     5
8     Appartement  None   [150, 50]          TLC  1000

Ancien:  375 290 125 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          TLC     1
1         Chambre  None  [250, 130]          BLC     2
2         Cuisine  None   [525, 50]          TRC     3
3         Cuisine  None  [525, 350]          BRC     3
4   Salle de bain  None  [375, 290]          BLC     4
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None  [650, 350]          BRC     5
7       Toilettes  None  [550, 450]          BRC     5
8     Appartement  None   [150, 50]          TLC  1000

Toilettes
Toilettes
Appartement

 Appartement

Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement
[[150, 150], [650, 290]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          TLC     1
1         Chambre  None  [250, 130]          BLC     2
2         Cuisine  None   [525, 50]          TRC     3
3         Cuisine  None  [525, 350]          BRC     3
4   Salle de bain  None  [375, 290]          BLC     4
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None  [650, 350]          BRC     5
7       Toilettes  None  [550, 450]          BRC     5
8     Appartement  None   [150, 50]          TLC  1000

[<__main__.Sam object at 0x00000238F472F820>, <__main__.Cuisine object at 0x00000238F472F640>, <__main__.Sdb object at 0x00000238F472F940>]
Cuisine
0 0 0
Toilettes
0 0 0
Salle à manger
0 0 0
Chambre
Removed corner : [250, 130, 'BLC']
0 0 0
Salle de bain
Removed corner : [500, 450, 'BLC']
0 0 0

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 450, 'BLC']
Chambre placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 290, 'BLC'], [400, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC']]
Removed corner : [150, 290, 'BLC']
Toilettes placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [150, 190, 'BLC'], [250, 290, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [400, 450, 'BLC'], [150, 190, 'BLC'], [250, 290, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 290, 'BLC']]
Removed corner : [650, 50, 'TRC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [150, 190, 'BLC'], [250, 290, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [400, 450, 'BLC'], [150, 190, 'BLC'], [250, 290, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 290, 'BLC']]
Removed corner : [150, 190, 'BLC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [150, 190, 'BLC'], [250, 290, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [400, 450, 'BLC'], [250, 290, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 290, 'BLC']]
Removed corner : [650, 450, 'BRC']
Removed corner : [400, 450, 'BLC']
Salle de bain placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [150, 190, 'BLC'], [250, 290, 'BLC'], [650, 330, 'BRC'], [400, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [250, 290, 'BLC'], [650, 330, 'BRC'], [400, 450, 'BRC'], [150, 190, 'BLC'], [650, 50, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [150, 290, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [150, 50, 'TLC']
Salle à manger Toilettes close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [150, 190, 'BLC'], [250, 290, 'BLC'], [650, 330, 'BRC'], [400, 450, 'BRC']]
COINS : [[250, 290, 'BLC'], [650, 330, 'BRC'], [400, 450, 'BRC'], [150, 190, 'BLC'], [650, 50, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [150, 290, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [250, 290, 'BLC']
Salle à manger placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [150, 190, 'BLC'], [250, 290, 'BLC'], [650, 330, 'BRC'], [400, 450, 'BRC'], [250, 50, 'BLC'], [375, 290, 'BLC']]
COINS : [[650, 330, 'BRC'], [400, 450, 'BRC'], [150, 190, 'BLC'], [650, 50, 'TRC'], [250, 50, 'BLC'], [375, 290, 'BLC'], [150, 50, 'TLC']]
REMOVED : [[150, 450, 'BLC'], [150, 290, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC'], [250, 290, 'BLC']]
Removed corner : [250, 50, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [150, 190, 'BLC'], [250, 290, 'BLC'], [650, 330, 'BRC'], [400, 450, 'BRC'], [250, 50, 'BLC'], [375, 290, 'BLC']]
COINS : [[650, 330, 'BRC'], [400, 450, 'BRC'], [150, 190, 'BLC'], [650, 50, 'TRC'], [375, 290, 'BLC'], [150, 50, 'TLC']]
REMOVED : [[150, 450, 'BLC'], [150, 290, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC'], [250, 290, 'BLC']]
Removed corner : [650, 330, 'BRC']
Cuisine placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [150, 290, BLC]         Chambre  None
5   [400, 450, BLC]         Chambre  None
6   [150, 190, BLC]       Toilettes  None
7   [250, 290, BLC]       Toilettes  None
8   [650, 330, BRC]   Salle de bain  None
9   [400, 450, BRC]   Salle de bain  None
10   [250, 50, BLC]  Salle à manger  None
11  [375, 290, BLC]  Salle à manger  None
12  [650, 205, BRC]         Cuisine  None
13  [410, 330, BRC]         Cuisine  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[150, 290, 'BLC']
[400, 450, 'BLC']
[150, 190, 'BLC']
[250, 290, 'BLC']
[650, 330, 'BRC']
[400, 450, 'BRC']
[250, 50, 'BLC']
[375, 290, 'BLC']
[650, 205, 'BRC']
[410, 330, 'BRC']
[150, 450, 'BLC']
[150, 290, 'BLC']
[650, 450, 'BRC']
[400, 450, 'BLC']
[250, 290, 'BLC']
[650, 330, 'BRC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Chambre  None  [150, 290]        BLC       150       290
5          Chambre  None  [400, 450]        BLC       400       450
6        Toilettes  None  [150, 190]        BLC       150       190
7        Toilettes  None  [250, 290]        BLC       250       290
8    Salle de bain  None  [650, 330]        BRC       650       330
9    Salle de bain  None  [400, 450]        BRC       400       450
10  Salle à manger  None   [250, 50]        BLC       250        50
11  Salle à manger  None  [375, 290]        BLC       375       290
12         Cuisine  None  [650, 205]        BRC       650       205
13         Cuisine  None  [410, 330]        BRC       410       330

       corner cornertype  x_corner  y_corner
0  [150, 450]        BLC       150       450
1  [150, 290]        BLC       150       290
2  [650, 450]        BRC       650       450
3  [400, 450]        BLC       400       450
4  [250, 290]        BLC       250       290
5  [650, 330]        BRC       650       330

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,NaN,NaN
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Chambre,None,"[150, 290]",BLC,150,290,"[150, 290]",BLC
5,Chambre,None,"[400, 450]",BLC,400,450,"[400, 450]",BLC
6,Salle de bain,None,"[400, 450]",BRC,400,450,"[400, 450]",BLC
7,Toilettes,None,"[150, 190]",BLC,150,190,NaN,NaN
8,Toilettes,None,"[250, 290]",BLC,250,290,"[250, 290]",BLC
9,Salle de bain,None,"[650, 330]",BRC,650,330,"[650, 330]",BRC
10,Salle à manger,None,"[250, 50]",BLC,250,50,NaN,NaN
11,Salle à manger,None,"[375, 290]",BLC,375,290,NaN,NaN
12,Cuisine,None,"[650, 205]",BRC,650,205,NaN,NaN
13,Cuisine,None,"[410, 330]",BRC,410,330,NaN,NaN

0 Appartement 1000
1 Appartement 1000
2 Toilettes 5
3 Salle à manger 1
4 Salle à manger 1
5 Cuisine 3
6 Cuisine 3

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          BLC     1
1  Salle à manger  None  [375, 290]          BLC     1
2         Cuisine  None  [650, 205]          BRC     3
3         Cuisine  None  [410, 330]          BRC     3
4       Toilettes  None  [150, 190]          BLC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger
Salle à manger
Cuisine
Cuisine
Toilettes
Appartement
HORIZONTAL
Salle à manger Appartement 100
Salle à manger
Removed corner : [250, 50, 'BLC']
classique
classique
classique
0 0 1
Changé:  250 50 225 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [475, 50]          BRC     1
1  Salle à manger  None  [375, 290]          BLC     1
2         Cuisine  None  [650, 205]          BRC     3
3         Cuisine  None  [410, 330]          BRC     3
4       Toilettes  None  [150, 190]          BLC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          BLC     1
1  Salle à manger  None  [375, 290]          BLC     1
2         Cuisine  None  [650, 205]          BRC     3
3         Cuisine  None  [410, 330]          BRC     3
4       Toilettes  None  [150, 190]          BLC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

Ancien:  250 50 125 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          BLC     1
1  Salle à manger  None  [375, 290]          BLC     1
2         Cuisine  None  [650, 205]          BRC     3
3         Cuisine  None  [410, 330]          BRC     3
4       Toilettes  None  [150, 190]          BLC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

Appartement
HORIZONTAL
Salle à manger Appartement 400
Salle à manger
classique
classique
Salle à manger Cuisine close edge tb
1 1 1
Changé:  250 50 525 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [775, 50]          BRC     1
1  Salle à manger  None  [375, 290]          BLC     1
2         Cuisine  None  [650, 205]          BRC     3
3         Cuisine  None  [410, 330]          BRC     3
4       Toilettes  None  [150, 190]          BLC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          BLC     1
1  Salle à manger  None  [375, 290]          BLC     1
2         Cuisine  None  [650, 205]          BRC     3
3         Cuisine  None  [410, 330]          BRC     3
4       Toilettes  None  [150, 190]          BLC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

Ancien:  250 50 125 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          BLC     1
1  Salle à manger  None  [375, 290]          BLC     1
2         Cuisine  None  [650, 205]          BRC     3
3         Cuisine  None  [410, 330]          BRC     3
4       Toilettes  None  [150, 190]          BLC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger
Salle à manger
Cuisine
Cuisine
Toilettes
Appartement
Appartement

 Cuisine

Salle à manger
Salle à manger
Cuisine
Cuisine
Toilettes
Appartement
Appartement
VERTICAL
Cuisine Appartement 155
Cuisine
Removed corner : [650, 50, 'TRC']
Removed corner : [410, 330, 'BRC']
classique
0 0 1
Changé:  410 50 240 280

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          BLC     1
1  Salle à manger  None  [375, 290]          BLC     1
2         Cuisine  None   [410, 50]          TRC     3
3         Cuisine  None  [410, 330]          BRC     3
4       Toilettes  None  [150, 190]          BLC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          BLC     1
1  Salle à manger  None  [375, 290]          BLC     1
2         Cuisine  None  [650, 205]          BRC     3
3         Cuisine  None  [410, 330]          BRC     3
4       Toilettes  None  [150, 190]          BLC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

Ancien:  410 205 240 125

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          BLC     1
1  Salle à manger  None  [375, 290]          BLC     1
2         Cuisine  None  [650, 205]          BRC     3
3         Cuisine  None  [410, 330]          BRC     3
4       Toilettes  None  [150, 190]          BLC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

 Cuisine

Salle à manger
Salle à manger
Cuisine
Cuisine
Toilettes
Appartement
Appartement

 Toilettes

Salle à manger
Salle à manger
Cuisine
Cuisine
Toilettes
Appartement
VERTICAL
Toilettes Appartement 140
Toilettes
Removed corner : [150, 50, 'TLC']
0 0 0
Changé:  150 50 100 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          BLC     1
1  Salle à manger  None  [375, 290]          BLC     1
2         Cuisine  None  [650, 205]          BRC     3
3         Cuisine  None  [410, 330]          BRC     3
4       Toilettes  None   [250, 50]          TLC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

Appartement

 Appartement

Salle à manger
Salle à manger
Cuisine
Cuisine
Toilettes
Appartement
Appartement

 Appartement

Salle à manger
Salle à manger
Cuisine
VERTICAL
Appartement Cuisine 155
Cuisine
classique
0 0 1
Changé:  410 50 240 280

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          BLC     1
1  Salle à manger  None  [375, 290]          BLC     1
2         Cuisine  None  [650, 205]          BRC     3
3         Cuisine  None  [410, 330]          BRC     3
4       Toilettes  None   [250, 50]          TLC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [410, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          BLC     1
1  Salle à manger  None  [375, 290]          BLC     1
2         Cuisine  None  [650, 205]          BRC     3
3         Cuisine  None  [410, 330]          BRC     3
4       Toilettes  None   [250, 50]          TLC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

Ancien:  410 205 240 125

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          BLC     1
1  Salle à manger  None  [375, 290]          BLC     1
2         Cuisine  None  [650, 205]          BRC     3
3         Cuisine  None  [410, 330]          BRC     3
4       Toilettes  None   [250, 50]          TLC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

Cuisine
Toilettes
Appartement
Appartement
[[150, 190]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [250, 50]          BLC     1
1  Salle à manger  None  [375, 290]          BLC     1
2         Cuisine  None  [650, 205]          BRC     3
3         Cuisine  None  [410, 330]          BRC     3
4       Toilettes  None   [250, 50]          TLC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

[<__main__.Cuisine object at 0x00000238F49B7AF0>, <__main__.Toilettes object at 0x00000238F49B7B80>, <__main__.Cuisine object at 0x00000238F49B7AF0>]
Chambre
Removed corner : [400, 450, 'BRC']
0 0 0
Toilettes
0 0 0
Salle de bain
0 0 0
Salle à manger
Removed corner : [375, 290, 'BLC']
0 0 0
Cuisine
Removed corner : [650, 205, 'BRC']
0 0 0

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [650, 450, 'BRC']
Chambre placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC']]
Removed corner : [650, 50, 'TRC']
Toilettes placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC']]
Removed corner : [410, 450, 'BRC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC']]
Removed corner : [150, 50, 'TLC']
Removed corner : [150, 450, 'BLC']
Salle à manger placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC']]
COINS : [[650, 325, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [410, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [250, 450, 'BLC']
Salle de bain Chambre close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC']]
COINS : [[650, 325, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [410, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [150, 50, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC']]
COINS : [[650, 325, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [410, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [650, 150, 'TRC']
Salle de bain placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [350, 150, 'TRC'], [650, 250, 'TRC']]
COINS : [[650, 325, 'BRC'], [550, 50, 'TRC'], [410, 450, 'BRC'], [350, 150, 'TRC'], [650, 250, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [650, 150, 'TRC']]
Removed corner : [150, 50, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [350, 150, 'TRC'], [650, 250, 'TRC']]
COINS : [[650, 325, 'BRC'], [550, 50, 'TRC'], [410, 450, 'BRC'], [350, 150, 'TRC'], [650, 250, 'TRC'], [250, 450, 'BLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [650, 150, 'TRC']]
Removed corner : [410, 450, 'BRC']
Cuisine Salle à manger close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [350, 150, 'TRC'], [650, 250, 'TRC']]
COINS : [[650, 325, 'BRC'], [550, 50, 'TRC'], [350, 150, 'TRC'], [650, 250, 'TRC'], [250, 450, 'BLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [650, 150, 'TRC']]
Removed corner : [650, 250, 'TRC']
Cuisine Chambre close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [350, 150, 'TRC'], [650, 250, 'TRC']]
COINS : [[650, 325, 'BRC'], [550, 50, 'TRC'], [350, 150, 'TRC'], [250, 450, 'BLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [650, 150, 'TRC']]
Removed corner : [250, 450, 'BLC']
Cuisine Chambre close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [350, 150, 'TRC'], [650, 250, 'TRC']]
COINS : [[650, 325, 'BRC'], [550, 50, 'TRC'], [350, 150, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [650, 150, 'TRC']]
Removed corner : [550, 50, 'TRC']
Removed corner : [350, 150, 'TRC']
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [350, 150, 'TRC'], [650, 250, 'TRC']]
COINS : [[650, 325, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [650, 150, 'TRC']]
Removed corner : [650, 325, 'BRC']
Cuisine Salle de bain close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [350, 150, 'TRC'], [650, 250, 'TRC']]
COINS : [[650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [350, 150, 'TRC'], [650, 250, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [650, 150, 'TRC']]
Removed corner : [350, 150, 'TRC']
Cuisine Salle à manger close edge lr
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [350, 150, 'TRC'], [650, 250, 'TRC']]
COINS : [[650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [650, 250, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [650, 150, 'TRC']]
Removed corner : [650, 250, 'TRC']
Cuisine Chambre center
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [350, 150, 'TRC'], [650, 250, 'TRC']]
COINS : [[650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [650, 150, 'TRC']]
Removed corner : [250, 450, 'BLC']
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [350, 150, 'TRC'], [650, 250, 'TRC']]
COINS : [[650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [150, 50, 'BLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [650, 150, 'TRC']]
Removed corner : [550, 50, 'TRC']
Cuisine Chambre close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [350, 150, 'TRC'], [650, 250, 'TRC']]
COINS : [[650, 325, 'BRC'], [410, 450, 'BRC'], [150, 50, 'BLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [650, 150, 'TRC']]
Removed corner : [150, 50, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [350, 150, 'TRC'], [650, 250, 'TRC']]
COINS : [[650, 325, 'BRC'], [410, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [650, 150, 'TRC']]
Removed corner : [650, 325, 'BRC']
classique
classique
Cuisine Salle de bain center
hors champs = 1, superposition = 1, superpositionPlaced = 1

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [350, 150, 'TRC'], [650, 250, 'TRC']]
COINS : [[410, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [650, 150, 'TRC']]
Removed corner : [410, 450, 'BRC']
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION
[125, 320] [[200, 100], [125, 320]]


REDIMENSION !!!!!!!!!!!!!!!!!

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [350, 150, 'TRC'], [650, 250, 'TRC']]
COINS : [[650, 325, 'BRC'], [410, 450, 'BRC'], [550, 50, 'TRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [350, 150, 'TRC'], [650, 250, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [650, 150, 'TRC']]
Removed corner : [250, 450, 'BLC']
Cuisine placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [650, 325, BRC]         Chambre  None
5   [410, 450, BRC]         Chambre  None
6    [550, 50, TRC]       Toilettes  None
7   [650, 150, TRC]       Toilettes  None
8    [150, 50, BLC]  Salle à manger  None
9   [250, 450, BLC]  Salle à manger  None
10  [350, 150, TRC]   Salle de bain  None
11  [650, 250, TRC]   Salle de bain  None
12   [250, 50, BLC]         Cuisine  None
13  [350, 450, BLC]         Cuisine  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[650, 325, 'BRC']
[410, 450, 'BRC']
[550, 50, 'TRC']
[650, 150, 'TRC']
[150, 50, 'BLC']
[250, 450, 'BLC']
[350, 150, 'TRC']
[650, 250, 'TRC']
[250, 50, 'BLC']
[350, 450, 'BLC']
[650, 450, 'BRC']
[650, 50, 'TRC']
[150, 50, 'TLC']
[150, 450, 'BLC']
[650, 150, 'TRC']
[250, 450, 'BLC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Chambre  None  [650, 325]        BRC       650       325
5          Chambre  None  [410, 450]        BRC       410       450
6        Toilettes  None   [550, 50]        TRC       550        50
7        Toilettes  None  [650, 150]        TRC       650       150
8   Salle à manger  None   [150, 50]        BLC       150        50
9   Salle à manger  None  [250, 450]        BLC       250       450
10   Salle de bain  None  [350, 150]        TRC       350       150
11   Salle de bain  None  [650, 250]        TRC       650       250
12         Cuisine  None   [250, 50]        BLC       250        50
13         Cuisine  None  [350, 450]        BLC       350       450

       corner cornertype  x_corner  y_corner
0  [650, 450]        BRC       650       450
1   [650, 50]        TRC       650        50
2   [150, 50]        TLC       150        50
3  [150, 450]        BLC       150       450
4  [650, 150]        TRC       650       150
5  [250, 450]        BLC       250       450

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,Salle à manger,None,"[150, 50]",BLC,150,50,"[150, 50]",TLC
2,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
3,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
4,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
5,Chambre,None,"[650, 325]",BRC,650,325,NaN,NaN
6,Chambre,None,"[410, 450]",BRC,410,450,NaN,NaN
7,Toilettes,None,"[550, 50]",TRC,550,50,NaN,NaN
8,Toilettes,None,"[650, 150]",TRC,650,150,"[650, 150]",TRC
9,Salle à manger,None,"[250, 450]",BLC,250,450,"[250, 450]",BLC
10,Salle de bain,None,"[350, 150]",TRC,350,150,NaN,NaN
11,Salle de bain,None,"[650, 250]",TRC,650,250,NaN,NaN
12,Cuisine,None,"[250, 50]",BLC,250,50,NaN,NaN
13,Cuisine,None,"[350, 450]",BLC,350,450,NaN,NaN

0 Chambre 2
1 Chambre 2
2 Toilettes 5
3 Salle de bain 4
4 Salle de bain 4
5 Cuisine 3
6 Cuisine 3

               1     3    corner_x cornertype_x prio
0        Chambre  None  [650, 325]          BRC    2
1        Chambre  None  [410, 450]          BRC    2
2        Cuisine  None   [250, 50]          BLC    3
3        Cuisine  None  [350, 450]          BLC    3
4  Salle de bain  None  [350, 150]          TRC    4
5  Salle de bain  None  [650, 250]          TRC    4
6      Toilettes  None   [550, 50]          TRC    5

 Chambre

Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
VERTICAL
Chambre Salle de bain 75
Chambre
Removed corner : [650, 250, 'TRC']
Removed corner : [650, 250, 'TRC']
Removed corner : [650, 250, 'TRC']
Removed corner : [410, 450, 'BRC']
Removed corner : [410, 450, 'BRC']
Removed corner : [410, 450, 'BRC']
0 0 0
Changé:  410 250 240 200

               1     3    corner_x cornertype_x prio
0        Chambre  None  [410, 250]          TRC    2
1        Chambre  None  [410, 450]          BRC    2
2        Cuisine  None   [250, 50]          BLC    3
3        Cuisine  None  [350, 450]          BLC    3
4  Salle de bain  None  [350, 150]          TRC    4
5  Salle de bain  None  [650, 250]          TRC    4
6      Toilettes  None   [550, 50]          TRC    5

Toilettes

 Chambre

Chambre
Chambre
Cuisine
Cuisine
HORIZONTAL
Chambre Cuisine 60
Chambre
Removed corner : [350, 450, 'BLC']
0 0 0
Changé:  350 250 300 200

               1     3    corner_x cornertype_x prio
0        Chambre  None  [410, 250]          TRC    2
1        Chambre  None  [350, 250]          BLC    2
2        Cuisine  None   [250, 50]          BLC    3
3        Cuisine  None  [350, 450]          BLC    3
4  Salle de bain  None  [350, 150]          TRC    4
5  Salle de bain  None  [650, 250]          TRC    4
6      Toilettes  None   [550, 50]          TRC    5

Salle de bain
Salle de bain
Toilettes

 Cuisine

Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
HORIZONTAL
Cuisine Toilettes 300
Cuisine
Removed corner : [250, 50, 'BLC']
Removed corner : [250, 450, 'BLC']
Removed corner : [250, 450, 'BLC']
classique
classique
Cuisine Chambre center
0 1 1
Changé:  250 50 400 400

               1     3    corner_x cornertype_x prio
0        Chambre  None  [410, 250]          TRC    2
1        Chambre  None  [350, 250]          BLC    2
2        Cuisine  None   [650, 50]          BRC    3
3        Cuisine  None  [350, 450]          BLC    3
4  Salle de bain  None  [350, 150]          TRC    4
5  Salle de bain  None  [650, 250]          TRC    4
6      Toilettes  None   [550, 50]          TRC    5

               1     3    corner_x cornertype_x prio
0        Chambre  None  [410, 250]          TRC    2
1        Chambre  None  [350, 250]          BLC    2
2        Cuisine  None   [250, 50]          BLC    3
3        Cuisine  None  [350, 450]          BLC    3
4  Salle de bain  None  [350, 150]          TRC    4
5  Salle de bain  None  [650, 250]          TRC    4
6      Toilettes  None   [550, 50]          TRC    5

Ancien:  250 50 100 400

               1     3    corner_x cornertype_x prio
0        Chambre  None  [410, 250]          TRC    2
1        Chambre  None  [350, 250]          BLC    2
2        Cuisine  None   [250, 50]          BLC    3
3        Cuisine  None  [350, 450]          BLC    3
4  Salle de bain  None  [350, 150]          TRC    4
5  Salle de bain  None  [650, 250]          TRC    4
6      Toilettes  None   [550, 50]          TRC    5

 Cuisine

Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes

 Salle de bain

Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes

 Salle de bain

Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes

 Toilettes

Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
[[650, 325], [410, 450]]

               1     3    corner_x cornertype_x prio
0        Chambre  None  [410, 250]          TRC    2
1        Chambre  None  [350, 250]          BLC    2
2        Cuisine  None   [250, 50]          BLC    3
3        Cuisine  None  [350, 450]          BLC    3
4  Salle de bain  None  [350, 150]          TRC    4
5  Salle de bain  None  [650, 250]          TRC    4
6      Toilettes  None   [550, 50]          TRC    5

[<__main__.Chambre object at 0x00000238F49B7730>]
Chambre
0 0 0
Toilettes
Removed corner : [550, 50, 'TRC']
Removed corner : [550, 50, 'TRC']
Removed corner : [550, 50, 'TRC']
0 0 0
Salle à manger
Removed corner : [150, 50, 'BLC']
Removed corner : [150, 50, 'BLC']
Removed corner : [150, 50, 'BLC']
0 0 0
Salle de bain
Removed corner : [350, 150, 'TRC']
Removed corner : [350, 150, 'TRC']
0 0 0
Cuisine
0 0 0

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 50, 'TLC']
Salle à manger placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 250, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 250, 'TLC']]
REMOVED : [[150, 50, 'TLC']]
Removed corner : [650, 450, 'BRC']
Salle de bain placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 250, 'TLC'], [650, 300, 'BRC'], [450, 450, 'BRC']]
COINS : [[650, 50, 'TRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 250, 'TLC'], [650, 300, 'BRC'], [450, 450, 'BRC']]
REMOVED : [[150, 50, 'TLC'], [650, 450, 'BRC']]
Removed corner : [650, 50, 'TRC']
Chambre placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 250, 'TLC'], [650, 300, 'BRC'], [450, 450, 'BRC'], [525, 50, 'TRC'], [650, 210, 'TRC']]
COINS : [[150, 450, 'BLC'], [350, 50, 'TLC'], [150, 250, 'TLC'], [650, 300, 'BRC'], [450, 450, 'BRC'], [525, 50, 'TRC'], [650, 210, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [650, 450, 'BRC'], [650, 50, 'TRC']]
Removed corner : [150, 450, 'BLC']
Cuisine placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 250, 'TLC'], [650, 300, 'BRC'], [450, 450, 'BRC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [150, 330, 'BLC'], [400, 450, 'BLC']]
COINS : [[350, 50, 'TLC'], [150, 250, 'TLC'], [650, 300, 'BRC'], [450, 450, 'BRC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [150, 330, 'BLC'], [400, 450, 'BLC']]
REMOVED : [[150, 50, 'TLC'], [650, 450, 'BRC'], [650, 50, 'TRC'], [150, 450, 'BLC']]
Removed corner : [450, 450, 'BRC']
Toilettes Cuisine center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 250, 'TLC'], [650, 300, 'BRC'], [450, 450, 'BRC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [150, 330, 'BLC'], [400, 450, 'BLC']]
COINS : [[350, 50, 'TLC'], [150, 250, 'TLC'], [650, 300, 'BRC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [150, 330, 'BLC'], [400, 450, 'BLC']]
REMOVED : [[150, 50, 'TLC'], [650, 450, 'BRC'], [650, 50, 'TRC'], [150, 450, 'BLC']]
Removed corner : [350, 50, 'TLC']
Toilettes Entrée center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 250, 'TLC'], [650, 300, 'BRC'], [450, 450, 'BRC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [150, 330, 'BLC'], [400, 450, 'BLC']]
COINS : [[150, 250, 'TLC'], [650, 300, 'BRC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [150, 330, 'BLC'], [400, 450, 'BLC']]
REMOVED : [[150, 50, 'TLC'], [650, 450, 'BRC'], [650, 50, 'TRC'], [150, 450, 'BLC']]
Removed corner : [150, 250, 'TLC']
Toilettes Cuisine close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 250, 'TLC'], [650, 300, 'BRC'], [450, 450, 'BRC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [150, 330, 'BLC'], [400, 450, 'BLC']]
COINS : [[650, 300, 'BRC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [150, 330, 'BLC'], [400, 450, 'BLC']]
REMOVED : [[150, 50, 'TLC'], [650, 450, 'BRC'], [650, 50, 'TRC'], [150, 450, 'BLC']]
Removed corner : [150, 330, 'BLC']
Toilettes Salle à manger close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 250, 'TLC'], [650, 300, 'BRC'], [450, 450, 'BRC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [150, 330, 'BLC'], [400, 450, 'BLC']]
COINS : [[650, 300, 'BRC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [400, 450, 'BLC']]
REMOVED : [[150, 50, 'TLC'], [650, 450, 'BRC'], [650, 50, 'TRC'], [150, 450, 'BLC']]
Removed corner : [400, 450, 'BLC']
Toilettes Salle de bain center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 250, 'TLC'], [650, 300, 'BRC'], [450, 450, 'BRC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [150, 330, 'BLC'], [400, 450, 'BLC']]
COINS : [[650, 300, 'BRC'], [525, 50, 'TRC'], [650, 210, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [650, 450, 'BRC'], [650, 50, 'TRC'], [150, 450, 'BLC']]
Removed corner : [650, 300, 'BRC']
Toilettes Chambre close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 250, 'TLC'], [650, 300, 'BRC'], [450, 450, 'BRC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [150, 330, 'BLC'], [400, 450, 'BLC']]
COINS : [[525, 50, 'TRC'], [650, 210, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [650, 450, 'BRC'], [650, 50, 'TRC'], [150, 450, 'BLC']]
Removed corner : [650, 210, 'TRC']
Toilettes Salle de bain close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 250, 'TLC'], [650, 300, 'BRC'], [450, 450, 'BRC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [150, 330, 'BLC'], [400, 450, 'BLC']]
COINS : [[525, 50, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [650, 450, 'BRC'], [650, 50, 'TRC'], [150, 450, 'BLC']]
Removed corner : [525, 50, 'TRC']
Toilettes placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [350, 50, TLC]  Salle à manger  None
5   [150, 250, TLC]  Salle à manger  None
6   [650, 300, BRC]   Salle de bain  None
7   [450, 450, BRC]   Salle de bain  None
8    [525, 50, TRC]         Chambre  None
9   [650, 210, TRC]         Chambre  None
10  [150, 330, BLC]         Cuisine  None
11  [400, 450, BLC]         Cuisine  None
12   [425, 50, TRC]       Toilettes  None
13  [525, 150, TRC]       Toilettes  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[350, 50, 'TLC']
[150, 250, 'TLC']
[650, 300, 'BRC']
[450, 450, 'BRC']
[525, 50, 'TRC']
[650, 210, 'TRC']
[150, 330, 'BLC']
[400, 450, 'BLC']
[425, 50, 'TRC']
[525, 150, 'TRC']
[150, 50, 'TLC']
[650, 450, 'BRC']
[650, 50, 'TRC']
[150, 450, 'BLC']
[525, 50, 'TRC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4   Salle à manger  None   [350, 50]        TLC       350        50
5   Salle à manger  None  [150, 250]        TLC       150       250
6    Salle de bain  None  [650, 300]        BRC       650       300
7    Salle de bain  None  [450, 450]        BRC       450       450
8          Chambre  None   [525, 50]        TRC       525        50
9          Chambre  None  [650, 210]        TRC       650       210
10         Cuisine  None  [150, 330]        BLC       150       330
11         Cuisine  None  [400, 450]        BLC       400       450
12       Toilettes  None   [425, 50]        TRC       425        50
13       Toilettes  None  [525, 150]        TRC       525       150

       corner cornertype  x_corner  y_corner
0   [150, 50]        TLC       150        50
1  [650, 450]        BRC       650       450
2   [650, 50]        TRC       650        50
3  [150, 450]        BLC       150       450
4   [525, 50]        TRC       525        50

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Salle à manger,None,"[350, 50]",TLC,350,50,NaN,NaN
5,Salle à manger,None,"[150, 250]",TLC,150,250,NaN,NaN
6,Salle de bain,None,"[650, 300]",BRC,650,300,NaN,NaN
7,Salle de bain,None,"[450, 450]",BRC,450,450,NaN,NaN
8,Chambre,None,"[525, 50]",TRC,525,50,"[525, 50]",TRC
9,Chambre,None,"[650, 210]",TRC,650,210,NaN,NaN
10,Cuisine,None,"[150, 330]",BLC,150,330,NaN,NaN
11,Cuisine,None,"[400, 450]",BLC,400,450,NaN,NaN
12,Toilettes,None,"[425, 50]",TRC,425,50,NaN,NaN
13,Toilettes,None,"[525, 150]",TRC,525,150,NaN,NaN

0 Salle à manger 1
1 Salle à manger 1
2 Salle de bain 4
3 Salle de bain 4
4 Chambre 2
5 Cuisine 3
6 Cuisine 3
7 Toilettes 5
8 Toilettes 5

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [350, 50]          TLC    1
1  Salle à manger  None  [150, 250]          TLC    1
2         Chambre  None  [650, 210]          TRC    2
3         Cuisine  None  [150, 330]          BLC    3
4         Cuisine  None  [400, 450]          BLC    3
5   Salle de bain  None  [650, 300]          BRC    4
6   Salle de bain  None  [450, 450]          BRC    4
7       Toilettes  None   [425, 50]          TRC    5
8       Toilettes  None  [525, 150]          TRC    5

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
VERTICAL
Salle à manger Cuisine 80
Salle à manger
Removed corner : [350, 50, 'TLC']
Removed corner : [150, 330, 'BLC']
0 0 0
Changé:  150 50 200 280

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [350, 50]          TLC    1
1  Salle à manger  None  [350, 330]          BLC    1
2         Chambre  None  [650, 210]          TRC    2
3         Cuisine  None  [150, 330]          BLC    3
4         Cuisine  None  [400, 450]          BLC    3
5   Salle de bain  None  [650, 300]          BRC    4
6   Salle de bain  None  [450, 450]          BRC    4
7       Toilettes  None   [425, 50]          TRC    5
8       Toilettes  None  [525, 150]          TRC    5

Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes

 Chambre

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
VERTICAL
Chambre Salle de bain 90
Chambre
Removed corner : [650, 300, 'BRC']
0 0 0
Changé:  525 50 125 250

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [350, 50]          TLC    1
1  Salle à manger  None  [350, 330]          BLC    1
2         Chambre  None  [525, 300]          BRC    2
3         Cuisine  None  [150, 330]          BLC    3
4         Cuisine  None  [400, 450]          BLC    3
5   Salle de bain  None  [650, 300]          BRC    4
6   Salle de bain  None  [450, 450]          BRC    4
7       Toilettes  None   [425, 50]          TRC    5
8       Toilettes  None  [525, 150]          TRC    5

Salle de bain
Toilettes
Toilettes

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
HORIZONTAL
Cuisine Salle de bain 50
Cuisine
Removed corner : [450, 450, 'BRC']
0 0 0
Changé:  150 330 300 120

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [350, 50]          TLC    1
1  Salle à manger  None  [350, 330]          BLC    1
2         Chambre  None  [525, 300]          BRC    2
3         Cuisine  None  [150, 330]          BLC    3
4         Cuisine  None  [450, 330]          BRC    3
5   Salle de bain  None  [650, 300]          BRC    4
6   Salle de bain  None  [450, 450]          BRC    4
7       Toilettes  None   [425, 50]          TRC    5
8       Toilettes  None  [525, 150]          TRC    5

Toilettes
Toilettes

 Salle de bain

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes

 Salle de bain

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes
[[150, 250], [650, 210], [400, 450]]

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [350, 50]          TLC    1
1  Salle à manger  None  [350, 330]          BLC    1
2         Chambre  None  [525, 300]          BRC    2
3         Cuisine  None  [150, 330]          BLC    3
4         Cuisine  None  [450, 330]          BRC    3
5   Salle de bain  None  [650, 300]          BRC    4
6   Salle de bain  None  [450, 450]          BRC    4
7       Toilettes  None   [425, 50]          TRC    5
8       Toilettes  None  [525, 150]          TRC    5

[<__main__.Sam object at 0x00000238F49D41F0>, <__main__.Chambre object at 0x00000238F49B7D30>]
Salle à manger
0 0 0
Salle de bain
0 0 0
Chambre
0 0 0
Cuisine
0 0 0
Toilettes
Removed corner : [425, 50, 'TRC']
Removed corner : [525, 150, 'TRC']
0 0 0

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Salle à manger,None,"[350, 50]",TLC,350,50,NaN,NaN
5,Salle à manger,None,"[150, 250]",TLC,150,250,NaN,NaN
6,Salle de bain,None,"[650, 300]",BRC,650,300,NaN,NaN
7,Salle de bain,None,"[450, 450]",BRC,450,450,NaN,NaN
8,Chambre,None,"[525, 50]",TRC,525,50,"[525, 50]",TRC
9,Chambre,None,"[650, 210]",TRC,650,210,NaN,NaN
10,Cuisine,None,"[150, 330]",BLC,150,330,NaN,NaN
11,Cuisine,None,"[400, 450]",BLC,400,450,NaN,NaN
12,Toilettes,None,"[425, 50]",TRC,425,50,NaN,NaN
13,Toilettes,None,"[525, 150]",TRC,525,150,NaN,NaN

0 Salle à manger 1
1 Salle à manger 1
2 Salle de bain 4
3 Salle de bain 4
4 Chambre 2
5 Cuisine 3
6 Cuisine 3
7 Toilettes 5
8 Toilettes 5

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [350, 50]          TLC    1
1  Salle à manger  None  [150, 250]          TLC    1
2         Chambre  None  [650, 210]          TRC    2
3         Cuisine  None  [150, 330]          BLC    3
4         Cuisine  None  [400, 450]          BLC    3
5   Salle de bain  None  [650, 300]          BRC    4
6   Salle de bain  None  [450, 450]          BRC    4
7       Toilettes  None   [425, 50]          TRC    5
8       Toilettes  None  [525, 150]          TRC    5

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes

 Chambre

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes

 Salle de bain

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes

 Salle de bain

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes
[[150, 250], [650, 210], [400, 450]]

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [350, 50]          TLC    1
1  Salle à manger  None  [150, 250]          TLC    1
2         Chambre  None  [650, 210]          TRC    2
3         Cuisine  None  [150, 330]          BLC    3
4         Cuisine  None  [400, 450]          BLC    3
5   Salle de bain  None  [650, 300]          BRC    4
6   Salle de bain  None  [450, 450]          BRC    4
7       Toilettes  None   [425, 50]          TRC    5
8       Toilettes  None  [525, 150]          TRC    5

[]
Salle à manger
0 0 0
Salle de bain
0 0 0
Chambre
0 0 0
Cuisine
0 0 0
Toilettes
0 0 0

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [650, 450, 'BRC']
Salle de bain placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC']]
Removed corner : [650, 50, 'TRC']
Salle à manger placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC']]
Removed corner : [650, 300, 'TRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC']]
Removed corner : [650, 350, 'BRC']
Cuisine Salle à manger center
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [450, 450, 'BRC'], [490, 50, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC']]
Removed corner : [450, 450, 'BRC']
Cuisine Entrée close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [490, 50, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC']]
Removed corner : [150, 50, 'TLC']
Removed corner : [150, 450, 'BLC']
Cuisine placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[490, 50, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC'], [450, 450, 'BRC'], [650, 350, 'BRC'], [650, 300, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [150, 450, 'TLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[490, 50, 'TRC'], [250, 50, 'TLC'], [450, 450, 'BRC'], [650, 350, 'BRC'], [650, 300, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [650, 350, 'BRC']
Chambre Salle à manger close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[490, 50, 'TRC'], [250, 50, 'TLC'], [450, 450, 'BRC'], [650, 300, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [650, 300, 'TRC']
Chambre Salle de bain center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[490, 50, 'TRC'], [250, 50, 'TLC'], [450, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [450, 450, 'BRC']
Chambre Cuisine center
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[490, 50, 'TRC'], [250, 50, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [490, 50, 'TRC']
classique
classique
hors champs = 1, superposition = 0, superpositionPlaced = 1

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[250, 50, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [250, 50, 'TLC']
classique
classique
Chambre Salle à manger close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [650, 300, 'TRC']
Chambre Salle de bain center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [450, 450, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[650, 350, 'BRC'], [490, 50, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [150, 450, 'TLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[650, 350, 'BRC'], [490, 50, 'TRC'], [250, 50, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [490, 50, 'TRC']
classique
classique
Chambre Cuisine close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[650, 350, 'BRC'], [250, 50, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [250, 50, 'TLC']
Chambre Entrée close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[650, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [650, 350, 'BRC']
Chambre Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [490, 50, 'TRC']
Chambre Entrée close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[650, 350, 'BRC'], [450, 450, 'BRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [250, 50, 'TLC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[650, 350, 'BRC'], [450, 450, 'BRC'], [650, 300, 'TRC'], [150, 450, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [150, 450, 'TLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[650, 350, 'BRC'], [450, 450, 'BRC'], [650, 300, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [650, 350, 'BRC']
Chambre Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[450, 450, 'BRC'], [650, 300, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [650, 300, 'TRC']
Chambre Salle de bain center
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[450, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [450, 450, 'BRC']
Chambre placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC'], [450, 250, 'BRC'], [300, 450, 'BRC']]
COINS : [[450, 250, 'BRC'], [300, 450, 'BRC'], [650, 300, 'TRC'], [650, 350, 'BRC'], [150, 450, 'TLC'], [250, 50, 'TLC'], [490, 50, 'TRC'], [650, 350, 'BRC'], [250, 50, 'TLC'], [490, 50, 'TRC'], [150, 450, 'TLC'], [450, 450, 'BRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [490, 50, 'TRC'], [450, 450, 'BRC'], [650, 300, 'TRC'], [650, 350, 'BRC'], [150, 450, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [450, 450, 'BRC']]
Removed corner : [490, 50, 'TRC']
Removed corner : [490, 50, 'TRC']
Removed corner : [490, 50, 'TRC']
Toilettes Entrée close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC'], [450, 250, 'BRC'], [300, 450, 'BRC']]
COINS : [[450, 250, 'BRC'], [300, 450, 'BRC'], [650, 300, 'TRC'], [650, 350, 'BRC'], [150, 450, 'TLC'], [250, 50, 'TLC'], [650, 350, 'BRC'], [250, 50, 'TLC'], [150, 450, 'TLC'], [450, 450, 'BRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [450, 450, 'BRC'], [650, 300, 'TRC'], [650, 350, 'BRC'], [150, 450, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [450, 450, 'BRC']]
Removed corner : [650, 350, 'BRC']
Removed corner : [650, 350, 'BRC']
Removed corner : [650, 350, 'BRC']
Toilettes Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [490, 50, 'TRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [150, 450, 'TLC'], [450, 250, 'BRC'], [300, 450, 'BRC']]
COINS : [[450, 250, 'BRC'], [300, 450, 'BRC'], [650, 300, 'TRC'], [150, 450, 'TLC'], [250, 50, 'TLC'], [250, 50, 'TLC'], [150, 450, 'TLC'], [450, 450, 'BRC'], [650, 300, 'TRC'], [250, 50, 'TLC'], [450, 450, 'BRC'], [650, 300, 'TRC'], [150, 450, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [450, 450, 'BRC']]
Removed corner : [450, 250, 'BRC']
Toilettes placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [650, 350, BRC]   Salle de bain  None
5   [450, 450, BRC]   Salle de bain  None
6    [490, 50, TRC]  Salle à manger  None
7   [650, 300, TRC]  Salle à manger  None
8    [250, 50, TLC]         Cuisine  None
9   [150, 450, TLC]         Cuisine  None
10  [450, 250, BRC]         Chambre  None
11  [300, 450, BRC]         Chambre  None
12  [450, 150, BRC]       Toilettes  None
13  [350, 250, BRC]       Toilettes  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[650, 350, 'BRC']
[450, 450, 'BRC']
[490, 50, 'TRC']
[650, 300, 'TRC']
[250, 50, 'TLC']
[150, 450, 'TLC']
[450, 250, 'BRC']
[300, 450, 'BRC']
[450, 150, 'BRC']
[350, 250, 'BRC']
[650, 450, 'BRC']
[650, 50, 'TRC']
[150, 50, 'TLC']
[150, 450, 'BLC']
[450, 450, 'BRC']
[450, 250, 'BRC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4    Salle de bain  None  [650, 350]        BRC       650       350
5    Salle de bain  None  [450, 450]        BRC       450       450
6   Salle à manger  None   [490, 50]        TRC       490        50
7   Salle à manger  None  [650, 300]        TRC       650       300
8          Cuisine  None   [250, 50]        TLC       250        50
9          Cuisine  None  [150, 450]        TLC       150       450
10         Chambre  None  [450, 250]        BRC       450       250
11         Chambre  None  [300, 450]        BRC       300       450
12       Toilettes  None  [450, 150]        BRC       450       150
13       Toilettes  None  [350, 250]        BRC       350       250

       corner cornertype  x_corner  y_corner
0  [650, 450]        BRC       650       450
1   [650, 50]        TRC       650        50
2   [150, 50]        TLC       150        50
3  [150, 450]        BLC       150       450
4  [450, 450]        BRC       450       450
5  [450, 250]        BRC       450       250

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Cuisine,None,"[150, 450]",TLC,150,450,"[150, 450]",BLC
5,Salle de bain,None,"[650, 350]",BRC,650,350,NaN,NaN
6,Salle de bain,None,"[450, 450]",BRC,450,450,"[450, 450]",BRC
7,Salle à manger,None,"[490, 50]",TRC,490,50,NaN,NaN
8,Salle à manger,None,"[650, 300]",TRC,650,300,NaN,NaN
9,Cuisine,None,"[250, 50]",TLC,250,50,NaN,NaN
10,Chambre,None,"[450, 250]",BRC,450,250,"[450, 250]",BRC
11,Chambre,None,"[300, 450]",BRC,300,450,NaN,NaN
12,Toilettes,None,"[450, 150]",BRC,450,150,NaN,NaN
13,Toilettes,None,"[350, 250]",BRC,350,250,NaN,NaN

0 Salle de bain 4
1 Salle à manger 1
2 Salle à manger 1
3 Cuisine 3
4 Chambre 2
5 Toilettes 5
6 Toilettes 5

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [490, 50]          TRC    1
1  Salle à manger  None  [650, 300]          TRC    1
2         Chambre  None  [300, 450]          BRC    2
3         Cuisine  None   [250, 50]          TLC    3
4   Salle de bain  None  [650, 350]          BRC    4
5       Toilettes  None  [450, 150]          BRC    5
6       Toilettes  None  [350, 250]          BRC    5

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
VERTICAL
Salle à manger Salle de bain 50
Salle à manger
Removed corner : [490, 50, 'TRC']
Removed corner : [650, 350, 'BRC']
0 0 0
Changé:  490 50 160 300

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [490, 50]          TRC    1
1  Salle à manger  None  [490, 350]          BRC    1
2         Chambre  None  [300, 450]          BRC    2
3         Cuisine  None   [250, 50]          TLC    3
4   Salle de bain  None  [650, 350]          BRC    4
5       Toilettes  None  [450, 150]          BRC    5
6       Toilettes  None  [350, 250]          BRC    5

Toilettes
Toilettes

 Chambre

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Salle de bain

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes
[[650, 300]]

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [490, 50]          TRC    1
1  Salle à manger  None  [490, 350]          BRC    1
2         Chambre  None  [300, 450]          BRC    2
3         Cuisine  None   [250, 50]          TLC    3
4   Salle de bain  None  [650, 350]          BRC    4
5       Toilettes  None  [450, 150]          BRC    5
6       Toilettes  None  [350, 250]          BRC    5

[<__main__.Sam object at 0x00000238F8B60D60>]
Salle de bain
Removed corner : [450, 450, 'BRC']
Removed corner : [450, 450, 'BRC']
0 0 0
Salle à manger
0 0 0
Cuisine
Removed corner : [250, 50, 'TLC']
Removed corner : [250, 50, 'TLC']
Removed corner : [150, 450, 'TLC']
Removed corner : [150, 450, 'TLC']
0 0 0
Chambre
Removed corner : [300, 450, 'BRC']
0 0 0
Toilettes
Removed corner : [450, 150, 'BRC']
Removed corner : [350, 250, 'BRC']
0 0 0

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Cuisine,None,"[150, 450]",TLC,150,450,"[150, 450]",BLC
5,Salle de bain,None,"[650, 350]",BRC,650,350,NaN,NaN
6,Salle de bain,None,"[450, 450]",BRC,450,450,"[450, 450]",BRC
7,Salle à manger,None,"[490, 50]",TRC,490,50,NaN,NaN
8,Salle à manger,None,"[650, 300]",TRC,650,300,NaN,NaN
9,Cuisine,None,"[250, 50]",TLC,250,50,NaN,NaN
10,Chambre,None,"[450, 250]",BRC,450,250,"[450, 250]",BRC
11,Chambre,None,"[300, 450]",BRC,300,450,NaN,NaN
12,Toilettes,None,"[450, 150]",BRC,450,150,NaN,NaN
13,Toilettes,None,"[350, 250]",BRC,350,250,NaN,NaN

0 Salle de bain 4
1 Salle à manger 1
2 Salle à manger 1
3 Cuisine 3
4 Chambre 2
5 Toilettes 5
6 Toilettes 5

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [490, 50]          TRC    1
1  Salle à manger  None  [650, 300]          TRC    1
2         Chambre  None  [300, 450]          BRC    2
3         Cuisine  None   [250, 50]          TLC    3
4   Salle de bain  None  [650, 350]          BRC    4
5       Toilettes  None  [450, 150]          BRC    5
6       Toilettes  None  [350, 250]          BRC    5

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Chambre

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Salle de bain

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes
[[650, 300]]

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [490, 50]          TRC    1
1  Salle à manger  None  [650, 300]          TRC    1
2         Chambre  None  [300, 450]          BRC    2
3         Cuisine  None   [250, 50]          TLC    3
4   Salle de bain  None  [650, 350]          BRC    4
5       Toilettes  None  [450, 150]          BRC    5
6       Toilettes  None  [350, 250]          BRC    5

[]
Salle de bain
0 0 0
Salle à manger
0 0 0
Cuisine
Removed corner : [250, 50, 'TLC']
Removed corner : [150, 450, 'TLC']
0 0 0
Chambre
0 0 0
Toilettes
0 0 0

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 450, 'BLC']
Chambre placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 330, 'BLC'], [400, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC']]
Removed corner : [650, 50, 'TRC']
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 330, 'BLC'], [400, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC']]
Removed corner : [400, 450, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 330, 'BLC']]
REMOVED : [[150, 450, 'BLC']]
Removed corner : [150, 330, 'BLC']
Salle de bain placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [400, 450, 'BLC'], [650, 50, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC']]
Removed corner : [150, 50, 'TLC']
Salle à manger Chambre close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC']]
COINS : [[650, 450, 'BRC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [400, 450, 'BLC'], [650, 50, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC']]
Removed corner : [650, 450, 'BRC']
Salle à manger placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC']]
COINS : [[150, 230, 'BLC'], [450, 330, 'BLC'], [400, 450, 'BLC'], [650, 50, 'TRC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [150, 50, 'TLC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC']]
Removed corner : [400, 450, 'BLC']
Toilettes placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[150, 230, 'BLC'], [450, 330, 'BLC'], [650, 50, 'TRC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [150, 50, 'TLC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [650, 50, 'TRC']
Cuisine Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [150, 50, 'TLC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [500, 450, 'BLC']
Cuisine Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [150, 50, 'TLC'], [400, 350, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [650, 130, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[150, 230, 'BLC'], [450, 330, 'BLC'], [525, 450, 'BRC'], [150, 50, 'TLC'], [400, 350, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [450, 330, 'BLC']
Cuisine Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[150, 230, 'BLC'], [525, 450, 'BRC'], [150, 50, 'TLC'], [400, 350, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [400, 350, 'BLC']
Cuisine Salle de bain close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[150, 230, 'BLC'], [525, 450, 'BRC'], [150, 50, 'TLC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [150, 50, 'TLC']
Cuisine Salle de bain close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[150, 230, 'BLC'], [525, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [525, 450, 'BRC']
Cuisine Chambre close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[150, 230, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [150, 230, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [400, 350, 'BLC']
Cuisine Salle de bain close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [500, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [500, 450, 'BLC']
Cuisine Salle à manger center
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [150, 50, 'TLC']
Cuisine Salle de bain close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[650, 50, 'TRC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [650, 130, 'BRC']
Removed corner : [450, 330, 'BLC']
Cuisine Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[650, 50, 'TRC'], [150, 230, 'BLC'], [525, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [525, 450, 'BRC']
Cuisine Chambre close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[650, 50, 'TRC'], [150, 230, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [650, 50, 'TRC']
Cuisine Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[150, 230, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [150, 230, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [500, 450, 'BLC']
Cuisine Salle à manger center
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [150, 50, 'TLC']
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[650, 50, 'TRC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [400, 350, 'BLC']
Cuisine Salle de bain close edge lr
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[650, 50, 'TRC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [525, 450, 'BRC']
Cuisine Chambre center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[650, 50, 'TRC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [650, 130, 'BRC']
classique
classique
classique
classique
hors champs = 1, superposition = 0, superpositionPlaced = 1

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[650, 50, 'TRC'], [150, 230, 'BLC'], [450, 330, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [650, 50, 'TRC']
classique
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 330, 'BLC'], [400, 450, 'BLC'], [150, 230, 'BLC'], [450, 330, 'BLC'], [650, 130, 'BRC'], [525, 450, 'BRC'], [400, 350, 'BLC'], [500, 450, 'BLC']]
COINS : [[150, 230, 'BLC'], [450, 330, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 330, 'BLC'], [650, 450, 'BRC'], [400, 450, 'BLC']]
Removed corner : [150, 230, 'BLC']
Cuisine placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [150, 330, BLC]         Chambre  None
5   [400, 450, BLC]         Chambre  None
6   [150, 230, BLC]   Salle de bain  None
7   [450, 330, BLC]   Salle de bain  None
8   [650, 130, BRC]  Salle à manger  None
9   [525, 450, BRC]  Salle à manger  None
10  [400, 350, BLC]       Toilettes  None
11  [500, 450, BLC]       Toilettes  None
12  [150, 130, BLC]         Cuisine  None
13  [450, 230, BLC]         Cuisine  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[150, 330, 'BLC']
[400, 450, 'BLC']
[150, 230, 'BLC']
[450, 330, 'BLC']
[650, 130, 'BRC']
[525, 450, 'BRC']
[400, 350, 'BLC']
[500, 450, 'BLC']
[150, 130, 'BLC']
[450, 230, 'BLC']
[150, 450, 'BLC']
[150, 330, 'BLC']
[650, 450, 'BRC']
[400, 450, 'BLC']
[150, 230, 'BLC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Chambre  None  [150, 330]        BLC       150       330
5          Chambre  None  [400, 450]        BLC       400       450
6    Salle de bain  None  [150, 230]        BLC       150       230
7    Salle de bain  None  [450, 330]        BLC       450       330
8   Salle à manger  None  [650, 130]        BRC       650       130
9   Salle à manger  None  [525, 450]        BRC       525       450
10       Toilettes  None  [400, 350]        BLC       400       350
11       Toilettes  None  [500, 450]        BLC       500       450
12         Cuisine  None  [150, 130]        BLC       150       130
13         Cuisine  None  [450, 230]        BLC       450       230

       corner cornertype  x_corner  y_corner
0  [150, 450]        BLC       150       450
1  [150, 330]        BLC       150       330
2  [650, 450]        BRC       650       450
3  [400, 450]        BLC       400       450
4  [150, 230]        BLC       150       230

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,NaN,NaN
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Chambre,None,"[150, 330]",BLC,150,330,"[150, 330]",BLC
5,Chambre,None,"[400, 450]",BLC,400,450,"[400, 450]",BLC
6,Salle de bain,None,"[150, 230]",BLC,150,230,"[150, 230]",BLC
7,Salle de bain,None,"[450, 330]",BLC,450,330,NaN,NaN
8,Salle à manger,None,"[650, 130]",BRC,650,130,NaN,NaN
9,Salle à manger,None,"[525, 450]",BRC,525,450,NaN,NaN
10,Toilettes,None,"[400, 350]",BLC,400,350,NaN,NaN
11,Toilettes,None,"[500, 450]",BLC,500,450,NaN,NaN
12,Cuisine,None,"[150, 130]",BLC,150,130,NaN,NaN
13,Cuisine,None,"[450, 230]",BLC,450,230,NaN,NaN

0 Appartement 1000
1 Appartement 1000
2 Salle de bain 4
3 Salle à manger 1
4 Salle à manger 1
5 Toilettes 5
6 Toilettes 5
7 Cuisine 3
8 Cuisine 3

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 130]          BRC     1
1  Salle à manger  None  [525, 450]          BRC     1
2         Cuisine  None  [150, 130]          BLC     3
3         Cuisine  None  [450, 230]          BLC     3
4   Salle de bain  None  [450, 330]          BLC     4
5       Toilettes  None  [400, 350]          BLC     5
6       Toilettes  None  [500, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger
Salle à manger
Cuisine
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement
VERTICAL
Salle à manger Appartement 80
Salle à manger
Removed corner : [650, 50, 'TRC']
Removed corner : [650, 50, 'TRC']
Removed corner : [650, 50, 'TRC']
Removed corner : [525, 450, 'BRC']
Removed corner : [525, 450, 'BRC']
Removed corner : [525, 450, 'BRC']
0 0 0
Changé:  525 50 125 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [525, 50]          TRC     1
1  Salle à manger  None  [525, 450]          BRC     1
2         Cuisine  None  [150, 130]          BLC     3
3         Cuisine  None  [450, 230]          BLC     3
4   Salle de bain  None  [450, 330]          BLC     4
5       Toilettes  None  [400, 350]          BLC     5
6       Toilettes  None  [500, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger
Salle à manger
Cuisine
Cuisine
Salle de bain
Toilettes
Toilettes
HORIZONTAL
Salle à manger Toilettes 25
Salle à manger
Removed corner : [500, 450, 'BLC']
Removed corner : [500, 450, 'BLC']
Removed corner : [500, 450, 'BLC']
0 0 0
Changé:  500 50 150 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [525, 50]          TRC     1
1  Salle à manger  None   [500, 50]          BLC     1
2         Cuisine  None  [150, 130]          BLC     3
3         Cuisine  None  [450, 230]          BLC     3
4   Salle de bain  None  [450, 330]          BLC     4
5       Toilettes  None  [400, 350]          BLC     5
6       Toilettes  None  [500, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

Appartement
Appartement

 Cuisine

Salle à manger
Salle à manger
Cuisine
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
VERTICAL
Cuisine Appartement 80
Cuisine
Removed corner : [150, 50, 'TLC']
Removed corner : [150, 50, 'TLC']
Removed corner : [150, 50, 'TLC']
Removed corner : [450, 230, 'BLC']
Removed corner : [150, 230, 'BLC']
Removed corner : [150, 230, 'BLC']
classique
classique
0 0 1
Changé:  150 50 300 180

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [525, 50]          TRC     1
1  Salle à manger  None   [500, 50]          BLC     1
2         Cuisine  None   [450, 50]          TLC     3
3         Cuisine  None  [450, 230]          BLC     3
4   Salle de bain  None  [450, 330]          BLC     4
5       Toilettes  None  [400, 350]          BLC     5
6       Toilettes  None  [500, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [525, 50]          TRC     1
1  Salle à manger  None   [500, 50]          BLC     1
2         Cuisine  None  [150, 130]          BLC     3
3         Cuisine  None  [450, 230]          BLC     3
4   Salle de bain  None  [450, 330]          BLC     4
5       Toilettes  None  [400, 350]          BLC     5
6       Toilettes  None  [500, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

Ancien:  150 130 300 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [525, 50]          TRC     1
1  Salle à manger  None   [500, 50]          BLC     1
2         Cuisine  None  [150, 130]          BLC     3
3         Cuisine  None  [450, 230]          BLC     3
4   Salle de bain  None  [450, 330]          BLC     4
5       Toilettes  None  [400, 350]          BLC     5
6       Toilettes  None  [500, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

Appartement

 Cuisine

Salle à manger
Salle à manger
Cuisine
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement

 Salle de bain

Salle à manger
Salle à manger
Cuisine
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement

 Toilettes

Salle à manger
Salle à manger
Cuisine
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement

 Toilettes

Salle à manger
Salle à manger
Cuisine
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement

 Appartement

Salle à manger
Salle à manger
Cuisine
VERTICAL
Appartement Cuisine 80
Cuisine
classique
classique
0 0 1
Changé:  150 50 300 180

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [525, 50]          TRC     1
1  Salle à manger  None   [500, 50]          BLC     1
2         Cuisine  None  [150, 130]          BLC     3
3         Cuisine  None  [450, 230]          BLC     3
4   Salle de bain  None  [450, 330]          BLC     4
5       Toilettes  None  [400, 350]          BLC     5
6       Toilettes  None  [500, 450]          BLC     5
7     Appartement  None   [450, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [525, 50]          TRC     1
1  Salle à manger  None   [500, 50]          BLC     1
2         Cuisine  None  [150, 130]          BLC     3
3         Cuisine  None  [450, 230]          BLC     3
4   Salle de bain  None  [450, 330]          BLC     4
5       Toilettes  None  [400, 350]          BLC     5
6       Toilettes  None  [500, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

Ancien:  150 130 300 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [525, 50]          TRC     1
1  Salle à manger  None   [500, 50]          BLC     1
2         Cuisine  None  [150, 130]          BLC     3
3         Cuisine  None  [450, 230]          BLC     3
4   Salle de bain  None  [450, 330]          BLC     4
5       Toilettes  None  [400, 350]          BLC     5
6       Toilettes  None  [500, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement

 Appartement

Salle à manger
Salle à manger
Cuisine
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement
[[650, 130], [525, 450]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [525, 50]          TRC     1
1  Salle à manger  None   [500, 50]          BLC     1
2         Cuisine  None  [150, 130]          BLC     3
3         Cuisine  None  [450, 230]          BLC     3
4   Salle de bain  None  [450, 330]          BLC     4
5       Toilettes  None  [400, 350]          BLC     5
6       Toilettes  None  [500, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

[<__main__.Sam object at 0x00000238F49D4760>, <__main__.Cuisine object at 0x00000238F49D4BB0>, <__main__.Cuisine object at 0x00000238F49D4BB0>]
Chambre
0 0 0
Salle de bain
Removed corner : [450, 330, 'BLC']
Removed corner : [450, 330, 'BLC']
Removed corner : [450, 330, 'BLC']
0 0 0
Salle à manger
0 0 0
Toilettes
Removed corner : [400, 350, 'BLC']
Removed corner : [400, 350, 'BLC']
0 0 0
Cuisine
Removed corner : [150, 130, 'BLC']
0 0 0

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [650, 50, 'TRC']
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 450, 'BLC']
Chambre placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [550, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 350, 'BLC'], [550, 450, 'BLC'], [650, 50, 'TRC']]
REMOVED : [[150, 450, 'BLC']]
Removed corner : [650, 450, 'BRC']
Cuisine Chambre close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [550, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [150, 350, 'BLC'], [550, 450, 'BLC'], [650, 50, 'TRC']]
REMOVED : [[150, 450, 'BLC']]
Removed corner : [550, 450, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [550, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [150, 350, 'BLC'], [650, 50, 'TRC']]
REMOVED : [[150, 450, 'BLC']]
Removed corner : [650, 50, 'TRC']
Cuisine placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [550, 450, 'BLC'], [525, 50, 'TRC'], [650, 210, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 350, 'BLC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [550, 450, 'BLC'], [650, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC']]
Removed corner : [525, 50, 'TRC']
Toilettes placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [550, 450, 'BLC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [425, 50, 'TRC'], [525, 150, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 350, 'BLC'], [650, 210, 'TRC'], [550, 450, 'BLC'], [650, 450, 'BRC'], [425, 50, 'TRC'], [525, 150, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [525, 50, 'TRC']]
Removed corner : [650, 450, 'BRC']
Salle à manger Chambre close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [550, 450, 'BLC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [425, 50, 'TRC'], [525, 150, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 350, 'BLC'], [650, 210, 'TRC'], [550, 450, 'BLC'], [425, 50, 'TRC'], [525, 150, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [525, 50, 'TRC']]
Removed corner : [550, 450, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [550, 450, 'BLC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [425, 50, 'TRC'], [525, 150, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 350, 'BLC'], [650, 210, 'TRC'], [425, 50, 'TRC'], [525, 150, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [525, 50, 'TRC']]
Removed corner : [150, 50, 'TLC']
Salle à manger placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [550, 450, 'BLC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [425, 50, 'TRC'], [525, 150, 'TRC'], [275, 50, 'TLC'], [150, 210, 'TLC']]
COINS : [[150, 350, 'BLC'], [650, 210, 'TRC'], [425, 50, 'TRC'], [525, 150, 'TRC'], [275, 50, 'TLC'], [150, 210, 'TLC'], [550, 450, 'BLC'], [650, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [525, 50, 'TRC'], [150, 50, 'TLC']]
Removed corner : [650, 210, 'TRC']
Removed corner : [650, 450, 'BRC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [550, 450, 'BLC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [425, 50, 'TRC'], [525, 150, 'TRC'], [275, 50, 'TLC'], [150, 210, 'TLC']]
COINS : [[150, 350, 'BLC'], [425, 50, 'TRC'], [525, 150, 'TRC'], [275, 50, 'TLC'], [150, 210, 'TLC'], [550, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [525, 50, 'TRC'], [150, 50, 'TLC']]
Removed corner : [275, 50, 'TLC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [550, 450, 'BLC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [425, 50, 'TRC'], [525, 150, 'TRC'], [275, 50, 'TLC'], [150, 210, 'TLC']]
COINS : [[150, 350, 'BLC'], [425, 50, 'TRC'], [525, 150, 'TRC'], [150, 210, 'TLC'], [550, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [525, 50, 'TRC'], [150, 50, 'TLC']]
Removed corner : [550, 450, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [550, 450, 'BLC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [425, 50, 'TRC'], [525, 150, 'TRC'], [275, 50, 'TLC'], [150, 210, 'TLC']]
COINS : [[150, 350, 'BLC'], [425, 50, 'TRC'], [525, 150, 'TRC'], [150, 210, 'TLC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [525, 50, 'TRC'], [150, 50, 'TLC']]
Removed corner : [150, 210, 'TLC']
Salle de bain Chambre close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [550, 450, 'BLC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [425, 50, 'TRC'], [525, 150, 'TRC'], [275, 50, 'TLC'], [150, 210, 'TLC']]
COINS : [[150, 350, 'BLC'], [425, 50, 'TRC'], [525, 150, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [525, 50, 'TRC'], [150, 50, 'TLC']]
Removed corner : [150, 350, 'BLC']
Salle de bain Salle à manger close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [550, 450, 'BLC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [425, 50, 'TRC'], [525, 150, 'TRC'], [275, 50, 'TLC'], [150, 210, 'TLC']]
COINS : [[425, 50, 'TRC'], [525, 150, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [525, 50, 'TRC'], [150, 50, 'TLC']]
Removed corner : [425, 50, 'TRC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [550, 450, 'BLC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [425, 50, 'TRC'], [525, 150, 'TRC'], [275, 50, 'TLC'], [150, 210, 'TLC']]
COINS : [[525, 150, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [525, 50, 'TRC'], [150, 50, 'TLC']]
Removed corner : [525, 150, 'TRC']
Salle de bain Chambre close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [550, 450, 'BLC'], [525, 50, 'TRC'], [650, 210, 'TRC'], [425, 50, 'TRC'], [525, 150, 'TRC'], [275, 50, 'TLC'], [150, 210, 'TLC']]
COINS : [[650, 450, 'BRC'], [150, 350, 'BLC'], [550, 450, 'BLC'], [650, 210, 'TRC'], [425, 50, 'TRC'], [525, 150, 'TRC'], [275, 50, 'TLC'], [150, 210, 'TLC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [525, 50, 'TRC'], [150, 50, 'TLC']]
Removed corner : [650, 450, 'BRC']
Removed corner : [550, 450, 'BLC']
Salle de bain placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [150, 350, BLC]         Chambre  None
5   [550, 450, BLC]         Chambre  None
6    [525, 50, TRC]         Cuisine  None
7   [650, 210, TRC]         Cuisine  None
8    [425, 50, TRC]       Toilettes  None
9   [525, 150, TRC]       Toilettes  None
10   [275, 50, TLC]  Salle à manger  None
11  [150, 210, TLC]  Salle à manger  None
12  [550, 250, BLC]   Salle de bain  None
13  [650, 450, BLC]   Salle de bain  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[150, 350, 'BLC']
[550, 450, 'BLC']
[525, 50, 'TRC']
[650, 210, 'TRC']
[425, 50, 'TRC']
[525, 150, 'TRC']
[275, 50, 'TLC']
[150, 210, 'TLC']
[550, 250, 'BLC']
[650, 450, 'BLC']
[150, 450, 'BLC']
[650, 50, 'TRC']
[525, 50, 'TRC']
[150, 50, 'TLC']
[650, 450, 'BRC']
[550, 450, 'BLC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Chambre  None  [150, 350]        BLC       150       350
5          Chambre  None  [550, 450]        BLC       550       450
6          Cuisine  None   [525, 50]        TRC       525        50
7          Cuisine  None  [650, 210]        TRC       650       210
8        Toilettes  None   [425, 50]        TRC       425        50
9        Toilettes  None  [525, 150]        TRC       525       150
10  Salle à manger  None   [275, 50]        TLC       275        50
11  Salle à manger  None  [150, 210]        TLC       150       210
12   Salle de bain  None  [550, 250]        BLC       550       250
13   Salle de bain  None  [650, 450]        BLC       650       450

       corner cornertype  x_corner  y_corner
0  [150, 450]        BLC       150       450
1   [650, 50]        TRC       650        50
2   [525, 50]        TRC       525        50
3   [150, 50]        TLC       150        50
4  [650, 450]        BRC       650       450
5  [550, 450]        BLC       550       450

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,Salle de bain,None,"[650, 450]",BLC,650,450,"[650, 450]",BRC
4,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
5,Chambre,None,"[150, 350]",BLC,150,350,NaN,NaN
6,Chambre,None,"[550, 450]",BLC,550,450,"[550, 450]",BLC
7,Cuisine,None,"[525, 50]",TRC,525,50,"[525, 50]",TRC
8,Cuisine,None,"[650, 210]",TRC,650,210,NaN,NaN
9,Toilettes,None,"[425, 50]",TRC,425,50,NaN,NaN
10,Toilettes,None,"[525, 150]",TRC,525,150,NaN,NaN
11,Salle à manger,None,"[275, 50]",TLC,275,50,NaN,NaN
12,Salle à manger,None,"[150, 210]",TLC,150,210,NaN,NaN
13,Salle de bain,None,"[550, 250]",BLC,550,250,NaN,NaN

0 Chambre 2
1 Cuisine 3
2 Toilettes 5
3 Toilettes 5
4 Salle à manger 1
5 Salle à manger 1
6 Salle de bain 4

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [275, 50]          TLC    1
1  Salle à manger  None  [150, 210]          TLC    1
2         Chambre  None  [150, 350]          BLC    2
3         Cuisine  None  [650, 210]          TRC    3
4   Salle de bain  None  [550, 250]          BLC    4
5       Toilettes  None   [425, 50]          TRC    5
6       Toilettes  None  [525, 150]          TRC    5

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Salle à manger

Salle à manger
Salle à manger
Chambre
VERTICAL
Salle à manger Chambre 140
Salle à manger
Removed corner : [275, 50, 'TLC']
Removed corner : [275, 50, 'TLC']
Removed corner : [150, 350, 'BLC']
Removed corner : [150, 350, 'BLC']
0 0 0
Changé:  150 50 125 300

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [275, 50]          TLC    1
1  Salle à manger  None  [275, 350]          BLC    1
2         Chambre  None  [150, 350]          BLC    2
3         Cuisine  None  [650, 210]          TRC    3
4   Salle de bain  None  [550, 250]          BLC    4
5       Toilettes  None   [425, 50]          TRC    5
6       Toilettes  None  [525, 150]          TRC    5

Cuisine
Salle de bain
Toilettes
Toilettes

 Chambre

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Salle de bain

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes
[[150, 210]]

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [275, 50]          TLC    1
1  Salle à manger  None  [275, 350]          BLC    1
2         Chambre  None  [150, 350]          BLC    2
3         Cuisine  None  [650, 210]          TRC    3
4   Salle de bain  None  [550, 250]          BLC    4
5       Toilettes  None   [425, 50]          TRC    5
6       Toilettes  None  [525, 150]          TRC    5

[<__main__.Sam object at 0x00000238F49C33D0>]
Chambre
Removed corner : [550, 450, 'BLC']
0 0 0
Cuisine
Removed corner : [650, 210, 'TRC']
Removed corner : [650, 210, 'TRC']
0 0 0
Toilettes
Removed corner : [425, 50, 'TRC']
Removed corner : [425, 50, 'TRC']
Removed corner : [525, 150, 'TRC']
Removed corner : [525, 150, 'TRC']
0 0 0
Salle à manger
0 0 0
Salle de bain
Removed corner : [550, 250, 'BLC']
Removed corner : [650, 450, 'BLC']
0 0 0

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,Salle de bain,None,"[650, 450]",BLC,650,450,"[650, 450]",BRC
4,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
5,Chambre,None,"[150, 350]",BLC,150,350,NaN,NaN
6,Chambre,None,"[550, 450]",BLC,550,450,"[550, 450]",BLC
7,Cuisine,None,"[525, 50]",TRC,525,50,"[525, 50]",TRC
8,Cuisine,None,"[650, 210]",TRC,650,210,NaN,NaN
9,Toilettes,None,"[425, 50]",TRC,425,50,NaN,NaN
10,Toilettes,None,"[525, 150]",TRC,525,150,NaN,NaN
11,Salle à manger,None,"[275, 50]",TLC,275,50,NaN,NaN
12,Salle à manger,None,"[150, 210]",TLC,150,210,NaN,NaN
13,Salle de bain,None,"[550, 250]",BLC,550,250,NaN,NaN

0 Chambre 2
1 Cuisine 3
2 Toilettes 5
3 Toilettes 5
4 Salle à manger 1
5 Salle à manger 1
6 Salle de bain 4

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [275, 50]          TLC    1
1  Salle à manger  None  [150, 210]          TLC    1
2         Chambre  None  [150, 350]          BLC    2
3         Cuisine  None  [650, 210]          TRC    3
4   Salle de bain  None  [550, 250]          BLC    4
5       Toilettes  None   [425, 50]          TRC    5
6       Toilettes  None  [525, 150]          TRC    5

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Chambre

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Salle de bain

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes
[[150, 210]]

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [275, 50]          TLC    1
1  Salle à manger  None  [150, 210]          TLC    1
2         Chambre  None  [150, 350]          BLC    2
3         Cuisine  None  [650, 210]          TRC    3
4   Salle de bain  None  [550, 250]          BLC    4
5       Toilettes  None   [425, 50]          TRC    5
6       Toilettes  None  [525, 150]          TRC    5

[]
Chambre
0 0 0
Cuisine
0 0 0
Toilettes
0 0 0
Salle à manger
0 0 0
Salle de bain
0 0 0

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [650, 450, 'BRC']
Cuisine placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC']]
Removed corner : [650, 290, 'BRC']
Toilettes placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 290, 'BRC']]
Removed corner : [650, 50, 'TRC']
Chambre Cuisine close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 290, 'BRC']]
Removed corner : [150, 50, 'TLC']
Removed corner : [150, 450, 'BLC']
Chambre placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC']]
COINS : [[525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 290, 'BRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [650, 190, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC']]
COINS : [[525, 450, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 290, 'BRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [650, 50, 'TRC']
Salle de bain Toilettes close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC']]
COINS : [[525, 450, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC']]
REMOVED : [[650, 450, 'BRC'], [650, 290, 'BRC'], [150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [525, 450, 'BRC']
Salle de bain placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [325, 450, 'BRC']]
COINS : [[550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [325, 450, 'BRC'], [650, 50, 'TRC'], [650, 190, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 290, 'BRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [525, 450, 'BRC']]
Removed corner : [325, 450, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [325, 450, 'BRC']]
COINS : [[550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [650, 50, 'TRC'], [650, 190, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 290, 'BRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [525, 450, 'BRC']]
Removed corner : [650, 190, 'BRC']
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [325, 450, 'BRC']]
COINS : [[550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [650, 50, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 290, 'BRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [525, 450, 'BRC']]
Removed corner : [550, 290, 'BRC']
Salle à manger Chambre close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [325, 450, 'BRC']]
COINS : [[150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [650, 50, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 290, 'BRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [525, 450, 'BRC']]
Removed corner : [650, 50, 'TRC']
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [325, 450, 'BRC']]
COINS : [[150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 290, 'BRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [525, 450, 'BRC']]
Removed corner : [150, 50, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [325, 450, 'BRC']]
COINS : [[250, 450, 'BLC'], [525, 300, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 290, 'BRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [525, 450, 'BRC']]
Removed corner : [250, 450, 'BLC']
Salle à manger Cuisine close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [325, 450, 'BRC']]
COINS : [[525, 300, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 290, 'BRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [525, 450, 'BRC']]
Removed corner : [525, 300, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [325, 450, 'BRC']]
COINS : [[650, 50, 'TRC'], [650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [325, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 290, 'BRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [525, 450, 'BRC']]
Removed corner : [650, 50, 'TRC']
Salle à manger Toilettes close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [325, 450, 'BRC']]
COINS : [[650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [325, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 290, 'BRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [525, 450, 'BRC']]
Removed corner : [325, 450, 'BRC']
Salle à manger Chambre close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [325, 450, 'BRC']]
COINS : [[650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 290, 'BRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [525, 450, 'BRC']]
Removed corner : [650, 190, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [325, 450, 'BRC']]
COINS : [[550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 290, 'BRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [525, 450, 'BRC']]
Removed corner : [250, 450, 'BLC']
Salle à manger Salle de bain close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 290, 'BRC'], [525, 450, 'BRC'], [650, 190, 'BRC'], [550, 290, 'BRC'], [150, 50, 'BLC'], [250, 450, 'BLC'], [525, 300, 'BRC'], [325, 450, 'BRC']]
COINS : [[550, 290, 'BRC'], [150, 50, 'BLC'], [525, 300, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 290, 'BRC'], [150, 50, 'TLC'], [150, 450, 'BLC'], [525, 450, 'BRC']]
Removed corner : [550, 290, 'BRC']
Salle à manger placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [650, 290, BRC]         Cuisine  None
5   [525, 450, BRC]         Cuisine  None
6   [650, 190, BRC]       Toilettes  None
7   [550, 290, BRC]       Toilettes  None
8    [150, 50, BLC]         Chambre  None
9   [250, 450, BLC]         Chambre  None
10  [525, 300, BRC]   Salle de bain  None
11  [325, 450, BRC]   Salle de bain  None
12   [550, 50, BRC]  Salle à manger  None
13  [425, 290, BRC]  Salle à manger  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[650, 290, 'BRC']
[525, 450, 'BRC']
[650, 190, 'BRC']
[550, 290, 'BRC']
[150, 50, 'BLC']
[250, 450, 'BLC']
[525, 300, 'BRC']
[325, 450, 'BRC']
[550, 50, 'BRC']
[425, 290, 'BRC']
[650, 450, 'BRC']
[650, 290, 'BRC']
[150, 50, 'TLC']
[150, 450, 'BLC']
[525, 450, 'BRC']
[550, 290, 'BRC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Cuisine  None  [650, 290]        BRC       650       290
5          Cuisine  None  [525, 450]        BRC       525       450
6        Toilettes  None  [650, 190]        BRC       650       190
7        Toilettes  None  [550, 290]        BRC       550       290
8          Chambre  None   [150, 50]        BLC       150        50
9          Chambre  None  [250, 450]        BLC       250       450
10   Salle de bain  None  [525, 300]        BRC       525       300
11   Salle de bain  None  [325, 450]        BRC       325       450
12  Salle à manger  None   [550, 50]        BRC       550        50
13  Salle à manger  None  [425, 290]        BRC       425       290

       corner cornertype  x_corner  y_corner
0  [650, 450]        BRC       650       450
1  [650, 290]        BRC       650       290
2   [150, 50]        TLC       150        50
3  [150, 450]        BLC       150       450
4  [525, 450]        BRC       525       450
5  [550, 290]        BRC       550       290

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,Chambre,None,"[150, 50]",BLC,150,50,"[150, 50]",TLC
2,None,None,"[650, 50]",TRC,650,50,NaN,NaN
3,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
4,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
5,Cuisine,None,"[650, 290]",BRC,650,290,"[650, 290]",BRC
6,Cuisine,None,"[525, 450]",BRC,525,450,"[525, 450]",BRC
7,Toilettes,None,"[650, 190]",BRC,650,190,NaN,NaN
8,Toilettes,None,"[550, 290]",BRC,550,290,"[550, 290]",BRC
9,Chambre,None,"[250, 450]",BLC,250,450,NaN,NaN
10,Salle de bain,None,"[525, 300]",BRC,525,300,NaN,NaN
11,Salle de bain,None,"[325, 450]",BRC,325,450,NaN,NaN
12,Salle à manger,None,"[550, 50]",BRC,550,50,NaN,NaN
13,Salle à manger,None,"[425, 290]",BRC,425,290,NaN,NaN

0 Appartement 1000
1 Toilettes 5
2 Chambre 2
3 Salle de bain 4
4 Salle de bain 4
5 Salle à manger 1
6 Salle à manger 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          BRC     1
1  Salle à manger  None  [425, 290]          BRC     1
2         Chambre  None  [250, 450]          BLC     2
3   Salle de bain  None  [525, 300]          BRC     4
4   Salle de bain  None  [325, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Salle de bain
Salle de bain
Toilettes
Appartement
HORIZONTAL
Salle à manger Appartement 100
Salle à manger
Removed corner : [550, 50, 'BRC']
Removed corner : [550, 290, 'BRC']
classique
classique
0 0 1
Changé:  325 50 225 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [325, 50]          BLC     1
1  Salle à manger  None  [425, 290]          BRC     1
2         Chambre  None  [250, 450]          BLC     2
3   Salle de bain  None  [525, 300]          BRC     4
4   Salle de bain  None  [325, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          BRC     1
1  Salle à manger  None  [425, 290]          BRC     1
2         Chambre  None  [250, 450]          BLC     2
3   Salle de bain  None  [525, 300]          BRC     4
4   Salle de bain  None  [325, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6     Appartement  None   [650, 50]          TRC  1000

Ancien:  425 50 125 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          BRC     1
1  Salle à manger  None  [425, 290]          BRC     1
2         Chambre  None  [250, 450]          BLC     2
3   Salle de bain  None  [525, 300]          BRC     4
4   Salle de bain  None  [325, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Salle de bain
Salle de bain
Toilettes
Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Salle de bain
Salle de bain
HORIZONTAL
Chambre Salle de bain 75
Chambre
Removed corner : [150, 50, 'BLC']
Removed corner : [150, 50, 'BLC']
Removed corner : [325, 450, 'BRC']
Removed corner : [325, 450, 'BRC']
0 0 0
Changé:  150 50 175 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          BRC     1
1  Salle à manger  None  [425, 290]          BRC     1
2         Chambre  None   [325, 50]          BRC     2
3   Salle de bain  None  [525, 300]          BRC     4
4   Salle de bain  None  [325, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6     Appartement  None   [650, 50]          TRC  1000

Toilettes
Appartement

 Salle de bain

Salle à manger
Salle à manger
Chambre
Salle de bain
Salle de bain
Toilettes
Appartement

 Salle de bain

Salle à manger
Salle à manger
Chambre
Salle de bain
Salle de bain
Toilettes
Appartement

 Toilettes

Salle à manger
Salle à manger
Chambre
Salle de bain
Salle de bain
Toilettes
Appartement
VERTICAL
Toilettes Appartement 140
Toilettes
Removed corner : [650, 50, 'TRC']
Removed corner : [650, 50, 'TRC']
0 0 0
Changé:  550 50 100 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          BRC     1
1  Salle à manger  None  [425, 290]          BRC     1
2         Chambre  None   [325, 50]          BRC     2
3   Salle de bain  None  [525, 300]          BRC     4
4   Salle de bain  None  [325, 450]          BRC     4
5       Toilettes  None   [550, 50]          TRC     5
6     Appartement  None   [650, 50]          TRC  1000

 Appartement

Salle à manger
Salle à manger
Chambre
Salle de bain
Salle de bain
Toilettes
Appartement
[[250, 450], [650, 190]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          BRC     1
1  Salle à manger  None  [425, 290]          BRC     1
2         Chambre  None   [325, 50]          BRC     2
3   Salle de bain  None  [525, 300]          BRC     4
4   Salle de bain  None  [325, 450]          BRC     4
5       Toilettes  None   [550, 50]          TRC     5
6     Appartement  None   [650, 50]          TRC  1000

[<__main__.Toilettes object at 0x00000238F49E0A60>]
Cuisine
0 0 0
Toilettes
0 0 0
Chambre
0 0 0
Salle de bain
Removed corner : [525, 300, 'BRC']
Removed corner : [525, 300, 'BRC']
0 0 0
Salle à manger
Removed corner : [425, 290, 'BRC']
0 0 0

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,Chambre,None,"[150, 50]",BLC,150,50,"[150, 50]",TLC
2,None,None,"[650, 50]",TRC,650,50,NaN,NaN
3,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
4,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
5,Cuisine,None,"[650, 290]",BRC,650,290,"[650, 290]",BRC
6,Cuisine,None,"[525, 450]",BRC,525,450,"[525, 450]",BRC
7,Toilettes,None,"[650, 190]",BRC,650,190,NaN,NaN
8,Toilettes,None,"[550, 290]",BRC,550,290,"[550, 290]",BRC
9,Chambre,None,"[250, 450]",BLC,250,450,NaN,NaN
10,Salle de bain,None,"[525, 300]",BRC,525,300,NaN,NaN
11,Salle de bain,None,"[325, 450]",BRC,325,450,NaN,NaN
12,Salle à manger,None,"[550, 50]",BRC,550,50,NaN,NaN
13,Salle à manger,None,"[425, 290]",BRC,425,290,NaN,NaN

0 Appartement 1000
1 Toilettes 5
2 Chambre 2
3 Salle de bain 4
4 Salle de bain 4
5 Salle à manger 1
6 Salle à manger 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          BRC     1
1  Salle à manger  None  [425, 290]          BRC     1
2         Chambre  None  [250, 450]          BLC     2
3   Salle de bain  None  [525, 300]          BRC     4
4   Salle de bain  None  [325, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Salle de bain
Salle de bain
Toilettes
Appartement
HORIZONTAL
Salle à manger Appartement 100
Salle à manger
classique
classique
0 0 1
Changé:  325 50 225 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [325, 50]          BLC     1
1  Salle à manger  None  [425, 290]          BRC     1
2         Chambre  None  [250, 450]          BLC     2
3   Salle de bain  None  [525, 300]          BRC     4
4   Salle de bain  None  [325, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          BRC     1
1  Salle à manger  None  [425, 290]          BRC     1
2         Chambre  None  [250, 450]          BLC     2
3   Salle de bain  None  [525, 300]          BRC     4
4   Salle de bain  None  [325, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6     Appartement  None   [650, 50]          TRC  1000

Ancien:  425 50 125 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          BRC     1
1  Salle à manger  None  [425, 290]          BRC     1
2         Chambre  None  [250, 450]          BLC     2
3   Salle de bain  None  [525, 300]          BRC     4
4   Salle de bain  None  [325, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Salle de bain
Salle de bain
Toilettes
Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Salle de bain
Salle de bain
Toilettes
Appartement

 Salle de bain

Salle à manger
Salle à manger
Chambre
Salle de bain
Salle de bain
Toilettes
Appartement

 Salle de bain

Salle à manger
Salle à manger
Chambre
Salle de bain
Salle de bain
Toilettes
Appartement

 Toilettes

Salle à manger
Salle à manger
Chambre
Salle de bain
Salle de bain
Toilettes
Appartement

 Appartement

Salle à manger
Salle à manger
Chambre
Salle de bain
Salle de bain
Toilettes
Appartement
[[250, 450], [650, 190]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          BRC     1
1  Salle à manger  None  [425, 290]          BRC     1
2         Chambre  None  [250, 450]          BLC     2
3   Salle de bain  None  [525, 300]          BRC     4
4   Salle de bain  None  [325, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6     Appartement  None   [650, 50]          TRC  1000

[]
Cuisine
0 0 0
Toilettes
0 0 0
Chambre
0 0 0
Salle de bain
0 0 0
Salle à manger
0 0 0

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [650, 50, 'TRC']
Toilettes placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
REMOVED : [[650, 50, 'TRC']]
Removed corner : [550, 50, 'TRC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 150, 'TRC']]
REMOVED : [[650, 50, 'TRC']]
Removed corner : [150, 450, 'BLC']
Salle de bain placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 325, 'BLC'], [310, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [650, 150, 'TRC'], [150, 325, 'BLC'], [310, 450, 'BLC'], [550, 50, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [150, 450, 'BLC']]
Removed corner : [550, 50, 'TRC']
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 325, 'BLC'], [310, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [650, 150, 'TRC'], [150, 325, 'BLC'], [310, 450, 'BLC']]
REMOVED : [[650, 50, 'TRC'], [150, 450, 'BLC']]
Removed corner : [310, 450, 'BLC']
Chambre placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 325, 'BLC'], [310, 450, 'BLC'], [310, 325, 'BLC'], [550, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [650, 150, 'TRC'], [150, 325, 'BLC'], [310, 325, 'BLC'], [550, 450, 'BLC'], [550, 50, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [150, 450, 'BLC'], [310, 450, 'BLC']]
Removed corner : [150, 325, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 325, 'BLC'], [310, 450, 'BLC'], [310, 325, 'BLC'], [550, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [650, 150, 'TRC'], [310, 325, 'BLC'], [550, 450, 'BLC'], [550, 50, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [150, 450, 'BLC'], [310, 450, 'BLC']]
Removed corner : [310, 325, 'BLC']
classique
classique
hors champs = 1, superposition = 0, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 325, 'BLC'], [310, 450, 'BLC'], [310, 325, 'BLC'], [550, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [650, 150, 'TRC'], [550, 450, 'BLC'], [550, 50, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [150, 450, 'BLC'], [310, 450, 'BLC']]
Removed corner : [550, 50, 'TRC']
Removed corner : [650, 450, 'BRC']
Removed corner : [550, 450, 'BLC']
Salle à manger Toilettes close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 325, 'BLC'], [310, 450, 'BLC'], [310, 325, 'BLC'], [550, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 150, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [150, 450, 'BLC'], [310, 450, 'BLC']]
Removed corner : [650, 150, 'TRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 325, 'BLC'], [310, 450, 'BLC'], [310, 325, 'BLC'], [550, 450, 'BLC']]
COINS : [[150, 50, 'TLC']]
REMOVED : [[650, 50, 'TRC'], [150, 450, 'BLC'], [310, 450, 'BLC']]
Removed corner : [150, 50, 'TLC']
Salle à manger Salle de bain close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 325, 'BLC'], [310, 450, 'BLC'], [310, 325, 'BLC'], [550, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 325, 'BLC'], [310, 325, 'BLC'], [550, 450, 'BLC']]
REMOVED : [[650, 50, 'TRC'], [150, 450, 'BLC'], [310, 450, 'BLC']]
Removed corner : [550, 50, 'TRC']
Salle à manger placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 325, 'BLC'], [310, 450, 'BLC'], [310, 325, 'BLC'], [550, 450, 'BLC'], [425, 50, 'TRC'], [550, 210, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [650, 150, 'TRC'], [150, 325, 'BLC'], [310, 325, 'BLC'], [550, 450, 'BLC'], [425, 50, 'TRC'], [550, 210, 'TRC'], [150, 50, 'TLC'], [650, 150, 'TRC'], [550, 450, 'BLC'], [310, 325, 'BLC'], [150, 325, 'BLC']]
REMOVED : [[650, 50, 'TRC'], [150, 450, 'BLC'], [310, 450, 'BLC'], [550, 50, 'TRC']]
Removed corner : [550, 450, 'BLC']
Removed corner : [550, 450, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [150, 325, 'BLC'], [310, 450, 'BLC'], [310, 325, 'BLC'], [550, 450, 'BLC'], [425, 50, 'TRC'], [550, 210, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [650, 150, 'TRC'], [150, 325, 'BLC'], [310, 325, 'BLC'], [425, 50, 'TRC'], [550, 210, 'TRC'], [150, 50, 'TLC'], [650, 150, 'TRC'], [310, 325, 'BLC'], [150, 325, 'BLC']]
REMOVED : [[650, 50, 'TRC'], [150, 450, 'BLC'], [310, 450, 'BLC'], [550, 50, 'TRC']]
Removed corner : [310, 325, 'BLC']
Removed corner : [310, 325, 'BLC']
Removed corner : [150, 325, 'BLC']
Removed corner : [150, 325, 'BLC']
Cuisine placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [550, 50, TRC]       Toilettes  None
5   [650, 150, TRC]       Toilettes  None
6   [150, 325, BLC]   Salle de bain  None
7   [310, 450, BLC]   Salle de bain  None
8   [310, 325, BLC]         Chambre  None
9   [550, 450, BLC]         Chambre  None
10   [425, 50, TRC]  Salle à manger  None
11  [550, 210, TRC]  Salle à manger  None
12   [150, 75, BLC]         Cuisine  None
13  [310, 325, BLC]         Cuisine  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[550, 50, 'TRC']
[650, 150, 'TRC']
[150, 325, 'BLC']
[310, 450, 'BLC']
[310, 325, 'BLC']
[550, 450, 'BLC']
[425, 50, 'TRC']
[550, 210, 'TRC']
[150, 75, 'BLC']
[310, 325, 'BLC']
[650, 50, 'TRC']
[150, 450, 'BLC']
[310, 450, 'BLC']
[550, 50, 'TRC']
[310, 325, 'BLC']
[310, 325, 'BLC']
[150, 325, 'BLC']
[150, 325, 'BLC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4        Toilettes  None   [550, 50]        TRC       550        50
5        Toilettes  None  [650, 150]        TRC       650       150
6    Salle de bain  None  [150, 325]        BLC       150       325
7    Salle de bain  None  [310, 450]        BLC       310       450
8          Chambre  None  [310, 325]        BLC       310       325
9          Chambre  None  [550, 450]        BLC       550       450
10  Salle à manger  None   [425, 50]        TRC       425        50
11  Salle à manger  None  [550, 210]        TRC       550       210
12         Cuisine  None   [150, 75]        BLC       150        75
13         Cuisine  None  [310, 325]        BLC       310       325

       corner cornertype  x_corner  y_corner
0   [650, 50]        TRC       650        50
1  [150, 450]        BLC       150       450
2  [310, 450]        BLC       310       450
3   [550, 50]        TRC       550        50
4  [310, 325]        BLC       310       325
5  [310, 325]        BLC       310       325
6  [150, 325]        BLC       150       325
7  [150, 325]        BLC       150       325

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,NaN,NaN
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Toilettes,None,"[550, 50]",TRC,550,50,"[550, 50]",TRC
5,Toilettes,None,"[650, 150]",TRC,650,150,NaN,NaN
6,Salle de bain,None,"[150, 325]",BLC,150,325,"[150, 325]",BLC
7,Salle de bain,None,"[150, 325]",BLC,150,325,"[150, 325]",BLC
8,Salle de bain,None,"[310, 450]",BLC,310,450,"[310, 450]",BLC
9,Chambre,None,"[310, 325]",BLC,310,325,"[310, 325]",BLC
10,Chambre,None,"[310, 325]",BLC,310,325,"[310, 325]",BLC
11,Cuisine,None,"[310, 325]",BLC,310,325,"[310, 325]",BLC
12,Cuisine,None,"[310, 325]",BLC,310,325,"[310, 325]",BLC
13,Chambre,None,"[550, 450]",BLC,550,450,NaN,NaN
14,Salle à manger,None,"[425, 50]",TRC,425,50,NaN,NaN
15,Salle à manger,None,"[550, 210]",TRC,550,210,NaN,NaN
16,Cuisine,None,"[150, 75]",BLC,150,75,NaN,NaN

0 Appartement 1000
1 Appartement 1000
2 Toilettes 5
3 Chambre 2
4 Salle à manger 1
5 Salle à manger 1
6 Cuisine 3

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [425, 50]          TRC     1
1  Salle à manger  None  [550, 210]          TRC     1
2         Chambre  None  [550, 450]          BLC     2
3         Cuisine  None   [150, 75]          BLC     3
4       Toilettes  None  [650, 150]          TRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None  [650, 450]          BRC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Toilettes
Appartement
Appartement

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Toilettes
Appartement
Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Cuisine
Toilettes
Appartement
Appartement
HORIZONTAL
Chambre Appartement 100
Chambre
Removed corner : [310, 325, 'BLC']
Removed corner : [650, 450, 'BRC']
0 0 0
Changé:  310 325 340 125

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [425, 50]          TRC     1
1  Salle à manger  None  [550, 210]          TRC     1
2         Chambre  None  [650, 325]          BRC     2
3         Cuisine  None   [150, 75]          BLC     3
4       Toilettes  None  [650, 150]          TRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None  [650, 450]          BRC  1000

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Toilettes
Appartement
VERTICAL
Cuisine Appartement 25
Cuisine
Removed corner : [150, 50, 'TLC']
Removed corner : [150, 50, 'TLC']
0 0 0
Changé:  150 50 160 275

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [425, 50]          TRC     1
1  Salle à manger  None  [550, 210]          TRC     1
2         Chambre  None  [650, 325]          BRC     2
3         Cuisine  None   [310, 50]          TLC     3
4       Toilettes  None  [650, 150]          TRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None  [650, 450]          BRC  1000

Appartement

 Toilettes

Salle à manger
Salle à manger
Chambre
VERTICAL
Toilettes Chambre 175
Chambre
Removed corner : [650, 150, 'TRC']
Removed corner : [650, 150, 'TRC']
Chambre Salle à manger close edge tb
0 1 0
Changé:  310 150 340 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [425, 50]          TRC     1
1  Salle à manger  None  [550, 210]          TRC     1
2         Chambre  None  [650, 325]          BRC     2
3         Cuisine  None   [310, 50]          TLC     3
4       Toilettes  None  [310, 150]          TRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None  [650, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [425, 50]          TRC     1
1  Salle à manger  None  [550, 210]          TRC     1
2         Chambre  None  [650, 325]          BRC     2
3         Cuisine  None   [310, 50]          TLC     3
4       Toilettes  None  [650, 150]          TRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None  [650, 450]          BRC  1000

Ancien:  310 325 340 125

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [425, 50]          TRC     1
1  Salle à manger  None  [550, 210]          TRC     1
2         Chambre  None  [650, 325]          BRC     2
3         Cuisine  None   [310, 50]          TLC     3
4       Toilettes  None  [650, 150]          TRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None  [650, 450]          BRC  1000

Cuisine
Toilettes
Appartement
Appartement
VERTICAL
Toilettes Appartement 300
Toilettes
Removed corner : [550, 450, 'BLC']
Toilettes Chambre close edge tb
0 1 0
Changé:  550 50 100 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [425, 50]          TRC     1
1  Salle à manger  None  [550, 210]          TRC     1
2         Chambre  None  [650, 325]          BRC     2
3         Cuisine  None   [310, 50]          TLC     3
4       Toilettes  None  [550, 450]          BRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None  [650, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [425, 50]          TRC     1
1  Salle à manger  None  [550, 210]          TRC     1
2         Chambre  None  [650, 325]          BRC     2
3         Cuisine  None   [310, 50]          TLC     3
4       Toilettes  None  [650, 150]          TRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None  [650, 450]          BRC  1000

Ancien:  550 50 100 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [425, 50]          TRC     1
1  Salle à manger  None  [550, 210]          TRC     1
2         Chambre  None  [650, 325]          BRC     2
3         Cuisine  None   [310, 50]          TLC     3
4       Toilettes  None  [650, 150]          TRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None  [650, 450]          BRC  1000

 Appartement

Salle à manger
Salle à manger
Chambre
Cuisine
Toilettes
Appartement
Appartement

 Appartement

Salle à manger
Salle à manger
Chambre
VERTICAL
Appartement Chambre 125
Chambre
Chambre Salle à manger close edge tb
0 1 0
Changé:  310 200 340 250

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [425, 50]          TRC     1
1  Salle à manger  None  [550, 210]          TRC     1
2         Chambre  None  [650, 325]          BRC     2
3         Cuisine  None   [310, 50]          TLC     3
4       Toilettes  None  [650, 150]          TRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None  [310, 200]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [425, 50]          TRC     1
1  Salle à manger  None  [550, 210]          TRC     1
2         Chambre  None  [650, 325]          BRC     2
3         Cuisine  None   [310, 50]          TLC     3
4       Toilettes  None  [650, 150]          TRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None  [650, 450]          BRC  1000

Ancien:  310 325 340 125

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [425, 50]          TRC     1
1  Salle à manger  None  [550, 210]          TRC     1
2         Chambre  None  [650, 325]          BRC     2
3         Cuisine  None   [310, 50]          TLC     3
4       Toilettes  None  [650, 150]          TRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None  [650, 450]          BRC  1000

Cuisine
Toilettes
VERTICAL
Appartement Toilettes 300
Toilettes
Toilettes Chambre close edge tb
0 1 0
Changé:  550 50 100 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [425, 50]          TRC     1
1  Salle à manger  None  [550, 210]          TRC     1
2         Chambre  None  [650, 325]          BRC     2
3         Cuisine  None   [310, 50]          TLC     3
4       Toilettes  None  [650, 150]          TRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None  [550, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [425, 50]          TRC     1
1  Salle à manger  None  [550, 210]          TRC     1
2         Chambre  None  [650, 325]          BRC     2
3         Cuisine  None   [310, 50]          TLC     3
4       Toilettes  None  [650, 150]          TRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None  [650, 450]          BRC  1000

Ancien:  550 50 100 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [425, 50]          TRC     1
1  Salle à manger  None  [550, 210]          TRC     1
2         Chambre  None  [650, 325]          BRC     2
3         Cuisine  None   [310, 50]          TLC     3
4       Toilettes  None  [650, 150]          TRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None  [650, 450]          BRC  1000

Appartement
Appartement
[[550, 450], [150, 75]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [425, 50]          TRC     1
1  Salle à manger  None  [550, 210]          TRC     1
2         Chambre  None  [650, 325]          BRC     2
3         Cuisine  None   [310, 50]          TLC     3
4       Toilettes  None  [650, 150]          TRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None  [650, 450]          BRC  1000

[<__main__.Cuisine object at 0x00000238F49E02B0>, <__main__.Chambre object at 0x00000238F49E0CA0>, <__main__.Toilettes object at 0x00000238F49E0580>, <__main__.Chambre object at 0x00000238F49E0CA0>, <__main__.Toilettes object at 0x00000238F49E0580>]
Toilettes
0 0 0
Salle de bain
0 0 0
Chambre
0 0 0
Salle à manger
Removed corner : [425, 50, 'TRC']
Removed corner : [550, 210, 'TRC']
0 0 0
Cuisine
0 0 0

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [650, 50, 'TRC']
Cuisine placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 350, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 350, 'TRC']]
REMOVED : [[650, 50, 'TRC']]
Removed corner : [650, 350, 'TRC']
Removed corner : [650, 450, 'BRC']
Toilettes placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 350, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC']]
REMOVED : [[650, 50, 'TRC'], [650, 350, 'TRC'], [650, 450, 'BRC']]
Removed corner : [150, 450, 'BLC']
Chambre placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 350, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [150, 325, 'BLC'], [470, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [550, 50, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [150, 325, 'BLC'], [470, 450, 'BLC']]
REMOVED : [[650, 50, 'TRC'], [650, 350, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
Removed corner : [150, 325, 'BLC']
Salle de bain placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 350, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [150, 325, 'BLC'], [470, 450, 'BLC'], [150, 225, 'BLC'], [350, 325, 'BLC']]
COINS : [[150, 50, 'TLC'], [550, 50, 'TRC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [470, 450, 'BLC'], [150, 225, 'BLC'], [350, 325, 'BLC']]
REMOVED : [[650, 50, 'TRC'], [650, 350, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 325, 'BLC']]
Removed corner : [150, 50, 'TLC']
Salle à manger placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [550, 50, TRC]         Cuisine  None
5   [650, 350, TRC]         Cuisine  None
6   [650, 350, BRC]       Toilettes  None
7   [550, 450, BRC]       Toilettes  None
8   [150, 325, BLC]         Chambre  None
9   [470, 450, BLC]         Chambre  None
10  [150, 225, BLC]   Salle de bain  None
11  [350, 325, BLC]   Salle de bain  None
12   [350, 50, TLC]  Salle à manger  None
13  [150, 150, TLC]  Salle à manger  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[550, 50, 'TRC']
[650, 350, 'TRC']
[650, 350, 'BRC']
[550, 450, 'BRC']
[150, 325, 'BLC']
[470, 450, 'BLC']
[150, 225, 'BLC']
[350, 325, 'BLC']
[350, 50, 'TLC']
[150, 150, 'TLC']
[650, 50, 'TRC']
[650, 350, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[150, 325, 'BLC']
[150, 50, 'TLC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Cuisine  None   [550, 50]        TRC       550        50
5          Cuisine  None  [650, 350]        TRC       650       350
6        Toilettes  None  [650, 350]        BRC       650       350
7        Toilettes  None  [550, 450]        BRC       550       450
8          Chambre  None  [150, 325]        BLC       150       325
9          Chambre  None  [470, 450]        BLC       470       450
10   Salle de bain  None  [150, 225]        BLC       150       225
11   Salle de bain  None  [350, 325]        BLC       350       325
12  Salle à manger  None   [350, 50]        TLC       350        50
13  Salle à manger  None  [150, 150]        TLC       150       150

       corner cornertype  x_corner  y_corner
0   [650, 50]        TRC       650        50
1  [650, 350]        TRC       650       350
2  [650, 450]        BRC       650       450
3  [150, 450]        BLC       150       450
4  [150, 325]        BLC       150       325
5   [150, 50]        TLC       150        50

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Cuisine,None,"[550, 50]",TRC,550,50,NaN,NaN
5,Cuisine,None,"[650, 350]",TRC,650,350,"[650, 350]",TRC
6,Toilettes,None,"[650, 350]",BRC,650,350,"[650, 350]",TRC
7,Toilettes,None,"[550, 450]",BRC,550,450,NaN,NaN
8,Chambre,None,"[150, 325]",BLC,150,325,"[150, 325]",BLC
9,Chambre,None,"[470, 450]",BLC,470,450,NaN,NaN
10,Salle de bain,None,"[150, 225]",BLC,150,225,NaN,NaN
11,Salle de bain,None,"[350, 325]",BLC,350,325,NaN,NaN
12,Salle à manger,None,"[350, 50]",TLC,350,50,NaN,NaN
13,Salle à manger,None,"[150, 150]",TLC,150,150,NaN,NaN

0 Cuisine 3
1 Toilettes 5
2 Chambre 2
3 Salle de bain 4
4 Salle de bain 4
5 Salle à manger 1
6 Salle à manger 1

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [350, 50]          TLC    1
1  Salle à manger  None  [150, 150]          TLC    1
2         Chambre  None  [470, 450]          BLC    2
3         Cuisine  None   [550, 50]          TRC    3
4   Salle de bain  None  [150, 225]          BLC    4
5   Salle de bain  None  [350, 325]          BLC    4
6       Toilettes  None  [550, 450]          BRC    5

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
VERTICAL
Salle à manger Salle de bain 75
Salle à manger
Removed corner : [350, 50, 'TLC']
Removed corner : [150, 225, 'BLC']
0 0 0
Changé:  150 50 200 175

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [350, 50]          TLC    1
1  Salle à manger  None  [350, 225]          BLC    1
2         Chambre  None  [470, 450]          BLC    2
3         Cuisine  None   [550, 50]          TRC    3
4   Salle de bain  None  [150, 225]          BLC    4
5   Salle de bain  None  [350, 325]          BLC    4
6       Toilettes  None  [550, 450]          BRC    5

Salle de bain
Toilettes

 Chambre

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
HORIZONTAL
Chambre Toilettes 80
Chambre
Removed corner : [550, 450, 'BRC']
0 0 0
Changé:  150 325 400 125

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [350, 50]          TLC    1
1  Salle à manger  None  [350, 225]          BLC    1
2         Chambre  None  [550, 325]          BRC    2
3         Cuisine  None   [550, 50]          TRC    3
4   Salle de bain  None  [150, 225]          BLC    4
5   Salle de bain  None  [350, 325]          BLC    4
6       Toilettes  None  [550, 450]          BRC    5

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes

 Salle de bain

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes

 Salle de bain

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
[[150, 150], [470, 450]]

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [350, 50]          TLC    1
1  Salle à manger  None  [350, 225]          BLC    1
2         Chambre  None  [550, 325]          BRC    2
3         Cuisine  None   [550, 50]          TRC    3
4   Salle de bain  None  [150, 225]          BLC    4
5   Salle de bain  None  [350, 325]          BLC    4
6       Toilettes  None  [550, 450]          BRC    5

[<__main__.Sam object at 0x00000238F8B60610>]
Cuisine
Removed corner : [550, 50, 'TRC']
Removed corner : [650, 350, 'BRC']
0 0 0
Toilettes
0 0 0
Chambre
0 0 0
Salle de bain
Removed corner : [350, 325, 'BLC']
0 0 0
Salle à manger
0 0 0

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Cuisine,None,"[550, 50]",TRC,550,50,NaN,NaN
5,Cuisine,None,"[650, 350]",TRC,650,350,"[650, 350]",TRC
6,Toilettes,None,"[650, 350]",BRC,650,350,"[650, 350]",TRC
7,Toilettes,None,"[550, 450]",BRC,550,450,NaN,NaN
8,Chambre,None,"[150, 325]",BLC,150,325,"[150, 325]",BLC
9,Chambre,None,"[470, 450]",BLC,470,450,NaN,NaN
10,Salle de bain,None,"[150, 225]",BLC,150,225,NaN,NaN
11,Salle de bain,None,"[350, 325]",BLC,350,325,NaN,NaN
12,Salle à manger,None,"[350, 50]",TLC,350,50,NaN,NaN
13,Salle à manger,None,"[150, 150]",TLC,150,150,NaN,NaN

0 Cuisine 3
1 Toilettes 5
2 Chambre 2
3 Salle de bain 4
4 Salle de bain 4
5 Salle à manger 1
6 Salle à manger 1

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [350, 50]          TLC    1
1  Salle à manger  None  [150, 150]          TLC    1
2         Chambre  None  [470, 450]          BLC    2
3         Cuisine  None   [550, 50]          TRC    3
4   Salle de bain  None  [150, 225]          BLC    4
5   Salle de bain  None  [350, 325]          BLC    4
6       Toilettes  None  [550, 450]          BRC    5

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes

 Chambre

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes

 Salle de bain

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes

 Salle de bain

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
[[150, 150], [470, 450]]

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [350, 50]          TLC    1
1  Salle à manger  None  [150, 150]          TLC    1
2         Chambre  None  [470, 450]          BLC    2
3         Cuisine  None   [550, 50]          TRC    3
4   Salle de bain  None  [150, 225]          BLC    4
5   Salle de bain  None  [350, 325]          BLC    4
6       Toilettes  None  [550, 450]          BRC    5

[]
Cuisine
0 0 0
Toilettes
0 0 0
Chambre
0 0 0
Salle de bain
0 0 0
Salle à manger
0 0 0

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 450, 'BLC']
Salle de bain placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [250, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 250, 'BLC'], [250, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC']]
Removed corner : [650, 450, 'BRC']
Toilettes placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [250, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 250, 'BLC'], [250, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [650, 450, 'BRC']]
Removed corner : [650, 350, 'BRC']
Salle à manger placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [250, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [650, 150, 'BRC'], [550, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 250, 'BLC'], [250, 450, 'BLC'], [550, 450, 'BRC'], [650, 150, 'BRC'], [550, 350, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [650, 450, 'BRC'], [650, 350, 'BRC']]
Removed corner : [550, 450, 'BRC']
Chambre placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [250, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [650, 150, 'BRC'], [550, 350, 'BRC'], [550, 250, 'BRC'], [350, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 250, 'BLC'], [250, 450, 'BLC'], [650, 150, 'BRC'], [550, 350, 'BRC'], [550, 250, 'BRC'], [350, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [650, 450, 'BRC'], [650, 350, 'BRC'], [550, 450, 'BRC']]
Removed corner : [150, 50, 'TLC']
Removed corner : [150, 250, 'BLC']
Cuisine placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [150, 250, BLC]   Salle de bain  None
5   [250, 450, BLC]   Salle de bain  None
6   [650, 350, BRC]       Toilettes  None
7   [550, 450, BRC]       Toilettes  None
8   [650, 150, BRC]  Salle à manger  None
9   [550, 350, BRC]  Salle à manger  None
10  [550, 250, BRC]         Chambre  None
11  [350, 450, BRC]         Chambre  None
12   [250, 50, TLC]         Cuisine  None
13  [150, 250, TLC]         Cuisine  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[150, 250, 'BLC']
[250, 450, 'BLC']
[650, 350, 'BRC']
[550, 450, 'BRC']
[650, 150, 'BRC']
[550, 350, 'BRC']
[550, 250, 'BRC']
[350, 450, 'BRC']
[250, 50, 'TLC']
[150, 250, 'TLC']
[150, 450, 'BLC']
[650, 450, 'BRC']
[650, 350, 'BRC']
[550, 450, 'BRC']
[150, 50, 'TLC']
[150, 250, 'BLC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4    Salle de bain  None  [150, 250]        BLC       150       250
5    Salle de bain  None  [250, 450]        BLC       250       450
6        Toilettes  None  [650, 350]        BRC       650       350
7        Toilettes  None  [550, 450]        BRC       550       450
8   Salle à manger  None  [650, 150]        BRC       650       150
9   Salle à manger  None  [550, 350]        BRC       550       350
10         Chambre  None  [550, 250]        BRC       550       250
11         Chambre  None  [350, 450]        BRC       350       450
12         Cuisine  None   [250, 50]        TLC       250        50
13         Cuisine  None  [150, 250]        TLC       150       250

       corner cornertype  x_corner  y_corner
0  [150, 450]        BLC       150       450
1  [650, 450]        BRC       650       450
2  [650, 350]        BRC       650       350
3  [550, 450]        BRC       550       450
4   [150, 50]        TLC       150        50
5  [150, 250]        BLC       150       250

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Salle de bain,None,"[150, 250]",BLC,150,250,"[150, 250]",BLC
5,Cuisine,None,"[150, 250]",TLC,150,250,"[150, 250]",BLC
6,Salle de bain,None,"[250, 450]",BLC,250,450,NaN,NaN
7,Toilettes,None,"[650, 350]",BRC,650,350,"[650, 350]",BRC
8,Toilettes,None,"[550, 450]",BRC,550,450,"[550, 450]",BRC
9,Salle à manger,None,"[650, 150]",BRC,650,150,NaN,NaN
10,Salle à manger,None,"[550, 350]",BRC,550,350,NaN,NaN
11,Chambre,None,"[550, 250]",BRC,550,250,NaN,NaN
12,Chambre,None,"[350, 450]",BRC,350,450,NaN,NaN
13,Cuisine,None,"[250, 50]",TLC,250,50,NaN,NaN

0 Appartement 1000
1 Salle de bain 4
2 Salle à manger 1
3 Salle à manger 1
4 Chambre 2
5 Chambre 2
6 Cuisine 3

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 150]          BRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [550, 250]          BRC     2
3         Chambre  None  [350, 450]          BRC     2
4         Cuisine  None   [250, 50]          TLC     3
5   Salle de bain  None  [250, 450]          BLC     4
6     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Appartement
VERTICAL
Salle à manger Appartement 100
Salle à manger
Removed corner : [650, 50, 'TRC']
Removed corner : [550, 350, 'BRC']
0 0 0
Changé:  550 50 100 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          TRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [550, 250]          BRC     2
3         Chambre  None  [350, 450]          BRC     2
4         Cuisine  None   [250, 50]          TLC     3
5   Salle de bain  None  [250, 450]          BLC     4
6     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
HORIZONTAL
Chambre Salle de bain 100
Chambre
Removed corner : [550, 250, 'BRC']
Removed corner : [250, 450, 'BLC']
0 0 0
Changé:  250 250 300 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          TRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [550, 250]          BRC     2
3         Chambre  None  [250, 250]          BLC     2
4         Cuisine  None   [250, 50]          TLC     3
5   Salle de bain  None  [250, 450]          BLC     4
6     Appartement  None   [650, 50]          TRC  1000

Appartement

 Cuisine

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Appartement

 Salle de bain

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Appartement

 Appartement

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Appartement
[[650, 150], [350, 450]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          TRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [550, 250]          BRC     2
3         Chambre  None  [250, 250]          BLC     2
4         Cuisine  None   [250, 50]          TLC     3
5   Salle de bain  None  [250, 450]          BLC     4
6     Appartement  None   [650, 50]          TRC  1000

[<__main__.Sam object at 0x00000238F49EE820>]
Salle de bain
Removed corner : [150, 250, 'TLC']
0 0 0
Toilettes
0 0 0
Salle à manger
0 0 0
Chambre
0 0 0
Cuisine
Removed corner : [250, 50, 'TLC']
0 0 0

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Salle de bain,None,"[150, 250]",BLC,150,250,"[150, 250]",BLC
5,Cuisine,None,"[150, 250]",TLC,150,250,"[150, 250]",BLC
6,Salle de bain,None,"[250, 450]",BLC,250,450,NaN,NaN
7,Toilettes,None,"[650, 350]",BRC,650,350,"[650, 350]",BRC
8,Toilettes,None,"[550, 450]",BRC,550,450,"[550, 450]",BRC
9,Salle à manger,None,"[650, 150]",BRC,650,150,NaN,NaN
10,Salle à manger,None,"[550, 350]",BRC,550,350,NaN,NaN
11,Chambre,None,"[550, 250]",BRC,550,250,NaN,NaN
12,Chambre,None,"[350, 450]",BRC,350,450,NaN,NaN
13,Cuisine,None,"[250, 50]",TLC,250,50,NaN,NaN

0 Appartement 1000
1 Salle de bain 4
2 Salle à manger 1
3 Salle à manger 1
4 Chambre 2
5 Chambre 2
6 Cuisine 3

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 150]          BRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [550, 250]          BRC     2
3         Chambre  None  [350, 450]          BRC     2
4         Cuisine  None   [250, 50]          TLC     3
5   Salle de bain  None  [250, 450]          BLC     4
6     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Appartement

 Salle à manger

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Appartement

 Cuisine

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Appartement

 Salle de bain

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Appartement

 Appartement

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Appartement
[[650, 150], [350, 450]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 150]          BRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [550, 250]          BRC     2
3         Chambre  None  [350, 450]          BRC     2
4         Cuisine  None   [250, 50]          TLC     3
5   Salle de bain  None  [250, 450]          BLC     4
6     Appartement  None   [650, 50]          TRC  1000

[]
Salle de bain
0 0 0
Toilettes
0 0 0
Salle à manger
0 0 0
Chambre
0 0 0
Cuisine
0 0 0

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [650, 450, 'BRC']
Cuisine placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 210, 'BRC'], [525, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 210, 'BRC'], [525, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC']]
Removed corner : [150, 50, 'TLC']
Salle de bain placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 210, 'BRC'], [525, 450, 'BRC'], [300, 50, 'TLC'], [150, 250, 'TLC']]
COINS : [[650, 50, 'TRC'], [150, 450, 'BLC'], [650, 210, 'BRC'], [525, 450, 'BRC'], [300, 50, 'TLC'], [150, 250, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [150, 50, 'TLC']]
Removed corner : [650, 210, 'BRC']
Salle à manger placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 210, 'BRC'], [525, 450, 'BRC'], [300, 50, 'TLC'], [150, 250, 'TLC'], [650, 110, 'BRC'], [450, 210, 'BRC']]
COINS : [[650, 50, 'TRC'], [150, 450, 'BLC'], [525, 450, 'BRC'], [300, 50, 'TLC'], [150, 250, 'TLC'], [650, 110, 'BRC'], [450, 210, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [150, 50, 'TLC'], [650, 210, 'BRC']]
Removed corner : [650, 110, 'BRC']
classique
classique
classique
classique
hors champs = 1, superposition = 0, superpositionPlaced = 1

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 210, 'BRC'], [525, 450, 'BRC'], [300, 50, 'TLC'], [150, 250, 'TLC'], [650, 110, 'BRC'], [450, 210, 'BRC']]
COINS : [[650, 50, 'TRC'], [150, 450, 'BLC'], [525, 450, 'BRC'], [300, 50, 'TLC'], [150, 250, 'TLC'], [450, 210, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [150, 50, 'TLC'], [650, 210, 'BRC']]
Removed corner : [150, 250, 'TLC']
Chambre placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 210, 'BRC'], [525, 450, 'BRC'], [300, 50, 'TLC'], [150, 250, 'TLC'], [650, 110, 'BRC'], [450, 210, 'BRC'], [450, 250, 'TLC'], [150, 350, 'TLC']]
COINS : [[650, 50, 'TRC'], [150, 450, 'BLC'], [525, 450, 'BRC'], [300, 50, 'TLC'], [450, 210, 'BRC'], [450, 250, 'TLC'], [150, 350, 'TLC'], [650, 110, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [150, 50, 'TLC'], [650, 210, 'BRC'], [150, 250, 'TLC']]
Removed corner : [150, 350, 'TLC']
Removed corner : [150, 450, 'BLC']
Toilettes placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [650, 210, BRC]         Cuisine  None
5   [525, 450, BRC]         Cuisine  None
6    [300, 50, TLC]   Salle de bain  None
7   [150, 250, TLC]   Salle de bain  None
8   [650, 110, BRC]  Salle à manger  None
9   [450, 210, BRC]  Salle à manger  None
10  [450, 250, TLC]         Chambre  None
11  [150, 350, TLC]         Chambre  None
12  [150, 350, BLC]       Toilettes  None
13  [250, 450, BLC]       Toilettes  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[650, 210, 'BRC']
[525, 450, 'BRC']
[300, 50, 'TLC']
[150, 250, 'TLC']
[650, 110, 'BRC']
[450, 210, 'BRC']
[450, 250, 'TLC']
[150, 350, 'TLC']
[150, 350, 'BLC']
[250, 450, 'BLC']
[650, 450, 'BRC']
[150, 50, 'TLC']
[650, 210, 'BRC']
[150, 250, 'TLC']
[150, 350, 'TLC']
[150, 450, 'BLC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Cuisine  None  [650, 210]        BRC       650       210
5          Cuisine  None  [525, 450]        BRC       525       450
6    Salle de bain  None   [300, 50]        TLC       300        50
7    Salle de bain  None  [150, 250]        TLC       150       250
8   Salle à manger  None  [650, 110]        BRC       650       110
9   Salle à manger  None  [450, 210]        BRC       450       210
10         Chambre  None  [450, 250]        TLC       450       250
11         Chambre  None  [150, 350]        TLC       150       350
12       Toilettes  None  [150, 350]        BLC       150       350
13       Toilettes  None  [250, 450]        BLC       250       450

       corner cornertype  x_corner  y_corner
0  [650, 450]        BRC       650       450
1   [150, 50]        TLC       150        50
2  [650, 210]        BRC       650       210
3  [150, 250]        TLC       150       250
4  [150, 350]        TLC       150       350
5  [150, 450]        BLC       150       450

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Cuisine,None,"[650, 210]",BRC,650,210,"[650, 210]",BRC
5,Cuisine,None,"[525, 450]",BRC,525,450,NaN,NaN
6,Salle de bain,None,"[300, 50]",TLC,300,50,NaN,NaN
7,Salle de bain,None,"[150, 250]",TLC,150,250,"[150, 250]",TLC
8,Salle à manger,None,"[650, 110]",BRC,650,110,NaN,NaN
9,Salle à manger,None,"[450, 210]",BRC,450,210,NaN,NaN
10,Chambre,None,"[450, 250]",TLC,450,250,NaN,NaN
11,Chambre,None,"[150, 350]",TLC,150,350,"[150, 350]",TLC
12,Toilettes,None,"[150, 350]",BLC,150,350,"[150, 350]",TLC
13,Toilettes,None,"[250, 450]",BLC,250,450,NaN,NaN

0 Appartement 1000
1 Cuisine 3
2 Salle de bain 4
3 Salle à manger 1
4 Salle à manger 1
5 Chambre 2
6 Toilettes 5

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 110]          BRC     1
1  Salle à manger  None  [450, 210]          BRC     1
2         Chambre  None  [450, 250]          TLC     2
3         Cuisine  None  [525, 450]          BRC     3
4   Salle de bain  None   [300, 50]          TLC     4
5       Toilettes  None  [250, 450]          BLC     5
6     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Appartement
VERTICAL
Salle à manger Appartement 60
Salle à manger
Removed corner : [650, 50, 'TRC']
Removed corner : [450, 210, 'BRC']
0 0 0
Changé:  450 50 200 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [450, 210]          BRC     1
2         Chambre  None  [450, 250]          TLC     2
3         Cuisine  None  [525, 450]          BRC     3
4   Salle de bain  None   [300, 50]          TLC     4
5       Toilettes  None  [250, 450]          BLC     5
6     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Appartement

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
HORIZONTAL
Cuisine Toilettes 275
Cuisine
Removed corner : [250, 450, 'BLC']
classique
Cuisine Chambre center
0 1 1
Changé:  250 210 400 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [450, 210]          BRC     1
2         Chambre  None  [450, 250]          TLC     2
3         Cuisine  None  [250, 210]          BLC     3
4   Salle de bain  None   [300, 50]          TLC     4
5       Toilettes  None  [250, 450]          BLC     5
6     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [450, 210]          BRC     1
2         Chambre  None  [450, 250]          TLC     2
3         Cuisine  None  [525, 450]          BRC     3
4   Salle de bain  None   [300, 50]          TLC     4
5       Toilettes  None  [250, 450]          BLC     5
6     Appartement  None   [650, 50]          TRC  1000

Ancien:  525 210 125 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [450, 210]          BRC     1
2         Chambre  None  [450, 250]          TLC     2
3         Cuisine  None  [525, 450]          BRC     3
4   Salle de bain  None   [300, 50]          TLC     4
5       Toilettes  None  [250, 450]          BLC     5
6     Appartement  None   [650, 50]          TRC  1000

Appartement

 Salle de bain

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Appartement

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
HORIZONTAL
Toilettes Cuisine 275
Cuisine
classique
Cuisine Chambre center
0 1 1
Changé:  250 210 400 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [450, 210]          BRC     1
2         Chambre  None  [450, 250]          TLC     2
3         Cuisine  None  [525, 450]          BRC     3
4   Salle de bain  None   [300, 50]          TLC     4
5       Toilettes  None  [250, 210]          BLC     5
6     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [450, 210]          BRC     1
2         Chambre  None  [450, 250]          TLC     2
3         Cuisine  None  [525, 450]          BRC     3
4   Salle de bain  None   [300, 50]          TLC     4
5       Toilettes  None  [250, 450]          BLC     5
6     Appartement  None   [650, 50]          TRC  1000

Ancien:  525 210 125 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [450, 210]          BRC     1
2         Chambre  None  [450, 250]          TLC     2
3         Cuisine  None  [525, 450]          BRC     3
4   Salle de bain  None   [300, 50]          TLC     4
5       Toilettes  None  [250, 450]          BLC     5
6     Appartement  None   [650, 50]          TRC  1000

Salle de bain
Toilettes
Appartement

 Appartement

Salle à manger
Salle à manger
Chambre
Cuisine
Salle de bain
Toilettes
Appartement
[[650, 110]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [450, 210]          BRC     1
2         Chambre  None  [450, 250]          TLC     2
3         Cuisine  None  [525, 450]          BRC     3
4   Salle de bain  None   [300, 50]          TLC     4
5       Toilettes  None  [250, 450]          BLC     5
6     Appartement  None   [650, 50]          TRC  1000

[<__main__.Sam object at 0x00000238F8B66160>, <__main__.Cuisine object at 0x00000238F8B66670>]
Cuisine
Removed corner : [525, 450, 'BRC']
0 0 0
Salle de bain
Removed corner : [300, 50, 'TLC']
0 0 0
Salle à manger
0 0 0
Chambre
Removed corner : [450, 250, 'TLC']
Removed corner : [150, 350, 'BLC']
0 0 0
Toilettes
0 0 0

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [650, 450, 'BRC']
Salle de bain placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC']]
Removed corner : [490, 450, 'BRC']
Cuisine placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC'], [490, 200, 'BRC'], [370, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 200, 'BRC'], [370, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [490, 450, 'BRC']]
Removed corner : [370, 450, 'BRC']
Toilettes placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC'], [490, 200, 'BRC'], [370, 450, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 200, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [490, 450, 'BRC'], [370, 450, 'BRC']]
Removed corner : [490, 200, 'BRC']
classique
classique
classique
classique
hors champs = 1, superposition = 0, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC'], [490, 200, 'BRC'], [370, 450, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [490, 450, 'BRC'], [370, 450, 'BRC']]
Removed corner : [270, 450, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC'], [490, 200, 'BRC'], [370, 450, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [370, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [490, 450, 'BRC'], [370, 450, 'BRC']]
Removed corner : [150, 50, 'TLC']
Salle à manger placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC'], [490, 200, 'BRC'], [370, 450, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
COINS : [[650, 50, 'TRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [370, 350, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC'], [270, 450, 'BRC'], [490, 200, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [490, 450, 'BRC'], [370, 450, 'BRC'], [150, 50, 'TLC']]
Removed corner : [650, 325, 'BRC']
Chambre Cuisine close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC'], [490, 200, 'BRC'], [370, 450, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
COINS : [[650, 50, 'TRC'], [150, 450, 'BLC'], [370, 350, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC'], [270, 450, 'BRC'], [490, 200, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [490, 450, 'BRC'], [370, 450, 'BRC'], [150, 50, 'TLC']]
Removed corner : [370, 350, 'BRC']
Chambre Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC'], [490, 200, 'BRC'], [370, 450, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
COINS : [[650, 50, 'TRC'], [150, 450, 'BLC'], [275, 50, 'TLC'], [150, 290, 'TLC'], [270, 450, 'BRC'], [490, 200, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [490, 450, 'BRC'], [370, 450, 'BRC'], [150, 50, 'TLC']]
Removed corner : [150, 290, 'TLC']
Chambre Toilettes close edge lr
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC'], [490, 200, 'BRC'], [370, 450, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
COINS : [[650, 50, 'TRC'], [150, 450, 'BLC'], [275, 50, 'TLC'], [270, 450, 'BRC'], [490, 200, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [490, 450, 'BRC'], [370, 450, 'BRC'], [150, 50, 'TLC']]
Removed corner : [650, 50, 'TRC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC'], [490, 200, 'BRC'], [370, 450, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
COINS : [[150, 450, 'BLC'], [275, 50, 'TLC'], [270, 450, 'BRC'], [490, 200, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [490, 450, 'BRC'], [370, 450, 'BRC'], [150, 50, 'TLC']]
Removed corner : [270, 450, 'BRC']
Chambre Salle à manger close edge tb
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC'], [490, 200, 'BRC'], [370, 450, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
COINS : [[150, 450, 'BLC'], [275, 50, 'TLC'], [490, 200, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [490, 450, 'BRC'], [370, 450, 'BRC'], [150, 50, 'TLC']]
Removed corner : [275, 50, 'TLC']
Chambre Entrée close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC'], [490, 200, 'BRC'], [370, 450, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
COINS : [[150, 450, 'BLC'], [490, 200, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [490, 450, 'BRC'], [370, 450, 'BRC'], [150, 50, 'TLC']]
Removed corner : [150, 450, 'BLC']
Chambre Toilettes close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC'], [490, 200, 'BRC'], [370, 450, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
COINS : [[490, 200, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [490, 450, 'BRC'], [370, 450, 'BRC'], [150, 50, 'TLC']]
Removed corner : [490, 200, 'BRC']
Chambre Entrée center
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC'], [490, 200, 'BRC'], [370, 450, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
COINS : [[650, 50, 'TRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 200, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [490, 450, 'BRC'], [370, 450, 'BRC'], [150, 50, 'TLC']]
Removed corner : [150, 450, 'BLC']
classique
Chambre Salle à manger close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC'], [490, 200, 'BRC'], [370, 450, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 325, 'BRC'], [490, 200, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [490, 450, 'BRC'], [370, 450, 'BRC'], [150, 50, 'TLC']]
Removed corner : [270, 450, 'BRC']
Chambre Salle à manger close edge tb
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC'], [490, 200, 'BRC'], [370, 450, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 325, 'BRC'], [490, 200, 'BRC'], [370, 350, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [490, 450, 'BRC'], [370, 450, 'BRC'], [150, 50, 'TLC']]
Removed corner : [370, 350, 'BRC']
Chambre Salle à manger close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [490, 450, 'BRC'], [490, 200, 'BRC'], [370, 450, 'BRC'], [370, 350, 'BRC'], [270, 450, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 325, 'BRC'], [490, 200, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [490, 450, 'BRC'], [370, 450, 'BRC'], [150, 50, 'TLC']]
Removed corner : [650, 325, 'BRC']
Chambre placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [650, 325, BRC]   Salle de bain  None
5   [490, 450, BRC]   Salle de bain  None
6   [490, 200, BRC]         Cuisine  None
7   [370, 450, BRC]         Cuisine  None
8   [370, 350, BRC]       Toilettes  None
9   [270, 450, BRC]       Toilettes  None
10   [275, 50, TLC]  Salle à manger  None
11  [150, 290, TLC]  Salle à manger  None
12   [650, 85, BRC]         Chambre  None
13  [525, 325, BRC]         Chambre  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[650, 325, 'BRC']
[490, 450, 'BRC']
[490, 200, 'BRC']
[370, 450, 'BRC']
[370, 350, 'BRC']
[270, 450, 'BRC']
[275, 50, 'TLC']
[150, 290, 'TLC']
[650, 85, 'BRC']
[525, 325, 'BRC']
[650, 450, 'BRC']
[490, 450, 'BRC']
[370, 450, 'BRC']
[150, 50, 'TLC']
[650, 325, 'BRC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4    Salle de bain  None  [650, 325]        BRC       650       325
5    Salle de bain  None  [490, 450]        BRC       490       450
6          Cuisine  None  [490, 200]        BRC       490       200
7          Cuisine  None  [370, 450]        BRC       370       450
8        Toilettes  None  [370, 350]        BRC       370       350
9        Toilettes  None  [270, 450]        BRC       270       450
10  Salle à manger  None   [275, 50]        TLC       275        50
11  Salle à manger  None  [150, 290]        TLC       150       290
12         Chambre  None   [650, 85]        BRC       650        85
13         Chambre  None  [525, 325]        BRC       525       325

       corner cornertype  x_corner  y_corner
0  [650, 450]        BRC       650       450
1  [490, 450]        BRC       490       450
2  [370, 450]        BRC       370       450
3   [150, 50]        TLC       150        50
4  [650, 325]        BRC       650       325

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Salle de bain,None,"[650, 325]",BRC,650,325,"[650, 325]",BRC
5,Salle de bain,None,"[490, 450]",BRC,490,450,"[490, 450]",BRC
6,Cuisine,None,"[490, 200]",BRC,490,200,NaN,NaN
7,Cuisine,None,"[370, 450]",BRC,370,450,"[370, 450]",BRC
8,Toilettes,None,"[370, 350]",BRC,370,350,NaN,NaN
9,Toilettes,None,"[270, 450]",BRC,270,450,NaN,NaN
10,Salle à manger,None,"[275, 50]",TLC,275,50,NaN,NaN
11,Salle à manger,None,"[150, 290]",TLC,150,290,NaN,NaN
12,Chambre,None,"[650, 85]",BRC,650,85,NaN,NaN
13,Chambre,None,"[525, 325]",BRC,525,325,NaN,NaN

0 Appartement 1000
1 Appartement 1000
2 Cuisine 3
3 Toilettes 5
4 Toilettes 5
5 Salle à manger 1
6 Salle à manger 1
7 Chambre 2
8 Chambre 2

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Chambre  None   [650, 85]          BRC     2
3         Chambre  None  [525, 325]          BRC     2
4         Cuisine  None  [490, 200]          BRC     3
5       Toilettes  None  [370, 350]          BRC     5
6       Toilettes  None  [270, 450]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Toilettes
Toilettes
Appartement
Appartement

 Salle à manger

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Toilettes
Toilettes
Appartement
Appartement
VERTICAL
Salle à manger Appartement 160
Salle à manger
Removed corner : [275, 50, 'TLC']
Removed corner : [275, 50, 'TLC']
Removed corner : [150, 450, 'BLC']
Removed corner : [150, 450, 'BLC']
classique
0 0 1
Changé:  150 50 125 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [275, 450]          BLC     1
2         Chambre  None   [650, 85]          BRC     2
3         Chambre  None  [525, 325]          BRC     2
4         Cuisine  None  [490, 200]          BRC     3
5       Toilettes  None  [370, 350]          BRC     5
6       Toilettes  None  [270, 450]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Chambre  None   [650, 85]          BRC     2
3         Chambre  None  [525, 325]          BRC     2
4         Cuisine  None  [490, 200]          BRC     3
5       Toilettes  None  [370, 350]          BRC     5
6       Toilettes  None  [270, 450]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 50 125 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Chambre  None   [650, 85]          BRC     2
3         Chambre  None  [525, 325]          BRC     2
4         Cuisine  None  [490, 200]          BRC     3
5       Toilettes  None  [370, 350]          BRC     5
6       Toilettes  None  [270, 450]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Chambre

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Toilettes
Toilettes
Appartement
VERTICAL
Chambre Appartement 35
Chambre
Removed corner : [650, 50, 'TRC']
Removed corner : [650, 50, 'TRC']
Removed corner : [650, 325, 'BRC']
Removed corner : [525, 325, 'BRC']
0 0 0
Changé:  525 50 125 275

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Chambre  None   [525, 50]          TRC     2
3         Chambre  None  [525, 325]          BRC     2
4         Cuisine  None  [490, 200]          BRC     3
5       Toilettes  None  [370, 350]          BRC     5
6       Toilettes  None  [270, 450]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Toilettes
Toilettes
Appartement
Appartement

 Cuisine

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Toilettes
Toilettes
Appartement
Appartement

 Toilettes

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Toilettes
Toilettes
Appartement
Appartement

 Toilettes

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Toilettes
Toilettes
Appartement
Appartement
HORIZONTAL
Toilettes Appartement 120
Toilettes
Removed corner : [370, 350, 'BRC']
Removed corner : [370, 350, 'BRC']
0 0 0
Changé:  150 350 220 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Chambre  None   [525, 50]          TRC     2
3         Chambre  None  [525, 325]          BRC     2
4         Cuisine  None  [490, 200]          BRC     3
5       Toilettes  None  [370, 350]          BRC     5
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Appartement

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Toilettes
Toilettes
Appartement
Appartement

 Appartement

Salle à manger
Salle à manger
VERTICAL
Appartement Salle à manger 160
Salle à manger
Salle à manger Toilettes close edge tb
0 1 0
Changé:  150 50 125 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Chambre  None   [525, 50]          TRC     2
3         Chambre  None  [525, 325]          BRC     2
4         Cuisine  None  [490, 200]          BRC     3
5       Toilettes  None  [370, 350]          BRC     5
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [275, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Chambre  None   [525, 50]          TRC     2
3         Chambre  None  [525, 325]          BRC     2
4         Cuisine  None  [490, 200]          BRC     3
5       Toilettes  None  [370, 350]          BRC     5
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 50 125 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Chambre  None   [525, 50]          TRC     2
3         Chambre  None  [525, 325]          BRC     2
4         Cuisine  None  [490, 200]          BRC     3
5       Toilettes  None  [370, 350]          BRC     5
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Chambre
Chambre
Cuisine
Toilettes
Toilettes
VERTICAL
Appartement Toilettes 100
Toilettes
Toilettes Salle à manger close edge tb
0 1 0
Changé:  150 250 220 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Chambre  None   [525, 50]          TRC     2
3         Chambre  None  [525, 325]          BRC     2
4         Cuisine  None  [490, 200]          BRC     3
5       Toilettes  None  [370, 350]          BRC     5
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [370, 250]          TLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Chambre  None   [525, 50]          TRC     2
3         Chambre  None  [525, 325]          BRC     2
4         Cuisine  None  [490, 200]          BRC     3
5       Toilettes  None  [370, 350]          BRC     5
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 350 220 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Chambre  None   [525, 50]          TRC     2
3         Chambre  None  [525, 325]          BRC     2
4         Cuisine  None  [490, 200]          BRC     3
5       Toilettes  None  [370, 350]          BRC     5
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Appartement
Appartement
[[650, 85], [270, 450]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Chambre  None   [525, 50]          TRC     2
3         Chambre  None  [525, 325]          BRC     2
4         Cuisine  None  [490, 200]          BRC     3
5       Toilettes  None  [370, 350]          BRC     5
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

[<__main__.Sam object at 0x00000238F49B7D90>, <__main__.Chambre object at 0x00000238F49EE310>, <__main__.Sam object at 0x00000238F49B7D90>, <__main__.Toilettes object at 0x00000238F49B7FD0>]
Salle de bain
0 0 0
Cuisine
Removed corner : [490, 200, 'BRC']
Removed corner : [490, 200, 'BRC']
0 0 0
Toilettes
0 0 0
Salle à manger
Removed corner : [150, 290, 'TLC']
Removed corner : [150, 290, 'TLC']
0 0 0
Chambre
0 0 0

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 50, 'TLC']
Salle de bain placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
REMOVED : [[150, 50, 'TLC']]
Removed corner : [650, 50, 'TRC']
Chambre placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [650, 50, 'TRC']]
Removed corner : [650, 290, 'TRC']
Toilettes placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
COINS : [[650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [525, 50, 'TRC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 290, 'TRC']]
Removed corner : [150, 250, 'TLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
COINS : [[650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [525, 50, 'TRC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 290, 'TRC']]
Removed corner : [525, 50, 'TRC']
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
COINS : [[650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 290, 'TRC']]
Removed corner : [650, 450, 'BRC']
Cuisine Chambre close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
COINS : [[150, 450, 'BLC'], [250, 50, 'TLC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 290, 'TRC']]
Removed corner : [250, 50, 'TLC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
COINS : [[150, 450, 'BLC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 290, 'TRC']]
Removed corner : [150, 450, 'BLC']
Cuisine Salle de bain close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
COINS : [[550, 290, 'TRC'], [650, 390, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 290, 'TRC']]
Removed corner : [550, 290, 'TRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
COINS : [[650, 390, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 290, 'TRC']]
Removed corner : [650, 390, 'TRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION
[160, 250] [[160, 250]]


REDIMENSION !!!!!!!!!!!!!!!!!

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
COINS : [[650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [525, 50, 'TRC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 290, 'TRC']]
Removed corner : [150, 250, 'TLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
COINS : [[650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [525, 50, 'TRC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 290, 'TRC']]
Removed corner : [650, 450, 'BRC']
Cuisine Chambre center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
COINS : [[150, 450, 'BLC'], [250, 50, 'TLC'], [525, 50, 'TRC'], [550, 290, 'TRC'], [650, 390, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 290, 'TRC']]
Removed corner : [525, 50, 'TRC']
Cuisine placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [550, 290, 'TRC'], [650, 390, 'TRC'], [425, 50, 'TRC'], [525, 450, 'TRC']]
COINS : [[150, 450, 'BLC'], [250, 50, 'TLC'], [550, 290, 'TRC'], [650, 390, 'TRC'], [425, 50, 'TRC'], [525, 450, 'TRC'], [650, 450, 'BRC'], [150, 250, 'TLC'], [650, 390, 'TRC'], [550, 290, 'TRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [650, 450, 'BRC'], [525, 50, 'TRC'], [150, 250, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 290, 'TRC'], [525, 50, 'TRC']]
Removed corner : [250, 50, 'TLC']
Removed corner : [250, 50, 'TLC']
Salle à manger placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [250, 50, TLC]   Salle de bain  None
5   [150, 250, TLC]   Salle de bain  None
6    [525, 50, TRC]         Chambre  None
7   [650, 290, TRC]         Chambre  None
8   [550, 290, TRC]       Toilettes  None
9   [650, 390, TRC]       Toilettes  None
10   [425, 50, TRC]         Cuisine  None
11  [525, 450, TRC]         Cuisine  None
12   [375, 50, TLC]  Salle à manger  None
13  [250, 290, TLC]  Salle à manger  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[250, 50, 'TLC']
[150, 250, 'TLC']
[525, 50, 'TRC']
[650, 290, 'TRC']
[550, 290, 'TRC']
[650, 390, 'TRC']
[425, 50, 'TRC']
[525, 450, 'TRC']
[375, 50, 'TLC']
[250, 290, 'TLC']
[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 290, 'TRC']
[525, 50, 'TRC']
[250, 50, 'TLC']
[250, 50, 'TLC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4    Salle de bain  None   [250, 50]        TLC       250        50
5    Salle de bain  None  [150, 250]        TLC       150       250
6          Chambre  None   [525, 50]        TRC       525        50
7          Chambre  None  [650, 290]        TRC       650       290
8        Toilettes  None  [550, 290]        TRC       550       290
9        Toilettes  None  [650, 390]        TRC       650       390
10         Cuisine  None   [425, 50]        TRC       425        50
11         Cuisine  None  [525, 450]        TRC       525       450
12  Salle à manger  None   [375, 50]        TLC       375        50
13  Salle à manger  None  [250, 290]        TLC       250       290

       corner cornertype  x_corner  y_corner
0   [150, 50]        TLC       150        50
1   [650, 50]        TRC       650        50
2  [650, 290]        TRC       650       290
3   [525, 50]        TRC       525        50
4   [250, 50]        TLC       250        50
5   [250, 50]        TLC       250        50

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Salle de bain,None,"[250, 50]",TLC,250,50,"[250, 50]",TLC
5,Salle de bain,None,"[250, 50]",TLC,250,50,"[250, 50]",TLC
6,Salle de bain,None,"[150, 250]",TLC,150,250,NaN,NaN
7,Chambre,None,"[525, 50]",TRC,525,50,"[525, 50]",TRC
8,Chambre,None,"[650, 290]",TRC,650,290,"[650, 290]",TRC
9,Toilettes,None,"[550, 290]",TRC,550,290,NaN,NaN
10,Toilettes,None,"[650, 390]",TRC,650,390,NaN,NaN
11,Cuisine,None,"[425, 50]",TRC,425,50,NaN,NaN
12,Cuisine,None,"[525, 450]",TRC,525,450,NaN,NaN
13,Salle à manger,None,"[375, 50]",TLC,375,50,NaN,NaN
14,Salle à manger,None,"[250, 290]",TLC,250,290,NaN,NaN

0 Appartement 1000
1 Appartement 1000
2 Salle de bain 4
3 Toilettes 5
4 Toilettes 5
5 Cuisine 3
6 Cuisine 3
7 Salle à manger 1
8 Salle à manger 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [375, 50]          TLC     1
1  Salle à manger  None  [250, 290]          TLC     1
2         Cuisine  None   [425, 50]          TRC     3
3         Cuisine  None  [525, 450]          TRC     3
4   Salle de bain  None  [150, 250]          TLC     4
5       Toilettes  None  [550, 290]          TRC     5
6       Toilettes  None  [650, 390]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger
Salle à manger
Cuisine
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement

 Salle à manger

Salle à manger
Salle à manger
Cuisine
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement

 Cuisine

Salle à manger
Salle à manger
Cuisine
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement

 Cuisine

Salle à manger
Salle à manger
Cuisine
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement

 Salle de bain

Salle à manger
Salle à manger
Cuisine
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement
VERTICAL
Salle de bain Appartement 200
Salle de bain
Removed corner : [150, 450, 'BLC']
Removed corner : [150, 450, 'BLC']
0 0 0
Changé:  150 50 100 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [375, 50]          TLC     1
1  Salle à manger  None  [250, 290]          TLC     1
2         Cuisine  None   [425, 50]          TRC     3
3         Cuisine  None  [525, 450]          TRC     3
4   Salle de bain  None  [250, 450]          BLC     4
5       Toilettes  None  [550, 290]          TRC     5
6       Toilettes  None  [650, 390]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Toilettes

Salle à manger
Salle à manger
Cuisine
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement

 Toilettes

Salle à manger
Salle à manger
Cuisine
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
VERTICAL
Toilettes Appartement 60
Toilettes
Removed corner : [550, 290, 'TRC']
Removed corner : [550, 290, 'TRC']
Removed corner : [650, 450, 'BRC']
Removed corner : [650, 450, 'BRC']
0 0 0
Changé:  550 290 100 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [375, 50]          TLC     1
1  Salle à manger  None  [250, 290]          TLC     1
2         Cuisine  None   [425, 50]          TRC     3
3         Cuisine  None  [525, 450]          TRC     3
4   Salle de bain  None  [250, 450]          BLC     4
5       Toilettes  None  [550, 290]          TRC     5
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Appartement

 Appartement

Salle à manger
Salle à manger
Cuisine
Cuisine
HORIZONTAL
Appartement Cuisine 125
Cuisine
Removed corner : [525, 50, 'TRC']
Removed corner : [425, 50, 'TRC']
Removed corner : [525, 450, 'TRC']
0 0 0
Changé:  425 50 100 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [375, 50]          TLC     1
1  Salle à manger  None  [250, 290]          TLC     1
2         Cuisine  None   [425, 50]          TRC     3
3         Cuisine  None  [525, 450]          TRC     3
4   Salle de bain  None  [250, 450]          BLC     4
5       Toilettes  None  [550, 290]          TRC     5
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Salle de bain
HORIZONTAL
Appartement Salle de bain 400
Salle de bain
Salle de bain Entrée close edge tb
0 1 0
Changé:  150 50 500 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [375, 50]          TLC     1
1  Salle à manger  None  [250, 290]          TLC     1
2         Cuisine  None   [425, 50]          TRC     3
3         Cuisine  None  [525, 450]          TRC     3
4   Salle de bain  None  [250, 450]          BLC     4
5       Toilettes  None  [550, 290]          TRC     5
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None   [150, 50]          BLC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [375, 50]          TLC     1
1  Salle à manger  None  [250, 290]          TLC     1
2         Cuisine  None   [425, 50]          TRC     3
3         Cuisine  None  [525, 450]          TRC     3
4   Salle de bain  None  [250, 450]          BLC     4
5       Toilettes  None  [550, 290]          TRC     5
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 50 100 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [375, 50]          TLC     1
1  Salle à manger  None  [250, 290]          TLC     1
2         Cuisine  None   [425, 50]          TRC     3
3         Cuisine  None  [525, 450]          TRC     3
4   Salle de bain  None  [250, 450]          BLC     4
5       Toilettes  None  [550, 290]          TRC     5
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Toilettes
Toilettes
HORIZONTAL
Appartement Toilettes 100
Toilettes
Toilettes Cuisine close edge lr
0 1 0
Changé:  450 290 200 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [375, 50]          TLC     1
1  Salle à manger  None  [250, 290]          TLC     1
2         Cuisine  None   [425, 50]          TRC     3
3         Cuisine  None  [525, 450]          TRC     3
4   Salle de bain  None  [250, 450]          BLC     4
5       Toilettes  None  [550, 290]          TRC     5
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [450, 290]          BLC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [375, 50]          TLC     1
1  Salle à manger  None  [250, 290]          TLC     1
2         Cuisine  None   [425, 50]          TRC     3
3         Cuisine  None  [525, 450]          TRC     3
4   Salle de bain  None  [250, 450]          BLC     4
5       Toilettes  None  [550, 290]          TRC     5
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  550 290 100 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [375, 50]          TLC     1
1  Salle à manger  None  [250, 290]          TLC     1
2         Cuisine  None   [425, 50]          TRC     3
3         Cuisine  None  [525, 450]          TRC     3
4   Salle de bain  None  [250, 450]          BLC     4
5       Toilettes  None  [550, 290]          TRC     5
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Appartement
Appartement

 Appartement

Salle à manger
Salle à manger
Cuisine
Cuisine
Salle de bain
HORIZONTAL
Appartement Salle de bain 100
Salle de bain
Salle de bain Salle à manger center
0 1 0
Changé:  150 50 200 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [375, 50]          TLC     1
1  Salle à manger  None  [250, 290]          TLC     1
2         Cuisine  None   [425, 50]          TRC     3
3         Cuisine  None  [525, 450]          TRC     3
4   Salle de bain  None  [250, 450]          BLC     4
5       Toilettes  None  [550, 290]          TRC     5
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None   [150, 50]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [375, 50]          TLC     1
1  Salle à manger  None  [250, 290]          TLC     1
2         Cuisine  None   [425, 50]          TRC     3
3         Cuisine  None  [525, 450]          TRC     3
4   Salle de bain  None  [250, 450]          BLC     4
5       Toilettes  None  [550, 290]          TRC     5
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 50 100 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [375, 50]          TLC     1
1  Salle à manger  None  [250, 290]          TLC     1
2         Cuisine  None   [425, 50]          TRC     3
3         Cuisine  None  [525, 450]          TRC     3
4   Salle de bain  None  [250, 450]          BLC     4
5       Toilettes  None  [550, 290]          TRC     5
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Toilettes
Toilettes
HORIZONTAL
Appartement Toilettes 400
Toilettes
Toilettes Salle de bain close edge lr
0 1 0
Changé:  150 290 500 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [375, 50]          TLC     1
1  Salle à manger  None  [250, 290]          TLC     1
2         Cuisine  None   [425, 50]          TRC     3
3         Cuisine  None  [525, 450]          TRC     3
4   Salle de bain  None  [250, 450]          BLC     4
5       Toilettes  None  [550, 290]          TRC     5
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 290]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [375, 50]          TLC     1
1  Salle à manger  None  [250, 290]          TLC     1
2         Cuisine  None   [425, 50]          TRC     3
3         Cuisine  None  [525, 450]          TRC     3
4   Salle de bain  None  [250, 450]          BLC     4
5       Toilettes  None  [550, 290]          TRC     5
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  550 290 100 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [375, 50]          TLC     1
1  Salle à manger  None  [250, 290]          TLC     1
2         Cuisine  None   [425, 50]          TRC     3
3         Cuisine  None  [525, 450]          TRC     3
4   Salle de bain  None  [250, 450]          BLC     4
5       Toilettes  None  [550, 290]          TRC     5
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Appartement
Appartement
[[150, 250], [650, 390], [525, 450]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [375, 50]          TLC     1
1  Salle à manger  None  [250, 290]          TLC     1
2         Cuisine  None   [425, 50]          TRC     3
3         Cuisine  None  [525, 450]          TRC     3
4   Salle de bain  None  [250, 450]          BLC     4
5       Toilettes  None  [550, 290]          TRC     5
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

[<__main__.Sdb object at 0x00000238F8B669A0>, <__main__.Toilettes object at 0x00000238F8B66730>, <__main__.Sdb object at 0x00000238F8B669A0>, <__main__.Toilettes object at 0x00000238F8B66730>, <__main__.Sdb object at 0x00000238F8B669A0>, <__main__.Toilettes object at 0x00000238F8B66730>]
Salle de bain
0 0 0
Chambre
0 0 0
Toilettes
0 0 0
Cuisine
0 0 0
Salle à manger
Removed corner : [375, 50, 'TLC']
Removed corner : [250, 290, 'TLC']
0 0 0

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 450, 'BLC']
Salle à manger placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 290, 'BLC'], [400, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC']]
Removed corner : [650, 50, 'TRC']
Toilettes placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC']]
Removed corner : [550, 50, 'TRC']
Salle de bain placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [425, 50, 'TRC'], [550, 210, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [650, 150, 'TRC'], [425, 50, 'TRC'], [550, 210, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [550, 50, 'TRC']]
Removed corner : [400, 450, 'BLC']
Cuisine Salle de bain close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [425, 50, 'TRC'], [550, 210, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 290, 'BLC'], [650, 150, 'TRC'], [425, 50, 'TRC'], [550, 210, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [550, 50, 'TRC']]
Removed corner : [550, 210, 'TRC']
Cuisine Salle à manger close edge lr
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [425, 50, 'TRC'], [550, 210, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 290, 'BLC'], [650, 150, 'TRC'], [425, 50, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [550, 50, 'TRC']]
Removed corner : [425, 50, 'TRC']
classique
Cuisine Salle à manger close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [425, 50, 'TRC'], [550, 210, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 290, 'BLC'], [650, 150, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [550, 50, 'TRC']]
Removed corner : [150, 50, 'TLC']
Cuisine Salle à manger close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [425, 50, 'TRC'], [550, 210, 'TRC']]
COINS : [[650, 450, 'BRC'], [150, 290, 'BLC'], [650, 150, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [550, 50, 'TRC']]
Removed corner : [650, 450, 'BRC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [425, 50, 'TRC'], [550, 210, 'TRC']]
COINS : [[150, 290, 'BLC'], [650, 150, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [550, 50, 'TRC']]
Removed corner : [150, 290, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [425, 50, 'TRC'], [550, 210, 'TRC']]
COINS : [[650, 150, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [550, 50, 'TRC']]
Removed corner : [650, 150, 'TRC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [425, 50, 'TRC'], [550, 210, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [650, 150, 'TRC'], [425, 50, 'TRC'], [550, 210, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [550, 50, 'TRC']]
Removed corner : [650, 150, 'TRC']
Cuisine Salle de bain center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [425, 50, 'TRC'], [550, 210, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [425, 50, 'TRC'], [550, 210, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [550, 50, 'TRC']]
Removed corner : [550, 210, 'TRC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [425, 50, 'TRC'], [550, 210, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [425, 50, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [550, 50, 'TRC']]
Removed corner : [400, 450, 'BLC']
Cuisine placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [425, 50, 'TRC'], [550, 210, 'TRC'], [400, 350, 'BLC'], [600, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 290, 'BLC'], [425, 50, 'TRC'], [400, 350, 'BLC'], [600, 450, 'BLC'], [550, 210, 'TRC'], [650, 150, 'TRC'], [650, 150, 'TRC'], [150, 290, 'BLC'], [650, 450, 'BRC'], [150, 50, 'TLC'], [425, 50, 'TRC'], [550, 210, 'TRC'], [400, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [550, 50, 'TRC'], [400, 450, 'BLC']]
Removed corner : [650, 150, 'TRC']
Chambre Salle de bain center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [425, 50, 'TRC'], [550, 210, 'TRC'], [400, 350, 'BLC'], [600, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 290, 'BLC'], [425, 50, 'TRC'], [400, 350, 'BLC'], [600, 450, 'BLC'], [550, 210, 'TRC'], [650, 150, 'TRC'], [150, 290, 'BLC'], [650, 450, 'BRC'], [150, 50, 'TLC'], [425, 50, 'TRC'], [550, 210, 'TRC'], [400, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [550, 50, 'TRC'], [400, 450, 'BLC']]
Removed corner : [650, 150, 'TRC']
Chambre Salle de bain center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [425, 50, 'TRC'], [550, 210, 'TRC'], [400, 350, 'BLC'], [600, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 290, 'BLC'], [425, 50, 'TRC'], [400, 350, 'BLC'], [600, 450, 'BLC'], [550, 210, 'TRC'], [150, 290, 'BLC'], [650, 450, 'BRC'], [150, 50, 'TLC'], [425, 50, 'TRC'], [550, 210, 'TRC'], [400, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [550, 50, 'TRC'], [400, 450, 'BLC']]
Removed corner : [650, 450, 'BRC']
Removed corner : [650, 450, 'BRC']
Chambre Cuisine center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 290, 'BLC'], [400, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [425, 50, 'TRC'], [550, 210, 'TRC'], [400, 350, 'BLC'], [600, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [150, 290, 'BLC'], [425, 50, 'TRC'], [400, 350, 'BLC'], [600, 450, 'BLC'], [550, 210, 'TRC'], [150, 290, 'BLC'], [150, 50, 'TLC'], [425, 50, 'TRC'], [550, 210, 'TRC'], [400, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [650, 50, 'TRC'], [550, 50, 'TRC'], [400, 450, 'BLC']]
Removed corner : [150, 50, 'TLC']
Removed corner : [150, 50, 'TLC']
Chambre placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [150, 290, BLC]  Salle à manger  None
5   [400, 450, BLC]  Salle à manger  None
6    [550, 50, TRC]       Toilettes  None
7   [650, 150, TRC]       Toilettes  None
8    [425, 50, TRC]   Salle de bain  None
9   [550, 210, TRC]   Salle de bain  None
10  [400, 350, BLC]         Cuisine  None
11  [600, 450, BLC]         Cuisine  None
12   [350, 50, TLC]         Chambre  None
13  [150, 150, TLC]         Chambre  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[150, 290, 'BLC']
[400, 450, 'BLC']
[550, 50, 'TRC']
[650, 150, 'TRC']
[425, 50, 'TRC']
[550, 210, 'TRC']
[400, 350, 'BLC']
[600, 450, 'BLC']
[350, 50, 'TLC']
[150, 150, 'TLC']
[150, 450, 'BLC']
[650, 50, 'TRC']
[550, 50, 'TRC']
[400, 450, 'BLC']
[150, 50, 'TLC']
[150, 50, 'TLC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4   Salle à manger  None  [150, 290]        BLC       150       290
5   Salle à manger  None  [400, 450]        BLC       400       450
6        Toilettes  None   [550, 50]        TRC       550        50
7        Toilettes  None  [650, 150]        TRC       650       150
8    Salle de bain  None   [425, 50]        TRC       425        50
9    Salle de bain  None  [550, 210]        TRC       550       210
10         Cuisine  None  [400, 350]        BLC       400       350
11         Cuisine  None  [600, 450]        BLC       600       450
12         Chambre  None   [350, 50]        TLC       350        50
13         Chambre  None  [150, 150]        TLC       150       150

       corner cornertype  x_corner  y_corner
0  [150, 450]        BLC       150       450
1   [650, 50]        TRC       650        50
2   [550, 50]        TRC       550        50
3  [400, 450]        BLC       400       450
4   [150, 50]        TLC       150        50
5   [150, 50]        TLC       150        50

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
2,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
3,None,None,"[650, 450]",BRC,650,450,NaN,NaN
4,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
5,Salle à manger,None,"[150, 290]",BLC,150,290,NaN,NaN
6,Salle à manger,None,"[400, 450]",BLC,400,450,"[400, 450]",BLC
7,Toilettes,None,"[550, 50]",TRC,550,50,"[550, 50]",TRC
8,Toilettes,None,"[650, 150]",TRC,650,150,NaN,NaN
9,Salle de bain,None,"[425, 50]",TRC,425,50,NaN,NaN
10,Salle de bain,None,"[550, 210]",TRC,550,210,NaN,NaN
11,Cuisine,None,"[400, 350]",BLC,400,350,NaN,NaN
12,Cuisine,None,"[600, 450]",BLC,600,450,NaN,NaN
13,Chambre,None,"[350, 50]",TLC,350,50,NaN,NaN
14,Chambre,None,"[150, 150]",TLC,150,150,NaN,NaN

0 Appartement 1000
1 Salle à manger 1
2 Toilettes 5
3 Salle de bain 4
4 Salle de bain 4
5 Cuisine 3
6 Cuisine 3
7 Chambre 2
8 Chambre 2

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [150, 290]          BLC     1
1         Chambre  None   [350, 50]          TLC     2
2         Chambre  None  [150, 150]          TLC     2
3         Cuisine  None  [400, 350]          BLC     3
4         Cuisine  None  [600, 450]          BLC     3
5   Salle de bain  None   [425, 50]          TRC     4
6   Salle de bain  None  [550, 210]          TRC     4
7       Toilettes  None  [650, 150]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

 Salle à manger

Salle à manger
Chambre
Chambre
VERTICAL
Salle à manger Chambre 140
Salle à manger
Removed corner : [150, 150, 'TLC']
Removed corner : [400, 450, 'BLC']
0 0 0
Changé:  150 150 250 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 150]          TLC     1
1         Chambre  None   [350, 50]          TLC     2
2         Chambre  None  [150, 150]          TLC     2
3         Cuisine  None  [400, 350]          BLC     3
4         Cuisine  None  [600, 450]          BLC     3
5   Salle de bain  None   [425, 50]          TRC     4
6   Salle de bain  None  [550, 210]          TRC     4
7       Toilettes  None  [650, 150]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Chambre

Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Chambre

Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Cuisine

Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Cuisine

Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement
HORIZONTAL
Cuisine Appartement 50
Cuisine
Removed corner : [400, 350, 'BLC']
Removed corner : [650, 450, 'BRC']
0 0 0
Changé:  400 350 250 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 150]          TLC     1
1         Chambre  None   [350, 50]          TLC     2
2         Chambre  None  [150, 150]          TLC     2
3         Cuisine  None  [400, 350]          BLC     3
4         Cuisine  None  [650, 350]          BRC     3
5   Salle de bain  None   [425, 50]          TRC     4
6   Salle de bain  None  [550, 210]          TRC     4
7       Toilettes  None  [650, 150]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

 Salle de bain

Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Salle de bain

Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Toilettes

Salle à manger
Chambre
Chambre
Cuisine
Cuisine
VERTICAL
Toilettes Cuisine 200
Cuisine
Removed corner : [650, 150, 'TRC']
Cuisine Salle de bain close edge tb
0 1 0
Changé:  400 150 250 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 150]          TLC     1
1         Chambre  None   [350, 50]          TLC     2
2         Chambre  None  [150, 150]          TLC     2
3         Cuisine  None  [400, 350]          BLC     3
4         Cuisine  None  [650, 350]          BRC     3
5   Salle de bain  None   [425, 50]          TRC     4
6   Salle de bain  None  [550, 210]          TRC     4
7       Toilettes  None  [400, 150]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 150]          TLC     1
1         Chambre  None   [350, 50]          TLC     2
2         Chambre  None  [150, 150]          TLC     2
3         Cuisine  None  [400, 350]          BLC     3
4         Cuisine  None  [650, 350]          BRC     3
5   Salle de bain  None   [425, 50]          TRC     4
6   Salle de bain  None  [550, 210]          TRC     4
7       Toilettes  None  [650, 150]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  400 350 250 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 150]          TLC     1
1         Chambre  None   [350, 50]          TLC     2
2         Chambre  None  [150, 150]          TLC     2
3         Cuisine  None  [400, 350]          BLC     3
4         Cuisine  None  [650, 350]          BRC     3
5   Salle de bain  None   [425, 50]          TRC     4
6   Salle de bain  None  [550, 210]          TRC     4
7       Toilettes  None  [650, 150]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

Salle de bain
Salle de bain
Toilettes
Appartement
VERTICAL
Toilettes Appartement 300
Toilettes
Toilettes Cuisine close edge tb
0 1 0
Changé:  550 50 100 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 150]          TLC     1
1         Chambre  None   [350, 50]          TLC     2
2         Chambre  None  [150, 150]          TLC     2
3         Cuisine  None  [400, 350]          BLC     3
4         Cuisine  None  [650, 350]          BRC     3
5   Salle de bain  None   [425, 50]          TRC     4
6   Salle de bain  None  [550, 210]          TRC     4
7       Toilettes  None  [550, 450]          BRC     5
8     Appartement  None  [650, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 150]          TLC     1
1         Chambre  None   [350, 50]          TLC     2
2         Chambre  None  [150, 150]          TLC     2
3         Cuisine  None  [400, 350]          BLC     3
4         Cuisine  None  [650, 350]          BRC     3
5   Salle de bain  None   [425, 50]          TRC     4
6   Salle de bain  None  [550, 210]          TRC     4
7       Toilettes  None  [650, 150]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  550 50 100 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 150]          TLC     1
1         Chambre  None   [350, 50]          TLC     2
2         Chambre  None  [150, 150]          TLC     2
3         Cuisine  None  [400, 350]          BLC     3
4         Cuisine  None  [650, 350]          BRC     3
5   Salle de bain  None   [425, 50]          TRC     4
6   Salle de bain  None  [550, 210]          TRC     4
7       Toilettes  None  [650, 150]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

 Appartement

Salle à manger
Chambre
Chambre
Cuisine
Cuisine
VERTICAL
Appartement Cuisine 100
Cuisine
0 0 0
Changé:  400 250 250 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 150]          TLC     1
1         Chambre  None   [350, 50]          TLC     2
2         Chambre  None  [150, 150]          TLC     2
3         Cuisine  None  [400, 350]          BLC     3
4         Cuisine  None  [650, 350]          BRC     3
5   Salle de bain  None   [425, 50]          TRC     4
6   Salle de bain  None  [550, 210]          TRC     4
7       Toilettes  None  [650, 150]          TRC     5
8     Appartement  None  [400, 250]          TRC  1000

Salle de bain
Salle de bain
Toilettes
VERTICAL
Appartement Toilettes 300
Toilettes
Toilettes Cuisine center
0 1 0
Changé:  550 50 100 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 150]          TLC     1
1         Chambre  None   [350, 50]          TLC     2
2         Chambre  None  [150, 150]          TLC     2
3         Cuisine  None  [400, 350]          BLC     3
4         Cuisine  None  [650, 350]          BRC     3
5   Salle de bain  None   [425, 50]          TRC     4
6   Salle de bain  None  [550, 210]          TRC     4
7       Toilettes  None  [650, 150]          TRC     5
8     Appartement  None  [550, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 150]          TLC     1
1         Chambre  None   [350, 50]          TLC     2
2         Chambre  None  [150, 150]          TLC     2
3         Cuisine  None  [400, 350]          BLC     3
4         Cuisine  None  [650, 350]          BRC     3
5   Salle de bain  None   [425, 50]          TRC     4
6   Salle de bain  None  [550, 210]          TRC     4
7       Toilettes  None  [650, 150]          TRC     5
8     Appartement  None  [400, 250]          TRC  1000

Ancien:  550 50 100 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 150]          TLC     1
1         Chambre  None   [350, 50]          TLC     2
2         Chambre  None  [150, 150]          TLC     2
3         Cuisine  None  [400, 350]          BLC     3
4         Cuisine  None  [650, 350]          BRC     3
5   Salle de bain  None   [425, 50]          TRC     4
6   Salle de bain  None  [550, 210]          TRC     4
7       Toilettes  None  [650, 150]          TRC     5
8     Appartement  None  [400, 250]          TRC  1000

Appartement
[[150, 290], [600, 450], [650, 350]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 150]          TLC     1
1         Chambre  None   [350, 50]          TLC     2
2         Chambre  None  [150, 150]          TLC     2
3         Cuisine  None  [400, 350]          BLC     3
4         Cuisine  None  [650, 350]          BRC     3
5   Salle de bain  None   [425, 50]          TRC     4
6   Salle de bain  None  [550, 210]          TRC     4
7       Toilettes  None  [650, 150]          TRC     5
8     Appartement  None  [400, 250]          TRC  1000

[<__main__.Sam object at 0x00000238F8B666D0>, <__main__.Cuisine object at 0x00000238F8B66BE0>, <__main__.Toilettes object at 0x00000238F8B667C0>, <__main__.Cuisine object at 0x00000238F8B66BE0>, <__main__.Toilettes object at 0x00000238F8B667C0>]
Salle à manger
0 0 0
Toilettes
Removed corner : [650, 150, 'TRC']
0 0 0
Salle de bain
Removed corner : [425, 50, 'TRC']
Removed corner : [425, 50, 'TRC']
Removed corner : [550, 210, 'TRC']
Removed corner : [550, 210, 'TRC']
0 0 0
Cuisine
0 0 0
Chambre
Removed corner : [350, 50, 'TLC']
0 0 0

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [650, 450, 'BRC']
Salle à manger placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC']]
Removed corner : [330, 450, 'BRC']
Chambre placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC']]
Removed corner : [330, 250, 'BRC']
Toilettes placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC']]
Removed corner : [330, 150, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [230, 450, 'BRC'], [230, 250, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC']]
Removed corner : [230, 250, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [230, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC']]
Removed corner : [150, 50, 'TLC']
classique
Salle de bain Toilettes close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC']]
COINS : [[650, 50, 'TRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [230, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC']]
Removed corner : [150, 450, 'BLC']
Salle de bain Chambre close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC']]
COINS : [[650, 50, 'TRC'], [650, 325, 'BRC'], [230, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC']]
Removed corner : [230, 450, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC']]
COINS : [[650, 50, 'TRC'], [650, 325, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC']]
Removed corner : [650, 50, 'TRC']
Salle de bain placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[650, 325, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [230, 450, 'BRC'], [150, 450, 'BLC'], [150, 50, 'TLC'], [230, 250, 'BRC'], [330, 150, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [150, 450, 'BLC']
Cuisine Salle à manger close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[650, 325, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [230, 450, 'BRC'], [150, 50, 'TLC'], [230, 250, 'BRC'], [330, 150, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [150, 50, 'TLC']
classique
Cuisine Toilettes close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[650, 325, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [230, 450, 'BRC'], [230, 250, 'BRC'], [330, 150, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [230, 450, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[650, 325, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC'], [230, 250, 'BRC'], [330, 150, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [525, 50, 'TRC']
Cuisine Entrée close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[650, 325, 'BRC'], [650, 290, 'TRC'], [230, 250, 'BRC'], [330, 150, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [650, 290, 'TRC']
Cuisine Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[650, 325, 'BRC'], [230, 250, 'BRC'], [330, 150, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [330, 150, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[650, 325, 'BRC'], [230, 250, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [230, 250, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[650, 325, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [650, 325, 'BRC']
Cuisine Salle de bain center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [330, 150, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [230, 450, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [230, 250, 'BRC']
Removed corner : [230, 450, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [650, 325, 'BRC']
Cuisine Salle de bain center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [525, 50, 'TRC']
Cuisine Entrée close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 290, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [150, 450, 'BLC']
Cuisine Salle à manger close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 290, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [650, 290, 'TRC']
Cuisine Salle à manger center
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 50, 'TLC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [150, 50, 'TLC']
Cuisine Toilettes center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [650, 290, 'TRC']
Cuisine Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [525, 50, 'TRC']
Cuisine Entrée center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [150, 50, 'TLC']
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 450, 'BLC'], [650, 325, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [230, 250, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 450, 'BLC'], [650, 325, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [150, 450, 'BLC']
Cuisine Salle à manger close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[650, 325, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [650, 325, 'BRC']
Cuisine Salle de bain close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[230, 450, 'BRC'], [330, 150, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [230, 450, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[330, 150, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [330, 150, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [230, 250, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [150, 450, 'BLC']
Cuisine Salle à manger close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 325, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [525, 50, 'TRC']
Cuisine Entrée center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 325, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [650, 290, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [230, 450, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [230, 450, 'BRC'], [330, 150, 'BRC'], [230, 250, 'BRC'], [525, 50, 'TRC'], [650, 290, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 325, 'BRC'], [330, 150, 'BRC'], [650, 290, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [330, 450, 'BRC'], [330, 250, 'BRC'], [650, 50, 'TRC']]
Removed corner : [650, 325, 'BRC']

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [650, 325, BRC]  Salle à manger  None
5   [330, 450, BRC]  Salle à manger  None
6   [330, 250, BRC]         Chambre  None
7   [230, 450, BRC]         Chambre  None
8   [330, 150, BRC]       Toilettes  None
9   [230, 250, BRC]       Toilettes  None
10   [525, 50, TRC]   Salle de bain  None
11  [650, 290, TRC]   Salle de bain  None
12   [350, 50, TLC]         Cuisine  None
13  [150, 150, TLC]         Cuisine  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[650, 325, 'BRC']
[330, 450, 'BRC']
[330, 250, 'BRC']
[230, 450, 'BRC']
[330, 150, 'BRC']
[230, 250, 'BRC']
[525, 50, 'TRC']
[650, 290, 'TRC']
[350, 50, 'TLC']
[150, 150, 'TLC']
[650, 450, 'BRC']
[330, 450, 'BRC']
[330, 250, 'BRC']
[650, 50, 'TRC']
[150, 50, 'TLC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4   Salle à manger  None  [650, 325]        BRC       650       325
5   Salle à manger  None  [330, 450]        BRC       330       450
6          Chambre  None  [330, 250]        BRC       330       250
7          Chambre  None  [230, 450]        BRC       230       450
8        Toilettes  None  [330, 150]        BRC       330       150
9        Toilettes  None  [230, 250]        BRC       230       250
10   Salle de bain  None   [525, 50]        TRC       525        50
11   Salle de bain  None  [650, 290]        TRC       650       290
12         Cuisine  None   [350, 50]        TLC       350        50
13         Cuisine  None  [150, 150]        TLC       150       150

       corner cornertype  x_corner  y_corner
0  [650, 450]        BRC       650       450
1  [330, 450]        BRC       330       450
2  [330, 250]        BRC       330       250
3   [650, 50]        TRC       650        50
4   [150, 50]        TLC       150        50

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Salle à manger,None,"[650, 325]",BRC,650,325,NaN,NaN
5,Salle à manger,None,"[330, 450]",BRC,330,450,"[330, 450]",BRC
6,Chambre,None,"[330, 250]",BRC,330,250,"[330, 250]",BRC
7,Chambre,None,"[230, 450]",BRC,230,450,NaN,NaN
8,Toilettes,None,"[330, 150]",BRC,330,150,NaN,NaN
9,Toilettes,None,"[230, 250]",BRC,230,250,NaN,NaN
10,Salle de bain,None,"[525, 50]",TRC,525,50,NaN,NaN
11,Salle de bain,None,"[650, 290]",TRC,650,290,NaN,NaN
12,Cuisine,None,"[350, 50]",TLC,350,50,NaN,NaN
13,Cuisine,None,"[150, 150]",TLC,150,150,NaN,NaN

0 Appartement 1000
1 Salle à manger 1
2 Chambre 2
3 Toilettes 5
4 Toilettes 5
5 Salle de bain 4
6 Salle de bain 4
7 Cuisine 3
8 Cuisine 3

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 325]          BRC     1
1         Chambre  None  [230, 450]          BRC     2
2         Cuisine  None   [350, 50]          TLC     3
3         Cuisine  None  [150, 150]          TLC     3
4   Salle de bain  None   [525, 50]          TRC     4
5   Salle de bain  None  [650, 290]          TRC     4
6       Toilettes  None  [330, 150]          BRC     5
7       Toilettes  None  [230, 250]          BRC     5
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
VERTICAL
Salle à manger Salle de bain 35
Salle à manger
Removed corner : [650, 290, 'TRC']
Removed corner : [650, 290, 'TRC']
Removed corner : [650, 290, 'TRC']
Removed corner : [650, 290, 'TRC']
0 0 0
Changé:  330 290 320 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [330, 290]          TRC     1
1         Chambre  None  [230, 450]          BRC     2
2         Cuisine  None   [350, 50]          TLC     3
3         Cuisine  None  [150, 150]          TLC     3
4   Salle de bain  None   [525, 50]          TRC     4
5   Salle de bain  None  [650, 290]          TRC     4
6       Toilettes  None  [330, 150]          BRC     5
7       Toilettes  None  [230, 250]          BRC     5
8     Appartement  None  [150, 450]          BLC  1000

Toilettes
Toilettes
Appartement

 Chambre

Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement
HORIZONTAL
Chambre Appartement 80
Chambre
Removed corner : [150, 450, 'BLC']
Removed corner : [150, 450, 'BLC']
Removed corner : [150, 450, 'BLC']
Removed corner : [150, 450, 'BLC']
0 0 0
Changé:  150 250 180 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [330, 290]          TRC     1
1         Chambre  None  [150, 250]          BLC     2
2         Cuisine  None   [350, 50]          TLC     3
3         Cuisine  None  [150, 150]          TLC     3
4   Salle de bain  None   [525, 50]          TRC     4
5   Salle de bain  None  [650, 290]          TRC     4
6       Toilettes  None  [330, 150]          BRC     5
7       Toilettes  None  [230, 250]          BRC     5
8     Appartement  None  [150, 450]          BLC  1000

 Cuisine

Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement

 Cuisine

Salle à manger
Chambre
VERTICAL
Cuisine Chambre 100
Chambre
Removed corner : [330, 150, 'BRC']
Removed corner : [330, 150, 'BRC']
Removed corner : [330, 150, 'BRC']
Removed corner : [330, 150, 'BRC']
Removed corner : [150, 150, 'TLC']
Chambre Toilettes close edge tb
0 1 0
Changé:  150 150 180 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [330, 290]          TRC     1
1         Chambre  None  [150, 250]          BLC     2
2         Cuisine  None   [350, 50]          TLC     3
3         Cuisine  None  [330, 150]          TLC     3
4   Salle de bain  None   [525, 50]          TRC     4
5   Salle de bain  None  [650, 290]          TRC     4
6       Toilettes  None  [330, 150]          BRC     5
7       Toilettes  None  [230, 250]          BRC     5
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [330, 290]          TRC     1
1         Chambre  None  [150, 250]          BLC     2
2         Cuisine  None   [350, 50]          TLC     3
3         Cuisine  None  [150, 150]          TLC     3
4   Salle de bain  None   [525, 50]          TRC     4
5   Salle de bain  None  [650, 290]          TRC     4
6       Toilettes  None  [330, 150]          BRC     5
7       Toilettes  None  [230, 250]          BRC     5
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 250 180 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [330, 290]          TRC     1
1         Chambre  None  [150, 250]          BLC     2
2         Cuisine  None   [350, 50]          TLC     3
3         Cuisine  None  [150, 150]          TLC     3
4   Salle de bain  None   [525, 50]          TRC     4
5   Salle de bain  None  [650, 290]          TRC     4
6       Toilettes  None  [330, 150]          BRC     5
7       Toilettes  None  [230, 250]          BRC     5
8     Appartement  None  [150, 450]          BLC  1000

Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement
VERTICAL
Cuisine Appartement 300
Cuisine
Removed corner : [350, 50, 'TLC']
Removed corner : [150, 50, 'TLC']
Removed corner : [150, 50, 'TLC']
Removed corner : [150, 50, 'TLC']
classique
Cuisine Chambre center
0 1 1
Changé:  150 50 200 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [330, 290]          TRC     1
1         Chambre  None  [150, 250]          BLC     2
2         Cuisine  None   [350, 50]          TLC     3
3         Cuisine  None  [350, 450]          BLC     3
4   Salle de bain  None   [525, 50]          TRC     4
5   Salle de bain  None  [650, 290]          TRC     4
6       Toilettes  None  [330, 150]          BRC     5
7       Toilettes  None  [230, 250]          BRC     5
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [330, 290]          TRC     1
1         Chambre  None  [150, 250]          BLC     2
2         Cuisine  None   [350, 50]          TLC     3
3         Cuisine  None  [150, 150]          TLC     3
4   Salle de bain  None   [525, 50]          TRC     4
5   Salle de bain  None  [650, 290]          TRC     4
6       Toilettes  None  [330, 150]          BRC     5
7       Toilettes  None  [230, 250]          BRC     5
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 50 200 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [330, 290]          TRC     1
1         Chambre  None  [150, 250]          BLC     2
2         Cuisine  None   [350, 50]          TLC     3
3         Cuisine  None  [150, 150]          TLC     3
4   Salle de bain  None   [525, 50]          TRC     4
5   Salle de bain  None  [650, 290]          TRC     4
6       Toilettes  None  [330, 150]          BRC     5
7       Toilettes  None  [230, 250]          BRC     5
8     Appartement  None  [150, 450]          BLC  1000

 Salle de bain

Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement

 Salle de bain

Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement

 Toilettes

Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement

 Toilettes

Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement

 Appartement

Salle à manger
Chambre
VERTICAL
Appartement Chambre 200
Chambre
Chambre Toilettes center
0 1 0
Changé:  150 50 180 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [330, 290]          TRC     1
1         Chambre  None  [150, 250]          BLC     2
2         Cuisine  None   [350, 50]          TLC     3
3         Cuisine  None  [150, 150]          TLC     3
4   Salle de bain  None   [525, 50]          TRC     4
5   Salle de bain  None  [650, 290]          TRC     4
6       Toilettes  None  [330, 150]          BRC     5
7       Toilettes  None  [230, 250]          BRC     5
8     Appartement  None   [330, 50]          TLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [330, 290]          TRC     1
1         Chambre  None  [150, 250]          BLC     2
2         Cuisine  None   [350, 50]          TLC     3
3         Cuisine  None  [150, 150]          TLC     3
4   Salle de bain  None   [525, 50]          TRC     4
5   Salle de bain  None  [650, 290]          TRC     4
6       Toilettes  None  [330, 150]          BRC     5
7       Toilettes  None  [230, 250]          BRC     5
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 250 180 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [330, 290]          TRC     1
1         Chambre  None  [150, 250]          BLC     2
2         Cuisine  None   [350, 50]          TLC     3
3         Cuisine  None  [150, 150]          TLC     3
4   Salle de bain  None   [525, 50]          TRC     4
5   Salle de bain  None  [650, 290]          TRC     4
6       Toilettes  None  [330, 150]          BRC     5
7       Toilettes  None  [230, 250]          BRC     5
8     Appartement  None  [150, 450]          BLC  1000

Cuisine
Cuisine
VERTICAL
Appartement Cuisine 300
Cuisine
classique
Cuisine Chambre center
0 1 1
Changé:  150 50 200 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [330, 290]          TRC     1
1         Chambre  None  [150, 250]          BLC     2
2         Cuisine  None   [350, 50]          TLC     3
3         Cuisine  None  [150, 150]          TLC     3
4   Salle de bain  None   [525, 50]          TRC     4
5   Salle de bain  None  [650, 290]          TRC     4
6       Toilettes  None  [330, 150]          BRC     5
7       Toilettes  None  [230, 250]          BRC     5
8     Appartement  None  [350, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [330, 290]          TRC     1
1         Chambre  None  [150, 250]          BLC     2
2         Cuisine  None   [350, 50]          TLC     3
3         Cuisine  None  [150, 150]          TLC     3
4   Salle de bain  None   [525, 50]          TRC     4
5   Salle de bain  None  [650, 290]          TRC     4
6       Toilettes  None  [330, 150]          BRC     5
7       Toilettes  None  [230, 250]          BRC     5
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 50 200 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [330, 290]          TRC     1
1         Chambre  None  [150, 250]          BLC     2
2         Cuisine  None   [350, 50]          TLC     3
3         Cuisine  None  [150, 150]          TLC     3
4   Salle de bain  None   [525, 50]          TRC     4
5   Salle de bain  None  [650, 290]          TRC     4
6       Toilettes  None  [330, 150]          BRC     5
7       Toilettes  None  [230, 250]          BRC     5
8     Appartement  None  [150, 450]          BLC  1000

Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement
[[650, 325], [230, 450]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [330, 290]          TRC     1
1         Chambre  None  [150, 250]          BLC     2
2         Cuisine  None   [350, 50]          TLC     3
3         Cuisine  None  [150, 150]          TLC     3
4   Salle de bain  None   [525, 50]          TRC     4
5   Salle de bain  None  [650, 290]          TRC     4
6       Toilettes  None  [330, 150]          BRC     5
7       Toilettes  None  [230, 250]          BRC     5
8     Appartement  None  [150, 450]          BLC  1000

[<__main__.Sam object at 0x00000238F49D4730>, <__main__.Chambre object at 0x00000238F49D48B0>, <__main__.Cuisine object at 0x00000238F49D4D60>, <__main__.Chambre object at 0x00000238F49D48B0>, <__main__.Cuisine object at 0x00000238F49D4D60>]
Salle à manger
0 0 0
Chambre
0 0 0
Toilettes
Removed corner : [230, 250, 'BRC']
Removed corner : [230, 250, 'BRC']
Removed corner : [230, 250, 'BRC']
0 0 0
Salle de bain
Removed corner : [525, 50, 'TRC']
Removed corner : [525, 50, 'TRC']
Removed corner : [525, 50, 'TRC']
0 0 0
Cuisine
0 0 0

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 50, 'TLC']
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [650, 50, 'TRC']
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 450, 'BLC']
Salle de bain placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [450, 450, 'BLC']]
COINS : [[650, 450, 'BRC'], [150, 350, 'BLC'], [450, 450, 'BLC'], [650, 50, 'TRC'], [150, 50, 'TLC']]
REMOVED : [[150, 450, 'BLC']]
Removed corner : [450, 450, 'BLC']
Cuisine placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [450, 450, 'BLC'], [450, 200, 'BLC'], [570, 450, 'BLC']]
COINS : [[650, 450, 'BRC'], [150, 350, 'BLC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [450, 200, 'BLC'], [570, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [450, 450, 'BLC']]
Removed corner : [450, 200, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [450, 450, 'BLC'], [450, 200, 'BLC'], [570, 450, 'BLC']]
COINS : [[650, 450, 'BRC'], [150, 350, 'BLC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [570, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [450, 450, 'BLC']]
Removed corner : [570, 450, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [450, 450, 'BLC'], [450, 200, 'BLC'], [570, 450, 'BLC']]
COINS : [[650, 450, 'BRC'], [150, 350, 'BLC'], [650, 50, 'TRC'], [150, 50, 'TLC']]
REMOVED : [[150, 450, 'BLC'], [450, 450, 'BLC']]
Removed corner : [150, 350, 'BLC']
Chambre placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [450, 450, 'BLC'], [450, 200, 'BLC'], [570, 450, 'BLC'], [150, 150, 'BLC'], [300, 350, 'BLC']]
COINS : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 150, 'BLC'], [300, 350, 'BLC'], [570, 450, 'BLC'], [450, 200, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [450, 450, 'BLC'], [150, 350, 'BLC']]
Removed corner : [570, 450, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [450, 450, 'BLC'], [450, 200, 'BLC'], [570, 450, 'BLC'], [150, 150, 'BLC'], [300, 350, 'BLC']]
COINS : [[650, 450, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [150, 150, 'BLC'], [300, 350, 'BLC'], [450, 200, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [450, 450, 'BLC'], [150, 350, 'BLC']]
Removed corner : [650, 50, 'TRC']
Toilettes placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [450, 450, 'BLC'], [450, 200, 'BLC'], [570, 450, 'BLC'], [150, 150, 'BLC'], [300, 350, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
COINS : [[650, 450, 'BRC'], [150, 50, 'TLC'], [150, 150, 'BLC'], [300, 350, 'BLC'], [450, 200, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [570, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [450, 450, 'BLC'], [150, 350, 'BLC'], [650, 50, 'TRC']]
Removed corner : [650, 150, 'TRC']
Salle à manger Cuisine center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [450, 450, 'BLC'], [450, 200, 'BLC'], [570, 450, 'BLC'], [150, 150, 'BLC'], [300, 350, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
COINS : [[650, 450, 'BRC'], [150, 50, 'TLC'], [150, 150, 'BLC'], [300, 350, 'BLC'], [450, 200, 'BLC'], [550, 50, 'TRC'], [570, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [450, 450, 'BLC'], [150, 350, 'BLC'], [650, 50, 'TRC']]
Removed corner : [150, 150, 'BLC']
Salle à manger Entrée close edge lr
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [450, 450, 'BLC'], [450, 200, 'BLC'], [570, 450, 'BLC'], [150, 150, 'BLC'], [300, 350, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
COINS : [[650, 450, 'BRC'], [150, 50, 'TLC'], [300, 350, 'BLC'], [450, 200, 'BLC'], [550, 50, 'TRC'], [570, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [450, 450, 'BLC'], [150, 350, 'BLC'], [650, 50, 'TRC']]
Removed corner : [300, 350, 'BLC']
Salle à manger Cuisine close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [450, 450, 'BLC'], [450, 200, 'BLC'], [570, 450, 'BLC'], [150, 150, 'BLC'], [300, 350, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
COINS : [[650, 450, 'BRC'], [150, 50, 'TLC'], [450, 200, 'BLC'], [550, 50, 'TRC'], [570, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [450, 450, 'BLC'], [150, 350, 'BLC'], [650, 50, 'TRC']]
Removed corner : [150, 50, 'TLC']
classique
Salle à manger Chambre close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [450, 450, 'BLC'], [450, 200, 'BLC'], [570, 450, 'BLC'], [150, 150, 'BLC'], [300, 350, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
COINS : [[650, 450, 'BRC'], [450, 200, 'BLC'], [550, 50, 'TRC'], [570, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [450, 450, 'BLC'], [150, 350, 'BLC'], [650, 50, 'TRC']]
Removed corner : [450, 200, 'BLC']
Salle à manger Toilettes center
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [450, 450, 'BLC'], [450, 200, 'BLC'], [570, 450, 'BLC'], [150, 150, 'BLC'], [300, 350, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
COINS : [[650, 450, 'BRC'], [550, 50, 'TRC'], [570, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [450, 450, 'BLC'], [150, 350, 'BLC'], [650, 50, 'TRC']]
Removed corner : [650, 450, 'BRC']
Salle à manger Salle de bain close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [450, 450, 'BLC'], [450, 200, 'BLC'], [570, 450, 'BLC'], [150, 150, 'BLC'], [300, 350, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
COINS : [[550, 50, 'TRC'], [570, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [450, 450, 'BLC'], [150, 350, 'BLC'], [650, 50, 'TRC']]
Removed corner : [570, 450, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [450, 450, 'BLC'], [450, 200, 'BLC'], [570, 450, 'BLC'], [150, 150, 'BLC'], [300, 350, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
COINS : [[550, 50, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [450, 450, 'BLC'], [150, 350, 'BLC'], [650, 50, 'TRC']]
Removed corner : [550, 50, 'TRC']
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [450, 450, 'BLC'], [450, 200, 'BLC'], [570, 450, 'BLC'], [150, 150, 'BLC'], [300, 350, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [450, 200, 'BLC'], [570, 450, 'BLC'], [150, 150, 'BLC'], [300, 350, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [450, 450, 'BLC'], [150, 350, 'BLC'], [650, 50, 'TRC']]
Removed corner : [650, 150, 'TRC']
Salle à manger Cuisine close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [450, 450, 'BLC'], [450, 200, 'BLC'], [570, 450, 'BLC'], [150, 150, 'BLC'], [300, 350, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [450, 200, 'BLC'], [570, 450, 'BLC'], [150, 150, 'BLC'], [300, 350, 'BLC'], [550, 50, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [450, 450, 'BLC'], [150, 350, 'BLC'], [650, 50, 'TRC']]
Removed corner : [300, 350, 'BLC']
Salle à manger placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [150, 350, BLC]   Salle de bain  None
5   [450, 450, BLC]   Salle de bain  None
6   [450, 200, BLC]         Cuisine  None
7   [570, 450, BLC]         Cuisine  None
8   [150, 150, BLC]         Chambre  None
9   [300, 350, BLC]         Chambre  None
10   [550, 50, TRC]       Toilettes  None
11  [650, 150, TRC]       Toilettes  None
12  [300, 100, BLC]  Salle à manger  None
13  [420, 350, BLC]  Salle à manger  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[150, 350, 'BLC']
[450, 450, 'BLC']
[450, 200, 'BLC']
[570, 450, 'BLC']
[150, 150, 'BLC']
[300, 350, 'BLC']
[550, 50, 'TRC']
[650, 150, 'TRC']
[300, 100, 'BLC']
[420, 350, 'BLC']
[150, 450, 'BLC']
[450, 450, 'BLC']
[150, 350, 'BLC']
[650, 50, 'TRC']
[300, 350, 'BLC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4    Salle de bain  None  [150, 350]        BLC       150       350
5    Salle de bain  None  [450, 450]        BLC       450       450
6          Cuisine  None  [450, 200]        BLC       450       200
7          Cuisine  None  [570, 450]        BLC       570       450
8          Chambre  None  [150, 150]        BLC       150       150
9          Chambre  None  [300, 350]        BLC       300       350
10       Toilettes  None   [550, 50]        TRC       550        50
11       Toilettes  None  [650, 150]        TRC       650       150
12  Salle à manger  None  [300, 100]        BLC       300       100
13  Salle à manger  None  [420, 350]        BLC       420       350

       corner cornertype  x_corner  y_corner
0  [150, 450]        BLC       150       450
1  [450, 450]        BLC       450       450
2  [150, 350]        BLC       150       350
3   [650, 50]        TRC       650        50
4  [300, 350]        BLC       300       350

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,NaN,NaN
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Salle de bain,None,"[150, 350]",BLC,150,350,"[150, 350]",BLC
5,Salle de bain,None,"[450, 450]",BLC,450,450,"[450, 450]",BLC
6,Cuisine,None,"[450, 200]",BLC,450,200,NaN,NaN
7,Cuisine,None,"[570, 450]",BLC,570,450,NaN,NaN
8,Chambre,None,"[150, 150]",BLC,150,150,NaN,NaN
9,Chambre,None,"[300, 350]",BLC,300,350,"[300, 350]",BLC
10,Toilettes,None,"[550, 50]",TRC,550,50,NaN,NaN
11,Toilettes,None,"[650, 150]",TRC,650,150,NaN,NaN
12,Salle à manger,None,"[300, 100]",BLC,300,100,NaN,NaN
13,Salle à manger,None,"[420, 350]",BLC,420,350,NaN,NaN

0 Appartement 1000
1 Appartement 1000
2 Cuisine 3
3 Cuisine 3
4 Chambre 2
5 Toilettes 5
6 Toilettes 5
7 Salle à manger 1
8 Salle à manger 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [300, 100]          BLC     1
1  Salle à manger  None  [420, 350]          BLC     1
2         Chambre  None  [150, 150]          BLC     2
3         Cuisine  None  [450, 200]          BLC     3
4         Cuisine  None  [570, 450]          BLC     3
5       Toilettes  None   [550, 50]          TRC     5
6       Toilettes  None  [650, 150]          TRC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Toilettes
Toilettes
Appartement
Appartement

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Toilettes
Toilettes
Appartement
Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Toilettes
Toilettes
Appartement
VERTICAL
Chambre Appartement 100
Chambre
Removed corner : [150, 50, 'TLC']
Removed corner : [150, 50, 'TLC']
Removed corner : [300, 350, 'BLC']
0 0 0
Changé:  150 50 150 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [300, 100]          BLC     1
1  Salle à manger  None  [420, 350]          BLC     1
2         Chambre  None   [300, 50]          TLC     2
3         Cuisine  None  [450, 200]          BLC     3
4         Cuisine  None  [570, 450]          BLC     3
5       Toilettes  None   [550, 50]          TRC     5
6       Toilettes  None  [650, 150]          TRC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

Appartement

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Toilettes
Toilettes
Appartement
Appartement

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Toilettes
Toilettes
Appartement
Appartement
HORIZONTAL
Cuisine Appartement 80
Cuisine
Removed corner : [450, 200, 'BLC']
Removed corner : [450, 200, 'BLC']
Removed corner : [650, 450, 'BRC']
Removed corner : [650, 450, 'BRC']
0 0 0
Changé:  450 200 200 250

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [300, 100]          BLC     1
1  Salle à manger  None  [420, 350]          BLC     1
2         Chambre  None   [300, 50]          TLC     2
3         Cuisine  None  [450, 200]          BLC     3
4         Cuisine  None  [650, 200]          BRC     3
5       Toilettes  None   [550, 50]          TRC     5
6       Toilettes  None  [650, 150]          TRC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Toilettes
Toilettes
Appartement
Appartement

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
VERTICAL
Toilettes Cuisine 50
Cuisine
Removed corner : [650, 150, 'TRC']
Removed corner : [650, 150, 'TRC']
0 0 0
Changé:  450 150 200 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [300, 100]          BLC     1
1  Salle à manger  None  [420, 350]          BLC     1
2         Chambre  None   [300, 50]          TLC     2
3         Cuisine  None  [450, 200]          BLC     3
4         Cuisine  None  [650, 200]          BRC     3
5       Toilettes  None   [550, 50]          TRC     5
6       Toilettes  None  [450, 150]          TRC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

Toilettes
Toilettes
Appartement
Appartement
VERTICAL
Toilettes Appartement 300
Toilettes
Removed corner : [550, 50, 'TRC']
Removed corner : [550, 50, 'TRC']
Toilettes Cuisine center
0 1 0
Changé:  550 50 100 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [300, 100]          BLC     1
1  Salle à manger  None  [420, 350]          BLC     1
2         Chambre  None   [300, 50]          TLC     2
3         Cuisine  None  [450, 200]          BLC     3
4         Cuisine  None  [650, 200]          BRC     3
5       Toilettes  None   [550, 50]          TRC     5
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [300, 100]          BLC     1
1  Salle à manger  None  [420, 350]          BLC     1
2         Chambre  None   [300, 50]          TLC     2
3         Cuisine  None  [450, 200]          BLC     3
4         Cuisine  None  [650, 200]          BRC     3
5       Toilettes  None   [550, 50]          TRC     5
6       Toilettes  None  [450, 150]          TRC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  550 50 100 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [300, 100]          BLC     1
1  Salle à manger  None  [420, 350]          BLC     1
2         Chambre  None   [300, 50]          TLC     2
3         Cuisine  None  [450, 200]          BLC     3
4         Cuisine  None  [650, 200]          BRC     3
5       Toilettes  None   [550, 50]          TRC     5
6       Toilettes  None  [450, 150]          TRC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

 Appartement

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Toilettes
Toilettes
Appartement
Appartement

 Appartement

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Toilettes
Toilettes
Appartement
Appartement
[[150, 150], [570, 450], [650, 200]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [300, 100]          BLC     1
1  Salle à manger  None  [420, 350]          BLC     1
2         Chambre  None   [300, 50]          TLC     2
3         Cuisine  None  [450, 200]          BLC     3
4         Cuisine  None  [650, 200]          BRC     3
5       Toilettes  None   [550, 50]          TRC     5
6       Toilettes  None  [450, 150]          TRC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

[<__main__.Chambre object at 0x00000238F8B602E0>, <__main__.Cuisine object at 0x00000238F8B60DF0>, <__main__.Toilettes object at 0x00000238F49C3F40>]
Salle de bain
0 0 0
Cuisine
0 0 0
Chambre
0 0 0
Toilettes
0 0 0
Salle à manger
Removed corner : [300, 100, 'BLC']
Removed corner : [420, 350, 'BLC']
0 0 0

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [650, 50, 'TRC']
Toilettes placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC']]
REMOVED : [[650, 50, 'TRC']]
Removed corner : [650, 150, 'TRC']
Salle de bain placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [650, 275, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [490, 150, 'TRC'], [650, 275, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC']]
Removed corner : [490, 150, 'TRC']
Cuisine placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC']]
Removed corner : [550, 50, 'TRC']
Chambre Salle de bain center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC']]
Removed corner : [150, 50, 'TLC']
Chambre placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
COINS : [[650, 450, 'BRC'], [150, 450, 'BLC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [550, 50, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [150, 50, 'TLC']]
Removed corner : [370, 150, 'TRC']
Salle à manger Chambre center
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
COINS : [[650, 450, 'BRC'], [150, 450, 'BLC'], [650, 275, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [550, 50, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [150, 50, 'TLC']]
Removed corner : [650, 275, 'TRC']
Salle à manger Cuisine close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
COINS : [[650, 450, 'BRC'], [150, 450, 'BLC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [550, 50, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [150, 50, 'TLC']]
Removed corner : [650, 450, 'BRC']
Salle à manger Cuisine close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
COINS : [[150, 450, 'BLC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [550, 50, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [150, 50, 'TLC']]
Removed corner : [490, 400, 'TRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
COINS : [[150, 450, 'BLC'], [250, 50, 'TLC'], [150, 250, 'TLC'], [550, 50, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [150, 50, 'TLC']]
Removed corner : [250, 50, 'TLC']
classique
classique
Salle à manger Cuisine close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
COINS : [[150, 450, 'BLC'], [150, 250, 'TLC'], [550, 50, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [150, 50, 'TLC']]
Removed corner : [150, 250, 'TLC']
Salle à manger Cuisine close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
COINS : [[150, 450, 'BLC'], [550, 50, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [150, 50, 'TLC']]
Removed corner : [550, 50, 'TRC']
classique
classique
classique
Salle à manger Cuisine close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
COINS : [[150, 450, 'BLC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [150, 50, 'TLC']]
Removed corner : [150, 450, 'BLC']
Salle à manger Cuisine close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
COINS : [[650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [150, 50, 'TLC']]
Removed corner : [150, 450, 'BLC']
Salle à manger Chambre close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
COINS : [[650, 450, 'BRC'], [550, 50, 'TRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [150, 50, 'TLC']]
Removed corner : [550, 50, 'TRC']
Salle à manger Salle de bain center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
COINS : [[650, 450, 'BRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [150, 50, 'TLC']]
Removed corner : [650, 450, 'BRC']
Salle à manger Salle de bain close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [550, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
COINS : [[650, 275, 'TRC'], [370, 150, 'TRC'], [490, 400, 'TRC'], [250, 50, 'TLC'], [150, 250, 'TLC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC'], [490, 150, 'TRC'], [150, 50, 'TLC']]
Removed corner : [250, 50, 'TLC']
Salle à manger placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [550, 50, TRC]       Toilettes  None
5   [650, 150, TRC]       Toilettes  None
6   [490, 150, TRC]   Salle de bain  None
7   [650, 275, TRC]   Salle de bain  None
8   [370, 150, TRC]         Cuisine  None
9   [490, 400, TRC]         Cuisine  None
10   [250, 50, TLC]         Chambre  None
11  [150, 250, TLC]         Chambre  None
12   [370, 50, TLC]  Salle à manger  None
13  [250, 300, TLC]  Salle à manger  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[550, 50, 'TRC']
[650, 150, 'TRC']
[490, 150, 'TRC']
[650, 275, 'TRC']
[370, 150, 'TRC']
[490, 400, 'TRC']
[250, 50, 'TLC']
[150, 250, 'TLC']
[370, 50, 'TLC']
[250, 300, 'TLC']
[650, 50, 'TRC']
[650, 150, 'TRC']
[490, 150, 'TRC']
[150, 50, 'TLC']
[250, 50, 'TLC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4        Toilettes  None   [550, 50]        TRC       550        50
5        Toilettes  None  [650, 150]        TRC       650       150
6    Salle de bain  None  [490, 150]        TRC       490       150
7    Salle de bain  None  [650, 275]        TRC       650       275
8          Cuisine  None  [370, 150]        TRC       370       150
9          Cuisine  None  [490, 400]        TRC       490       400
10         Chambre  None   [250, 50]        TLC       250        50
11         Chambre  None  [150, 250]        TLC       150       250
12  Salle à manger  None   [370, 50]        TLC       370        50
13  Salle à manger  None  [250, 300]        TLC       250       300

       corner cornertype  x_corner  y_corner
0   [650, 50]        TRC       650        50
1  [650, 150]        TRC       650       150
2  [490, 150]        TRC       490       150
3   [150, 50]        TLC       150        50
4   [250, 50]        TLC       250        50

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Toilettes,None,"[550, 50]",TRC,550,50,NaN,NaN
5,Toilettes,None,"[650, 150]",TRC,650,150,"[650, 150]",TRC
6,Salle de bain,None,"[490, 150]",TRC,490,150,"[490, 150]",TRC
7,Salle de bain,None,"[650, 275]",TRC,650,275,NaN,NaN
8,Cuisine,None,"[370, 150]",TRC,370,150,NaN,NaN
9,Cuisine,None,"[490, 400]",TRC,490,400,NaN,NaN
10,Chambre,None,"[250, 50]",TLC,250,50,"[250, 50]",TLC
11,Chambre,None,"[150, 250]",TLC,150,250,NaN,NaN
12,Salle à manger,None,"[370, 50]",TLC,370,50,NaN,NaN
13,Salle à manger,None,"[250, 300]",TLC,250,300,NaN,NaN

0 Appartement 1000
1 Appartement 1000
2 Toilettes 5
3 Salle de bain 4
4 Cuisine 3
5 Cuisine 3
6 Chambre 2
7 Salle à manger 1
8 Salle à manger 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [370, 50]          TLC     1
1  Salle à manger  None  [250, 300]          TLC     1
2         Chambre  None  [150, 250]          TLC     2
3         Cuisine  None  [370, 150]          TRC     3
4         Cuisine  None  [490, 400]          TRC     3
5   Salle de bain  None  [650, 275]          TRC     4
6       Toilettes  None   [550, 50]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement
Appartement
VERTICAL
Chambre Appartement 200
Chambre
Removed corner : [250, 50, 'TLC']
Removed corner : [150, 450, 'BLC']
0 0 0
Changé:  150 50 100 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [370, 50]          TLC     1
1  Salle à manger  None  [250, 300]          TLC     1
2         Chambre  None  [250, 450]          BLC     2
3         Cuisine  None  [370, 150]          TRC     3
4         Cuisine  None  [490, 400]          TRC     3
5   Salle de bain  None  [650, 275]          TRC     4
6       Toilettes  None   [550, 50]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Salle de bain

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement
VERTICAL
Salle de bain Appartement 175
Salle de bain
Removed corner : [650, 450, 'BRC']
Removed corner : [650, 450, 'BRC']
0 0 0
Changé:  490 150 160 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [370, 50]          TLC     1
1  Salle à manger  None  [250, 300]          TLC     1
2         Chambre  None  [250, 450]          BLC     2
3         Cuisine  None  [370, 150]          TRC     3
4         Cuisine  None  [490, 400]          TRC     3
5   Salle de bain  None  [490, 450]          BRC     4
6       Toilettes  None   [550, 50]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Appartement

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Appartement

Salle à manger
Salle à manger
Chambre
HORIZONTAL
Appartement Chambre 400
Chambre
Removed corner : [150, 450, 'BLC']
Chambre Entrée close edge tb
0 1 0
Changé:  150 50 500 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [370, 50]          TLC     1
1  Salle à manger  None  [250, 300]          TLC     1
2         Chambre  None  [250, 450]          BLC     2
3         Cuisine  None  [370, 150]          TRC     3
4         Cuisine  None  [490, 400]          TRC     3
5   Salle de bain  None  [490, 450]          BRC     4
6       Toilettes  None   [550, 50]          TRC     5
7     Appartement  None   [150, 50]          BLC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [370, 50]          TLC     1
1  Salle à manger  None  [250, 300]          TLC     1
2         Chambre  None  [250, 450]          BLC     2
3         Cuisine  None  [370, 150]          TRC     3
4         Cuisine  None  [490, 400]          TRC     3
5   Salle de bain  None  [490, 450]          BRC     4
6       Toilettes  None   [550, 50]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 50 100 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [370, 50]          TLC     1
1  Salle à manger  None  [250, 300]          TLC     1
2         Chambre  None  [250, 450]          BLC     2
3         Cuisine  None  [370, 150]          TRC     3
4         Cuisine  None  [490, 400]          TRC     3
5   Salle de bain  None  [490, 450]          BRC     4
6       Toilettes  None   [550, 50]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Cuisine
Cuisine
Salle de bain
HORIZONTAL
Appartement Salle de bain 160
Salle de bain
Salle de bain Cuisine center
0 1 0
Changé:  330 150 320 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [370, 50]          TLC     1
1  Salle à manger  None  [250, 300]          TLC     1
2         Chambre  None  [250, 450]          BLC     2
3         Cuisine  None  [370, 150]          TRC     3
4         Cuisine  None  [490, 400]          TRC     3
5   Salle de bain  None  [490, 450]          BRC     4
6       Toilettes  None   [550, 50]          TRC     5
7     Appartement  None  [330, 150]          BLC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [370, 50]          TLC     1
1  Salle à manger  None  [250, 300]          TLC     1
2         Chambre  None  [250, 450]          BLC     2
3         Cuisine  None  [370, 150]          TRC     3
4         Cuisine  None  [490, 400]          TRC     3
5   Salle de bain  None  [490, 450]          BRC     4
6       Toilettes  None   [550, 50]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  490 150 160 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [370, 50]          TLC     1
1  Salle à manger  None  [250, 300]          TLC     1
2         Chambre  None  [250, 450]          BLC     2
3         Cuisine  None  [370, 150]          TRC     3
4         Cuisine  None  [490, 400]          TRC     3
5   Salle de bain  None  [490, 450]          BRC     4
6       Toilettes  None   [550, 50]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Toilettes
Appartement
Appartement

 Appartement

Salle à manger
Salle à manger
Chambre
HORIZONTAL
Appartement Chambre 100
Chambre
Chambre Salle à manger center
0 1 0
Changé:  150 50 200 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [370, 50]          TLC     1
1  Salle à manger  None  [250, 300]          TLC     1
2         Chambre  None  [250, 450]          BLC     2
3         Cuisine  None  [370, 150]          TRC     3
4         Cuisine  None  [490, 400]          TRC     3
5   Salle de bain  None  [490, 450]          BRC     4
6       Toilettes  None   [550, 50]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None   [150, 50]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [370, 50]          TLC     1
1  Salle à manger  None  [250, 300]          TLC     1
2         Chambre  None  [250, 450]          BLC     2
3         Cuisine  None  [370, 150]          TRC     3
4         Cuisine  None  [490, 400]          TRC     3
5   Salle de bain  None  [490, 450]          BRC     4
6       Toilettes  None   [550, 50]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 50 100 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [370, 50]          TLC     1
1  Salle à manger  None  [250, 300]          TLC     1
2         Chambre  None  [250, 450]          BLC     2
3         Cuisine  None  [370, 150]          TRC     3
4         Cuisine  None  [490, 400]          TRC     3
5   Salle de bain  None  [490, 450]          BRC     4
6       Toilettes  None   [550, 50]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Cuisine
Cuisine
Salle de bain
HORIZONTAL
Appartement Salle de bain 340
Salle de bain
Salle de bain Cuisine center
0 1 0
Changé:  150 150 500 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [370, 50]          TLC     1
1  Salle à manger  None  [250, 300]          TLC     1
2         Chambre  None  [250, 450]          BLC     2
3         Cuisine  None  [370, 150]          TRC     3
4         Cuisine  None  [490, 400]          TRC     3
5   Salle de bain  None  [490, 450]          BRC     4
6       Toilettes  None   [550, 50]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 150]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [370, 50]          TLC     1
1  Salle à manger  None  [250, 300]          TLC     1
2         Chambre  None  [250, 450]          BLC     2
3         Cuisine  None  [370, 150]          TRC     3
4         Cuisine  None  [490, 400]          TRC     3
5   Salle de bain  None  [490, 450]          BRC     4
6       Toilettes  None   [550, 50]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  490 150 160 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [370, 50]          TLC     1
1  Salle à manger  None  [250, 300]          TLC     1
2         Chambre  None  [250, 450]          BLC     2
3         Cuisine  None  [370, 150]          TRC     3
4         Cuisine  None  [490, 400]          TRC     3
5   Salle de bain  None  [490, 450]          BRC     4
6       Toilettes  None   [550, 50]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Toilettes
Appartement
Appartement
[[150, 250], [650, 275]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [370, 50]          TLC     1
1  Salle à manger  None  [250, 300]          TLC     1
2         Chambre  None  [250, 450]          BLC     2
3         Cuisine  None  [370, 150]          TRC     3
4         Cuisine  None  [490, 400]          TRC     3
5   Salle de bain  None  [490, 450]          BRC     4
6       Toilettes  None   [550, 50]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

[<__main__.Chambre object at 0x00000238F8B73DC0>, <__main__.Sdb object at 0x00000238F8B73BE0>, <__main__.Chambre object at 0x00000238F8B73DC0>, <__main__.Sdb object at 0x00000238F8B73BE0>, <__main__.Chambre object at 0x00000238F8B73DC0>, <__main__.Sdb object at 0x00000238F8B73BE0>]
Toilettes
Removed corner : [550, 50, 'TRC']
0 0 0
Salle de bain
0 0 0
Cuisine
Removed corner : [370, 150, 'TRC']
Removed corner : [370, 150, 'TRC']
Removed corner : [490, 400, 'TRC']
Removed corner : [490, 400, 'TRC']
0 0 0
Chambre
0 0 0
Salle à manger
Removed corner : [370, 50, 'TLC']
Removed corner : [250, 300, 'TLC']
0 0 0

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 50, 'TLC']
Salle à manger placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 150, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 150, 'TLC']]
REMOVED : [[150, 50, 'TLC']]
Removed corner : [350, 50, 'TLC']
Cuisine Entrée close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 150, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 150, 'TLC']]
REMOVED : [[150, 50, 'TLC']]
Removed corner : [150, 150, 'TLC']
Cuisine placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [270, 150, 'TLC'], [150, 400, 'TLC'], [350, 50, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC']]
Removed corner : [270, 150, 'TLC']
Toilettes placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 400, 'TLC'], [350, 50, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC']]
Removed corner : [650, 450, 'BRC']
Salle de bain placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC'], [650, 200, 'BRC'], [530, 450, 'BRC']]
COINS : [[650, 50, 'TRC'], [150, 450, 'BLC'], [150, 400, 'TLC'], [350, 50, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC'], [650, 200, 'BRC'], [530, 450, 'BRC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [650, 450, 'BRC']]
Removed corner : [150, 450, 'BLC']
Chambre Cuisine center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC'], [650, 200, 'BRC'], [530, 450, 'BRC']]
COINS : [[650, 50, 'TRC'], [150, 400, 'TLC'], [350, 50, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC'], [650, 200, 'BRC'], [530, 450, 'BRC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [650, 450, 'BRC']]
Removed corner : [350, 50, 'TLC']
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC'], [650, 200, 'BRC'], [530, 450, 'BRC']]
COINS : [[650, 50, 'TRC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC'], [650, 200, 'BRC'], [530, 450, 'BRC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [650, 450, 'BRC']]
Removed corner : [370, 150, 'TLC']
Chambre Salle de bain close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC'], [650, 200, 'BRC'], [530, 450, 'BRC']]
COINS : [[650, 50, 'TRC'], [150, 400, 'TLC'], [270, 250, 'TLC'], [650, 200, 'BRC'], [530, 450, 'BRC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [650, 450, 'BRC']]
Removed corner : [650, 200, 'BRC']
Chambre placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [350, 50, TLC]  Salle à manger  None
5   [150, 150, TLC]  Salle à manger  None
6   [270, 150, TLC]         Cuisine  None
7   [150, 400, TLC]         Cuisine  None
8   [370, 150, TLC]       Toilettes  None
9   [270, 250, TLC]       Toilettes  None
10  [650, 200, BRC]   Salle de bain  None
11  [530, 450, BRC]   Salle de bain  None
12  [650, 100, BRC]         Chambre  None
13  [450, 200, BRC]         Chambre  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[350, 50, 'TLC']
[150, 150, 'TLC']
[270, 150, 'TLC']
[150, 400, 'TLC']
[370, 150, 'TLC']
[270, 250, 'TLC']
[650, 200, 'BRC']
[530, 450, 'BRC']
[650, 100, 'BRC']
[450, 200, 'BRC']
[150, 50, 'TLC']
[150, 150, 'TLC']
[270, 150, 'TLC']
[650, 450, 'BRC']
[650, 200, 'BRC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4   Salle à manger  None   [350, 50]        TLC       350        50
5   Salle à manger  None  [150, 150]        TLC       150       150
6          Cuisine  None  [270, 150]        TLC       270       150
7          Cuisine  None  [150, 400]        TLC       150       400
8        Toilettes  None  [370, 150]        TLC       370       150
9        Toilettes  None  [270, 250]        TLC       270       250
10   Salle de bain  None  [650, 200]        BRC       650       200
11   Salle de bain  None  [530, 450]        BRC       530       450
12         Chambre  None  [650, 100]        BRC       650       100
13         Chambre  None  [450, 200]        BRC       450       200

       corner cornertype  x_corner  y_corner
0   [150, 50]        TLC       150        50
1  [150, 150]        TLC       150       150
2  [270, 150]        TLC       270       150
3  [650, 450]        BRC       650       450
4  [650, 200]        BRC       650       200

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Salle à manger,None,"[350, 50]",TLC,350,50,NaN,NaN
5,Salle à manger,None,"[150, 150]",TLC,150,150,"[150, 150]",TLC
6,Cuisine,None,"[270, 150]",TLC,270,150,"[270, 150]",TLC
7,Cuisine,None,"[150, 400]",TLC,150,400,NaN,NaN
8,Toilettes,None,"[370, 150]",TLC,370,150,NaN,NaN
9,Toilettes,None,"[270, 250]",TLC,270,250,NaN,NaN
10,Salle de bain,None,"[650, 200]",BRC,650,200,"[650, 200]",BRC
11,Salle de bain,None,"[530, 450]",BRC,530,450,NaN,NaN
12,Chambre,None,"[650, 100]",BRC,650,100,NaN,NaN
13,Chambre,None,"[450, 200]",BRC,450,200,NaN,NaN

0 Appartement 1000
1 Appartement 1000
2 Salle à manger 1
3 Cuisine 3
4 Toilettes 5
5 Toilettes 5
6 Salle de bain 4
7 Chambre 2
8 Chambre 2

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [650, 100]          BRC     2
2         Chambre  None  [450, 200]          BRC     2
3         Cuisine  None  [150, 400]          TLC     3
4   Salle de bain  None  [530, 450]          BRC     4
5       Toilettes  None  [370, 150]          TLC     5
6       Toilettes  None  [270, 250]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement

 Chambre

Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
VERTICAL
Chambre Appartement 50
Chambre
Removed corner : [650, 50, 'TRC']
Removed corner : [450, 200, 'BRC']
0 0 0
Changé:  450 50 200 150

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None   [450, 50]          TRC     2
2         Chambre  None  [450, 200]          BRC     2
3         Cuisine  None  [150, 400]          TLC     3
4   Salle de bain  None  [530, 450]          BRC     4
5       Toilettes  None  [370, 150]          TLC     5
6       Toilettes  None  [270, 250]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Appartement

 Chambre

Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement

 Cuisine

Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement
VERTICAL
Cuisine Appartement 50
Cuisine
Removed corner : [150, 450, 'BLC']
0 0 0
Changé:  150 150 120 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None   [450, 50]          TRC     2
2         Chambre  None  [450, 200]          BRC     2
3         Cuisine  None  [270, 450]          BLC     3
4   Salle de bain  None  [530, 450]          BRC     4
5       Toilettes  None  [370, 150]          TLC     5
6       Toilettes  None  [270, 250]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle de bain

Salle à manger
Chambre
Chambre
Cuisine
HORIZONTAL
Salle de bain Cuisine 260
Cuisine
Removed corner : [530, 450, 'BRC']
Cuisine Toilettes close edge tb
0 1 0
Changé:  150 150 380 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None   [450, 50]          TRC     2
2         Chambre  None  [450, 200]          BRC     2
3         Cuisine  None  [270, 450]          BLC     3
4   Salle de bain  None  [150, 150]          BLC     4
5       Toilettes  None  [370, 150]          TLC     5
6       Toilettes  None  [270, 250]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None   [450, 50]          TRC     2
2         Chambre  None  [450, 200]          BRC     2
3         Cuisine  None  [270, 450]          BLC     3
4   Salle de bain  None  [530, 450]          BRC     4
5       Toilettes  None  [370, 150]          TLC     5
6       Toilettes  None  [270, 250]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 150 120 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None   [450, 50]          TRC     2
2         Chambre  None  [450, 200]          BRC     2
3         Cuisine  None  [270, 450]          BLC     3
4   Salle de bain  None  [530, 450]          BRC     4
5       Toilettes  None  [370, 150]          TLC     5
6       Toilettes  None  [270, 250]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Salle de bain
Toilettes
Toilettes
Appartement
Appartement
HORIZONTAL
Salle de bain Appartement 380
Salle de bain
Salle de bain Cuisine close edge lr
0 1 0
Changé:  150 200 500 250

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None   [450, 50]          TRC     2
2         Chambre  None  [450, 200]          BRC     2
3         Cuisine  None  [270, 450]          BLC     3
4   Salle de bain  None  [150, 200]          BLC     4
5       Toilettes  None  [370, 150]          TLC     5
6       Toilettes  None  [270, 250]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None   [450, 50]          TRC     2
2         Chambre  None  [450, 200]          BRC     2
3         Cuisine  None  [270, 450]          BLC     3
4   Salle de bain  None  [530, 450]          BRC     4
5       Toilettes  None  [370, 150]          TLC     5
6       Toilettes  None  [270, 250]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  530 200 120 250

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None   [450, 50]          TRC     2
2         Chambre  None  [450, 200]          BRC     2
3         Cuisine  None  [270, 450]          BLC     3
4   Salle de bain  None  [530, 450]          BRC     4
5       Toilettes  None  [370, 150]          TLC     5
6       Toilettes  None  [270, 250]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Toilettes

Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement

 Toilettes

Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement

 Appartement

Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement

 Appartement

Salle à manger
Chambre
Chambre
Cuisine
HORIZONTAL
Appartement Cuisine 120
Cuisine
Cuisine Toilettes close edge tb
0 1 0
Changé:  150 150 240 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None   [450, 50]          TRC     2
2         Chambre  None  [450, 200]          BRC     2
3         Cuisine  None  [270, 450]          BLC     3
4   Salle de bain  None  [530, 450]          BRC     4
5       Toilettes  None  [370, 150]          TLC     5
6       Toilettes  None  [270, 250]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 150]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None   [450, 50]          TRC     2
2         Chambre  None  [450, 200]          BRC     2
3         Cuisine  None  [270, 450]          BLC     3
4   Salle de bain  None  [530, 450]          BRC     4
5       Toilettes  None  [370, 150]          TLC     5
6       Toilettes  None  [270, 250]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 150 120 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None   [450, 50]          TRC     2
2         Chambre  None  [450, 200]          BRC     2
3         Cuisine  None  [270, 450]          BLC     3
4   Salle de bain  None  [530, 450]          BRC     4
5       Toilettes  None  [370, 150]          TLC     5
6       Toilettes  None  [270, 250]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Salle de bain
HORIZONTAL
Appartement Salle de bain 380
Salle de bain
Salle de bain Cuisine close edge lr
0 1 0
Changé:  150 200 500 250

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None   [450, 50]          TRC     2
2         Chambre  None  [450, 200]          BRC     2
3         Cuisine  None  [270, 450]          BLC     3
4   Salle de bain  None  [530, 450]          BRC     4
5       Toilettes  None  [370, 150]          TLC     5
6       Toilettes  None  [270, 250]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 200]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None   [450, 50]          TRC     2
2         Chambre  None  [450, 200]          BRC     2
3         Cuisine  None  [270, 450]          BLC     3
4   Salle de bain  None  [530, 450]          BRC     4
5       Toilettes  None  [370, 150]          TLC     5
6       Toilettes  None  [270, 250]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  530 200 120 250

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None   [450, 50]          TRC     2
2         Chambre  None  [450, 200]          BRC     2
3         Cuisine  None  [270, 450]          BLC     3
4   Salle de bain  None  [530, 450]          BRC     4
5       Toilettes  None  [370, 150]          TLC     5
6       Toilettes  None  [270, 250]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Toilettes
Toilettes
Appartement
Appartement
[[650, 100], [150, 400]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None   [450, 50]          TRC     2
2         Chambre  None  [450, 200]          BRC     2
3         Cuisine  None  [270, 450]          BLC     3
4   Salle de bain  None  [530, 450]          BRC     4
5       Toilettes  None  [370, 150]          TLC     5
6       Toilettes  None  [270, 250]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

[<__main__.Chambre object at 0x00000238F8B66D90>, <__main__.Cuisine object at 0x00000238F8B66850>, <__main__.Cuisine object at 0x00000238F8B66850>, <__main__.Cuisine object at 0x00000238F8B66850>, <__main__.Sdb object at 0x00000238F49CE4F0>]
Salle à manger
Removed corner : [350, 50, 'TLC']
0 0 0
Cuisine
0 0 0
Toilettes
Removed corner : [370, 150, 'TLC']
Removed corner : [270, 250, 'TLC']
0 0 0
Salle de bain
0 0 0
Chambre
0 0 0

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [650, 450, 'BRC']
Salle de bain placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC']]
Removed corner : [650, 350, 'BRC']
Chambre placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [650, 230, 'BRC'], [400, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [550, 450, 'BRC'], [650, 230, 'BRC'], [400, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 350, 'BRC']]
Removed corner : [400, 350, 'BRC']
Toilettes placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [650, 230, 'BRC'], [400, 350, 'BRC'], [400, 250, 'BRC'], [300, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [550, 450, 'BRC'], [650, 230, 'BRC'], [400, 250, 'BRC'], [300, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 350, 'BRC'], [400, 350, 'BRC']]
Removed corner : [650, 50, 'TRC']
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [650, 230, 'BRC'], [400, 350, 'BRC'], [400, 250, 'BRC'], [300, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [550, 450, 'BRC'], [650, 230, 'BRC'], [400, 250, 'BRC'], [300, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 350, 'BRC'], [400, 350, 'BRC']]
Removed corner : [400, 250, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [650, 230, 'BRC'], [400, 350, 'BRC'], [400, 250, 'BRC'], [300, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [550, 450, 'BRC'], [650, 230, 'BRC'], [300, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 350, 'BRC'], [400, 350, 'BRC']]
Removed corner : [150, 450, 'BLC']
classique
Cuisine Toilettes close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [650, 230, 'BRC'], [400, 350, 'BRC'], [400, 250, 'BRC'], [300, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [550, 450, 'BRC'], [650, 230, 'BRC'], [300, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 350, 'BRC'], [400, 350, 'BRC']]
Removed corner : [300, 350, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [650, 230, 'BRC'], [400, 350, 'BRC'], [400, 250, 'BRC'], [300, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [550, 450, 'BRC'], [650, 230, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [650, 350, 'BRC'], [400, 350, 'BRC']]
Removed corner : [650, 230, 'BRC']
Cuisine placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [650, 230, 'BRC'], [400, 350, 'BRC'], [400, 250, 'BRC'], [300, 350, 'BRC'], [650, 105, 'BRC'], [330, 230, 'BRC']]
COINS : [[150, 50, 'TLC'], [550, 450, 'BRC'], [650, 105, 'BRC'], [330, 230, 'BRC'], [300, 350, 'BRC'], [150, 450, 'BLC'], [400, 250, 'BRC'], [650, 50, 'TRC']]
REMOVED : [[650, 450, 'BRC'], [650, 350, 'BRC'], [400, 350, 'BRC'], [650, 230, 'BRC']]
Removed corner : [330, 230, 'BRC']
Salle à manger placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [650, 350, BRC]   Salle de bain  None
5   [550, 450, BRC]   Salle de bain  None
6   [650, 230, BRC]         Chambre  None
7   [400, 350, BRC]         Chambre  None
8   [400, 250, BRC]       Toilettes  None
9   [300, 350, BRC]       Toilettes  None
10  [650, 105, BRC]         Cuisine  None
11  [330, 230, BRC]         Cuisine  None
12   [330, 70, BRC]  Salle à manger  None
13  [205, 230, BRC]  Salle à manger  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[650, 350, 'BRC']
[550, 450, 'BRC']
[650, 230, 'BRC']
[400, 350, 'BRC']
[400, 250, 'BRC']
[300, 350, 'BRC']
[650, 105, 'BRC']
[330, 230, 'BRC']
[330, 70, 'BRC']
[205, 230, 'BRC']
[650, 450, 'BRC']
[650, 350, 'BRC']
[400, 350, 'BRC']
[650, 230, 'BRC']
[330, 230, 'BRC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4    Salle de bain  None  [650, 350]        BRC       650       350
5    Salle de bain  None  [550, 450]        BRC       550       450
6          Chambre  None  [650, 230]        BRC       650       230
7          Chambre  None  [400, 350]        BRC       400       350
8        Toilettes  None  [400, 250]        BRC       400       250
9        Toilettes  None  [300, 350]        BRC       300       350
10         Cuisine  None  [650, 105]        BRC       650       105
11         Cuisine  None  [330, 230]        BRC       330       230
12  Salle à manger  None   [330, 70]        BRC       330        70
13  Salle à manger  None  [205, 230]        BRC       205       230

       corner cornertype  x_corner  y_corner
0  [650, 450]        BRC       650       450
1  [650, 350]        BRC       650       350
2  [400, 350]        BRC       400       350
3  [650, 230]        BRC       650       230
4  [330, 230]        BRC       330       230

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,NaN,NaN
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Salle de bain,None,"[650, 350]",BRC,650,350,"[650, 350]",BRC
5,Salle de bain,None,"[550, 450]",BRC,550,450,NaN,NaN
6,Chambre,None,"[650, 230]",BRC,650,230,"[650, 230]",BRC
7,Chambre,None,"[400, 350]",BRC,400,350,"[400, 350]",BRC
8,Toilettes,None,"[400, 250]",BRC,400,250,NaN,NaN
9,Toilettes,None,"[300, 350]",BRC,300,350,NaN,NaN
10,Cuisine,None,"[650, 105]",BRC,650,105,NaN,NaN
11,Cuisine,None,"[330, 230]",BRC,330,230,"[330, 230]",BRC
12,Salle à manger,None,"[330, 70]",BRC,330,70,NaN,NaN
13,Salle à manger,None,"[205, 230]",BRC,205,230,NaN,NaN

0 Appartement 1000
1 Appartement 1000
2 Appartement 1000
3 Salle de bain 4
4 Toilettes 5
5 Toilettes 5
6 Cuisine 3
7 Salle à manger 1
8 Salle à manger 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [330, 70]          BRC     1
1  Salle à manger  None  [205, 230]          BRC     1
2         Cuisine  None  [650, 105]          BRC     3
3   Salle de bain  None  [550, 450]          BRC     4
4       Toilettes  None  [400, 250]          BRC     5
5       Toilettes  None  [300, 350]          BRC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger
Salle à manger
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement
Appartement

 Salle à manger

Salle à manger
Salle à manger
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement
Appartement

 Cuisine

Salle à manger
Salle à manger
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement
VERTICAL
Cuisine Appartement 55
Cuisine
Removed corner : [650, 50, 'TRC']
classique
classique
0 0 1
Changé:  330 50 320 180

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [330, 70]          BRC     1
1  Salle à manger  None  [205, 230]          BRC     1
2         Cuisine  None   [330, 50]          TRC     3
3   Salle de bain  None  [550, 450]          BRC     4
4       Toilettes  None  [400, 250]          BRC     5
5       Toilettes  None  [300, 350]          BRC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [330, 70]          BRC     1
1  Salle à manger  None  [205, 230]          BRC     1
2         Cuisine  None  [650, 105]          BRC     3
3   Salle de bain  None  [550, 450]          BRC     4
4       Toilettes  None  [400, 250]          BRC     5
5       Toilettes  None  [300, 350]          BRC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  330 105 320 125

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [330, 70]          BRC     1
1  Salle à manger  None  [205, 230]          BRC     1
2         Cuisine  None  [650, 105]          BRC     3
3   Salle de bain  None  [550, 450]          BRC     4
4       Toilettes  None  [400, 250]          BRC     5
5       Toilettes  None  [300, 350]          BRC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Appartement

 Salle de bain

Salle à manger
Salle à manger
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement
Appartement
HORIZONTAL
Salle de bain Appartement 400
Salle de bain
Removed corner : [150, 450, 'BLC']
0 0 0
Changé:  150 350 500 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [330, 70]          BRC     1
1  Salle à manger  None  [205, 230]          BRC     1
2         Cuisine  None  [650, 105]          BRC     3
3   Salle de bain  None  [150, 350]          BLC     4
4       Toilettes  None  [400, 250]          BRC     5
5       Toilettes  None  [300, 350]          BRC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Toilettes

Salle à manger
Salle à manger
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement
Appartement

 Toilettes

Salle à manger
Salle à manger
Cuisine
Salle de bain
Toilettes
Toilettes
Appartement
Appartement
Appartement

 Appartement

Salle à manger
Salle à manger
Cuisine
Salle de bain
VERTICAL
Appartement Salle de bain 300
Salle de bain
Removed corner : [150, 50, 'TLC']
Salle de bain Entrée close edge tb
0 1 0
Changé:  150 50 500 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [330, 70]          BRC     1
1  Salle à manger  None  [205, 230]          BRC     1
2         Cuisine  None  [650, 105]          BRC     3
3   Salle de bain  None  [150, 350]          BLC     4
4       Toilettes  None  [400, 250]          BRC     5
5       Toilettes  None  [300, 350]          BRC     5
6     Appartement  None   [650, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [330, 70]          BRC     1
1  Salle à manger  None  [205, 230]          BRC     1
2         Cuisine  None  [650, 105]          BRC     3
3   Salle de bain  None  [150, 350]          BLC     4
4       Toilettes  None  [400, 250]          BRC     5
5       Toilettes  None  [300, 350]          BRC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 350 500 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [330, 70]          BRC     1
1  Salle à manger  None  [205, 230]          BRC     1
2         Cuisine  None  [650, 105]          BRC     3
3   Salle de bain  None  [150, 350]          BLC     4
4       Toilettes  None  [400, 250]          BRC     5
5       Toilettes  None  [300, 350]          BRC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Toilettes
Toilettes
Appartement
Appartement
Appartement

 Appartement

Salle à manger
Salle à manger
Cuisine
VERTICAL
Appartement Cuisine 55
Cuisine
classique
classique
0 0 1
Changé:  330 50 320 180

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [330, 70]          BRC     1
1  Salle à manger  None  [205, 230]          BRC     1
2         Cuisine  None  [650, 105]          BRC     3
3   Salle de bain  None  [150, 350]          BLC     4
4       Toilettes  None  [400, 250]          BRC     5
5       Toilettes  None  [300, 350]          BRC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [330, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [330, 70]          BRC     1
1  Salle à manger  None  [205, 230]          BRC     1
2         Cuisine  None  [650, 105]          BRC     3
3   Salle de bain  None  [150, 350]          BLC     4
4       Toilettes  None  [400, 250]          BRC     5
5       Toilettes  None  [300, 350]          BRC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  330 105 320 125

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [330, 70]          BRC     1
1  Salle à manger  None  [205, 230]          BRC     1
2         Cuisine  None  [650, 105]          BRC     3
3   Salle de bain  None  [150, 350]          BLC     4
4       Toilettes  None  [400, 250]          BRC     5
5       Toilettes  None  [300, 350]          BRC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Salle de bain
Toilettes
Toilettes
Appartement
Appartement
Appartement

 Appartement

Salle à manger
Salle à manger
Cuisine
Salle de bain
VERTICAL
Appartement Salle de bain 100
Salle de bain
Salle de bain Chambre center
0 1 0
Changé:  150 250 500 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [330, 70]          BRC     1
1  Salle à manger  None  [205, 230]          BRC     1
2         Cuisine  None  [650, 105]          BRC     3
3   Salle de bain  None  [150, 350]          BLC     4
4       Toilettes  None  [400, 250]          BRC     5
5       Toilettes  None  [300, 350]          BRC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [650, 250]          TLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [330, 70]          BRC     1
1  Salle à manger  None  [205, 230]          BRC     1
2         Cuisine  None  [650, 105]          BRC     3
3   Salle de bain  None  [150, 350]          BLC     4
4       Toilettes  None  [400, 250]          BRC     5
5       Toilettes  None  [300, 350]          BRC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 350 500 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [330, 70]          BRC     1
1  Salle à manger  None  [205, 230]          BRC     1
2         Cuisine  None  [650, 105]          BRC     3
3   Salle de bain  None  [150, 350]          BLC     4
4       Toilettes  None  [400, 250]          BRC     5
5       Toilettes  None  [300, 350]          BRC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Toilettes
Toilettes
Appartement
Appartement
Appartement
[[550, 450]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [330, 70]          BRC     1
1  Salle à manger  None  [205, 230]          BRC     1
2         Cuisine  None  [650, 105]          BRC     3
3   Salle de bain  None  [150, 350]          BLC     4
4       Toilettes  None  [400, 250]          BRC     5
5       Toilettes  None  [300, 350]          BRC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

[<__main__.Cuisine object at 0x00000238F8B90B80>, <__main__.Sdb object at 0x00000238F8B90100>, <__main__.Cuisine object at 0x00000238F8B90B80>, <__main__.Sdb object at 0x00000238F8B90100>]
Salle de bain
0 0 0
Chambre
0 0 0
Toilettes
Removed corner : [400, 250, 'BRC']
Removed corner : [300, 350, 'BRC']
0 0 0
Cuisine
Removed corner : [650, 105, 'BRC']
0 0 0
Salle à manger
Removed corner : [330, 70, 'BRC']
Removed corner : [205, 230, 'BRC']
0 0 0

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 50, 'TLC']
Toilettes placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC']]
REMOVED : [[150, 50, 'TLC']]
Removed corner : [150, 150, 'TLC']
Chambre placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [250, 150, 'TLC'], [150, 350, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [250, 150, 'TLC'], [150, 350, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC']]
Removed corner : [250, 150, 'TLC']
Cuisine placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [250, 150, 'TLC'], [150, 350, 'TLC'], [410, 150, 'TLC'], [250, 275, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 350, 'TLC'], [410, 150, 'TLC'], [250, 275, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [250, 150, 'TLC']]
Removed corner : [410, 150, 'TLC']
Salle de bain placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [250, 150, 'TLC'], [150, 350, 'TLC'], [410, 150, 'TLC'], [250, 275, 'TLC'], [535, 150, 'TLC'], [410, 310, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 350, 'TLC'], [250, 275, 'TLC'], [535, 150, 'TLC'], [410, 310, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [250, 150, 'TLC'], [410, 150, 'TLC']]
Removed corner : [250, 275, 'TLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [250, 150, 'TLC'], [150, 350, 'TLC'], [410, 150, 'TLC'], [250, 275, 'TLC'], [535, 150, 'TLC'], [410, 310, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 350, 'TLC'], [535, 150, 'TLC'], [410, 310, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [250, 150, 'TLC'], [410, 150, 'TLC']]
Removed corner : [250, 50, 'TLC']
Salle à manger Cuisine center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [250, 150, 'TLC'], [150, 350, 'TLC'], [410, 150, 'TLC'], [250, 275, 'TLC'], [535, 150, 'TLC'], [410, 310, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'TLC'], [535, 150, 'TLC'], [410, 310, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [250, 150, 'TLC'], [410, 150, 'TLC']]
Removed corner : [535, 150, 'TLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [250, 150, 'TLC'], [150, 350, 'TLC'], [410, 150, 'TLC'], [250, 275, 'TLC'], [535, 150, 'TLC'], [410, 310, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'TLC'], [410, 310, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [250, 150, 'TLC'], [410, 150, 'TLC']]
Removed corner : [410, 310, 'TLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [250, 150, 'TLC'], [150, 350, 'TLC'], [410, 150, 'TLC'], [250, 275, 'TLC'], [535, 150, 'TLC'], [410, 310, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [250, 150, 'TLC'], [410, 150, 'TLC']]
Removed corner : [150, 350, 'TLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [250, 150, 'TLC'], [150, 350, 'TLC'], [410, 150, 'TLC'], [250, 275, 'TLC'], [535, 150, 'TLC'], [410, 310, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [250, 150, 'TLC'], [410, 150, 'TLC']]
Removed corner : [650, 50, 'TRC']
Removed corner : [650, 450, 'BRC']
Salle à manger placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [250, 50, TLC]       Toilettes  None
5   [150, 150, TLC]       Toilettes  None
6   [250, 150, TLC]         Chambre  None
7   [150, 350, TLC]         Chambre  None
8   [410, 150, TLC]         Cuisine  None
9   [250, 275, TLC]         Cuisine  None
10  [535, 150, TLC]   Salle de bain  None
11  [410, 310, TLC]   Salle de bain  None
12   [650, 50, BRC]  Salle à manger  None
13  [550, 450, BRC]  Salle à manger  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[250, 50, 'TLC']
[150, 150, 'TLC']
[250, 150, 'TLC']
[150, 350, 'TLC']
[410, 150, 'TLC']
[250, 275, 'TLC']
[535, 150, 'TLC']
[410, 310, 'TLC']
[650, 50, 'BRC']
[550, 450, 'BRC']
[150, 50, 'TLC']
[150, 150, 'TLC']
[250, 150, 'TLC']
[410, 150, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4        Toilettes  None   [250, 50]        TLC       250        50
5        Toilettes  None  [150, 150]        TLC       150       150
6          Chambre  None  [250, 150]        TLC       250       150
7          Chambre  None  [150, 350]        TLC       150       350
8          Cuisine  None  [410, 150]        TLC       410       150
9          Cuisine  None  [250, 275]        TLC       250       275
10   Salle de bain  None  [535, 150]        TLC       535       150
11   Salle de bain  None  [410, 310]        TLC       410       310
12  Salle à manger  None   [650, 50]        BRC       650        50
13  Salle à manger  None  [550, 450]        BRC       550       450

       corner cornertype  x_corner  y_corner
0   [150, 50]        TLC       150        50
1  [150, 150]        TLC       150       150
2  [250, 150]        TLC       250       150
3  [410, 150]        TLC       410       150
4   [650, 50]        TRC       650        50
5  [650, 450]        BRC       650       450

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,Salle à manger,None,"[650, 50]",BRC,650,50,"[650, 50]",TRC
3,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
4,None,None,"[150, 450]",BLC,150,450,NaN,NaN
5,Toilettes,None,"[250, 50]",TLC,250,50,NaN,NaN
6,Toilettes,None,"[150, 150]",TLC,150,150,"[150, 150]",TLC
7,Chambre,None,"[250, 150]",TLC,250,150,"[250, 150]",TLC
8,Chambre,None,"[150, 350]",TLC,150,350,NaN,NaN
9,Cuisine,None,"[410, 150]",TLC,410,150,"[410, 150]",TLC
10,Cuisine,None,"[250, 275]",TLC,250,275,NaN,NaN
11,Salle de bain,None,"[535, 150]",TLC,535,150,NaN,NaN
12,Salle de bain,None,"[410, 310]",TLC,410,310,NaN,NaN
13,Salle à manger,None,"[550, 450]",BRC,550,450,NaN,NaN

0 Appartement 1000
1 Toilettes 5
2 Chambre 2
3 Cuisine 3
4 Salle de bain 4
5 Salle de bain 4
6 Salle à manger 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 450]          BRC     1
1         Chambre  None  [150, 350]          TLC     2
2         Cuisine  None  [250, 275]          TLC     3
3   Salle de bain  None  [535, 150]          TLC     4
4   Salle de bain  None  [410, 310]          TLC     4
5       Toilettes  None   [250, 50]          TLC     5
6     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement
HORIZONTAL
Salle à manger Appartement 400
Salle à manger
Removed corner : [650, 50, 'BRC']
Removed corner : [150, 450, 'BLC']
Salle à manger Entrée close edge tb
0 1 0
Changé:  150 50 500 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [150, 50]          BLC     1
1         Chambre  None  [150, 350]          TLC     2
2         Cuisine  None  [250, 275]          TLC     3
3   Salle de bain  None  [535, 150]          TLC     4
4   Salle de bain  None  [410, 310]          TLC     4
5       Toilettes  None   [250, 50]          TLC     5
6     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 450]          BRC     1
1         Chambre  None  [150, 350]          TLC     2
2         Cuisine  None  [250, 275]          TLC     3
3   Salle de bain  None  [535, 150]          TLC     4
4   Salle de bain  None  [410, 310]          TLC     4
5       Toilettes  None   [250, 50]          TLC     5
6     Appartement  None  [150, 450]          BLC  1000

Ancien:  550 50 100 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 450]          BRC     1
1         Chambre  None  [150, 350]          TLC     2
2         Cuisine  None  [250, 275]          TLC     3
3   Salle de bain  None  [535, 150]          TLC     4
4   Salle de bain  None  [410, 310]          TLC     4
5       Toilettes  None   [250, 50]          TLC     5
6     Appartement  None  [150, 450]          BLC  1000

 Chambre

Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement
VERTICAL
Chambre Appartement 100
Chambre
0 0 0
Changé:  150 150 100 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 450]          BRC     1
1         Chambre  None  [250, 450]          BLC     2
2         Cuisine  None  [250, 275]          TLC     3
3   Salle de bain  None  [535, 150]          TLC     4
4   Salle de bain  None  [410, 310]          TLC     4
5       Toilettes  None   [250, 50]          TLC     5
6     Appartement  None  [150, 450]          BLC  1000

 Cuisine

Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Salle de bain

Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Salle de bain

Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Toilettes

Salle à manger
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Appartement

Salle à manger
HORIZONTAL
Appartement Salle à manger 400
Salle à manger
Salle à manger Entrée close edge tb
0 1 0
Changé:  150 50 500 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 450]          BRC     1
1         Chambre  None  [250, 450]          BLC     2
2         Cuisine  None  [250, 275]          TLC     3
3   Salle de bain  None  [535, 150]          TLC     4
4   Salle de bain  None  [410, 310]          TLC     4
5       Toilettes  None   [250, 50]          TLC     5
6     Appartement  None   [150, 50]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 450]          BRC     1
1         Chambre  None  [250, 450]          BLC     2
2         Cuisine  None  [250, 275]          TLC     3
3   Salle de bain  None  [535, 150]          TLC     4
4   Salle de bain  None  [410, 310]          TLC     4
5       Toilettes  None   [250, 50]          TLC     5
6     Appartement  None  [150, 450]          BLC  1000

Ancien:  550 50 100 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 450]          BRC     1
1         Chambre  None  [250, 450]          BLC     2
2         Cuisine  None  [250, 275]          TLC     3
3   Salle de bain  None  [535, 150]          TLC     4
4   Salle de bain  None  [410, 310]          TLC     4
5       Toilettes  None   [250, 50]          TLC     5
6     Appartement  None  [150, 450]          BLC  1000

Chambre
HORIZONTAL
Appartement Chambre 100
Chambre
Chambre Cuisine close edge tb
0 1 0
Changé:  150 150 200 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 450]          BRC     1
1         Chambre  None  [250, 450]          BLC     2
2         Cuisine  None  [250, 275]          TLC     3
3   Salle de bain  None  [535, 150]          TLC     4
4   Salle de bain  None  [410, 310]          TLC     4
5       Toilettes  None   [250, 50]          TLC     5
6     Appartement  None  [150, 150]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 450]          BRC     1
1         Chambre  None  [250, 450]          BLC     2
2         Cuisine  None  [250, 275]          TLC     3
3   Salle de bain  None  [535, 150]          TLC     4
4   Salle de bain  None  [410, 310]          TLC     4
5       Toilettes  None   [250, 50]          TLC     5
6     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 150 100 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 450]          BRC     1
1         Chambre  None  [250, 450]          BLC     2
2         Cuisine  None  [250, 275]          TLC     3
3   Salle de bain  None  [535, 150]          TLC     4
4   Salle de bain  None  [410, 310]          TLC     4
5       Toilettes  None   [250, 50]          TLC     5
6     Appartement  None  [150, 450]          BLC  1000

Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement
[[150, 350]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 450]          BRC     1
1         Chambre  None  [250, 450]          BLC     2
2         Cuisine  None  [250, 275]          TLC     3
3   Salle de bain  None  [535, 150]          TLC     4
4   Salle de bain  None  [410, 310]          TLC     4
5       Toilettes  None   [250, 50]          TLC     5
6     Appartement  None  [150, 450]          BLC  1000

[<__main__.Chambre object at 0x00000238F49E05E0>, <__main__.Sam object at 0x00000238F8B96370>, <__main__.Chambre object at 0x00000238F49E05E0>]
Toilettes
Removed corner : [250, 50, 'TLC']
0 0 0
Chambre
0 0 0
Cuisine
Removed corner : [250, 275, 'TLC']
0 0 0
Salle de bain
Removed corner : [535, 150, 'TLC']
Removed corner : [410, 310, 'TLC']
0 0 0
Salle à manger
Removed corner : [550, 450, 'BRC']
0 0 0

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 450, 'BLC']
Cuisine placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 250, 'BLC'], [350, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC']]
Removed corner : [350, 450, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 250, 'BLC']]
REMOVED : [[150, 450, 'BLC']]
Removed corner : [650, 450, 'BRC']
Chambre Cuisine close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 250, 'BLC']]
REMOVED : [[150, 450, 'BLC']]
Removed corner : [150, 250, 'BLC']
Chambre placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 450, 'BRC'], [350, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC']]
Removed corner : [150, 50, 'TLC']
Salle de bain Chambre center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC']]
COINS : [[650, 50, 'TRC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 450, 'BRC'], [350, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC']]
Removed corner : [650, 450, 'BRC']
Salle de bain placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[650, 50, 'TRC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [350, 450, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC'], [150, 50, 'TLC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [550, 450, 'BRC']
Salle à manger Chambre close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[650, 50, 'TRC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [350, 450, 'BLC'], [650, 250, 'BRC'], [150, 50, 'TLC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [470, 250, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[650, 50, 'TRC'], [150, 125, 'BLC'], [350, 450, 'BLC'], [650, 250, 'BRC'], [150, 50, 'TLC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [150, 50, 'TLC']
Salle à manger Cuisine center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[650, 50, 'TRC'], [150, 125, 'BLC'], [350, 450, 'BLC'], [650, 250, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [650, 50, 'TRC']
Salle à manger Salle de bain center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[150, 125, 'BLC'], [350, 450, 'BLC'], [650, 250, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [150, 125, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[350, 450, 'BLC'], [650, 250, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [350, 450, 'BLC']
Salle à manger Entrée close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[650, 250, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [650, 250, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [150, 125, 'BLC']
classique
classique
classique
classique
hors champs = 1, superposition = 0, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [350, 450, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [550, 450, 'BRC']
Salle à manger Cuisine close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [350, 450, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [150, 50, 'TLC']
classique
classique
Salle à manger Chambre close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[650, 50, 'TRC'], [350, 450, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [650, 50, 'TRC']
classique
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[350, 450, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [470, 250, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[350, 450, 'BLC'], [650, 250, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [650, 250, 'BRC']
Salle à manger Chambre close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[350, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [350, 450, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [150, 50, 'TLC']
Salle à manger Cuisine close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[650, 50, 'TRC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [150, 125, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[650, 50, 'TRC'], [350, 450, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [350, 450, 'BLC']
Salle à manger Chambre close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[650, 50, 'TRC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [550, 450, 'BRC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[650, 50, 'TRC'], [470, 250, 'BLC'], [650, 250, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [650, 50, 'TRC']
Salle à manger Salle de bain close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[470, 250, 'BLC'], [650, 250, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [650, 250, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[470, 250, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [470, 250, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC']]
Removed corner : [550, 450, 'BRC']
Removed corner : [350, 450, 'BLC']
Salle à manger placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC'], [350, 300, 'BLC'], [550, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [350, 300, 'BLC'], [550, 450, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [650, 50, 'TRC'], [550, 450, 'BRC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [150, 50, 'TLC'], [350, 450, 'BLC'], [650, 250, 'BRC'], [470, 250, 'BLC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [550, 450, 'BRC'], [150, 125, 'BLC'], [650, 250, 'BRC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [470, 250, 'BLC'], [550, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC'], [550, 450, 'BRC'], [350, 450, 'BLC']]
Removed corner : [150, 125, 'BLC']
Removed corner : [150, 125, 'BLC']
Removed corner : [150, 125, 'BLC']
Removed corner : [150, 125, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC'], [350, 300, 'BLC'], [550, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [350, 300, 'BLC'], [550, 450, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [650, 50, 'TRC'], [550, 450, 'BRC'], [350, 450, 'BLC'], [150, 50, 'TLC'], [350, 450, 'BLC'], [650, 250, 'BRC'], [470, 250, 'BLC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [550, 450, 'BRC'], [650, 250, 'BRC'], [350, 450, 'BLC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [470, 250, 'BLC'], [550, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC'], [550, 450, 'BRC'], [350, 450, 'BLC']]
Removed corner : [350, 450, 'BLC']
Removed corner : [350, 450, 'BLC']
Removed corner : [350, 450, 'BLC']
Toilettes Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC'], [350, 300, 'BLC'], [550, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [350, 300, 'BLC'], [550, 450, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [650, 50, 'TRC'], [550, 450, 'BRC'], [150, 50, 'TLC'], [650, 250, 'BRC'], [470, 250, 'BLC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [550, 450, 'BRC'], [650, 250, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [470, 250, 'BLC'], [550, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC'], [550, 450, 'BRC'], [350, 450, 'BLC']]
Removed corner : [550, 450, 'BLC']
Removed corner : [550, 450, 'BRC']
Removed corner : [550, 450, 'BRC']
Removed corner : [550, 450, 'BRC']
Toilettes Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 250, 'BLC'], [350, 450, 'BLC'], [150, 125, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [550, 450, 'BRC'], [350, 300, 'BLC'], [550, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [350, 300, 'BLC'], [470, 250, 'BLC'], [650, 250, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [650, 250, 'BRC'], [470, 250, 'BLC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [650, 250, 'BRC'], [650, 50, 'TRC'], [150, 50, 'TLC'], [470, 250, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [150, 250, 'BLC'], [650, 450, 'BRC'], [550, 450, 'BRC'], [350, 450, 'BLC']]
Removed corner : [650, 250, 'BRC']
Removed corner : [650, 250, 'BRC']
Removed corner : [650, 250, 'BRC']
Removed corner : [650, 250, 'BRC']
Toilettes placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [150, 250, BLC]         Cuisine  None
5   [350, 450, BLC]         Cuisine  None
6   [150, 125, BLC]         Chambre  None
7   [470, 250, BLC]         Chambre  None
8   [650, 250, BRC]   Salle de bain  None
9   [550, 450, BRC]   Salle de bain  None
10  [350, 300, BLC]  Salle à manger  None
11  [550, 450, BLC]  Salle à manger  None
12  [650, 150, BRC]       Toilettes  None
13  [550, 250, BRC]       Toilettes  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[150, 250, 'BLC']
[350, 450, 'BLC']
[150, 125, 'BLC']
[470, 250, 'BLC']
[650, 250, 'BRC']
[550, 450, 'BRC']
[350, 300, 'BLC']
[550, 450, 'BLC']
[650, 150, 'BRC']
[550, 250, 'BRC']
[150, 450, 'BLC']
[150, 250, 'BLC']
[650, 450, 'BRC']
[550, 450, 'BRC']
[350, 450, 'BLC']
[650, 250, 'BRC']
[650, 250, 'BRC']
[650, 250, 'BRC']
[650, 250, 'BRC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Cuisine  None  [150, 250]        BLC       150       250
5          Cuisine  None  [350, 450]        BLC       350       450
6          Chambre  None  [150, 125]        BLC       150       125
7          Chambre  None  [470, 250]        BLC       470       250
8    Salle de bain  None  [650, 250]        BRC       650       250
9    Salle de bain  None  [550, 450]        BRC       550       450
10  Salle à manger  None  [350, 300]        BLC       350       300
11  Salle à manger  None  [550, 450]        BLC       550       450
12       Toilettes  None  [650, 150]        BRC       650       150
13       Toilettes  None  [550, 250]        BRC       550       250

       corner cornertype  x_corner  y_corner
0  [150, 450]        BLC       150       450
1  [150, 250]        BLC       150       250
2  [650, 450]        BRC       650       450
3  [550, 450]        BRC       550       450
4  [350, 450]        BLC       350       450
5  [650, 250]        BRC       650       250
6  [650, 250]        BRC       650       250
7  [650, 250]        BRC       650       250
8  [650, 250]        BRC       650       250

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,NaN,NaN
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Cuisine,None,"[150, 250]",BLC,150,250,"[150, 250]",BLC
5,Cuisine,None,"[350, 450]",BLC,350,450,"[350, 450]",BLC
6,Chambre,None,"[150, 125]",BLC,150,125,NaN,NaN
7,Chambre,None,"[470, 250]",BLC,470,250,NaN,NaN
8,Salle de bain,None,"[650, 250]",BRC,650,250,"[650, 250]",BRC
9,Salle de bain,None,"[650, 250]",BRC,650,250,"[650, 250]",BRC
10,Salle de bain,None,"[650, 250]",BRC,650,250,"[650, 250]",BRC
11,Salle de bain,None,"[650, 250]",BRC,650,250,"[650, 250]",BRC
12,Salle de bain,None,"[550, 450]",BRC,550,450,"[550, 450]",BRC
13,Salle à manger,None,"[550, 450]",BLC,550,450,"[550, 450]",BRC
14,Salle à manger,None,"[350, 300]",BLC,350,300,NaN,NaN
15,Toilettes,None,"[650, 150]",BRC,650,150,NaN,NaN
16,Toilettes,None,"[550, 250]",BRC,550,250,NaN,NaN

0 Appartement 1000
1 Appartement 1000
2 Chambre 2
3 Chambre 2
4 Salle à manger 1
5 Toilettes 5
6 Toilettes 5

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [350, 300]          BLC     1
1         Chambre  None  [150, 125]          BLC     2
2         Chambre  None  [470, 250]          BLC     2
3       Toilettes  None  [650, 150]          BRC     5
4       Toilettes  None  [550, 250]          BRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger
Chambre
Chambre
Toilettes
Toilettes
Appartement
Appartement

 Chambre

Salle à manger
Chambre
Chambre
Toilettes
Toilettes
Appartement
VERTICAL
Chambre Appartement 75
Chambre
Removed corner : [150, 50, 'TLC']
Removed corner : [150, 50, 'TLC']
Removed corner : [150, 50, 'TLC']
Removed corner : [150, 50, 'TLC']
Removed corner : [470, 250, 'BLC']
Removed corner : [470, 250, 'BLC']
Removed corner : [470, 250, 'BLC']
Removed corner : [470, 250, 'BLC']
classique
classique
0 0 1
Changé:  150 50 320 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [350, 300]          BLC     1
1         Chambre  None   [470, 50]          TLC     2
2         Chambre  None  [470, 250]          BLC     2
3       Toilettes  None  [650, 150]          BRC     5
4       Toilettes  None  [550, 250]          BRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [350, 300]          BLC     1
1         Chambre  None  [150, 125]          BLC     2
2         Chambre  None  [470, 250]          BLC     2
3       Toilettes  None  [650, 150]          BRC     5
4       Toilettes  None  [550, 250]          BRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

Ancien:  150 125 320 125

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [350, 300]          BLC     1
1         Chambre  None  [150, 125]          BLC     2
2         Chambre  None  [470, 250]          BLC     2
3       Toilettes  None  [650, 150]          BRC     5
4       Toilettes  None  [550, 250]          BRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

Appartement

 Chambre

Salle à manger
Chambre
Chambre
Toilettes
Toilettes
Appartement
Appartement

 Toilettes

Salle à manger
Chambre
Chambre
Toilettes
Toilettes
Appartement
Appartement
VERTICAL
Toilettes Appartement 100
Toilettes
Removed corner : [650, 50, 'TRC']
Removed corner : [650, 50, 'TRC']
Removed corner : [650, 50, 'TRC']
Removed corner : [550, 250, 'BRC']
0 0 0
Changé:  550 50 100 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [350, 300]          BLC     1
1         Chambre  None  [150, 125]          BLC     2
2         Chambre  None  [470, 250]          BLC     2
3       Toilettes  None   [550, 50]          TRC     5
4       Toilettes  None  [550, 250]          BRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

 Toilettes

Salle à manger
Chambre
Chambre
Toilettes
Toilettes
Appartement
Appartement

 Appartement

Salle à manger
Chambre
VERTICAL
Appartement Chambre 75
Chambre
classique
classique
0 0 1
Changé:  150 50 320 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [350, 300]          BLC     1
1         Chambre  None  [150, 125]          BLC     2
2         Chambre  None  [470, 250]          BLC     2
3       Toilettes  None   [550, 50]          TRC     5
4       Toilettes  None  [550, 250]          BRC     5
5     Appartement  None   [470, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [350, 300]          BLC     1
1         Chambre  None  [150, 125]          BLC     2
2         Chambre  None  [470, 250]          BLC     2
3       Toilettes  None   [550, 50]          TRC     5
4       Toilettes  None  [550, 250]          BRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

Ancien:  150 125 320 125

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [350, 300]          BLC     1
1         Chambre  None  [150, 125]          BLC     2
2         Chambre  None  [470, 250]          BLC     2
3       Toilettes  None   [550, 50]          TRC     5
4       Toilettes  None  [550, 250]          BRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

Chambre
Toilettes
Toilettes
Appartement
Appartement

 Appartement

Salle à manger
Chambre
Chambre
Toilettes
Toilettes
Appartement
Appartement
[[650, 150]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [350, 300]          BLC     1
1         Chambre  None  [150, 125]          BLC     2
2         Chambre  None  [470, 250]          BLC     2
3       Toilettes  None   [550, 50]          TRC     5
4       Toilettes  None  [550, 250]          BRC     5
5     Appartement  None   [150, 50]          TLC  1000
6     Appartement  None   [650, 50]          TRC  1000

[<__main__.Chambre object at 0x00000238F8B64BE0>, <__main__.Toilettes object at 0x00000238F8B64490>, <__main__.Chambre object at 0x00000238F8B64BE0>]
Cuisine
Removed corner : [350, 450, 'BLC']
0 0 0
Chambre
Removed corner : [150, 125, 'BLC']
0 0 0
Salle de bain
Removed corner : [550, 450, 'BRC']
0 0 0
Salle à manger
Removed corner : [350, 300, 'BLC']
0 0 0
Toilettes
Removed corner : [650, 50, 'TRC']
0 0 0

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [650, 450, 'BRC']
Salle de bain placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC']]
Removed corner : [550, 450, 'BRC']
Toilettes placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC']]
Removed corner : [550, 350, 'BRC']
Cuisine placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC']]
Removed corner : [550, 100, 'BRC']
classique
classique
hors champs = 1, superposition = 0, superpositionPlaced = 1

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [390, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC']]
Removed corner : [650, 350, 'BRC']
Chambre Cuisine center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [450, 450, 'BRC'], [390, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC']]
Removed corner : [450, 450, 'BRC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [390, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC']]
Removed corner : [650, 50, 'TRC']
classique
Chambre Cuisine center
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [150, 450, 'BLC'], [390, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC']]
Removed corner : [150, 50, 'TLC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC']]
COINS : [[150, 450, 'BLC'], [390, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC']]
Removed corner : [390, 350, 'BRC']
Chambre placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[150, 450, 'BLC'], [390, 225, 'BRC'], [150, 350, 'BRC'], [150, 50, 'TLC'], [650, 50, 'TRC'], [450, 450, 'BRC'], [650, 350, 'BRC'], [550, 100, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [150, 50, 'TLC']
classique
Salle à manger Cuisine close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[150, 450, 'BLC'], [390, 225, 'BRC'], [150, 350, 'BRC'], [650, 50, 'TRC'], [450, 450, 'BRC'], [650, 350, 'BRC'], [550, 100, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [150, 350, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[150, 450, 'BLC'], [390, 225, 'BRC'], [650, 50, 'TRC'], [450, 450, 'BRC'], [650, 350, 'BRC'], [550, 100, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [650, 350, 'BRC']
Salle à manger Cuisine center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[150, 450, 'BLC'], [390, 225, 'BRC'], [650, 50, 'TRC'], [450, 450, 'BRC'], [550, 100, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [150, 450, 'BLC']
classique
Salle à manger Chambre close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[390, 225, 'BRC'], [650, 50, 'TRC'], [450, 450, 'BRC'], [550, 100, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [650, 50, 'TRC']
classique
Salle à manger Cuisine center
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[390, 225, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [450, 450, 'BRC']
classique
Salle à manger Chambre close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[390, 225, 'BRC'], [550, 100, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [390, 225, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[550, 100, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [550, 100, 'BRC']
Salle à manger Entrée close edge tb
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [650, 350, 'BRC']
Salle à manger Cuisine close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [550, 100, 'BRC']
classique
hors champs = 1, superposition = 0, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [450, 450, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [150, 450, 'BLC']
Salle à manger Chambre center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [450, 450, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [650, 50, 'TRC']
Salle à manger Cuisine close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [450, 450, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [150, 50, 'TLC']
Salle à manger Chambre close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[450, 450, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [150, 350, 'BRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[450, 450, 'BRC'], [390, 225, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [390, 225, 'BRC']
Salle à manger Entrée close edge lr
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[450, 450, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [450, 450, 'BRC']
Salle à manger Cuisine close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [450, 450, 'BRC']
Salle à manger Cuisine center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [450, 450, 'BRC'], [550, 100, 'BRC'], [390, 350, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 450, 'BLC'], [650, 350, 'BRC'], [550, 100, 'BRC'], [390, 225, 'BRC'], [150, 350, 'BRC']]
REMOVED : [[650, 450, 'BRC'], [550, 450, 'BRC'], [550, 350, 'BRC'], [390, 350, 'BRC']]
Removed corner : [650, 50, 'TRC']
Salle à manger placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [650, 350, BRC]   Salle de bain  None
5   [550, 450, BRC]   Salle de bain  None
6   [550, 350, BRC]       Toilettes  None
7   [450, 450, BRC]       Toilettes  None
8   [550, 100, BRC]         Cuisine  None
9   [390, 350, BRC]         Cuisine  None
10  [390, 225, BRC]         Chambre  None
11  [150, 350, BRC]         Chambre  None
12   [550, 50, TRC]  Salle à manger  None
13  [650, 250, TRC]  Salle à manger  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[650, 350, 'BRC']
[550, 450, 'BRC']
[550, 350, 'BRC']
[450, 450, 'BRC']
[550, 100, 'BRC']
[390, 350, 'BRC']
[390, 225, 'BRC']
[150, 350, 'BRC']
[550, 50, 'TRC']
[650, 250, 'TRC']
[650, 450, 'BRC']
[550, 450, 'BRC']
[550, 350, 'BRC']
[390, 350, 'BRC']
[650, 50, 'TRC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4    Salle de bain  None  [650, 350]        BRC       650       350
5    Salle de bain  None  [550, 450]        BRC       550       450
6        Toilettes  None  [550, 350]        BRC       550       350
7        Toilettes  None  [450, 450]        BRC       450       450
8          Cuisine  None  [550, 100]        BRC       550       100
9          Cuisine  None  [390, 350]        BRC       390       350
10         Chambre  None  [390, 225]        BRC       390       225
11         Chambre  None  [150, 350]        BRC       150       350
12  Salle à manger  None   [550, 50]        TRC       550        50
13  Salle à manger  None  [650, 250]        TRC       650       250

       corner cornertype  x_corner  y_corner
0  [650, 450]        BRC       650       450
1  [550, 450]        BRC       550       450
2  [550, 350]        BRC       550       350
3  [390, 350]        BRC       390       350
4   [650, 50]        TRC       650        50

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,NaN,NaN
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Salle de bain,None,"[650, 350]",BRC,650,350,NaN,NaN
5,Salle de bain,None,"[550, 450]",BRC,550,450,"[550, 450]",BRC
6,Toilettes,None,"[550, 350]",BRC,550,350,"[550, 350]",BRC
7,Toilettes,None,"[450, 450]",BRC,450,450,NaN,NaN
8,Cuisine,None,"[550, 100]",BRC,550,100,NaN,NaN
9,Cuisine,None,"[390, 350]",BRC,390,350,"[390, 350]",BRC
10,Chambre,None,"[390, 225]",BRC,390,225,NaN,NaN
11,Chambre,None,"[150, 350]",BRC,150,350,NaN,NaN
12,Salle à manger,None,"[550, 50]",TRC,550,50,NaN,NaN
13,Salle à manger,None,"[650, 250]",TRC,650,250,NaN,NaN

0 Appartement 1000
1 Appartement 1000
2 Salle de bain 4
3 Toilettes 5
4 Cuisine 3
5 Chambre 2
6 Chambre 2
7 Salle à manger 1
8 Salle à manger 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          TRC     1
1  Salle à manger  None  [650, 250]          TRC     1
2         Chambre  None  [390, 225]          BRC     2
3         Chambre  None  [150, 350]          BRC     2
4         Cuisine  None  [550, 100]          BRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6       Toilettes  None  [450, 450]          BRC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Salle à manger

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
VERTICAL
Salle à manger Salle de bain 100
Salle à manger
Removed corner : [650, 50, 'TRC']
Removed corner : [650, 50, 'TRC']
Removed corner : [550, 50, 'TRC']
Removed corner : [650, 350, 'BRC']
Removed corner : [650, 350, 'BRC']
Removed corner : [650, 350, 'BRC']
0 0 0
Changé:  550 50 100 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          TRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [390, 225]          BRC     2
3         Chambre  None  [150, 350]          BRC     2
4         Cuisine  None  [550, 100]          BRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6       Toilettes  None  [450, 450]          BRC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [150, 450]          BLC  1000

Toilettes
Appartement
Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Appartement
VERTICAL
Chambre Appartement 300
Chambre
Removed corner : [150, 350, 'BRC']
Removed corner : [150, 350, 'BRC']
Removed corner : [150, 350, 'BRC']
classique
classique
1 0 1
Changé:  150 -75 240 425

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          TRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [390, 225]          BRC     2
3         Chambre  None  [150, -75]          TRC     2
4         Cuisine  None  [550, 100]          BRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6       Toilettes  None  [450, 450]          BRC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          TRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [390, 225]          BRC     2
3         Chambre  None  [150, 350]          BRC     2
4         Cuisine  None  [550, 100]          BRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6       Toilettes  None  [450, 450]          BRC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 225 240 125

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          TRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [390, 225]          BRC     2
3         Chambre  None  [150, 350]          BRC     2
4         Cuisine  None  [550, 100]          BRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6       Toilettes  None  [450, 450]          BRC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [150, 450]          BLC  1000

Appartement
VERTICAL
Chambre Appartement 100
Chambre
0 0 0
Changé:  150 125 240 225

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          TRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [390, 225]          BRC     2
3         Chambre  None  [150, 125]          TRC     2
4         Cuisine  None  [550, 100]          BRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6       Toilettes  None  [450, 450]          BRC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Cuisine

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Salle de bain

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Toilettes

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Appartement
Appartement
HORIZONTAL
Toilettes Appartement 300
Toilettes
Removed corner : [150, 450, 'BLC']
Removed corner : [150, 450, 'BLC']
Removed corner : [150, 450, 'BLC']
0 0 0
Changé:  150 350 400 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          TRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [390, 225]          BRC     2
3         Chambre  None  [150, 125]          TRC     2
4         Cuisine  None  [550, 100]          BRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Appartement

Salle à manger
Salle à manger
Chambre
Chambre
VERTICAL
Appartement Chambre 75
Chambre
Chambre Toilettes close edge tb
0 1 0
Changé:  150 125 240 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          TRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [390, 225]          BRC     2
3         Chambre  None  [150, 125]          TRC     2
4         Cuisine  None  [550, 100]          BRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None  [150, 425]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          TRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [390, 225]          BRC     2
3         Chambre  None  [150, 125]          TRC     2
4         Cuisine  None  [550, 100]          BRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 125 240 225

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          TRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [390, 225]          BRC     2
3         Chambre  None  [150, 125]          TRC     2
4         Cuisine  None  [550, 100]          BRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [150, 450]          BLC  1000

Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Appartement

Salle à manger
Salle à manger
Chambre
Chambre
VERTICAL
Appartement Chambre 325
Chambre
Chambre Toilettes center
1 1 0
Changé:  150 125 240 550

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          TRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [390, 225]          BRC     2
3         Chambre  None  [150, 125]          TRC     2
4         Cuisine  None  [550, 100]          BRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [150, 675]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          TRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [390, 225]          BRC     2
3         Chambre  None  [150, 125]          TRC     2
4         Cuisine  None  [550, 100]          BRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 125 240 225

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          TRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [390, 225]          BRC     2
3         Chambre  None  [150, 125]          TRC     2
4         Cuisine  None  [550, 100]          BRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [150, 450]          BLC  1000

Cuisine
Salle de bain
Toilettes
Appartement
Appartement
[[650, 250], [150, 350], [450, 450]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [550, 50]          TRC     1
1  Salle à manger  None  [550, 350]          BRC     1
2         Chambre  None  [390, 225]          BRC     2
3         Chambre  None  [150, 125]          TRC     2
4         Cuisine  None  [550, 100]          BRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [150, 450]          BLC  1000

[<__main__.Sam object at 0x00000238F49C3070>, <__main__.Chambre object at 0x00000238F49C3A90>, <__main__.Chambre object at 0x00000238F49C3A90>, <__main__.Chambre object at 0x00000238F49C3A90>, <__main__.Chambre object at 0x00000238F49C3A90>]
Salle de bain
0 0 0
Toilettes
0 0 0
Cuisine
Removed corner : [550, 100, 'BRC']
Removed corner : [550, 100, 'BRC']
0 0 0
Chambre
0 0 0
Salle à manger
0 0 0

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 50, 'TLC']
Removed corner : [150, 450, 'BLC']
Cuisine placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [250, 50, 'TLC'], [150, 450, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [250, 50, 'TLC']
Salle à manger placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 450, 'TLC'], [350, 50, 'TLC'], [250, 350, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'TLC'], [350, 50, 'TLC'], [250, 350, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 450, 'BLC'], [250, 50, 'TLC']]
Removed corner : [350, 50, 'TLC']
Chambre Entrée close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 450, 'TLC'], [350, 50, 'TLC'], [250, 350, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'TLC'], [250, 350, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 450, 'BLC'], [250, 50, 'TLC']]
Removed corner : [150, 450, 'TLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 450, 'TLC'], [350, 50, 'TLC'], [250, 350, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [250, 350, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 450, 'BLC'], [250, 50, 'TLC']]
Removed corner : [650, 50, 'TRC']
Chambre placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 450, 'TLC'], [350, 50, 'TLC'], [250, 350, 'TLC'], [550, 50, 'TRC'], [650, 250, 'TRC']]
COINS : [[650, 450, 'BRC'], [250, 350, 'TLC'], [550, 50, 'TRC'], [650, 250, 'TRC'], [150, 450, 'TLC'], [350, 50, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [650, 50, 'TRC']]
Removed corner : [650, 250, 'TRC']
Toilettes placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 450, 'TLC'], [350, 50, 'TLC'], [250, 350, 'TLC'], [550, 50, 'TRC'], [650, 250, 'TRC'], [550, 250, 'TRC'], [650, 350, 'TRC']]
COINS : [[650, 450, 'BRC'], [250, 350, 'TLC'], [550, 50, 'TRC'], [150, 450, 'TLC'], [350, 50, 'TLC'], [550, 250, 'TRC'], [650, 350, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [650, 50, 'TRC'], [650, 250, 'TRC']]
Removed corner : [250, 350, 'TLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 450, 'TLC'], [350, 50, 'TLC'], [250, 350, 'TLC'], [550, 50, 'TRC'], [650, 250, 'TRC'], [550, 250, 'TRC'], [650, 350, 'TRC']]
COINS : [[650, 450, 'BRC'], [550, 50, 'TRC'], [150, 450, 'TLC'], [350, 50, 'TLC'], [550, 250, 'TRC'], [650, 350, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [650, 50, 'TRC'], [650, 250, 'TRC']]
Removed corner : [550, 50, 'TRC']
Salle de bain placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [250, 50, TLC]         Cuisine  None
5   [150, 450, TLC]         Cuisine  None
6    [350, 50, TLC]  Salle à manger  None
7   [250, 350, TLC]  Salle à manger  None
8    [550, 50, TRC]         Chambre  None
9   [650, 250, TRC]         Chambre  None
10  [550, 250, TRC]       Toilettes  None
11  [650, 350, TRC]       Toilettes  None
12   [450, 50, TRC]   Salle de bain  None
13  [550, 350, TRC]   Salle de bain  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[250, 50, 'TLC']
[150, 450, 'TLC']
[350, 50, 'TLC']
[250, 350, 'TLC']
[550, 50, 'TRC']
[650, 250, 'TRC']
[550, 250, 'TRC']
[650, 350, 'TRC']
[450, 50, 'TRC']
[550, 350, 'TRC']
[150, 50, 'TLC']
[150, 450, 'BLC']
[250, 50, 'TLC']
[650, 50, 'TRC']
[650, 250, 'TRC']
[550, 50, 'TRC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Cuisine  None   [250, 50]        TLC       250        50
5          Cuisine  None  [150, 450]        TLC       150       450
6   Salle à manger  None   [350, 50]        TLC       350        50
7   Salle à manger  None  [250, 350]        TLC       250       350
8          Chambre  None   [550, 50]        TRC       550        50
9          Chambre  None  [650, 250]        TRC       650       250
10       Toilettes  None  [550, 250]        TRC       550       250
11       Toilettes  None  [650, 350]        TRC       650       350
12   Salle de bain  None   [450, 50]        TRC       450        50
13   Salle de bain  None  [550, 350]        TRC       550       350

       corner cornertype  x_corner  y_corner
0   [150, 50]        TLC       150        50
1  [150, 450]        BLC       150       450
2   [250, 50]        TLC       250        50
3   [650, 50]        TRC       650        50
4  [650, 250]        TRC       650       250
5   [550, 50]        TRC       550        50

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Cuisine,None,"[150, 450]",TLC,150,450,"[150, 450]",BLC
5,Cuisine,None,"[250, 50]",TLC,250,50,"[250, 50]",TLC
6,Salle à manger,None,"[350, 50]",TLC,350,50,NaN,NaN
7,Salle à manger,None,"[250, 350]",TLC,250,350,NaN,NaN
8,Chambre,None,"[550, 50]",TRC,550,50,"[550, 50]",TRC
9,Chambre,None,"[650, 250]",TRC,650,250,"[650, 250]",TRC
10,Toilettes,None,"[550, 250]",TRC,550,250,NaN,NaN
11,Toilettes,None,"[650, 350]",TRC,650,350,NaN,NaN
12,Salle de bain,None,"[450, 50]",TRC,450,50,NaN,NaN
13,Salle de bain,None,"[550, 350]",TRC,550,350,NaN,NaN

0 Appartement 1000
1 Salle à manger 1
2 Salle à manger 1
3 Toilettes 5
4 Toilettes 5
5 Salle de bain 4
6 Salle de bain 4

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1  Salle à manger  None  [250, 350]          TLC     1
2   Salle de bain  None   [450, 50]          TRC     4
3   Salle de bain  None  [550, 350]          TRC     4
4       Toilettes  None  [550, 250]          TRC     5
5       Toilettes  None  [650, 350]          TRC     5
6     Appartement  None  [650, 450]          BRC  1000

 Salle à manger

Salle à manger
Salle à manger
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement

 Salle à manger

Salle à manger
Salle à manger
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement

 Salle de bain

Salle à manger
Salle à manger
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement

 Salle de bain

Salle à manger
Salle à manger
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement

 Toilettes

Salle à manger
Salle à manger
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement

 Toilettes

Salle à manger
Salle à manger
Salle de bain
Salle de bain
Toilettes
Toilettes
Appartement
VERTICAL
Toilettes Appartement 100
Toilettes
Removed corner : [550, 250, 'TRC']
Removed corner : [650, 450, 'BRC']
0 0 0
Changé:  550 250 100 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1  Salle à manger  None  [250, 350]          TLC     1
2   Salle de bain  None   [450, 50]          TRC     4
3   Salle de bain  None  [550, 350]          TRC     4
4       Toilettes  None  [550, 250]          TRC     5
5       Toilettes  None  [550, 450]          BRC     5
6     Appartement  None  [650, 450]          BRC  1000

 Appartement

Salle à manger
Salle à manger
Salle de bain
Salle de bain
Toilettes
Toilettes
HORIZONTAL
Appartement Toilettes 100
Toilettes
Toilettes Salle de bain center
0 1 0
Changé:  450 250 200 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1  Salle à manger  None  [250, 350]          TLC     1
2   Salle de bain  None   [450, 50]          TRC     4
3   Salle de bain  None  [550, 350]          TRC     4
4       Toilettes  None  [550, 250]          TRC     5
5       Toilettes  None  [550, 450]          BRC     5
6     Appartement  None  [450, 250]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1  Salle à manger  None  [250, 350]          TLC     1
2   Salle de bain  None   [450, 50]          TRC     4
3   Salle de bain  None  [550, 350]          TRC     4
4       Toilettes  None  [550, 250]          TRC     5
5       Toilettes  None  [550, 450]          BRC     5
6     Appartement  None  [650, 450]          BRC  1000

Ancien:  550 250 100 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1  Salle à manger  None  [250, 350]          TLC     1
2   Salle de bain  None   [450, 50]          TRC     4
3   Salle de bain  None  [550, 350]          TRC     4
4       Toilettes  None  [550, 250]          TRC     5
5       Toilettes  None  [550, 450]          BRC     5
6     Appartement  None  [650, 450]          BRC  1000

Appartement
[[650, 350]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1  Salle à manger  None  [250, 350]          TLC     1
2   Salle de bain  None   [450, 50]          TRC     4
3   Salle de bain  None  [550, 350]          TRC     4
4       Toilettes  None  [550, 250]          TRC     5
5       Toilettes  None  [550, 450]          BRC     5
6     Appartement  None  [650, 450]          BRC  1000

[<__main__.Toilettes object at 0x00000238F8B737C0>, <__main__.Toilettes object at 0x00000238F8B737C0>]
Cuisine
Removed corner : [150, 450, 'TLC']
0 0 0
Salle à manger
Removed corner : [350, 50, 'TLC']
Removed corner : [250, 350, 'TLC']
0 0 0
Chambre
0 0 0
Toilettes
0 0 0
Salle de bain
Removed corner : [450, 50, 'TRC']
Removed corner : [550, 350, 'TRC']
0 0 0

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 50, 'TLC']
Cuisine placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [275, 50, 'TLC'], [150, 290, 'TLC']]
REMOVED : [[150, 50, 'TLC']]
Removed corner : [150, 450, 'BLC']
Salle de bain placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [275, 50, 'TLC'], [150, 290, 'TLC'], [150, 350, 'BLC'], [250, 450, 'BLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [275, 50, 'TLC'], [150, 290, 'TLC'], [150, 350, 'BLC'], [250, 450, 'BLC']]
REMOVED : [[150, 50, 'TLC'], [150, 450, 'BLC']]
Removed corner : [650, 450, 'BRC']
Salle à manger placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [275, 50, 'TLC'], [150, 290, 'TLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC']]
COINS : [[650, 50, 'TRC'], [275, 50, 'TLC'], [150, 290, 'TLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC']]
REMOVED : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 450, 'BRC']]
Removed corner : [275, 50, 'TLC']
Toilettes placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [275, 50, 'TLC'], [150, 290, 'TLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [375, 50, 'TLC'], [275, 150, 'TLC']]
COINS : [[650, 50, 'TRC'], [150, 290, 'TLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [375, 50, 'TLC'], [275, 150, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 450, 'BRC'], [275, 50, 'TLC']]
Removed corner : [375, 50, 'TLC']
Chambre Entrée close edge lr
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [275, 50, 'TLC'], [150, 290, 'TLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [375, 50, 'TLC'], [275, 150, 'TLC']]
COINS : [[650, 50, 'TRC'], [150, 290, 'TLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [275, 150, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 450, 'BRC'], [275, 50, 'TLC']]
Removed corner : [250, 450, 'BLC']
Chambre Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [275, 50, 'TLC'], [150, 290, 'TLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [375, 50, 'TLC'], [275, 150, 'TLC']]
COINS : [[650, 50, 'TRC'], [150, 290, 'TLC'], [150, 350, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [275, 150, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 450, 'BRC'], [275, 50, 'TLC']]
Removed corner : [330, 450, 'BRC']
Chambre Salle de bain center
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [275, 50, 'TLC'], [150, 290, 'TLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [650, 325, 'BRC'], [330, 450, 'BRC'], [375, 50, 'TLC'], [275, 150, 'TLC']]
COINS : [[650, 50, 'TRC'], [150, 290, 'TLC'], [150, 350, 'BLC'], [650, 325, 'BRC'], [275, 150, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 450, 'BLC'], [650, 450, 'BRC'], [275, 50, 'TLC']]
Removed corner : [275, 150, 'TLC']
Chambre placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [275, 50, TLC]         Cuisine  None
5   [150, 290, TLC]         Cuisine  None
6   [150, 350, BLC]   Salle de bain  None
7   [250, 450, BLC]   Salle de bain  None
8   [650, 325, BRC]  Salle à manger  None
9   [330, 450, BRC]  Salle à manger  None
10   [375, 50, TLC]       Toilettes  None
11  [275, 150, TLC]       Toilettes  None
12  [575, 150, TLC]         Chambre  None
13  [275, 250, TLC]         Chambre  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[275, 50, 'TLC']
[150, 290, 'TLC']
[150, 350, 'BLC']
[250, 450, 'BLC']
[650, 325, 'BRC']
[330, 450, 'BRC']
[375, 50, 'TLC']
[275, 150, 'TLC']
[575, 150, 'TLC']
[275, 250, 'TLC']
[150, 50, 'TLC']
[150, 450, 'BLC']
[650, 450, 'BRC']
[275, 50, 'TLC']
[275, 150, 'TLC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Cuisine  None   [275, 50]        TLC       275        50
5          Cuisine  None  [150, 290]        TLC       150       290
6    Salle de bain  None  [150, 350]        BLC       150       350
7    Salle de bain  None  [250, 450]        BLC       250       450
8   Salle à manger  None  [650, 325]        BRC       650       325
9   Salle à manger  None  [330, 450]        BRC       330       450
10       Toilettes  None   [375, 50]        TLC       375        50
11       Toilettes  None  [275, 150]        TLC       275       150
12         Chambre  None  [575, 150]        TLC       575       150
13         Chambre  None  [275, 250]        TLC       275       250

       corner cornertype  x_corner  y_corner
0   [150, 50]        TLC       150        50
1  [150, 450]        BLC       150       450
2  [650, 450]        BRC       650       450
3   [275, 50]        TLC       275        50
4  [275, 150]        TLC       275       150

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Cuisine,None,"[275, 50]",TLC,275,50,"[275, 50]",TLC
5,Cuisine,None,"[150, 290]",TLC,150,290,NaN,NaN
6,Salle de bain,None,"[150, 350]",BLC,150,350,NaN,NaN
7,Salle de bain,None,"[250, 450]",BLC,250,450,NaN,NaN
8,Salle à manger,None,"[650, 325]",BRC,650,325,NaN,NaN
9,Salle à manger,None,"[330, 450]",BRC,330,450,NaN,NaN
10,Toilettes,None,"[375, 50]",TLC,375,50,NaN,NaN
11,Toilettes,None,"[275, 150]",TLC,275,150,"[275, 150]",TLC
12,Chambre,None,"[575, 150]",TLC,575,150,NaN,NaN
13,Chambre,None,"[275, 250]",TLC,275,250,NaN,NaN

0 Appartement 1000
1 Cuisine 3
2 Salle de bain 4
3 Salle de bain 4
4 Salle à manger 1
5 Salle à manger 1
6 Toilettes 5
7 Chambre 2
8 Chambre 2

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 325]          BRC     1
1  Salle à manger  None  [330, 450]          BRC     1
2         Chambre  None  [575, 150]          TLC     2
3         Chambre  None  [275, 250]          TLC     2
4         Cuisine  None  [150, 290]          TLC     3
5   Salle de bain  None  [150, 350]          BLC     4
6   Salle de bain  None  [250, 450]          BLC     4
7       Toilettes  None   [375, 50]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement
VERTICAL
Salle à manger Appartement 275
Salle à manger
Removed corner : [650, 50, 'TRC']
Removed corner : [330, 450, 'BRC']
classique
classique
classique
Salle à manger Chambre center
0 1 1
Changé:  330 50 320 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [330, 50]          TRC     1
1  Salle à manger  None  [330, 450]          BRC     1
2         Chambre  None  [575, 150]          TLC     2
3         Chambre  None  [275, 250]          TLC     2
4         Cuisine  None  [150, 290]          TLC     3
5   Salle de bain  None  [150, 350]          BLC     4
6   Salle de bain  None  [250, 450]          BLC     4
7       Toilettes  None   [375, 50]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 325]          BRC     1
1  Salle à manger  None  [330, 450]          BRC     1
2         Chambre  None  [575, 150]          TLC     2
3         Chambre  None  [275, 250]          TLC     2
4         Cuisine  None  [150, 290]          TLC     3
5   Salle de bain  None  [150, 350]          BLC     4
6   Salle de bain  None  [250, 450]          BLC     4
7       Toilettes  None   [375, 50]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

Ancien:  330 325 320 125

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 325]          BRC     1
1  Salle à manger  None  [330, 450]          BRC     1
2         Chambre  None  [575, 150]          TLC     2
3         Chambre  None  [275, 250]          TLC     2
4         Cuisine  None  [150, 290]          TLC     3
5   Salle de bain  None  [150, 350]          BLC     4
6   Salle de bain  None  [250, 450]          BLC     4
7       Toilettes  None   [375, 50]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Salle de bain
HORIZONTAL
Salle à manger Salle de bain 80
Salle à manger
Removed corner : [650, 325, 'BRC']
Removed corner : [250, 450, 'BLC']
0 0 0
Changé:  250 325 400 125

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 325]          BRC     1
1  Salle à manger  None  [250, 325]          BLC     1
2         Chambre  None  [575, 150]          TLC     2
3         Chambre  None  [275, 250]          TLC     2
4         Cuisine  None  [150, 290]          TLC     3
5   Salle de bain  None  [150, 350]          BLC     4
6   Salle de bain  None  [250, 450]          BLC     4
7       Toilettes  None   [375, 50]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

Toilettes
Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Cuisine

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
VERTICAL
Cuisine Salle de bain 60
Cuisine
Removed corner : [150, 350, 'BLC']
classique
0 0 1
Changé:  150 50 125 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 325]          BRC     1
1  Salle à manger  None  [250, 325]          BLC     1
2         Chambre  None  [575, 150]          TLC     2
3         Chambre  None  [275, 250]          TLC     2
4         Cuisine  None  [275, 350]          BLC     3
5   Salle de bain  None  [150, 350]          BLC     4
6   Salle de bain  None  [250, 450]          BLC     4
7       Toilettes  None   [375, 50]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 325]          BRC     1
1  Salle à manger  None  [250, 325]          BLC     1
2         Chambre  None  [575, 150]          TLC     2
3         Chambre  None  [275, 250]          TLC     2
4         Cuisine  None  [150, 290]          TLC     3
5   Salle de bain  None  [150, 350]          BLC     4
6   Salle de bain  None  [250, 450]          BLC     4
7       Toilettes  None   [375, 50]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

Ancien:  150 50 125 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 325]          BRC     1
1  Salle à manger  None  [250, 325]          BLC     1
2         Chambre  None  [575, 150]          TLC     2
3         Chambre  None  [275, 250]          TLC     2
4         Cuisine  None  [150, 290]          TLC     3
5   Salle de bain  None  [150, 350]          BLC     4
6   Salle de bain  None  [250, 450]          BLC     4
7       Toilettes  None   [375, 50]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

Salle de bain
Toilettes
Appartement

 Salle de bain

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
VERTICAL
Salle de bain Cuisine 60
Cuisine
classique
0 0 1
Changé:  150 50 125 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 325]          BRC     1
1  Salle à manger  None  [250, 325]          BLC     1
2         Chambre  None  [575, 150]          TLC     2
3         Chambre  None  [275, 250]          TLC     2
4         Cuisine  None  [150, 290]          TLC     3
5   Salle de bain  None  [275, 350]          BLC     4
6   Salle de bain  None  [250, 450]          BLC     4
7       Toilettes  None   [375, 50]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 325]          BRC     1
1  Salle à manger  None  [250, 325]          BLC     1
2         Chambre  None  [575, 150]          TLC     2
3         Chambre  None  [275, 250]          TLC     2
4         Cuisine  None  [150, 290]          TLC     3
5   Salle de bain  None  [150, 350]          BLC     4
6   Salle de bain  None  [250, 450]          BLC     4
7       Toilettes  None   [375, 50]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

Ancien:  150 50 125 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 325]          BRC     1
1  Salle à manger  None  [250, 325]          BLC     1
2         Chambre  None  [575, 150]          TLC     2
3         Chambre  None  [275, 250]          TLC     2
4         Cuisine  None  [150, 290]          TLC     3
5   Salle de bain  None  [150, 350]          BLC     4
6   Salle de bain  None  [250, 450]          BLC     4
7       Toilettes  None   [375, 50]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

Salle de bain
Salle de bain
Toilettes
Appartement

 Salle de bain

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Toilettes

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Appartement

Salle à manger
VERTICAL
Appartement Salle à manger 275
Salle à manger
classique
classique
Salle à manger Cuisine close edge lr
0 1 1
Changé:  250 50 400 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 325]          BRC     1
1  Salle à manger  None  [250, 325]          BLC     1
2         Chambre  None  [575, 150]          TLC     2
3         Chambre  None  [275, 250]          TLC     2
4         Cuisine  None  [150, 290]          TLC     3
5   Salle de bain  None  [150, 350]          BLC     4
6   Salle de bain  None  [250, 450]          BLC     4
7       Toilettes  None   [375, 50]          TLC     5
8     Appartement  None   [250, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 325]          BRC     1
1  Salle à manger  None  [250, 325]          BLC     1
2         Chambre  None  [575, 150]          TLC     2
3         Chambre  None  [275, 250]          TLC     2
4         Cuisine  None  [150, 290]          TLC     3
5   Salle de bain  None  [150, 350]          BLC     4
6   Salle de bain  None  [250, 450]          BLC     4
7       Toilettes  None   [375, 50]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

Ancien:  250 325 400 125

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 325]          BRC     1
1  Salle à manger  None  [250, 325]          BLC     1
2         Chambre  None  [575, 150]          TLC     2
3         Chambre  None  [275, 250]          TLC     2
4         Cuisine  None  [150, 290]          TLC     3
5   Salle de bain  None  [150, 350]          BLC     4
6   Salle de bain  None  [250, 450]          BLC     4
7       Toilettes  None   [375, 50]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement
[[330, 450]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 325]          BRC     1
1  Salle à manger  None  [250, 325]          BLC     1
2         Chambre  None  [575, 150]          TLC     2
3         Chambre  None  [275, 250]          TLC     2
4         Cuisine  None  [150, 290]          TLC     3
5   Salle de bain  None  [150, 350]          BLC     4
6   Salle de bain  None  [250, 450]          BLC     4
7       Toilettes  None   [375, 50]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

[<__main__.Sam object at 0x00000238F49D8B20>, <__main__.Cuisine object at 0x00000238F49D88E0>, <__main__.Cuisine object at 0x00000238F49D88E0>, <__main__.Sam object at 0x00000238F49D8B20>]
Cuisine
Removed corner : [150, 290, 'TLC']
0 0 0
Salle de bain
0 0 0
Salle à manger
0 0 0
Toilettes
Removed corner : [375, 50, 'TLC']
0 0 0
Chambre
Removed corner : [575, 150, 'TLC']
Removed corner : [275, 250, 'TLC']
0 0 0

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [650, 50, 'TRC']
Salle de bain placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [450, 50, 'TRC'], [650, 150, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [450, 50, 'TRC'], [650, 150, 'TRC']]
REMOVED : [[650, 50, 'TRC']]
Removed corner : [650, 150, 'TRC']
Toilettes placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [450, 50, 'TRC'], [650, 150, 'TRC'], [550, 150, 'TRC'], [650, 250, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [450, 50, 'TRC'], [550, 150, 'TRC'], [650, 250, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC']]
Removed corner : [150, 450, 'BLC']
Cuisine placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [450, 50, 'TRC'], [650, 150, 'TRC'], [550, 150, 'TRC'], [650, 250, 'TRC'], [150, 350, 'BLC'], [350, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [450, 50, 'TRC'], [550, 150, 'TRC'], [650, 250, 'TRC'], [150, 350, 'BLC'], [350, 450, 'BLC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC'], [150, 450, 'BLC']]
Removed corner : [550, 150, 'TRC']
Chambre placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [450, 50, 'TRC'], [650, 150, 'TRC'], [550, 150, 'TRC'], [650, 250, 'TRC'], [150, 350, 'BLC'], [350, 450, 'BLC'], [350, 150, 'TRC'], [550, 300, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [450, 50, 'TRC'], [650, 250, 'TRC'], [150, 350, 'BLC'], [350, 450, 'BLC'], [350, 150, 'TRC'], [550, 300, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC'], [150, 450, 'BLC'], [550, 150, 'TRC']]
Removed corner : [550, 300, 'TRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [450, 50, 'TRC'], [650, 150, 'TRC'], [550, 150, 'TRC'], [650, 250, 'TRC'], [150, 350, 'BLC'], [350, 450, 'BLC'], [350, 150, 'TRC'], [550, 300, 'TRC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [450, 50, 'TRC'], [650, 250, 'TRC'], [150, 350, 'BLC'], [350, 450, 'BLC'], [350, 150, 'TRC']]
REMOVED : [[650, 50, 'TRC'], [650, 150, 'TRC'], [150, 450, 'BLC'], [550, 150, 'TRC']]
Removed corner : [150, 50, 'TLC']
Salle à manger placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [450, 50, TRC]   Salle de bain  None
5   [650, 150, TRC]   Salle de bain  None
6   [550, 150, TRC]       Toilettes  None
7   [650, 250, TRC]       Toilettes  None
8   [150, 350, BLC]         Cuisine  None
9   [350, 450, BLC]         Cuisine  None
10  [350, 150, TRC]         Chambre  None
11  [550, 300, TRC]         Chambre  None
12   [310, 50, TLC]  Salle à manger  None
13  [150, 300, TLC]  Salle à manger  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[450, 50, 'TRC']
[650, 150, 'TRC']
[550, 150, 'TRC']
[650, 250, 'TRC']
[150, 350, 'BLC']
[350, 450, 'BLC']
[350, 150, 'TRC']
[550, 300, 'TRC']
[310, 50, 'TLC']
[150, 300, 'TLC']
[650, 50, 'TRC']
[650, 150, 'TRC']
[150, 450, 'BLC']
[550, 150, 'TRC']
[150, 50, 'TLC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4    Salle de bain  None   [450, 50]        TRC       450        50
5    Salle de bain  None  [650, 150]        TRC       650       150
6        Toilettes  None  [550, 150]        TRC       550       150
7        Toilettes  None  [650, 250]        TRC       650       250
8          Cuisine  None  [150, 350]        BLC       150       350
9          Cuisine  None  [350, 450]        BLC       350       450
10         Chambre  None  [350, 150]        TRC       350       150
11         Chambre  None  [550, 300]        TRC       550       300
12  Salle à manger  None   [310, 50]        TLC       310        50
13  Salle à manger  None  [150, 300]        TLC       150       300

       corner cornertype  x_corner  y_corner
0   [650, 50]        TRC       650        50
1  [650, 150]        TRC       650       150
2  [150, 450]        BLC       150       450
3  [550, 150]        TRC       550       150
4   [150, 50]        TLC       150        50

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Salle de bain,None,"[450, 50]",TRC,450,50,NaN,NaN
5,Salle de bain,None,"[650, 150]",TRC,650,150,"[650, 150]",TRC
6,Toilettes,None,"[550, 150]",TRC,550,150,"[550, 150]",TRC
7,Toilettes,None,"[650, 250]",TRC,650,250,NaN,NaN
8,Cuisine,None,"[150, 350]",BLC,150,350,NaN,NaN
9,Cuisine,None,"[350, 450]",BLC,350,450,NaN,NaN
10,Chambre,None,"[350, 150]",TRC,350,150,NaN,NaN
11,Chambre,None,"[550, 300]",TRC,550,300,NaN,NaN
12,Salle à manger,None,"[310, 50]",TLC,310,50,NaN,NaN
13,Salle à manger,None,"[150, 300]",TLC,150,300,NaN,NaN

0 Appartement 1000
1 Salle de bain 4
2 Toilettes 5
3 Cuisine 3
4 Cuisine 3
5 Chambre 2
6 Chambre 2
7 Salle à manger 1
8 Salle à manger 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [310, 50]          TLC     1
1  Salle à manger  None  [150, 300]          TLC     1
2         Chambre  None  [350, 150]          TRC     2
3         Chambre  None  [550, 300]          TRC     2
4         Cuisine  None  [150, 350]          BLC     3
5         Cuisine  None  [350, 450]          BLC     3
6   Salle de bain  None   [450, 50]          TRC     4
7       Toilettes  None  [650, 250]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement

 Salle à manger

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
VERTICAL
Salle à manger Cuisine 50
Salle à manger
Removed corner : [310, 50, 'TLC']
Removed corner : [150, 350, 'BLC']
0 0 0
Changé:  150 50 160 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [310, 50]          TLC     1
1  Salle à manger  None  [310, 350]          BLC     1
2         Chambre  None  [350, 150]          TRC     2
3         Chambre  None  [550, 300]          TRC     2
4         Cuisine  None  [150, 350]          BLC     3
5         Cuisine  None  [350, 450]          BLC     3
6   Salle de bain  None   [450, 50]          TRC     4
7       Toilettes  None  [650, 250]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

Cuisine
Salle de bain
Toilettes
Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement

 Cuisine

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement

 Cuisine

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement
HORIZONTAL
Cuisine Appartement 300
Cuisine
Removed corner : [650, 450, 'BRC']
0 0 0
Changé:  150 350 500 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [310, 50]          TLC     1
1  Salle à manger  None  [310, 350]          BLC     1
2         Chambre  None  [350, 150]          TRC     2
3         Chambre  None  [550, 300]          TRC     2
4         Cuisine  None  [150, 350]          BLC     3
5         Cuisine  None  [650, 350]          BRC     3
6   Salle de bain  None   [450, 50]          TRC     4
7       Toilettes  None  [650, 250]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

 Salle de bain

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement

 Toilettes

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Cuisine
VERTICAL
Toilettes Cuisine 100
Cuisine
Removed corner : [650, 250, 'TRC']
Cuisine Chambre close edge tb
0 1 0
Changé:  150 250 500 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [310, 50]          TLC     1
1  Salle à manger  None  [310, 350]          BLC     1
2         Chambre  None  [350, 150]          TRC     2
3         Chambre  None  [550, 300]          TRC     2
4         Cuisine  None  [150, 350]          BLC     3
5         Cuisine  None  [650, 350]          BRC     3
6   Salle de bain  None   [450, 50]          TRC     4
7       Toilettes  None  [150, 250]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [310, 50]          TLC     1
1  Salle à manger  None  [310, 350]          BLC     1
2         Chambre  None  [350, 150]          TRC     2
3         Chambre  None  [550, 300]          TRC     2
4         Cuisine  None  [150, 350]          BLC     3
5         Cuisine  None  [650, 350]          BRC     3
6   Salle de bain  None   [450, 50]          TRC     4
7       Toilettes  None  [650, 250]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  150 350 500 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [310, 50]          TLC     1
1  Salle à manger  None  [310, 350]          BLC     1
2         Chambre  None  [350, 150]          TRC     2
3         Chambre  None  [550, 300]          TRC     2
4         Cuisine  None  [150, 350]          BLC     3
5         Cuisine  None  [650, 350]          BRC     3
6   Salle de bain  None   [450, 50]          TRC     4
7       Toilettes  None  [650, 250]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

Salle de bain
Toilettes
Appartement
VERTICAL
Toilettes Appartement 200
Toilettes
Toilettes Cuisine close edge tb
0 1 0
Changé:  550 150 100 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [310, 50]          TLC     1
1  Salle à manger  None  [310, 350]          BLC     1
2         Chambre  None  [350, 150]          TRC     2
3         Chambre  None  [550, 300]          TRC     2
4         Cuisine  None  [150, 350]          BLC     3
5         Cuisine  None  [650, 350]          BRC     3
6   Salle de bain  None   [450, 50]          TRC     4
7       Toilettes  None  [550, 450]          BRC     5
8     Appartement  None  [650, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [310, 50]          TLC     1
1  Salle à manger  None  [310, 350]          BLC     1
2         Chambre  None  [350, 150]          TRC     2
3         Chambre  None  [550, 300]          TRC     2
4         Cuisine  None  [150, 350]          BLC     3
5         Cuisine  None  [650, 350]          BRC     3
6   Salle de bain  None   [450, 50]          TRC     4
7       Toilettes  None  [650, 250]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  550 150 100 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [310, 50]          TLC     1
1  Salle à manger  None  [310, 350]          BLC     1
2         Chambre  None  [350, 150]          TRC     2
3         Chambre  None  [550, 300]          TRC     2
4         Cuisine  None  [150, 350]          BLC     3
5         Cuisine  None  [650, 350]          BRC     3
6   Salle de bain  None   [450, 50]          TRC     4
7       Toilettes  None  [650, 250]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

 Appartement

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Cuisine
VERTICAL
Appartement Cuisine 100
Cuisine
Cuisine Chambre close edge tb
0 1 0
Changé:  150 250 500 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [310, 50]          TLC     1
1  Salle à manger  None  [310, 350]          BLC     1
2         Chambre  None  [350, 150]          TRC     2
3         Chambre  None  [550, 300]          TRC     2
4         Cuisine  None  [150, 350]          BLC     3
5         Cuisine  None  [650, 350]          BRC     3
6   Salle de bain  None   [450, 50]          TRC     4
7       Toilettes  None  [650, 250]          TRC     5
8     Appartement  None  [150, 250]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [310, 50]          TLC     1
1  Salle à manger  None  [310, 350]          BLC     1
2         Chambre  None  [350, 150]          TRC     2
3         Chambre  None  [550, 300]          TRC     2
4         Cuisine  None  [150, 350]          BLC     3
5         Cuisine  None  [650, 350]          BRC     3
6   Salle de bain  None   [450, 50]          TRC     4
7       Toilettes  None  [650, 250]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  150 350 500 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [310, 50]          TLC     1
1  Salle à manger  None  [310, 350]          BLC     1
2         Chambre  None  [350, 150]          TRC     2
3         Chambre  None  [550, 300]          TRC     2
4         Cuisine  None  [150, 350]          BLC     3
5         Cuisine  None  [650, 350]          BRC     3
6   Salle de bain  None   [450, 50]          TRC     4
7       Toilettes  None  [650, 250]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

Salle de bain
Toilettes
VERTICAL
Appartement Toilettes 200
Toilettes
Toilettes Cuisine close edge tb
0 1 0
Changé:  550 150 100 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [310, 50]          TLC     1
1  Salle à manger  None  [310, 350]          BLC     1
2         Chambre  None  [350, 150]          TRC     2
3         Chambre  None  [550, 300]          TRC     2
4         Cuisine  None  [150, 350]          BLC     3
5         Cuisine  None  [650, 350]          BRC     3
6   Salle de bain  None   [450, 50]          TRC     4
7       Toilettes  None  [650, 250]          TRC     5
8     Appartement  None  [550, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [310, 50]          TLC     1
1  Salle à manger  None  [310, 350]          BLC     1
2         Chambre  None  [350, 150]          TRC     2
3         Chambre  None  [550, 300]          TRC     2
4         Cuisine  None  [150, 350]          BLC     3
5         Cuisine  None  [650, 350]          BRC     3
6   Salle de bain  None   [450, 50]          TRC     4
7       Toilettes  None  [650, 250]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  550 150 100 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [310, 50]          TLC     1
1  Salle à manger  None  [310, 350]          BLC     1
2         Chambre  None  [350, 150]          TRC     2
3         Chambre  None  [550, 300]          TRC     2
4         Cuisine  None  [150, 350]          BLC     3
5         Cuisine  None  [650, 350]          BRC     3
6   Salle de bain  None   [450, 50]          TRC     4
7       Toilettes  None  [650, 250]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

Appartement
[[150, 300], [350, 450]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [310, 50]          TLC     1
1  Salle à manger  None  [310, 350]          BLC     1
2         Chambre  None  [350, 150]          TRC     2
3         Chambre  None  [550, 300]          TRC     2
4         Cuisine  None  [150, 350]          BLC     3
5         Cuisine  None  [650, 350]          BRC     3
6   Salle de bain  None   [450, 50]          TRC     4
7       Toilettes  None  [650, 250]          TRC     5
8     Appartement  None  [650, 450]          BRC  1000

[<__main__.Sam object at 0x00000238F49D8CD0>, <__main__.Cuisine object at 0x00000238F49D87C0>, <__main__.Toilettes object at 0x00000238F49D8700>, <__main__.Cuisine object at 0x00000238F49D87C0>, <__main__.Toilettes object at 0x00000238F49D8700>]
Salle de bain
Removed corner : [450, 50, 'TRC']
0 0 0
Toilettes
0 0 0
Cuisine
0 0 0
Chambre
Removed corner : [350, 150, 'TRC']
Removed corner : [550, 300, 'TRC']
0 0 0
Salle à manger
0 0 0

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 450, 'BLC']
Toilettes placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 350, 'BLC'], [250, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC']]
Removed corner : [650, 50, 'TRC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 350, 'BLC'], [250, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC']]
Removed corner : [150, 50, 'TLC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC']]
COINS : [[650, 450, 'BRC'], [150, 350, 'BLC'], [250, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC']]
Removed corner : [250, 450, 'BLC']
Salle de bain placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC']]
COINS : [[650, 450, 'BRC'], [150, 350, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [150, 50, 'TLC'], [650, 50, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC']]
Removed corner : [150, 350, 'BLC']
classique
hors champs = 1, superposition = 0, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC']]
COINS : [[650, 450, 'BRC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [150, 50, 'TLC'], [650, 50, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC']]
Removed corner : [650, 50, 'TRC']
Salle à manger placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC']]
COINS : [[650, 450, 'BRC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [150, 50, 'TLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [150, 350, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC']]
Removed corner : [500, 450, 'BLC']
Chambre Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC']]
COINS : [[650, 450, 'BRC'], [250, 330, 'BLC'], [150, 50, 'TLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [150, 350, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC']]
Removed corner : [525, 50, 'TRC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC']]
COINS : [[650, 450, 'BRC'], [250, 330, 'BLC'], [150, 50, 'TLC'], [650, 370, 'TRC'], [150, 350, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC']]
Removed corner : [150, 350, 'BLC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC']]
COINS : [[650, 450, 'BRC'], [250, 330, 'BLC'], [150, 50, 'TLC'], [650, 370, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC']]
Removed corner : [650, 370, 'TRC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC']]
COINS : [[650, 450, 'BRC'], [250, 330, 'BLC'], [150, 50, 'TLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC']]
Removed corner : [250, 330, 'BLC']
Chambre placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[650, 450, 'BRC'], [150, 50, 'TLC'], [250, 80, 'BLC'], [370, 330, 'BLC'], [650, 370, 'TRC'], [150, 350, 'BLC'], [525, 50, 'TRC'], [500, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [525, 50, 'TRC']
Cuisine Entrée close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[650, 450, 'BRC'], [150, 50, 'TLC'], [250, 80, 'BLC'], [370, 330, 'BLC'], [650, 370, 'TRC'], [150, 350, 'BLC'], [500, 450, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [500, 450, 'BLC']
Cuisine Salle à manger close edge tb
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[650, 450, 'BRC'], [150, 50, 'TLC'], [250, 80, 'BLC'], [370, 330, 'BLC'], [650, 370, 'TRC'], [150, 350, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [150, 50, 'TLC']
classique
Cuisine Chambre center
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[650, 450, 'BRC'], [250, 80, 'BLC'], [370, 330, 'BLC'], [650, 370, 'TRC'], [150, 350, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [370, 330, 'BLC']
Cuisine Salle à manger close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[650, 450, 'BRC'], [250, 80, 'BLC'], [650, 370, 'TRC'], [150, 350, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [150, 350, 'BLC']
Cuisine Salle de bain close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[650, 450, 'BRC'], [250, 80, 'BLC'], [650, 370, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [250, 80, 'BLC']
Cuisine Entrée close edge tb
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[650, 450, 'BRC'], [650, 370, 'TRC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [650, 370, 'TRC']
Cuisine Salle de bain close edge lr
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[650, 450, 'BRC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [650, 450, 'BRC']
Cuisine Salle de bain close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 350, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [650, 370, 'TRC']
Cuisine Salle de bain close edge lr
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 350, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [650, 450, 'BRC']
Cuisine Salle de bain close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[150, 50, 'TLC'], [150, 350, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [150, 50, 'TLC']
Cuisine Chambre center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[150, 350, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [525, 50, 'TRC']
Cuisine Entrée center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[150, 350, 'BLC'], [500, 450, 'BLC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [500, 450, 'BLC']
Cuisine Salle à manger close edge tb
hors champs = 1, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[150, 350, 'BLC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [150, 350, 'BLC']
Cuisine Salle de bain close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[250, 80, 'BLC'], [370, 330, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [370, 330, 'BLC']
Cuisine Salle à manger close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[250, 80, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [250, 80, 'BLC']
classique
classique
hors champs = 1, superposition = 0, superpositionPlaced = 1

REITERATION
[200, 100] [[250, 120], [200, 100]]
[200, 100] [[250, 120], [200, 100]]


REDIMENSION !!!!!!!!!!!!!!!!!

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 450, 'BRC'], [150, 350, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [650, 450, 'BRC']
Cuisine Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 350, 'BLC'], [250, 450, 'BLC'], [250, 330, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
COINS : [[150, 50, 'TLC'], [150, 350, 'BLC'], [500, 450, 'BLC'], [525, 50, 'TRC'], [650, 370, 'TRC'], [250, 80, 'BLC'], [370, 330, 'BLC']]
REMOVED : [[150, 450, 'BLC'], [250, 450, 'BLC'], [650, 50, 'TRC'], [250, 330, 'BLC']]
Removed corner : [525, 50, 'TRC']
Cuisine placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [150, 350, BLC]       Toilettes  None
5   [250, 450, BLC]       Toilettes  None
6   [250, 330, BLC]   Salle de bain  None
7   [500, 450, BLC]   Salle de bain  None
8    [525, 50, TRC]  Salle à manger  None
9   [650, 370, TRC]  Salle à manger  None
10   [250, 80, BLC]         Chambre  None
11  [370, 330, BLC]         Chambre  None
12   [425, 50, TRC]         Cuisine  None
13  [525, 250, TRC]         Cuisine  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[150, 350, 'BLC']
[250, 450, 'BLC']
[250, 330, 'BLC']
[500, 450, 'BLC']
[525, 50, 'TRC']
[650, 370, 'TRC']
[250, 80, 'BLC']
[370, 330, 'BLC']
[425, 50, 'TRC']
[525, 250, 'TRC']
[150, 450, 'BLC']
[250, 450, 'BLC']
[650, 50, 'TRC']
[250, 330, 'BLC']
[525, 50, 'TRC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4        Toilettes  None  [150, 350]        BLC       150       350
5        Toilettes  None  [250, 450]        BLC       250       450
6    Salle de bain  None  [250, 330]        BLC       250       330
7    Salle de bain  None  [500, 450]        BLC       500       450
8   Salle à manger  None   [525, 50]        TRC       525        50
9   Salle à manger  None  [650, 370]        TRC       650       370
10         Chambre  None   [250, 80]        BLC       250        80
11         Chambre  None  [370, 330]        BLC       370       330
12         Cuisine  None   [425, 50]        TRC       425        50
13         Cuisine  None  [525, 250]        TRC       525       250

       corner cornertype  x_corner  y_corner
0  [150, 450]        BLC       150       450
1  [250, 450]        BLC       250       450
2   [650, 50]        TRC       650        50
3  [250, 330]        BLC       250       330
4   [525, 50]        TRC       525        50

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,NaN,NaN
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Toilettes,None,"[150, 350]",BLC,150,350,NaN,NaN
5,Toilettes,None,"[250, 450]",BLC,250,450,"[250, 450]",BLC
6,Salle de bain,None,"[250, 330]",BLC,250,330,"[250, 330]",BLC
7,Salle de bain,None,"[500, 450]",BLC,500,450,NaN,NaN
8,Salle à manger,None,"[525, 50]",TRC,525,50,"[525, 50]",TRC
9,Salle à manger,None,"[650, 370]",TRC,650,370,NaN,NaN
10,Chambre,None,"[250, 80]",BLC,250,80,NaN,NaN
11,Chambre,None,"[370, 330]",BLC,370,330,NaN,NaN
12,Cuisine,None,"[425, 50]",TRC,425,50,NaN,NaN
13,Cuisine,None,"[525, 250]",TRC,525,250,NaN,NaN

0 Appartement 1000
1 Appartement 1000
2 Toilettes 5
3 Salle de bain 4
4 Salle à manger 1
5 Chambre 2
6 Chambre 2
7 Cuisine 3
8 Cuisine 3

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [650, 370]          TRC     1
1         Chambre  None   [250, 80]          BLC     2
2         Chambre  None  [370, 330]          BLC     2
3         Cuisine  None   [425, 50]          TRC     3
4         Cuisine  None  [525, 250]          TRC     3
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

 Salle à manger

Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement
Appartement
VERTICAL
Salle à manger Appartement 80
Salle à manger
Removed corner : [525, 50, 'TRC']
Removed corner : [525, 50, 'TRC']
Removed corner : [650, 450, 'BRC']
Removed corner : [650, 450, 'BRC']
Removed corner : [650, 450, 'BRC']
0 0 0
Changé:  525 50 125 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 450]          BRC     1
1         Chambre  None   [250, 80]          BLC     2
2         Chambre  None  [370, 330]          BLC     2
3         Cuisine  None   [425, 50]          TRC     3
4         Cuisine  None  [525, 250]          TRC     3
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

 Chambre

Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Chambre

Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Cuisine

Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Cuisine

Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Salle de bain

Salle à manger
HORIZONTAL
Salle de bain Salle à manger 25
Salle à manger
Removed corner : [500, 450, 'BLC']
Removed corner : [500, 450, 'BLC']
Removed corner : [500, 450, 'BLC']
Salle à manger Cuisine close edge lr
0 1 0
Changé:  500 50 150 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 450]          BRC     1
1         Chambre  None   [250, 80]          BLC     2
2         Chambre  None  [370, 330]          BLC     2
3         Cuisine  None   [425, 50]          TRC     3
4         Cuisine  None  [525, 250]          TRC     3
5   Salle de bain  None   [500, 50]          BLC     4
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 450]          BRC     1
1         Chambre  None   [250, 80]          BLC     2
2         Chambre  None  [370, 330]          BLC     2
3         Cuisine  None   [425, 50]          TRC     3
4         Cuisine  None  [525, 250]          TRC     3
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  525 50 125 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 450]          BRC     1
1         Chambre  None   [250, 80]          BLC     2
2         Chambre  None  [370, 330]          BLC     2
3         Cuisine  None   [425, 50]          TRC     3
4         Cuisine  None  [525, 250]          TRC     3
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement
Appartement
HORIZONTAL
Salle de bain Appartement 150
Salle de bain
Salle de bain Salle à manger close edge lr
0 1 0
Changé:  250 330 400 120

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 450]          BRC     1
1         Chambre  None   [250, 80]          BLC     2
2         Chambre  None  [370, 330]          BLC     2
3         Cuisine  None   [425, 50]          TRC     3
4         Cuisine  None  [525, 250]          TRC     3
5   Salle de bain  None  [650, 330]          BRC     4
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 450]          BRC     1
1         Chambre  None   [250, 80]          BLC     2
2         Chambre  None  [370, 330]          BLC     2
3         Cuisine  None   [425, 50]          TRC     3
4         Cuisine  None  [525, 250]          TRC     3
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  250 330 250 120

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 450]          BRC     1
1         Chambre  None   [250, 80]          BLC     2
2         Chambre  None  [370, 330]          BLC     2
3         Cuisine  None   [425, 50]          TRC     3
4         Cuisine  None  [525, 250]          TRC     3
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None  [150, 350]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

 Toilettes

Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement
VERTICAL
Toilettes Appartement 300
Toilettes
Removed corner : [150, 50, 'TLC']
Removed corner : [150, 50, 'TLC']
Removed corner : [150, 50, 'TLC']
0 0 0
Changé:  150 50 100 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 450]          BRC     1
1         Chambre  None   [250, 80]          BLC     2
2         Chambre  None  [370, 330]          BLC     2
3         Cuisine  None   [425, 50]          TRC     3
4         Cuisine  None  [525, 250]          TRC     3
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

Appartement

 Appartement

Salle à manger
Chambre
Chambre
Cuisine
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Appartement

Salle à manger
HORIZONTAL
Appartement Salle à manger 125
Salle à manger
classique
classique
Salle à manger Cuisine center
0 1 1
Changé:  400 50 250 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 450]          BRC     1
1         Chambre  None   [250, 80]          BLC     2
2         Chambre  None  [370, 330]          BLC     2
3         Cuisine  None   [425, 50]          TRC     3
4         Cuisine  None  [525, 250]          TRC     3
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [400, 50]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 450]          BRC     1
1         Chambre  None   [250, 80]          BLC     2
2         Chambre  None  [370, 330]          BLC     2
3         Cuisine  None   [425, 50]          TRC     3
4         Cuisine  None  [525, 250]          TRC     3
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  525 50 125 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 450]          BRC     1
1         Chambre  None   [250, 80]          BLC     2
2         Chambre  None  [370, 330]          BLC     2
3         Cuisine  None   [425, 50]          TRC     3
4         Cuisine  None  [525, 250]          TRC     3
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

Chambre
Chambre
Cuisine
Cuisine
Salle de bain
HORIZONTAL
Appartement Salle de bain 150
Salle de bain
Salle de bain Salle à manger close edge lr
0 1 0
Changé:  250 330 400 120

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 450]          BRC     1
1         Chambre  None   [250, 80]          BLC     2
2         Chambre  None  [370, 330]          BLC     2
3         Cuisine  None   [425, 50]          TRC     3
4         Cuisine  None  [525, 250]          TRC     3
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [250, 330]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 450]          BRC     1
1         Chambre  None   [250, 80]          BLC     2
2         Chambre  None  [370, 330]          BLC     2
3         Cuisine  None   [425, 50]          TRC     3
4         Cuisine  None  [525, 250]          TRC     3
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  250 330 250 120

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 450]          BRC     1
1         Chambre  None   [250, 80]          BLC     2
2         Chambre  None  [370, 330]          BLC     2
3         Cuisine  None   [425, 50]          TRC     3
4         Cuisine  None  [525, 250]          TRC     3
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

Toilettes
Appartement
Appartement
[[650, 370], [150, 350]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 450]          BRC     1
1         Chambre  None   [250, 80]          BLC     2
2         Chambre  None  [370, 330]          BLC     2
3         Cuisine  None   [425, 50]          TRC     3
4         Cuisine  None  [525, 250]          TRC     3
5   Salle de bain  None  [500, 450]          BLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None  [650, 450]          BRC  1000

[<__main__.Sam object at 0x00000238F49D8AC0>, <__main__.Sam object at 0x00000238F49D8AC0>, <__main__.Toilettes object at 0x00000238F49D8160>, <__main__.Sam object at 0x00000238F49D8AC0>, <__main__.Sdb object at 0x00000238F49D84F0>]
Toilettes
0 0 0
Salle de bain
0 0 0
Salle à manger
0 0 0
Chambre
Removed corner : [250, 80, 'BLC']
Removed corner : [250, 80, 'BLC']
Removed corner : [250, 80, 'BLC']
Removed corner : [370, 330, 'BLC']
Removed corner : [370, 330, 'BLC']
Removed corner : [370, 330, 'BLC']
0 0 0
Cuisine
Removed corner : [425, 50, 'TRC']
Removed corner : [525, 250, 'TRC']
0 0 0

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 50, 'TLC']
Toilettes placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC']]
REMOVED : [[150, 50, 'TLC']]
Removed corner : [150, 150, 'TLC']
Cuisine placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC']]
Removed corner : [270, 150, 'TLC']
Salle de bain placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC']]
Removed corner : [250, 50, 'TLC']
classique
classique
classique
Salle à manger Salle de bain close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC']]
Removed corner : [370, 150, 'TLC']
Salle à manger placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC'], [610, 150, 'TLC'], [370, 275, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [150, 400, 'TLC'], [270, 250, 'TLC'], [610, 150, 'TLC'], [370, 275, 'TLC'], [250, 50, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [370, 150, 'TLC']]
Removed corner : [150, 450, 'BLC']
Chambre Cuisine center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC'], [610, 150, 'TLC'], [370, 275, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 400, 'TLC'], [270, 250, 'TLC'], [610, 150, 'TLC'], [370, 275, 'TLC'], [250, 50, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [370, 150, 'TLC']]
Removed corner : [250, 50, 'TLC']
classique
Chambre Cuisine close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC'], [610, 150, 'TLC'], [370, 275, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 400, 'TLC'], [270, 250, 'TLC'], [610, 150, 'TLC'], [370, 275, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [370, 150, 'TLC']]
Removed corner : [610, 150, 'TLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC'], [610, 150, 'TLC'], [370, 275, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 400, 'TLC'], [270, 250, 'TLC'], [370, 275, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [370, 150, 'TLC']]
Removed corner : [650, 50, 'TRC']
Chambre Salle à manger center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC'], [610, 150, 'TLC'], [370, 275, 'TLC']]
COINS : [[650, 450, 'BRC'], [150, 400, 'TLC'], [270, 250, 'TLC'], [370, 275, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [370, 150, 'TLC']]
Removed corner : [270, 250, 'TLC']
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC'], [610, 150, 'TLC'], [370, 275, 'TLC']]
COINS : [[650, 450, 'BRC'], [150, 400, 'TLC'], [370, 275, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [370, 150, 'TLC']]
Removed corner : [150, 400, 'TLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC'], [610, 150, 'TLC'], [370, 275, 'TLC']]
COINS : [[650, 450, 'BRC'], [370, 275, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [370, 150, 'TLC']]
Removed corner : [650, 450, 'BRC']
Chambre Salle à manger close edge tb
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC'], [610, 150, 'TLC'], [370, 275, 'TLC']]
COINS : [[370, 275, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [370, 150, 'TLC']]
Removed corner : [370, 275, 'TLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION


REDIMENSION !!!!!!!!!!!!!!!!!

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [150, 400, 'TLC'], [370, 150, 'TLC'], [270, 250, 'TLC'], [610, 150, 'TLC'], [370, 275, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 400, 'TLC'], [270, 250, 'TLC'], [610, 150, 'TLC'], [370, 275, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [270, 150, 'TLC'], [370, 150, 'TLC']]
Removed corner : [650, 450, 'BRC']
Chambre placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [250, 50, TLC]       Toilettes  None
5   [150, 150, TLC]       Toilettes  None
6   [270, 150, TLC]         Cuisine  None
7   [150, 400, TLC]         Cuisine  None
8   [370, 150, TLC]   Salle de bain  None
9   [270, 250, TLC]   Salle de bain  None
10  [610, 150, TLC]  Salle à manger  None
11  [370, 275, TLC]  Salle à manger  None
12  [650, 290, BRC]         Chambre  None
13  [525, 450, BRC]         Chambre  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[250, 50, 'TLC']
[150, 150, 'TLC']
[270, 150, 'TLC']
[150, 400, 'TLC']
[370, 150, 'TLC']
[270, 250, 'TLC']
[610, 150, 'TLC']
[370, 275, 'TLC']
[650, 290, 'BRC']
[525, 450, 'BRC']
[150, 50, 'TLC']
[150, 150, 'TLC']
[270, 150, 'TLC']
[370, 150, 'TLC']
[650, 450, 'BRC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4        Toilettes  None   [250, 50]        TLC       250        50
5        Toilettes  None  [150, 150]        TLC       150       150
6          Cuisine  None  [270, 150]        TLC       270       150
7          Cuisine  None  [150, 400]        TLC       150       400
8    Salle de bain  None  [370, 150]        TLC       370       150
9    Salle de bain  None  [270, 250]        TLC       270       250
10  Salle à manger  None  [610, 150]        TLC       610       150
11  Salle à manger  None  [370, 275]        TLC       370       275
12         Chambre  None  [650, 290]        BRC       650       290
13         Chambre  None  [525, 450]        BRC       525       450

       corner cornertype  x_corner  y_corner
0   [150, 50]        TLC       150        50
1  [150, 150]        TLC       150       150
2  [270, 150]        TLC       270       150
3  [370, 150]        TLC       370       150
4  [650, 450]        BRC       650       450

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Toilettes,None,"[250, 50]",TLC,250,50,NaN,NaN
5,Toilettes,None,"[150, 150]",TLC,150,150,"[150, 150]",TLC
6,Cuisine,None,"[270, 150]",TLC,270,150,"[270, 150]",TLC
7,Cuisine,None,"[150, 400]",TLC,150,400,NaN,NaN
8,Salle de bain,None,"[370, 150]",TLC,370,150,"[370, 150]",TLC
9,Salle de bain,None,"[270, 250]",TLC,270,250,NaN,NaN
10,Salle à manger,None,"[610, 150]",TLC,610,150,NaN,NaN
11,Salle à manger,None,"[370, 275]",TLC,370,275,NaN,NaN
12,Chambre,None,"[650, 290]",BRC,650,290,NaN,NaN
13,Chambre,None,"[525, 450]",BRC,525,450,NaN,NaN

0 Appartement 1000
1 Appartement 1000
2 Toilettes 5
3 Cuisine 3
4 Salle de bain 4
5 Salle à manger 1
6 Salle à manger 1
7 Chambre 2
8 Chambre 2

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None  [650, 290]          BRC     2
3         Chambre  None  [525, 450]          BRC     2
4         Cuisine  None  [150, 400]          TLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Salle à manger

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Appartement
VERTICAL
Chambre Appartement 240
Chambre
Removed corner : [650, 50, 'TRC']
Removed corner : [650, 50, 'TRC']
Removed corner : [650, 450, 'BRC']
Removed corner : [525, 450, 'BRC']
Chambre Salle à manger center
0 1 0
Changé:  525 50 125 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None   [525, 50]          TRC     2
3         Chambre  None  [525, 450]          BRC     2
4         Cuisine  None  [150, 400]          TLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None  [650, 290]          BRC     2
3         Chambre  None  [525, 450]          BRC     2
4         Cuisine  None  [150, 400]          TLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  525 290 125 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None  [650, 290]          BRC     2
3         Chambre  None  [525, 450]          BRC     2
4         Cuisine  None  [150, 400]          TLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Appartement

 Chambre

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Appartement
Appartement
HORIZONTAL
Chambre Appartement 375
Chambre
Removed corner : [650, 290, 'BRC']
Removed corner : [150, 450, 'BLC']
Removed corner : [150, 450, 'BLC']
Chambre Cuisine close edge lr
0 1 0
Changé:  150 290 500 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None  [650, 290]          BRC     2
3         Chambre  None  [150, 290]          BLC     2
4         Cuisine  None  [150, 400]          TLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None  [650, 290]          BRC     2
3         Chambre  None  [525, 450]          BRC     2
4         Cuisine  None  [150, 400]          TLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  525 290 125 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None  [650, 290]          BRC     2
3         Chambre  None  [525, 450]          BRC     2
4         Cuisine  None  [150, 400]          TLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Cuisine

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Appartement
Appartement
VERTICAL
Cuisine Appartement 50
Cuisine
0 0 0
Changé:  150 150 120 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None  [650, 290]          BRC     2
3         Chambre  None  [525, 450]          BRC     2
4         Cuisine  None  [270, 450]          BLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle de bain

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Toilettes

Salle à manger
Salle à manger
Chambre
Chambre
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Appartement

Salle à manger
Salle à manger
Chambre
VERTICAL
Appartement Chambre 240
Chambre
Chambre Salle à manger center
0 1 0
Changé:  525 50 125 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None  [650, 290]          BRC     2
3         Chambre  None  [525, 450]          BRC     2
4         Cuisine  None  [270, 450]          BLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [525, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None  [650, 290]          BRC     2
3         Chambre  None  [525, 450]          BRC     2
4         Cuisine  None  [270, 450]          BLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  525 290 125 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None  [650, 290]          BRC     2
3         Chambre  None  [525, 450]          BRC     2
4         Cuisine  None  [270, 450]          BLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Chambre
Cuisine
Salle de bain
Toilettes
Appartement
Appartement

 Appartement

Salle à manger
Salle à manger
Chambre
Chambre
HORIZONTAL
Appartement Chambre 375
Chambre
Chambre Cuisine close edge lr
0 1 0
Changé:  150 290 500 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None  [650, 290]          BRC     2
3         Chambre  None  [525, 450]          BRC     2
4         Cuisine  None  [270, 450]          BLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 290]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None  [650, 290]          BRC     2
3         Chambre  None  [525, 450]          BRC     2
4         Cuisine  None  [270, 450]          BLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  525 290 125 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None  [650, 290]          BRC     2
3         Chambre  None  [525, 450]          BRC     2
4         Cuisine  None  [270, 450]          BLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Cuisine
HORIZONTAL
Appartement Cuisine 120
Cuisine
Cuisine Salle de bain close edge tb
0 1 0
Changé:  150 150 240 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None  [650, 290]          BRC     2
3         Chambre  None  [525, 450]          BRC     2
4         Cuisine  None  [270, 450]          BLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 150]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None  [650, 290]          BRC     2
3         Chambre  None  [525, 450]          BRC     2
4         Cuisine  None  [270, 450]          BLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 150 120 300

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None  [650, 290]          BRC     2
3         Chambre  None  [525, 450]          BRC     2
4         Cuisine  None  [270, 450]          BLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Salle de bain
Toilettes
Appartement
Appartement
[[150, 400]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [610, 150]          TLC     1
1  Salle à manger  None  [370, 275]          TLC     1
2         Chambre  None  [650, 290]          BRC     2
3         Chambre  None  [525, 450]          BRC     2
4         Cuisine  None  [270, 450]          BLC     3
5   Salle de bain  None  [270, 250]          TLC     4
6       Toilettes  None   [250, 50]          TLC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

[<__main__.Chambre object at 0x00000238F49B7FA0>, <__main__.Cuisine object at 0x00000238F49CE070>, <__main__.Chambre object at 0x00000238F49B7FA0>, <__main__.Chambre object at 0x00000238F49B7FA0>, <__main__.Cuisine object at 0x00000238F49CE070>]
Toilettes
Removed corner : [250, 50, 'TLC']
Removed corner : [250, 50, 'TLC']
0 0 0
Cuisine
0 0 0
Salle de bain
Removed corner : [270, 250, 'TLC']
Removed corner : [270, 250, 'TLC']
0 0 0
Salle à manger
Removed corner : [610, 150, 'TLC']
Removed corner : [610, 150, 'TLC']
Removed corner : [370, 275, 'TLC']
0 0 0
Chambre
0 0 0

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 50, 'TLC']
Chambre placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 150, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 150, 'TLC']]
REMOVED : [[150, 50, 'TLC']]
Removed corner : [650, 50, 'TRC']
Salle de bain placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 150, 'TLC'], [500, 50, 'TRC'], [650, 250, 'TRC']]
COINS : [[650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 150, 'TLC'], [500, 50, 'TRC'], [650, 250, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [650, 50, 'TRC']]
Removed corner : [150, 150, 'TLC']
Cuisine placée

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 150, 'TLC'], [500, 50, 'TRC'], [650, 250, 'TRC'], [275, 150, 'TLC'], [150, 310, 'TLC']]
COINS : [[650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [500, 50, 'TRC'], [650, 250, 'TRC'], [275, 150, 'TLC'], [150, 310, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 150, 'TLC']]
Removed corner : [150, 450, 'BLC']
Toilettes placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 150, 'TLC'], [500, 50, 'TRC'], [650, 250, 'TRC'], [275, 150, 'TLC'], [150, 310, 'TLC'], [150, 350, 'BLC'], [250, 450, 'BLC']]
COINS : [[650, 450, 'BRC'], [350, 50, 'TLC'], [500, 50, 'TRC'], [650, 250, 'TRC'], [275, 150, 'TLC'], [150, 310, 'TLC'], [150, 350, 'BLC'], [250, 450, 'BLC']]
REMOVED : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 150, 'TLC'], [150, 450, 'BLC']]
Removed corner : [150, 350, 'BLC']
Salle à manger Cuisine center
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 150, 'TLC'], [500, 50, 'TRC'], [650, 250, 'TRC'], [275, 150, 'TLC'], [150, 310, 'TLC'], [150, 350, 'BLC'], [250, 450, 'BLC']]
COINS : [[650, 450, 'BRC'], [350, 50, 'TLC'], [500, 50, 'TRC'], [650, 250, 'TRC'], [275, 150, 'TLC'], [150, 310, 'TLC'], [250, 450, 'BLC']]
REMOVED : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 150, 'TLC'], [150, 450, 'BLC']]
Removed corner : [350, 50, 'TLC']
classique
classique
Salle à manger Salle de bain close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 1

REITERATION

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [350, 50, 'TLC'], [150, 150, 'TLC'], [500, 50, 'TRC'], [650, 250, 'TRC'], [275, 150, 'TLC'], [150, 310, 'TLC'], [150, 350, 'BLC'], [250, 450, 'BLC']]
COINS : [[650, 450, 'BRC'], [500, 50, 'TRC'], [650, 250, 'TRC'], [275, 150, 'TLC'], [150, 310, 'TLC'], [250, 450, 'BLC']]
REMOVED : [[150, 50, 'TLC'], [650, 50, 'TRC'], [150, 150, 'TLC'], [150, 450, 'BLC']]
Removed corner : [250, 450, 'BLC']
Salle à manger placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [350, 50, TLC]         Chambre  None
5   [150, 150, TLC]         Chambre  None
6    [500, 50, TRC]   Salle de bain  None
7   [650, 250, TRC]   Salle de bain  None
8   [275, 150, TLC]         Cuisine  None
9   [150, 310, TLC]         Cuisine  None
10  [150, 350, BLC]       Toilettes  None
11  [250, 450, BLC]       Toilettes  None
12  [250, 325, BLC]  Salle à manger  None
13  [410, 450, BLC]  Salle à manger  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[350, 50, 'TLC']
[150, 150, 'TLC']
[500, 50, 'TRC']
[650, 250, 'TRC']
[275, 150, 'TLC']
[150, 310, 'TLC']
[150, 350, 'BLC']
[250, 450, 'BLC']
[250, 325, 'BLC']
[410, 450, 'BLC']
[150, 50, 'TLC']
[650, 50, 'TRC']
[150, 150, 'TLC']
[150, 450, 'BLC']
[250, 450, 'BLC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Chambre  None   [350, 50]        TLC       350        50
5          Chambre  None  [150, 150]        TLC       150       150
6    Salle de bain  None   [500, 50]        TRC       500        50
7    Salle de bain  None  [650, 250]        TRC       650       250
8          Cuisine  None  [275, 150]        TLC       275       150
9          Cuisine  None  [150, 310]        TLC       150       310
10       Toilettes  None  [150, 350]        BLC       150       350
11       Toilettes  None  [250, 450]        BLC       250       450
12  Salle à manger  None  [250, 325]        BLC       250       325
13  Salle à manger  None  [410, 450]        BLC       410       450

       corner cornertype  x_corner  y_corner
0   [150, 50]        TLC       150        50
1   [650, 50]        TRC       650        50
2  [150, 150]        TLC       150       150
3  [150, 450]        BLC       150       450
4  [250, 450]        BLC       250       450

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Chambre,None,"[350, 50]",TLC,350,50,NaN,NaN
5,Chambre,None,"[150, 150]",TLC,150,150,"[150, 150]",TLC
6,Salle de bain,None,"[500, 50]",TRC,500,50,NaN,NaN
7,Salle de bain,None,"[650, 250]",TRC,650,250,NaN,NaN
8,Cuisine,None,"[275, 150]",TLC,275,150,NaN,NaN
9,Cuisine,None,"[150, 310]",TLC,150,310,NaN,NaN
10,Toilettes,None,"[150, 350]",BLC,150,350,NaN,NaN
11,Toilettes,None,"[250, 450]",BLC,250,450,"[250, 450]",BLC
12,Salle à manger,None,"[250, 325]",BLC,250,325,NaN,NaN
13,Salle à manger,None,"[410, 450]",BLC,410,450,NaN,NaN

0 Appartement 1000
1 Chambre 2
2 Salle de bain 4
3 Salle de bain 4
4 Cuisine 3
5 Cuisine 3
6 Toilettes 5
7 Salle à manger 1
8 Salle à manger 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [410, 450]          BLC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Salle à manger

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement
HORIZONTAL
Salle à manger Appartement 240
Salle à manger
Removed corner : [250, 325, 'BLC']
Removed corner : [650, 450, 'BRC']
0 0 0
Changé:  250 325 400 125

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

 Chambre

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Cuisine

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
VERTICAL
Cuisine Toilettes 40
Cuisine
Removed corner : [275, 150, 'TLC']
Removed corner : [150, 350, 'BLC']
classique
0 0 1
Changé:  150 150 125 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [275, 350]          BLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  150 150 125 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

Appartement

 Salle de bain

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement

 Salle de bain

Salle à manger
Salle à manger
VERTICAL
Salle de bain Salle à manger 75
Salle à manger
Removed corner : [650, 250, 'TRC']
classique
0 0 1
Changé:  250 250 400 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [250, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  250 325 400 125

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement
VERTICAL
Salle de bain Appartement 200
Salle de bain
Removed corner : [500, 50, 'TRC']
Salle de bain Salle à manger close edge tb
0 1 0
Changé:  500 50 150 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [500, 450]          BRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  500 50 150 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

 Toilettes

Salle à manger
Salle à manger
Chambre
Cuisine
Cuisine
VERTICAL
Toilettes Cuisine 40
Cuisine
classique
0 0 1
Changé:  150 150 125 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [275, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  150 150 125 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

Salle de bain
Salle de bain
Toilettes
Appartement

 Appartement

Salle à manger
Salle à manger
VERTICAL
Appartement Salle à manger 125
Salle à manger
classique
classique
0 0 1
Changé:  250 200 400 250

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [250, 200]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  250 325 400 125

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

Chambre
Cuisine
Cuisine
Salle de bain
Salle de bain
VERTICAL
Appartement Salle de bain 200
Salle de bain
Salle de bain Salle à manger close edge tb
0 1 0
Changé:  500 50 150 400

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [500, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  500 50 150 200

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

Toilettes
Appartement
[[410, 450]]

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 325]          BLC     1
1  Salle à manger  None  [650, 325]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [275, 150]          TLC     3
4         Cuisine  None  [150, 310]          TLC     3
5   Salle de bain  None   [500, 50]          TRC     4
6   Salle de bain  None  [650, 250]          TRC     4
7       Toilettes  None  [150, 350]          BLC     5
8     Appartement  None  [650, 450]          BRC  1000

[<__main__.Cuisine object at 0x00000238F8B70B80>, <__main__.Sam object at 0x00000238F8B70A90>, <__main__.Sdb object at 0x00000238F8B706A0>, <__main__.Cuisine object at 0x00000238F8B70B80>, <__main__.Sam object at 0x00000238F8B70A90>, <__main__.Sdb object at 0x00000238F8B706A0>]
Chambre
Removed corner : [350, 50, 'TLC']
0 0 0
Salle de bain
0 0 0
Cuisine
Removed corner : [150, 310, 'TLC']
0 0 0
Toilettes
0 0 0
Salle à manger
0 0 0

Toilettes
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
COINS : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC']]
REMOVED : []
Removed corner : [150, 50, 'TLC']
Toilettes placée

Salle à manger
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC']]
REMOVED : [[150, 50, 'TLC']]
Removed corner : [150, 150, 'TLC']
Salle à manger placée

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [350, 150, 'TLC'], [150, 250, 'TLC']]
COINS : [[650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [350, 150, 'TLC'], [150, 250, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC']]
Removed corner : [650, 50, 'TRC']
Removed corner : [250, 50, 'TLC']
classique
classique
hors champs = 0, superposition = 0, superpositionPlaced = 1

REITERATION

Cuisine
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [350, 150, 'TLC'], [150, 250, 'TLC']]
COINS : [[650, 450, 'BRC'], [150, 450, 'BLC'], [350, 150, 'TLC'], [150, 250, 'TLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC']]
Removed corner : [150, 450, 'BLC']
Cuisine placée

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [350, 150, 'TLC'], [150, 250, 'TLC'], [150, 350, 'BLC'], [550, 450, 'BLC']]
COINS : [[650, 450, 'BRC'], [350, 150, 'TLC'], [150, 250, 'TLC'], [150, 350, 'BLC'], [550, 450, 'BLC'], [650, 50, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [150, 450, 'BLC']]
Removed corner : [550, 450, 'BLC']
hors champs = 1, superposition = 0, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [350, 150, 'TLC'], [150, 250, 'TLC'], [150, 350, 'BLC'], [550, 450, 'BLC']]
COINS : [[650, 450, 'BRC'], [350, 150, 'TLC'], [150, 250, 'TLC'], [150, 350, 'BLC'], [650, 50, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [150, 450, 'BLC']]
Removed corner : [650, 450, 'BRC']
Salle de bain Cuisine close edge lr
hors champs = 0, superposition = 1, superpositionPlaced = 0

REITERATION

Salle de bain
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [350, 150, 'TLC'], [150, 250, 'TLC'], [150, 350, 'BLC'], [550, 450, 'BLC']]
COINS : [[350, 150, 'TLC'], [150, 250, 'TLC'], [150, 350, 'BLC'], [650, 50, 'TRC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [150, 450, 'BLC']]
Removed corner : [350, 150, 'TLC']
Salle de bain placée

Chambre
TOTALE : [[150, 50, 'TLC'], [650, 50, 'TRC'], [650, 450, 'BRC'], [150, 450, 'BLC'], [250, 50, 'TLC'], [150, 150, 'TLC'], [350, 150, 'TLC'], [150, 250, 'TLC'], [150, 350, 'BLC'], [550, 450, 'BLC'], [510, 150, 'TLC'], [350, 275, 'TLC']]
COINS : [[150, 250, 'TLC'], [150, 350, 'BLC'], [650, 50, 'TRC'], [510, 150, 'TLC'], [350, 275, 'TLC'], [650, 450, 'BRC'], [550, 450, 'BLC']]
REMOVED : [[150, 50, 'TLC'], [150, 150, 'TLC'], [150, 450, 'BLC'], [350, 150, 'TLC']]
Removed corner : [150, 250, 'TLC']
Removed corner : [150, 350, 'BLC']
Chambre placée

<ipython-input-6-0679613cb24e>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [250, 50, TLC]       Toilettes  None
5   [150, 150, TLC]       Toilettes  None
6   [350, 150, TLC]  Salle à manger  None
7   [150, 250, TLC]  Salle à manger  None
8   [150, 350, BLC]         Cuisine  None
9   [550, 450, BLC]         Cuisine  None
10  [510, 150, TLC]   Salle de bain  None
11  [350, 275, TLC]   Salle de bain  None
12  [350, 250, TLC]         Chambre  None
13  [150, 350, TLC]         Chambre  None

[150, 50, 'TLC']
[650, 50, 'TRC']
[650, 450, 'BRC']
[150, 450, 'BLC']
[250, 50, 'TLC']
[150, 150, 'TLC']
[350, 150, 'TLC']
[150, 250, 'TLC']
[150, 350, 'BLC']
[550, 450, 'BLC']
[510, 150, 'TLC']
[350, 275, 'TLC']
[350, 250, 'TLC']
[150, 350, 'TLC']
[150, 50, 'TLC']
[150, 150, 'TLC']
[150, 450, 'BLC']
[350, 150, 'TLC']
[150, 250, 'TLC']
[150, 350, 'BLC']

<ipython-input-6-0679613cb24e>:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-6-0679613cb24e>:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-6-0679613cb24e>:637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-6-0679613cb24e>:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4        Toilettes  None   [250, 50]        TLC       250        50
5        Toilettes  None  [150, 150]        TLC       150       150
6   Salle à manger  None  [350, 150]        TLC       350       150
7   Salle à manger  None  [150, 250]        TLC       150       250
8          Cuisine  None  [150, 350]        BLC       150       350
9          Cuisine  None  [550, 450]        BLC       550       450
10   Salle de bain  None  [510, 150]        TLC       510       150
11   Salle de bain  None  [350, 275]        TLC       350       275
12         Chambre  None  [350, 250]        TLC       350       250
13         Chambre  None  [150, 350]        TLC       150       350

       corner cornertype  x_corner  y_corner
0   [150, 50]        TLC       150        50
1  [150, 150]        TLC       150       150
2  [150, 450]        BLC       150       450
3  [350, 150]        TLC       350       150
4  [150, 250]        TLC       150       250
5  [150, 350]        BLC       150       350

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Toilettes,None,"[250, 50]",TLC,250,50,NaN,NaN
5,Toilettes,None,"[150, 150]",TLC,150,150,"[150, 150]",TLC
6,Salle à manger,None,"[350, 150]",TLC,350,150,"[350, 150]",TLC
7,Salle à manger,None,"[150, 250]",TLC,150,250,"[150, 250]",TLC
8,Cuisine,None,"[150, 350]",BLC,150,350,"[150, 350]",BLC
9,Chambre,None,"[150, 350]",TLC,150,350,"[150, 350]",BLC
10,Cuisine,None,"[550, 450]",BLC,550,450,NaN,NaN
11,Salle de bain,None,"[510, 150]",TLC,510,150,NaN,NaN
12,Salle de bain,None,"[350, 275]",TLC,350,275,NaN,NaN
13,Chambre,None,"[350, 250]",TLC,350,250,NaN,NaN

0 Appartement 1000
1 Appartement 1000
2 Toilettes 5
3 Cuisine 3
4 Salle de bain 4
5 Salle de bain 4
6 Chambre 2

               1     3    corner_x cornertype_x  prio
0        Chambre  None  [350, 250]          TLC     2
1        Cuisine  None  [550, 450]          BLC     3
2  Salle de bain  None  [510, 150]          TLC     4
3  Salle de bain  None  [350, 275]          TLC     4
4      Toilettes  None   [250, 50]          TLC     5
5    Appartement  None   [650, 50]          TRC  1000
6    Appartement  None  [650, 450]          BRC  1000

 Chambre

Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement
Appartement

 Cuisine

Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement
Appartement
HORIZONTAL
Cuisine Appartement 100
Cuisine
Removed corner : [150, 350, 'TLC']
Removed corner : [650, 450, 'BRC']
0 0 0
Changé:  150 350 500 100

               1     3    corner_x cornertype_x  prio
0        Chambre  None  [350, 250]          TLC     2
1        Cuisine  None  [650, 350]          BRC     3
2  Salle de bain  None  [510, 150]          TLC     4
3  Salle de bain  None  [350, 275]          TLC     4
4      Toilettes  None   [250, 50]          TLC     5
5    Appartement  None   [650, 50]          TRC  1000
6    Appartement  None  [650, 450]          BRC  1000

 Salle de bain

Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement
Appartement

 Salle de bain

Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement
Appartement

 Toilettes

Chambre
Cuisine
Salle de bain
Salle de bain
Toilettes
Appartement
Appartement

 Appartement

Chambre
Cuisine
VERTICAL
Appartement Cuisine 300
Cuisine
Removed corner : [650, 50, 'TRC']
Cuisine Entrée close edge tb
0 1 0
Changé:  150 50 500 400

               1     3    corner_x cornertype_x  prio
0        Chambre  None  [350, 250]          TLC     2
1        Cuisine  None  [650, 350]          BRC     3
2  Salle de bain  None  [510, 150]          TLC     4
3  Salle de bain  None  [350, 275]          TLC     4
4      Toilettes  None   [250, 50]          TLC     5
5    Appartement  None   [150, 50]          TRC  1000
6    Appartement  None  [650, 450]          BRC  1000

               1     3    corner_x cornertype_x  prio
0        Chambre  None  [350, 250]          TLC     2
1        Cuisine  None  [650, 350]          BRC     3
2  Salle de bain  None  [510, 150]          TLC     4
3  Salle de bain  None  [350, 275]          TLC     4
4      Toilettes  None   [250, 50]          TLC     5
5    Appartement  None   [650, 50]          TRC  1000
6    Appartement  None  [650, 450]          BRC  1000

Ancien:  150 350 500 100

               1     3    corner_x cornertype_x  prio
0        Chambre  None  [350, 250]          TLC     2
1        Cuisine  None  [650, 350]          BRC     3
2  Salle de bain  None  [510, 150]          TLC     4
3  Salle de bain  None  [350, 275]          TLC     4
4      Toilettes  None   [250, 50]          TLC     5
5    Appartement  None   [650, 50]          TRC  1000
6    Appartement  None  [650, 450]          BRC  1000

Salle de bain
Salle de bain
Toilettes
Appartement
Appartement

 Appartement

Chambre
Cuisine
VERTICAL
Appartement Cuisine 100
Cuisine
Cuisine Salle de bain close edge tb
0 1 0
Changé:  150 250 500 200

               1     3    corner_x cornertype_x  prio
0        Chambre  None  [350, 250]          TLC     2
1        Cuisine  None  [650, 350]          BRC     3
2  Salle de bain  None  [510, 150]          TLC     4
3  Salle de bain  None  [350, 275]          TLC     4
4      Toilettes  None   [250, 50]          TLC     5
5    Appartement  None   [650, 50]          TRC  1000
6    Appartement  None  [150, 250]          TRC  1000

               1     3    corner_x cornertype_x  prio
0        Chambre  None  [350, 250]          TLC     2
1        Cuisine  None  [650, 350]          BRC     3
2  Salle de bain  None  [510, 150]          TLC     4
3  Salle de bain  None  [350, 275]          TLC     4
4      Toilettes  None   [250, 50]          TLC     5
5    Appartement  None   [650, 50]          TRC  1000
6    Appartement  None  [650, 450]          BRC  1000

Ancien:  150 350 500 100

               1     3    corner_x cornertype_x  prio
0        Chambre  None  [350, 250]          TLC     2
1        Cuisine  None  [650, 350]          BRC     3
2  Salle de bain  None  [510, 150]          TLC     4
3  Salle de bain  None  [350, 275]          TLC     4
4      Toilettes  None   [250, 50]          TLC     5
5    Appartement  None   [650, 50]          TRC  1000
6    Appartement  None  [650, 450]          BRC  1000

Salle de bain
Salle de bain
Toilettes
Appartement
Appartement
[[550, 450]]

               1     3    corner_x cornertype_x  prio
0        Chambre  None  [350, 250]          TLC     2
1        Cuisine  None  [650, 350]          BRC     3
2  Salle de bain  None  [510, 150]          TLC     4
3  Salle de bain  None  [350, 275]          TLC     4
4      Toilettes  None   [250, 50]          TLC     5
5    Appartement  None   [650, 50]          TRC  1000
6    Appartement  None  [650, 450]          BRC  1000

[<__main__.Cuisine object at 0x00000238F8B90B50>, <__main__.Cuisine object at 0x00000238F8B90B50>]
Toilettes
0 0 0
Salle à manger
Removed corner : [350, 250, 'TLC']
0 0 0
Cuisine
0 0 0
Salle de bain
Removed corner : [510, 150, 'TLC']
Removed corner : [350, 275, 'TLC']
0 0 0
Chambre
0 0 0

KeyboardInterrupt:

In [ ]:
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

point = Point(0.5, 0.5)
polygon = Polygon([(0, 0), (0, 0.4), (0.2, 0.4), (0.2, 1), (1, 1), (1, 0)])
print(polygon.contains(point))

In [ ]:
plt.plot(*polygon.exterior.xy)

In [ ]:
sizes = [(58, 206), (231, 176), (35, 113), (46, 109)]
positions = rpack.pack(sizes)
positions
poly1 = Polygon(positions)
plt.plot(*poly1.exterior.xy)