## Importation des librairies

In [1]:
import pandas as pd
import tkinter as tk
from tkinter import *
import matplotlib.pyplot as plt
import math
#import rpack
import random
import numpy as np
import sys
from PIL import Image
#from PIL import EpsImagePlugin
#EpsImagePlugin.gs_windows_binary =  r'C:\...\gs\gs9.52\bin\gswin64c'
from PIL import ImageGrab
import time
from scipy import spatial
from scipy.spatial.distance import pdist, squareform
from io import BytesIO
import matplotlib.pyplot as plt
from math import pi

np.set_printoptions(threshold=sys.maxsize)

In [2]:
from IPython.core.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
class App(tk.Tk):
    def __init__(self):
        super().__init__()

        self.title('Window')
        self.h = 1000
        self.w = 2000
        self.geometry(str(self.w)+'x'+str(self.h))
   
    def getH(self):
        return self.h
    
    def getW(self):
        return self.w
    
    def quit(self):
        self.destroy()

In [4]:
class Piece():
    def __init__(self):
        self.x = 0
        self.y = 0
        self.h = 0
        self.w = 0
        self.pct = 0
        self.oldwh = []
        
        self.tlc = []
        self.trc = []
        self.blc = []
        self.brc = []
        
        self.center = []
        
    def setX(self,x):
        self.x = x
        
    def setY(self,y):
        self.y = y
        
    def setW(self,w):
        self.w = w
        
    def setH(self,h):
        self.h = h
    
    def setPct(self, pct):
        self.pct = pct        
    
    def setTlc(self, tlc):
        self.tlc = tlc
    
    def getTlc(self):
        self.tlc = [self.x, self.y]
        return self.tlc
    
    def getTrc(self):
        self.trc = [self.x+self.w, self.y]
        return self.trc
    
    def getBlc(self):
        self.blc = [self.x, self.y+self.h]
        return self.blc
    
    def getBrc(self):
        self.brc = [self.x+self.w, self.y+self.h]
        return self.brc
    
    def getCenter(self):
        tlc = self.getTlc()
        self.center = [tlc[0]+(self.w/2), tlc[1]+(self.h/2)]
        return self.center
    
    def appendOldWH(self):
        self.oldwh.append([self.w,self.h])
        
    def getOldWH(self):
        return self.oldwh
    
    def setDims(self, x, y, w, h):
        self.setX(x)
        self.setY(y)
        self.setW(w)
        self.setH(h)
        
    def getSurface(self):
        return self.w*self.h
    
class Chambre(Piece):
    def __init__(self):
        Piece.__init__(self)
        self.h = 100
        self.w = 100
        self.pct = 15
        self.pctdef = 15
        self.num = 1
        self.col = "orange"
        self.prio = 2
    
    def __str__(self):
        return "Chambre"
        
class Cuisine(Piece):
    def __init__(self):
        Piece.__init__(self)
        self.h = 100
        self.w = 100
        self.pct = 15
        self.pctdef = 15
        self.num = 2
        self.col = "green"
        self.prio = 3
        
    def __str__(self):
        return "Cuisine"
        
class Sam(Piece):
    def __init__(self):
        Piece.__init__(self)
        self.h = 100
        self.w = 100
        self.pct = 15
        self.pctdef = 15
        self.num = 3
        self.col = "purple"
        self.prio = 1
        
    def __str__(self):
        return "Salle à manger"
    
class Sdb(Piece):
    def __init__(self):
        Piece.__init__(self)
        self.h = 100
        self.w = 100
        self.pct = 10
        self.pctdef = 10
        self.num = 4
        self.col = "blue"
        self.prio = 4
    
    def __str__(self):
        return "Salle de bain"
        
class Toilettes(Piece):
    def __init__(self):
        Piece.__init__(self)
        self.h = 100
        self.w = 100
        self.pct = 5
        self.pctdef = 5
        self.num = 5
        self.col = "grey"
        self.prio = 5
        
    def __str__(self):
        return "Toilettes"
        
class Rangement(Piece):
    def __init__(self):
        Piece.__init__(self)
        self.h = 100
        self.w = 100
        self.pct = 5
        self.pctdef = 5
        self.num = 6
        self.col = "maroon"
    
    def __str__(self):
        return "Rangement"
    
class Buanderie(Piece):
    def __init__(self):
        Piece.__init__(self)
        self.h = 100
        self.w = 100
        self.pct = 5
        self.pctdef = 5
        self.num = 7
        self.col = "cyan"
        
    def __str__(self):
        return "Buanderie"

class Entree(Piece):
    def __init__(self):
        Piece.__init__(self)
        self.h = 100
        self.w = 100
        #self.pct = 15
        self.num = 8
        self.col = "yellow"
        self.prio = 1001
    
    def __str__(self):
        return "Entrée"    

def tabModulo(n):
    n = n
    l = []
    
    #print(n)
    
    for i in range (1,n+1):
        if n%i == 0 and i != 1 and i != n:
            l.append(i)
            
    nl = l[::-1]
    tab = pd.DataFrame(l, columns = [1])
    tab[2] = nl
    #display(tab)
    
    return tab

In [5]:
def uniq(lst):
    last = object()
    for item in lst:
        if item == last:
            continue
        yield item
        last = item

def sort_and_deduplicate(l):
    return list(uniq(sorted(l, reverse=True)))

In [87]:
class Appartement():
    def __init__(self, app, h, w):
        self.app = app
        self.x = 150
        self.y = 50
        self.h = h
        self.w = w
        self.listePieces = []
        self.prio = 1000
        
        self.tlc = [self.x, self.y, "TLC"]
        self.trc = [self.x+self.w, self.y, "TRC"]
        self.blc = [self.x, self.y+self.h, "BLC"]
        self.brc = [self.x+self.w, self.y+self.h, "BRC"]
        self.listeCoinsFinale = []
        self.listeCoinsTotale = []
        self.listeCoinsAppart = [[self.tlc],[self.trc],[self.brc],[self.blc]]
        self.listeCoinsRemoved = []
        self.tabCoinsPieceWithoutRemoved = pd.Series()
        self.indic = 1
        self.indic2 = 1
        self.doneList = []
        self.listObjectifs = []
        
        self.ent = Entree()
        
        self.mat = np.zeros((self.w, self.h))
        
        self.can = tk.Canvas(self.app, bg = "white", height = app.getH(), width = app.getW())
        
    def afficherAppartement(self):
        self.can.create_rectangle(self.x, self.y, 
                             self.x+self.w, self.y+self.h)
        self.can.create_rectangle(self.x+700, self.y, 
                             self.x+700+self.w, self.y+self.h)
        
                             #fill = "white" )
        #can.create_polygon(self.x, self.y,
        #                   (self.x+self.w)-(self.x+self.w)/4, self.y,
        #                   (self.x+self.w)-(self.x+self.w)/4, self.y+(self.x+self.w)/6,
        #                   self.x+self.w, self.y+(self.x+self.w)/6,
        #                   self.x+self.w, self.y + self.h,
        #                   self.x, self.y + self.h, 
        #                   outline = "black",
        #                   fill = "white" )
        
        self.ent.setX(int((self.x+(self.w)/2)-25))
        self.ent.setY(self.y)
        self.ent.setW(50)
        self.ent.setH(self.y)
        tlc = self.ent.getTlc()
        brc = self.ent.getBrc()
        #self.can.create_rectangle(tlc[0],tlc[1],brc[0],brc[1], outline = "black")
        
        self.can.create_line((self.x+(self.w)/2)-17, self.y,(self.x+(self.w)/2)+17, self.y, fill = "white")
        self.can.create_line((self.x+700+(self.w)/2)-17, self.y,(self.x+700+(self.w)/2)+17, self.y, fill = "white")
        self.can.pack()
    
    def afficherGrille(self,k):
        self.dimcase = math.sqrt((5*(self.h*self.w))/100)
        self.nbcasesh = int(self.h/self.dimcase)
        self.nbcasesw = int(self.w/self.dimcase)
        #print(self.dimcase)
        #print(self.nbcasesh)
        #print(self.nbcasesw)
        for i in range(self.nbcasesh):
            for j in range(self.nbcasesw):
                #print(i)
                self.can.create_rectangle(self.x+k+j*self.dimcase, self.y+i*self.dimcase, self.x+k+(j+1)*self.dimcase, self.y+(i+1)*self.dimcase, outline = 'red')
        
        self.can.pack()
    
    def drawRoom(self, tlc, brc, piece, k):
        self.can.create_rectangle(tlc[0]+k,tlc[1],brc[0]+k,brc[1], outline = piece.col, fill = "white")
        self.can.create_text(tlc[0]+k+(piece.w/2),tlc[1]+(piece.h/2),fill="black", text=f"{piece.__str__()}") #font="Times 8",text=f"{piece.__str__()}")
    
    def dimensionRoom(self, piece):
        piece.setPct(piece.pctdef)
        piece.setX(self.x)
        piece.setY(self.y)
        
        totalpct = 100

        if piece.pct == 5:
            rndpct = random.randrange(0,2,2)
        else:
            rndpct = random.randrange(-5,6,5)

        if totalpct > 15:
            piece.setPct(piece.pct+rndpct)

        totalpct = totalpct-(piece.pct+rndpct)

        #print(piece.__str__()+" "+str(piece.pct))
        #print(totalpct)

        dimcase = int((piece.pct*(self.h*self.w))/100)
        tab = tabModulo(dimcase)
        
        for i in range(2):
            dimliste = [self.w, self.h]
            indexModuloLow = tab[tab[i+1] < 100].index
            indexModuloHigh = tab[tab[i+1] > dimliste[i]].index
            tab.drop(indexModuloLow, inplace = True)
            tab.drop(indexModuloHigh, inplace = True)
        
        #display(tab)
        
        tabOldWH = piece.getOldWH()
        
        rnddim = random.choice(tab.values.tolist())
        
        while rnddim in tabOldWH:
            #print(rnddim, tabOldWH)
            rnddim = random.choice(tab.values.tolist())
               
        piece.setW(rnddim[0])
        piece.setH(rnddim[1])
            
        
        #return piece
    
    def createRooms(self):      
        chb = Chambre()
        csn = Cuisine()
        sdb = Sdb()
        sam = Sam()
        tlt = Toilettes()
        rng = Rangement()
        bdr = Buanderie()
        
        #self.listePieces = [chb,csn,sdb,sam,tlt,rng,bdr]
        self.listePieces = [chb,csn,sdb,sam,tlt]
        random.shuffle(self.listePieces)
        
        idx = 0
        sumW = 0
        for piece in self.listePieces:
            self.dimensionRoom(piece)
            sumW = sumW+piece.w
            tlc = [piece.x+(sumW-piece.w),piece.y+self.h+piece.y]
            brc = [piece.x+sumW, piece.y+self.h+piece.y+piece.h]
            
            self.drawRoom(tlc, brc, piece,0)
            
            idx += 1
        
        self.can.pack()
    
    def verifyRooms(self, piece, listeCoins, multipleToRemove, placed):
        ptrc, ptlc, pbrc, pblc = piece.getTrc(),piece.getTlc(),piece.getBrc(),piece.getBlc()
        listeCoinsPiece = [ptrc, ptlc, pbrc, pblc]
        horsChamps = 0
        superposition = 0
        superpositionplaced = 0
        remover = 0

        for coinpiece in listeCoinsPiece:
            for coinliste in listeCoins:
                if coinpiece[0] == coinliste[0] and coinpiece[1] == coinliste[1]:
                    #print(f"Removed corner : {coinliste}")
                    listeCoins.remove(coinliste)
                    remover += 1
                    multipleToRemove.append(coinliste)
            if coinpiece[0] < self.x or coinpiece[0] > self.x+self.w or coinpiece[1] < self.y or coinpiece[1] > self.y+self.h:
                horsChamps = 1

        #print(placed)
        for placedpiece in placed:
            if piece.__str__() != placedpiece.__str__():
                pptrc, pptlc, ppbrc, ppblc = placedpiece.getTrc(),placedpiece.getTlc(),placedpiece.getBrc(),placedpiece.getBlc()
                listeppcoins = [pptrc, pptlc, ppbrc, ppblc]
                center = piece.getCenter()
                if (center[0] >= pptlc[0] and center[0] <= ppbrc[0] and center[1] >= pptlc[1] and center[1] <= ppbrc[1]):
                    superposition = 1
                    print(piece.__str__(), placedpiece.__str__(), 'center')
                    break
                if (center[0]+(piece.w/2)-1 >= pptlc[0] and center[0]+(piece.w/2)-1 <= ppbrc[0] and center[1] >= pptlc[1] and center[1] <= ppbrc[1]) or (center[0]-(piece.w/2)+1 >= pptlc[0] and center[0]-(piece.w/2)+1 <= ppbrc[0] and center[1] >= pptlc[1] and center[1] <= ppbrc[1]):
                    superposition = 1
                    print(piece.__str__(), placedpiece.__str__(), 'close edge lr')
                    self.can.create_text(center[0]+(piece.w/2)-1, center[0]-(piece.w/2)+1, text = "LR", fill = 'red')
                    break
                if (center[0] >= pptlc[0] and center[0] <= ppbrc[0] and center[1]+(piece.h/2)-1 >= pptlc[1] and center[1]+(piece.h/2)-1 <= ppbrc[1]) or (center[0] >= pptlc[0] and center[0] <= ppbrc[0] and center[1]-(piece.h/2)+1 >= pptlc[1] and center[1]-(piece.h/2)+1 <= ppbrc[1]):
                    superposition = 1
                    print(piece.__str__(), placedpiece.__str__(), 'close edge tb')
                    self.can.create_text(center[1]+(piece.h/2)-1, center[1]-(piece.h/2)+1, text = "TB", fill = 'red')
                    break
                '''
                if (ptlc[0]+1 > pptlc[0] and pbrc[0]-1 < ppbrc[0] and ptlc[1]+1 > pptlc[1] and pbrc[1]-1 < ppbrc[1]):
                    superposition = 1
                    self.drawRoom([ptlc[0]+1,ptlc[1]+1],[pbrc[0]-1,pbrc[1]-1], piece, 0)
                    break

                for coinpiece in listeCoinsPiece:
                    if (coinpiece[0] > pptlc[0] and coinpiece[0] < ppbrc[0] and coinpiece[1] > pptlc[1] and coinpiece[1] < ppbrc[1]):
                        superposition = 1

            
                
                
                centerplaced = placedpiece.getCenter()
                centerTLC = centerplaced[0]+(piece.w/2)-1
                if (centerplaced[0]+(piece.w/2)-1 >= ptlc[0] and centerplaced[0]+(piece.w/2)-1 <= pbrc[0] and centerplaced[1] >= ptlc[1] and centerplaced[1] <= pbrc[1]) or (centerplaced[0]-(piece.w/2)+1 >= ptlc[0] and centerplaced[0]-(piece.w/2)+1 <= pbrc[0] and centerplaced[1] >= ptlc[1] and centerplaced[1] <= pbrc[1]):
                    superposition = 1
                    print(piece.__str__(), placedpiece.__str__(), 'close edge lr')
                    break
                if (centerplaced[0] >= pptlc[0] and centerplaced[0] <= pbrc[0] and centerplaced[1]+(piece.h/2)-1 >= ptlc[1] and centerplaced[1]+(piece.h/2)-1 <= pbrc[1]) or (centerplaced[0] >= ptlc[0] and centerplaced[0] <= ppbrc[0] and centerplaced[1]-(piece.h/2)+1 >= pptlc[1] and centerplaced[1]-(piece.h/2)+1 <= ppbrc[1]):
                    superposition = 1
                    print(piece.__str__(), placedpiece.__str__(), 'close edge tb')
                    break
                
                if (center[0]+(piece.w/2)-1 >= ptlc[0] and center[0]+(piece.w/2)-1 <= pbrc[0] and center[1]+(piece.h/2)-1 >= ptlc[1] and center[1]+(piece.h/2)-1 <= pbrc[1]) or (center[0]-(piece.w/2)+1 >= ptlc[0] and center[0]-(piece.w/2)+1 <= pbrc[0] and center[1]-(piece.h/2)+1 >= ptlc[1] and center[1]-(piece.h/2)+1 <= pbrc[1]):
                    superposition = 1
                    print(piece.__str__(), placedpiece.__str__(), 'close edge lr')
                    break
                
                if (center[0] >= pptlc[0] and center[0] <= pbrc[0] and center[1]+(piece.h/2)-1 >= ptlc[1] and center[1]+(piece.h/2)-1 <= pbrc[1]) or (center[0] >= ptlc[0] and center[0] <= pbrc[0] and center[1]-(piece.h/2)+1 >= ptlc[1] and center[1]-(piece.h/2)+1 <= pbrc[1]):
                    superposition = 1
                    print(piece.__str__(), placedpiece.__str__(), 'close edge tb')
                    break
                    
                if (coinpp[0] > ptlc[0] and coinpp[0] <= pbrc[0] and coinpp[1] >= ptlc[1] and coinpp[1] < pbrc[1]):
                    superpositionplaced = 1
               
                '''
                
                
                for coinpp in listeppcoins:
                    if (coinpp[0] > ptlc[0] and coinpp[0] < pbrc[0] and coinpp[1] > ptlc[1] and coinpp[1] < pbrc[1]):
                        superpositionplaced = 1
                        #print('classique')
                
                
        return horsChamps, superposition, superpositionplaced, remover
    
    def f(self, piece, listeCoins, placed, listeCoinsTotale, listeCoinsRemoved):
            listeCoinsPotentiels = []
            multipleToRemove = []
            
            if len(listeCoins) == 0:
                piece.appendOldWH()
                self.dimensionRoom(piece)
                #self.app.update()
                #print("\n\nREDIMENSION !!!!!!!!!!!!!!!!!")
                for elem in listeCoinsTotale:
                    if elem not in listeCoinsRemoved:
                        listeCoins.append(elem)
            
            #print("\n"+piece.__str__())  
            #print(f"TOTALE : {listeCoinsTotale}")
            #print(f"COINS : {listeCoins}")
            #print(f"REMOVED : {listeCoinsRemoved}")
            coin = random.choice(listeCoins)
            
            #print(coin)
            #print([coin[0]-self.x,coin[1]-self.y,coin[2]])
            
            if coin[2] == "TLC":
                piece.setX(coin[0])
                piece.setY(coin[1])
                
                trc = piece.getTrc() + ['TLC']
                blc = piece.getBlc() + ['TLC']
                
                listeCoinsPotentiels.append(trc)
                listeCoinsPotentiels.append(blc)

            if coin[2] == "TRC":
                piece.setX(coin[0]-piece.w)
                piece.setY(coin[1])
                
                tlc = piece.getTlc() + ['TRC']
                brc = piece.getBrc() + ['TRC']

                listeCoinsPotentiels.append(tlc)
                listeCoinsPotentiels.append(brc)

            if coin[2] == "BLC":
                piece.setX(coin[0])
                piece.setY(coin[1]-piece.h)
                
                tlc = piece.getTlc() + ['BLC']
                brc = piece.getBrc() + ['BLC']
                
                listeCoinsPotentiels.append(tlc)
                listeCoinsPotentiels.append(brc)

            if coin[2] == "BRC":
                piece.setX(coin[0]-piece.w)
                piece.setY(coin[1]-piece.h)
                
                trc = piece.getTrc() + ['BRC']
                blc = piece.getBlc() + ['BRC']
                
                listeCoinsPotentiels.append(trc)
                listeCoinsPotentiels.append(blc)
            
            horsChamps, superposition, superpositionplaced, remover = self.verifyRooms(piece, listeCoins, multipleToRemove, placed)
                        
            if horsChamps == 1 or superposition == 1 or superpositionplaced == 1:
                #print(f"hors champs = {horsChamps}, superposition = {superposition}, superpositionPlaced = {superpositionplaced}")
                if remover == 0:
                    listeCoins.remove(coin)
                #print("\nREITERATION")
                self.f(piece, listeCoins, placed, listeCoinsTotale, listeCoinsRemoved)
                listeCoins.append(coin)
            else:
                if remover == 0:
                    listeCoins.remove(coin)
                    listeCoinsRemoved.append(coin)
                else:
                    for coin in multipleToRemove:
                        listeCoinsRemoved.append(coin)
                self.drawRoom(piece.getTlc(), piece.getBrc(), piece, 0)
                placed.append(piece)
                for coinp in listeCoinsPotentiels:
                    listeCoins.append(coinp)
                    listeCoinsTotale.append(coinp)
                    self.listeCoinsAppart.append([coinp, piece])
                #print(piece.__str__()+" placée")
            #self.majMatrice(piece)
            
            #print(f"REMOVED : {listeCoinsRemoved}")
            '''
            cotes = [self.x, self.y, self.w+self.x, self.h+self.y]
            
            for nb in cotes:
                for placedpiece in placed:
                    tlc, brc = placedpiece.getTlc(), placedpiece.getBrc()
                    mindiff = 0
                    for placedpiece2 in placed:
                        tlc2, brc2 = placedpiece.getTlc(), placedpiece.getBrc()
                        if placedpiece is not placedpiece2:
                            if placedpiece.tlc[0] == nb and placedpiece.tlc[0] == placedpiece.tlc2[0] and placedpiece.tlc[1]-:
                                mindiff = 
                        
            '''
            
            self.listeCoinsTotale = listeCoinsTotale
            self.listeCoinsRemoved = listeCoinsRemoved
            #self.listeCoinsPiece = listeCoinsPiece
    
    def verify2(self, piece, coin, listeCoins, multipleToRemove, placed, x, y, w, h, snapshotTabCoinsPieceWithoutRemoved):
        #print(piece.__str__())
        horsChamps, superposition, superpositionplaced, remover = self.verifyRooms(piece, listeCoins, multipleToRemove, placed)
        #print(horsChamps, superposition, superpositionplaced)
        print('Changé: ', piece.x, piece.y, piece.w, piece.h)
        print(horsChamps, superposition, superpositionplaced)
        if horsChamps+superposition+superpositionplaced != 0:
            piece.setDims(x, y, w, h)
            display(self.tabCoinsPieceWithoutRemoved)
            self.tabCoinsPieceWithoutRemoved = snapshotTabCoinsPieceWithoutRemoved.copy()
            display(self.tabCoinsPieceWithoutRemoved)
            print('Ancien: ', piece.x, piece.y, piece.w, piece.h)
            self.indic = 0
            self.doneList.remove(coin)
    
    def broadRooms(self, tabCoinsPiece, tabCoinsRemoved, listeCoins, placed):
        self.tabCoinsPieceWithoutRemoved = pd.merge(tabCoinsPiece,tabCoinsRemoved, how="outer", on=["x_corner","y_corner"])
        display(self.tabCoinsPieceWithoutRemoved)
        self.tabCoinsPieceWithoutRemoved = self.tabCoinsPieceWithoutRemoved[self.tabCoinsPieceWithoutRemoved['cornertype_y'].isna()].drop(columns = ["x_corner","y_corner","corner_y","cornertype_y"])
        self.tabCoinsPieceWithoutRemoved[1] = self.tabCoinsPieceWithoutRemoved[1].fillna(self)
        self.tabCoinsPieceWithoutRemoved['prio'] = None
        self.tabCoinsPieceWithoutRemoved = self.tabCoinsPieceWithoutRemoved.reset_index().drop('index',axis = 1)

        idx = 0
        for elem in self.tabCoinsPieceWithoutRemoved[1]:
            #print(idx,elem,elem.prio)
            self.tabCoinsPieceWithoutRemoved['prio'][idx] = elem.prio
            idx += 1

        self.tabCoinsPieceWithoutRemoved = self.tabCoinsPieceWithoutRemoved.sort_values(by='prio').reset_index().drop('index',axis = 1)
        
        '''
        tlcEnt = [self.ent,None,self.ent.getTlc(),"TRC",self.ent.prio]
        trcEnt = [self.ent,None,self.ent.getTrc(),"TLC",self.ent.prio]
        tabEnt = pd.DataFrame([tlcEnt,trcEnt])
        tabEnt.columns = [1,3,'corner_x','cornertype_x','prio']
        print('tabEnt')
        display(tabEnt)

        self.tabCoinsPieceWithoutRemoved = pd.concat([self.tabCoinsPieceWithoutRemoved,tabEnt],axis = 0)
        '''

        display(self.tabCoinsPieceWithoutRemoved)
        multipleToRemove = []
        archivePieces = []
        
        i = -1
        for piece, done, coin, typecoin, prio in self.tabCoinsPieceWithoutRemoved.itertuples(index=False):
            diff = 0
            i += 1
            j = -1
            #print(f"i:{i}")
            print("\n", piece, "\n")
            for piece2, done2, coin2, typecoin2, prio2 in self.tabCoinsPieceWithoutRemoved.itertuples(index=False):
                j += 1
                #print(f"j:{j}")
                #print(piece2)
                if coin != coin2 and piece != piece2:
                    print(piece, piece2)
                    #print(f"{coin[1]+coin2[1]} > {piece.h+piece2.h}")
                    if coin[0] in [self.tlc[0],self.brc[0]] and coin[0] == coin2[0] and coin not in self.doneList and coin2 not in self.doneList: #and ((coin[1]+coin2[1])>(piece.h+piece2.h) or (piece == 'Appartement' or piece2 == 'Appartement'))
                        print('VERTICAL')
                        diff = abs(coin2[1]-coin[1])
                        print(piece,piece2,diff)
                        #self.doneList.append(coin)
                        #self.doneList.append(coin2)
                        x, y, w, h = piece.x, piece.y, piece.w, piece.h
                        x2, y2, w2, h2 = piece2.x, piece2.y, piece2.w, piece2.h
                        snapshotTabCoinsPieceWithoutRemoved = self.tabCoinsPieceWithoutRemoved.copy()
                        if prio < prio2:
                            self.doneList.append(coin)
                            if typecoin == 'TLC':
                                archivePieces.append(piece)
                                piece.setH(piece.h + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece.getBrc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BLC"
                            if typecoin == 'TRC':
                                archivePieces.append(piece)
                                piece.setH(piece.h + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece.getBlc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BRC"
                            if typecoin == 'BLC':
                                archivePieces.append(piece)
                                piece.setY(piece.y - diff)
                                piece.setH(piece.h + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece.getTrc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "TLC"
                            if typecoin == 'BRC':
                                archivePieces.append(piece)
                                piece.setY(piece.y - diff)
                                piece.setH(piece.h + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece.getTlc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "TRC"
                            
                            self.indic = 1
                            self.verify2(piece, coin, listeCoins, multipleToRemove, placed, x, y, w, h, snapshotTabCoinsPieceWithoutRemoved)
                            display(self.tabCoinsPieceWithoutRemoved)
                            
                        if (prio > prio2 or self.indic == 0) and piece2.__str__() != 'Appartement':
                            self.doneList.append(coin2)
                            if typecoin2 == 'TLC':
                                archivePieces.append(piece2)
                                piece2.setH(piece2.h + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece2.getBrc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BLC"
                            if typecoin2 == 'TRC':
                                archivePieces.append(piece2)
                                piece2.setH(piece2.h + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece2.getBlc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BRC"
                            if typecoin2 == 'BLC':
                                archivePieces.append(piece2)
                                piece2.setY(piece2.y - diff)
                                piece2.setH(piece2.h + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece2.getTrc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "TLC"
                            if typecoin2 == 'BRC':
                                archivePieces.append(piece2)
                                piece2.setY(piece2.y - diff)
                                piece2.setH(piece2.h + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece2.getTlc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "TRC"
                            
                            self.indic = 1
                            self.verify2(piece2, coin2, listeCoins, multipleToRemove, placed, x2, y2, w2, h2, snapshotTabCoinsPieceWithoutRemoved)
                            #display(self.tabCoinsPieceWithoutRemoved)
                            
                        #display(self.tabCoinsPieceWithoutRemoved)

                    if coin[1] in [self.tlc[1],self.brc[1]] and coin[1] == coin2[1] and (typecoin != 'TRC' and typecoin != 'TLC') and coin not in self.doneList and coin2 not in self.doneList: #and (coin[0]+coin2[0])>(piece.w+piece2.w) 
                        print('HORIZONTAL')
                        diff = abs(coin2[0]-coin[0])
                        print(piece,piece2,diff)
                        #self.doneList.append(coin)
                        #self.doneList.append(coin2)
                        x, y, w, h = piece.x, piece.y, piece.w, piece.h
                        x2, y2, w2, h2 = piece2.x, piece2.y, piece2.w, piece2.h
                        snapshotTabCoinsPieceWithoutRemoved = self.tabCoinsPieceWithoutRemoved.copy()
                        if prio < prio2:
                            self.doneList.append(coin)
                            if (typecoin == 'BLC' and coin[0] != 650) or (typecoin == 'BRC' and coin[0] == 650):
                                piece.setW(piece.w + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece.getTrc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BRC"
                            if (typecoin == 'BRC' and coin[0] != 150) or (typecoin == 'BLC' and coin[0] == 150):
                                #archivePieces.append(piece)
                                piece.setX(piece.x - diff)
                                piece.setW(piece.w + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece.getTlc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BLC"
                            
                            self.indic = 1
                            self.verify2(piece, coin, listeCoins, multipleToRemove, placed, x, y, w, h, snapshotTabCoinsPieceWithoutRemoved)

                        if (prio > prio2 or self.indic == 0) and piece2.__str__() != 'Appartement':
                            self.doneList.append(coin2)
                            if (typecoin2 == 'BLC' and coin2[0] != 650) or (typecoin2 == 'BRC' and coin2[0] == 650):
                                archivePieces.append(piece2)
                                piece2.setW(piece2.w + diff)
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece2.getTrc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BRC"
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece2.getTlc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BLC"
                            if (typecoin2 == 'BRC' and coin2[0] != 150) or (typecoin2 == 'BLC' and coin2[0] == 150):
                                archivePieces.append(piece2)
                                piece2.setW(piece2.w + diff)
                                piece2.setX(piece2.x - diff) 
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece2.getTrc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BRC"
                                self.tabCoinsPieceWithoutRemoved['corner_x'][i] = piece2.getTlc()
                                self.tabCoinsPieceWithoutRemoved['cornertype_x'][i] = "BLC"
                            
                            self.indic = 1
                            self.verify2(piece2, coin2, listeCoins, multipleToRemove, placed, x2, y2, w2, h2, snapshotTabCoinsPieceWithoutRemoved)
                        
                        if self.indic == 1:
                                self.indic2 = 1
                        #display(self.tabCoinsPieceWithoutRemoved)

        print(self.doneList)
        #display(self.tabCoinsPieceWithoutRemoved)
        #print(archivePieces)

        for piece in self.listePieces:
            #print(piece.__str__())
            horsChamps, superposition, superpositionplaced, remover = self.verifyRooms(piece, listeCoins, multipleToRemove, placed)
            ##print(horsChamps, superposition, superpositionplaced)

            self.drawRoom(piece.getTlc(), piece.getBrc(), piece, 700)
        
        self.can.pack()
    
    def placeRooms2(self):
        #entTlc = self.ent.getTlc() + ['TRC']
        #entTrc = self.ent.getTrc() + ['TLC']
        #entBlc = self.ent.getBlc() + ['BLC']
        #entBrc = self.ent.getBrc() + ['BRC']
        placed = [self.ent]
        listeCoins = [self.tlc,self.trc,self.brc,self.blc]
        listeCoinsTotale = [self.tlc,self.trc,self.brc,self.blc]
        listeCoinsRemoved = []
        
        for piece in self.listePieces:
            self.f(piece, listeCoins, placed, listeCoinsTotale, listeCoinsRemoved)
            
        for elem in self.listeCoinsTotale:
            if elem not in self.listeCoinsRemoved:
                self.listeCoinsFinale.append(elem)
              
        #print(self.listeCoinsFinale)
        
        tabCoinsPiece = pd.DataFrame(self.listeCoinsAppart)
        tabCoinsRemoved = pd.DataFrame([self.listeCoinsRemoved]).transpose()
        tabCoinsPiece[3] = None
        #tabCoinsPiece = tabCoinsPiece[tabCoinsPiece[0] not in self.listeCoinsRemoved]
        listeTabs = [tabCoinsPiece,tabCoinsRemoved]
        display(tabCoinsPiece)
        
        for tab in listeTabs:
            i = 0
            tab['corner'] = None
            tab['cornertype'] = 0
            tab['x_corner'] = 0
            tab['y_corner'] = 0
            for elem in tab[0]:
                #print(elem)
                tab['corner'][i] = [elem[0],elem[1]]
                tab['x_corner'][i] = elem[0]
                tab['y_corner'][i] = elem[1]
                tab['cornertype'][i] = elem[2]
                
                i += 1
            tab.drop(0, inplace = True, axis = 1)
        
        
        display(tabCoinsPiece)
        display(tabCoinsRemoved)
        
        while self.indic2 != 0:
            self.indic = 0
            self.indic2 = 0
            self.broadRooms(tabCoinsPiece, tabCoinsRemoved, listeCoins, placed)
            print(self.indic2)
            
    def surfaceHabitable(self):
        surfaceHabitable = 0
        
        for piece in self.listePieces:
            if piece.__str__() != 'Toilettes':
                surfaceHabitable += piece.getSurface()
        
        return surfaceHabitable

    def surfaceTechnique(self):
        surfaceTotale = self.w*self.h
        surfaceTechnique = surfaceTotale - self.surfaceHabitable()
        
        return surfaceTechnique
    
    def pourcentageSurfaceHabitable(self):
        surfaceTotale = self.w*self.h
        surfaceHabitable = self.surfaceHabitable()
        surfaceTechnique = self.surfaceTechnique()
        
        pourcentageSurfaceHabitable = surfaceHabitable/surfaceTotale
        pourcentageSurfaceTechnique = surfaceTechnique/surfaceTotale
        
        return pourcentageSurfaceHabitable, pourcentageSurfaceTechnique
    
    def distanceRooms(self):
        for piece in self.listePieces:
            if piece.__str__() == 'Cuisine': csn = piece
            if piece.__str__() == 'Chambre': chb = piece
            if piece.__str__() == 'Salle à manger': sam = piece
            if piece.__str__() == 'Salle de bain': sdb = piece
            if piece.__str__() == 'Toilettes': tlt = piece
        
        chbSdb = round(math.dist(chb.getCenter(), sdb.getCenter())/10, 2)
                
        csnSam = round(math.dist(csn.getCenter(), sam.getCenter())/10, 2)
                
        tltSdb = round(math.dist(tlt.getCenter(), sdb.getCenter())/10, 2)
                
        csnTlt = round(math.dist(csn.getCenter(), tlt.getCenter())/10, 2)
                
        return chbSdb, csnSam, tltSdb, csnTlt
    
    def skillGraph(self, tab):
        # number of variable
        tab = tab.drop(['id','plan'], axis = 1)
        display(tab)
        categories=list(tab)[1:]
        categories.insert(0, 'psh')
        print(categories)
        N = len(categories)
        print('nb cat', N)

        # We are going to plot the first line of the data frame.
        # But we need to repeat the first value to close the circular graph:
        values = tab.loc[0].values.flatten().tolist()
        values[0] = values[0]*50
        values += values[:1]
        print('values',values)

        # What will be the angle of each axis in the plot? (we divide the plot / number of variable)
        angles = [n / float(N) * 2 * pi for n in range(N)]
        angles += angles[:1]

        # Initialise the spider plot
        ax = plt.subplot(111, polar=True)

        # Draw one axe per variable + add labels
        plt.xticks(angles[:-1], categories, color='grey', size=8)

        # Draw ylabels
        ax.set_rlabel_position(0)
        plt.yticks([15,30,50], ["15","30","50"], color="grey", size=7)
        plt.ylim(0,50)

        # Plot data
        print(angles, values)
        ax.plot(angles, values, linewidth=1, linestyle='solid')

        # Fill area
        ax.fill(angles, values, 'b', alpha=0.1)

        # Show the graph
        plt.show()
    
    def afficherObjectifs(self):
        pSH, pST = self.pourcentageSurfaceHabitable()
        
        #self.can.create_text(150+600,210, text = 'Pourcentage de surface technique')
        #self.can.create_text(150+600,225, text = pST)
        self.can.create_text(150+600,210, text = 'Pourcentage de surface habitable')
        self.can.create_text(150+600,225, text = pSH)
        #print(self.listePieces)
        
        chbSdb, csnSam, tltSdb, csnTlt = self.distanceRooms()
        
        self.can.create_text(150+600,275, text = 'Distances')
        self.can.create_text(150+600,290, text = 'Chambre <--> Salle de bain')
        self.can.create_text(150+600,305, text = chbSdb)
        self.can.create_text(150+600,320, text = 'Cuisine <--> Salle à manger')
        self.can.create_text(150+600,335, text = csnSam)
        self.can.create_text(150+600,350, text = 'Toilettes <--> Salle de bain')
        self.can.create_text(150+600,365, text = tltSdb)
        self.can.create_text(150+600,380, text = 'Cuisine <--> Toilettes')
        self.can.create_text(150+600,395, text = csnTlt)
        
        self.listObjectifs = [pSH, chbSdb, csnSam, tltSdb, csnTlt]
        #self.skillGraph()
        
    def majMatrice(self, piece):
        x = piece.x - self.x
        y = piece.y - self.y
        brc = piece.getBrc()
        #print(piece.__str__(), piece.num)
        #print([x,y])
        #print([piece.w,piece.h])
        #print([x+piece.w,y+piece.h])
        
        W = x+piece.w
        H = y+piece.h
        xi = x
        yi = y
        
        self.can.create_rectangle(self.x+self.w+200, self.y, 
                             self.x+self.w*2+200, self.y+self.h)        
        #self.can.create_line((self.x+(self.w)/2)-17, self.y,(self.x+(self.w)/2)+17, self.y, fill = "white")
        self.can.pack()
        
        while xi < W:
            #print(xi)
            yi = y
            while yi < H:
                #print(yi)
                self.mat[xi][yi] = self.mat[xi][yi]*7+piece.num
                self.can.create_text(self.x+xi+self.w+200,self.y+yi,fill=piece.col,font="Arial 1",text=f"{self.mat[xi][yi]}")
                
                yi += 1
            xi += 1
    
    def afficherMatrice(self):
        #print(len(self.mat))
        #print(self.mat)
        
        return self.mat
    
    def getSurface(self):
        return self.h*self.w
    
    def getCoordoAppart(self):
        return self.x , self.y, self.h, self.w 
    
    def getObjectifs(self):
        return self.listObjectifs
    
    def getCanvas(self):
        return self.can
    
    def __str__(self):
        return "Appartement"

In [88]:
def sim(o, vo):
    d = pd.DataFrame()
        
    o = o.drop(['id', 'plan'], axis = 1)
    
    ol = o.values.tolist()
    vol = [vo]
    
    for i in range(len(vol)):
        for j in range(len(ol)):
            #print(vol[i])
            #print(ol[j])
            #print(spatial.distance.cosine(vol[i],ol[j]))
            #norm = [float(i)/max(ol) for i in ol]
            d.loc[j,i] = round(1 - spatial.distance.cosine(vol[i],ol[j], w = [100000000,1,1,1,1]),2)
    
    #display(d)
    d.columns = ['Ranking']
    d.index = list(o.index.values)
    
    w = [1,2,3,4,5]
    distances = pdist(vol, metric='cosine', w=w)
    print(distances)
                
    return d

def open_eps(img, dpi=300.0):
    #img = Image.open(BytesIO(ps.encode('utf-8')))
    original = [float(d) for d in img.size]
    scale = dpi/30.0            
    if dpi is not 0:
        img.load(scale = math.ceil(scale))
    if scale != 1:
        img.thumbnail([round(scale * d) for d in original], Image.ANTIALIAS)
    return img

<>:31: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:31: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-88-a026924b1288>:31: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if dpi is not 0:

In [ ]:
maxiter = 50
listeObjTotale = []

for i in range(maxiter):
    app = App()
    
    A1 = Appartement(app, 400,500)

    #A1.afficherGrille(0)
    #A1.afficherGrille(700)

    A1.afficherAppartement()
    A1.createRooms()
    A1.placeRooms2()
    A1.distanceRooms()
    A1.afficherObjectifs()
    
    listObjectifs = A1.getObjectifs()
    listObjectifs.insert(0, i)
    listObjectifs.append(f'plan{i}')
    
    cv = A1.getCanvas()
    
    #cv.create_text(1500,50,font=('Arial','30','bold'),text = i+1)
    cv.postscript(file=f"plans/plan{i}.eps", height=app.getH(), width=app.getW(), colormode='color')
            
    
    listeObjTotale.append(listObjectifs)
    
    #A1.afficherAppartement()
    #wat = A1.afficherMatrice()
    #tabModulo(172)

tabObjectifs = pd.DataFrame(listeObjTotale, columns = ['id', 'Pourcentage surface habitable', 'chbSdb', 'csnSam', 'tltSdb', 'csnTlt', 'plan'])
#A1.skillGraph(tabObjectifs)
#display(tabObjectifs)

vectObjectif = [1, 0, 0, 0, 100]
rkg = sim(tabObjectifs, vectObjectif)

tabFinale = pd.concat([tabObjectifs, rkg], axis = 1)
tabFinale = tabFinale.sort_values(by=['Ranking'], ascending=False).reset_index().drop('index', axis = 1)
display(tabFinale)

if maxiter > 2:
    for i in range(3):
        plan_id = tabFinale['id'][i]
        plan = tabFinale['plan'][plan_id]
        ps = Image.open(f"plans/plan{plan_id}.eps")
        im = open_eps(ps, dpi=119.5)
        im.save(f'plans/plan{i}.png', "png", dpi=(119.5, 119.5))

        im.show(f'plans/{plan}.png', "png")


app.mainloop()

Cuisine Salle de bain center
Cuisine Salle de bain close edge lr
Cuisine Salle à manger close edge tb
Cuisine Salle à manger close edge lr
Cuisine Toilettes center
Cuisine Chambre center
Cuisine Entrée close edge lr
Cuisine Salle de bain center

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [650, 250, BRC]  Salle à manger  None
5   [450, 450, BRC]  Salle à manger  None
6   [150, 210, BLC]         Chambre  None
7   [275, 450, BLC]         Chambre  None
8   [275, 150, BLC]   Salle de bain  None
9   [375, 450, BLC]   Salle de bain  None
10   [250, 50, TLC]       Toilettes  None
11  [150, 150, TLC]       Toilettes  None
12   [500, 50, TRC]         Cuisine  None
13  [650, 250, TRC]         Cuisine  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4   Salle à manger  None  [650, 250]        BRC       650       250
5   Salle à manger  None  [450, 450]        BRC       450       450
6          Chambre  None  [150, 210]        BLC       150       210
7          Chambre  None  [275, 450]        BLC       275       450
8    Salle de bain  None  [275, 150]        BLC       275       150
9    Salle de bain  None  [375, 450]        BLC       375       450
10       Toilettes  None   [250, 50]        TLC       250        50
11       Toilettes  None  [150, 150]        TLC       150       150
12         Cuisine  None   [500, 50]        TRC       500        50
13         Cuisine  None  [650, 250]        TRC       650       250

       corner cornertype  x_corner  y_corner
0  [650, 450]        BRC       650       450
1  [150, 450]        BLC       150       450
2  [275, 450]        BLC       275       450
3   [150, 50]        TLC       150        50
4   [650, 50]        TRC       650        50
5  [650, 250]        BRC       650       250

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Salle à manger,None,"[650, 250]",BRC,650,250,"[650, 250]",BRC
5,Cuisine,None,"[650, 250]",TRC,650,250,"[650, 250]",BRC
6,Salle à manger,None,"[450, 450]",BRC,450,450,NaN,NaN
7,Chambre,None,"[150, 210]",BLC,150,210,NaN,NaN
8,Chambre,None,"[275, 450]",BLC,275,450,"[275, 450]",BLC
9,Salle de bain,None,"[275, 150]",BLC,275,150,NaN,NaN
10,Salle de bain,None,"[375, 450]",BLC,375,450,NaN,NaN
11,Toilettes,None,"[250, 50]",TLC,250,50,NaN,NaN
12,Toilettes,None,"[150, 150]",TLC,150,150,NaN,NaN
13,Cuisine,None,"[500, 50]",TRC,500,50,NaN,NaN

                1     3    corner_x cornertype_x prio
0  Salle à manger  None  [450, 450]          BRC    1
1         Chambre  None  [150, 210]          BLC    2
2         Cuisine  None   [500, 50]          TRC    3
3   Salle de bain  None  [275, 150]          BLC    4
4   Salle de bain  None  [375, 450]          BLC    4
5       Toilettes  None   [250, 50]          TLC    5
6       Toilettes  None  [150, 150]          TLC    5

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Salle de bain
HORIZONTAL
Salle à manger Salle de bain 75
Changé:  375 250 275 200
0 0 0
Salle à manger Toilettes
Salle à manger Toilettes

 Chambre

Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes
VERTICAL
Chambre Toilettes 60
Changé:  150 150 125 300
0 0 0

                1     3    corner_x cornertype_x prio
0  Salle à manger  None  [375, 250]          BLC    1
1         Chambre  None  [275, 150]          TLC    2
2         Cuisine  None   [500, 50]          TRC    3
3   Salle de bain  None  [275, 150]          BLC    4
4   Salle de bain  None  [375, 450]          BLC    4
5       Toilettes  None   [250, 50]          TLC    5
6       Toilettes  None  [150, 150]          TLC    5

 Cuisine

Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes

 Salle de bain

Salle de bain Salle à manger
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain
[[450, 450], [150, 210]]
1

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Salle à manger,None,"[650, 250]",BRC,650,250,"[650, 250]",BRC
5,Cuisine,None,"[650, 250]",TRC,650,250,"[650, 250]",BRC
6,Salle à manger,None,"[450, 450]",BRC,450,450,NaN,NaN
7,Chambre,None,"[150, 210]",BLC,150,210,NaN,NaN
8,Chambre,None,"[275, 450]",BLC,275,450,"[275, 450]",BLC
9,Salle de bain,None,"[275, 150]",BLC,275,150,NaN,NaN
10,Salle de bain,None,"[375, 450]",BLC,375,450,NaN,NaN
11,Toilettes,None,"[250, 50]",TLC,250,50,NaN,NaN
12,Toilettes,None,"[150, 150]",TLC,150,150,NaN,NaN
13,Cuisine,None,"[500, 50]",TRC,500,50,NaN,NaN

                1     3    corner_x cornertype_x prio
0  Salle à manger  None  [450, 450]          BRC    1
1         Chambre  None  [150, 210]          BLC    2
2         Cuisine  None   [500, 50]          TRC    3
3   Salle de bain  None  [275, 150]          BLC    4
4   Salle de bain  None  [375, 450]          BLC    4
5       Toilettes  None   [250, 50]          TLC    5
6       Toilettes  None  [150, 150]          TLC    5

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes

 Chambre

Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes

 Cuisine

Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain
[[450, 450], [150, 210]]
0
Salle à manger Salle de bain close edge tb
Toilettes Salle à manger center

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [350, 50, TLC]         Chambre  None
5   [150, 150, TLC]         Chambre  None
6   [275, 150, TLC]   Salle de bain  None
7   [150, 310, TLC]   Salle de bain  None
8    [450, 50, TRC]  Salle à manger  None
9   [650, 200, TRC]  Salle à manger  None
10  [400, 150, TLC]         Cuisine  None
11  [275, 310, TLC]         Cuisine  None
12  [250, 310, TLC]       Toilettes  None
13  [150, 410, TLC]       Toilettes  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Chambre  None   [350, 50]        TLC       350        50
5          Chambre  None  [150, 150]        TLC       150       150
6    Salle de bain  None  [275, 150]        TLC       275       150
7    Salle de bain  None  [150, 310]        TLC       150       310
8   Salle à manger  None   [450, 50]        TRC       450        50
9   Salle à manger  None  [650, 200]        TRC       650       200
10         Cuisine  None  [400, 150]        TLC       400       150
11         Cuisine  None  [275, 310]        TLC       275       310
12       Toilettes  None  [250, 310]        TLC       250       310
13       Toilettes  None  [150, 410]        TLC       150       410

       corner cornertype  x_corner  y_corner
0   [150, 50]        TLC       150        50
1  [150, 150]        TLC       150       150
2   [650, 50]        TRC       650        50
3  [275, 150]        TLC       275       150
4  [150, 310]        TLC       150       310

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Chambre,None,"[350, 50]",TLC,350,50,NaN,NaN
5,Chambre,None,"[150, 150]",TLC,150,150,"[150, 150]",TLC
6,Salle de bain,None,"[275, 150]",TLC,275,150,"[275, 150]",TLC
7,Salle de bain,None,"[150, 310]",TLC,150,310,"[150, 310]",TLC
8,Salle à manger,None,"[450, 50]",TRC,450,50,NaN,NaN
9,Salle à manger,None,"[650, 200]",TRC,650,200,NaN,NaN
10,Cuisine,None,"[400, 150]",TLC,400,150,NaN,NaN
11,Cuisine,None,"[275, 310]",TLC,275,310,NaN,NaN
12,Toilettes,None,"[250, 310]",TLC,250,310,NaN,NaN
13,Toilettes,None,"[150, 410]",TLC,150,410,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [650, 200]          TRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [400, 150]          TLC     3
4         Cuisine  None  [275, 310]          TLC     3
5       Toilettes  None  [250, 310]          TLC     5
6       Toilettes  None  [150, 410]          TLC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement
VERTICAL
Salle à manger Appartement 250
Changé:  450 50 200 400
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [450, 450]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [400, 150]          TLC     3
4         Cuisine  None  [275, 310]          TLC     3
5       Toilettes  None  [250, 310]          TLC     5
6       Toilettes  None  [150, 410]          TLC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Cuisine
Chambre Toilettes
Chambre Toilettes
Chambre Appartement
Chambre Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Appartement
Toilettes Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Appartement
Toilettes Appartement
VERTICAL
Toilettes Appartement 40
Changé:  150 310 100 140
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [450, 450]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [400, 150]          TLC     3
4         Cuisine  None  [275, 310]          TLC     3
5       Toilettes  None  [250, 310]          TLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Appartement

Appartement Salle à manger
Appartement Salle à manger
HORIZONTAL
Appartement Salle à manger 200
Salle à manger Salle de bain close edge lr
Changé:  250 50 400 400
0 1 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [450, 450]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [400, 150]          TLC     3
4         Cuisine  None  [275, 310]          TLC     3
5       Toilettes  None  [250, 310]          TLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [250, 50]          BLC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [450, 450]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [400, 150]          TLC     3
4         Cuisine  None  [275, 310]          TLC     3
5       Toilettes  None  [250, 310]          TLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  450 50 200 400
Appartement Chambre
Appartement Cuisine
Appartement Cuisine
Appartement Toilettes
Appartement Toilettes
HORIZONTAL
Appartement Toilettes 400
Toilettes Salle à manger close edge lr
Changé:  150 310 500 140
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [450, 450]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [400, 150]          TLC     3
4         Cuisine  None  [275, 310]          TLC     3
5       Toilettes  None  [250, 310]          TLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None  [150, 310]          BLC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [450, 450]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [400, 150]          TLC     3
4         Cuisine  None  [275, 310]          TLC     3
5       Toilettes  None  [250, 310]          TLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 310 100 140

 Appartement

Appartement Salle à manger
Appartement Salle à manger
HORIZONTAL
Appartement Salle à manger 300
Salle à manger Entrée close edge tb
Changé:  150 50 500 400
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [450, 450]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [400, 150]          TLC     3
4         Cuisine  None  [275, 310]          TLC     3
5       Toilettes  None  [250, 310]          TLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None   [150, 50]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [450, 450]          BRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [400, 150]          TLC     3
4         Cuisine  None  [275, 310]          TLC     3
5       Toilettes  None  [250, 310]          TLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  450 50 200 400
Appartement Chambre
Appartement Cuisine
Appartement Cuisine
Appartement Toilettes
Appartement Toilettes
HORIZONTAL
Appartement Toilettes 100
Changé:  150 310 200 140
0 0 0
[[650, 200], [150, 410], [250, 450]]
1

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Chambre,None,"[350, 50]",TLC,350,50,NaN,NaN
5,Chambre,None,"[150, 150]",TLC,150,150,"[150, 150]",TLC
6,Salle de bain,None,"[275, 150]",TLC,275,150,"[275, 150]",TLC
7,Salle de bain,None,"[150, 310]",TLC,150,310,"[150, 310]",TLC
8,Salle à manger,None,"[450, 50]",TRC,450,50,NaN,NaN
9,Salle à manger,None,"[650, 200]",TRC,650,200,NaN,NaN
10,Cuisine,None,"[400, 150]",TLC,400,150,NaN,NaN
11,Cuisine,None,"[275, 310]",TLC,275,310,NaN,NaN
12,Toilettes,None,"[250, 310]",TLC,250,310,NaN,NaN
13,Toilettes,None,"[150, 410]",TLC,150,410,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [450, 50]          TRC     1
1  Salle à manger  None  [650, 200]          TRC     1
2         Chambre  None   [350, 50]          TLC     2
3         Cuisine  None  [400, 150]          TLC     3
4         Cuisine  None  [275, 310]          TLC     3
5       Toilettes  None  [250, 310]          TLC     5
6       Toilettes  None  [150, 410]          TLC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Cuisine
Chambre Toilettes
Chambre Toilettes
Chambre Appartement
Chambre Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Appartement
Toilettes Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Appartement
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Salle à manger
Appartement Chambre
Appartement Cuisine
Appartement Cuisine
Appartement Toilettes
Appartement Toilettes

 Appartement

Appartement Salle à manger
Appartement Salle à manger
Appartement Chambre
Appartement Cuisine
Appartement Cuisine
Appartement Toilettes
Appartement Toilettes
[[650, 200], [150, 410], [250, 450]]
0

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [150, 250, BLC]         Cuisine  None
5   [250, 450, BLC]         Cuisine  None
6   [650, 130, BRC]         Chambre  None
7   [525, 450, BRC]         Chambre  None
8   [525, 330, BRC]   Salle de bain  None
9   [275, 450, BRC]   Salle de bain  None
10  [525, 230, BRC]       Toilettes  None
11  [425, 330, BRC]       Toilettes  None
12   [275, 50, TLC]  Salle à manger  None
13  [150, 210, TLC]  Salle à manger  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Cuisine  None  [150, 250]        BLC       150       250
5          Cuisine  None  [250, 450]        BLC       250       450
6          Chambre  None  [650, 130]        BRC       650       130
7          Chambre  None  [525, 450]        BRC       525       450
8    Salle de bain  None  [525, 330]        BRC       525       330
9    Salle de bain  None  [275, 450]        BRC       275       450
10       Toilettes  None  [525, 230]        BRC       525       230
11       Toilettes  None  [425, 330]        BRC       425       330
12  Salle à manger  None   [275, 50]        TLC       275        50
13  Salle à manger  None  [150, 210]        TLC       150       210

       corner cornertype  x_corner  y_corner
0  [150, 450]        BLC       150       450
1  [650, 450]        BRC       650       450
2  [525, 450]        BRC       525       450
3  [525, 330]        BRC       525       330
4   [150, 50]        TLC       150        50

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Cuisine,None,"[150, 250]",BLC,150,250,NaN,NaN
5,Cuisine,None,"[250, 450]",BLC,250,450,NaN,NaN
6,Chambre,None,"[650, 130]",BRC,650,130,NaN,NaN
7,Chambre,None,"[525, 450]",BRC,525,450,"[525, 450]",BRC
8,Salle de bain,None,"[525, 330]",BRC,525,330,"[525, 330]",BRC
9,Salle de bain,None,"[275, 450]",BRC,275,450,NaN,NaN
10,Toilettes,None,"[525, 230]",BRC,525,230,NaN,NaN
11,Toilettes,None,"[425, 330]",BRC,425,330,NaN,NaN
12,Salle à manger,None,"[275, 50]",TLC,275,50,NaN,NaN
13,Salle à manger,None,"[150, 210]",TLC,150,210,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 210]          TLC     1
2         Chambre  None  [650, 130]          BRC     2
3         Cuisine  None  [150, 250]          BLC     3
4         Cuisine  None  [250, 450]          BLC     3
5   Salle de bain  None  [275, 450]          BRC     4
6       Toilettes  None  [525, 230]          BRC     5
7       Toilettes  None  [425, 330]          BRC     5
8     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
VERTICAL
Salle à manger Cuisine 40
Changé:  150 50 125 200
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [275, 250]          BLC     1
2         Chambre  None  [650, 130]          BRC     2
3         Cuisine  None  [150, 250]          BLC     3
4         Cuisine  None  [250, 450]          BLC     3
5   Salle de bain  None  [275, 450]          BRC     4
6       Toilettes  None  [525, 230]          BRC     5
7       Toilettes  None  [425, 330]          BRC     5
8     Appartement  None   [650, 50]          TRC  1000

Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes
Chambre Appartement
VERTICAL
Chambre Appartement 80
Changé:  525 50 125 400
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [275, 250]          BLC     1
2         Chambre  None   [525, 50]          TRC     2
3         Cuisine  None  [150, 250]          BLC     3
4         Cuisine  None  [250, 450]          BLC     3
5   Salle de bain  None  [275, 450]          BRC     4
6       Toilettes  None  [525, 230]          BRC     5
7       Toilettes  None  [425, 330]          BRC     5
8     Appartement  None   [650, 50]          TRC  1000

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
HORIZONTAL
Cuisine Salle de bain 25
Changé:  150 250 125 200
0 0 0
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Salle à manger
Appartement Chambre
Appartement Cuisine
Appartement Cuisine
Appartement Salle de bain
Appartement Toilettes
Appartement Toilettes
[[150, 210], [650, 130], [250, 450]]
1

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Cuisine,None,"[150, 250]",BLC,150,250,NaN,NaN
5,Cuisine,None,"[250, 450]",BLC,250,450,NaN,NaN
6,Chambre,None,"[650, 130]",BRC,650,130,NaN,NaN
7,Chambre,None,"[525, 450]",BRC,525,450,"[525, 450]",BRC
8,Salle de bain,None,"[525, 330]",BRC,525,330,"[525, 330]",BRC
9,Salle de bain,None,"[275, 450]",BRC,275,450,NaN,NaN
10,Toilettes,None,"[525, 230]",BRC,525,230,NaN,NaN
11,Toilettes,None,"[425, 330]",BRC,425,330,NaN,NaN
12,Salle à manger,None,"[275, 50]",TLC,275,50,NaN,NaN
13,Salle à manger,None,"[150, 210]",TLC,150,210,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 210]          TLC     1
2         Chambre  None  [650, 130]          BRC     2
3         Cuisine  None  [150, 250]          BLC     3
4         Cuisine  None  [250, 450]          BLC     3
5   Salle de bain  None  [275, 450]          BRC     4
6       Toilettes  None  [525, 230]          BRC     5
7       Toilettes  None  [425, 330]          BRC     5
8     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes
Chambre Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Salle à manger
Appartement Chambre
Appartement Cuisine
Appartement Cuisine
Appartement Salle de bain
Appartement Toilettes
Appartement Toilettes
[[150, 210], [650, 130], [250, 450]]
0
Salle à manger Toilettes close edge tb
Cuisine Salle de bain center
Cuisine Entrée close edge tb
Cuisine Salle de bain center

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [650, 290, BRC]         Chambre  None
5   [525, 450, BRC]         Chambre  None
6   [525, 350, BRC]   Salle de bain  None
7   [225, 450, BRC]   Salle de bain  None
8   [650, 190, BRC]       Toilettes  None
9   [550, 290, BRC]       Toilettes  None
10   [275, 50, TLC]  Salle à manger  None
11  [150, 290, TLC]  Salle à manger  None
12  [525, 150, BRC]         Cuisine  None
13  [325, 350, BRC]         Cuisine  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Chambre  None  [650, 290]        BRC       650       290
5          Chambre  None  [525, 450]        BRC       525       450
6    Salle de bain  None  [525, 350]        BRC       525       350
7    Salle de bain  None  [225, 450]        BRC       225       450
8        Toilettes  None  [650, 190]        BRC       650       190
9        Toilettes  None  [550, 290]        BRC       550       290
10  Salle à manger  None   [275, 50]        TLC       275        50
11  Salle à manger  None  [150, 290]        TLC       150       290
12         Cuisine  None  [525, 150]        BRC       525       150
13         Cuisine  None  [325, 350]        BRC       325       350

       corner cornertype  x_corner  y_corner
0  [650, 450]        BRC       650       450
1  [525, 450]        BRC       525       450
2  [650, 290]        BRC       650       290
3   [150, 50]        TLC       150        50
4  [525, 350]        BRC       525       350

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Chambre,None,"[650, 290]",BRC,650,290,"[650, 290]",BRC
5,Chambre,None,"[525, 450]",BRC,525,450,"[525, 450]",BRC
6,Salle de bain,None,"[525, 350]",BRC,525,350,"[525, 350]",BRC
7,Salle de bain,None,"[225, 450]",BRC,225,450,NaN,NaN
8,Toilettes,None,"[650, 190]",BRC,650,190,NaN,NaN
9,Toilettes,None,"[550, 290]",BRC,550,290,NaN,NaN
10,Salle à manger,None,"[275, 50]",TLC,275,50,NaN,NaN
11,Salle à manger,None,"[150, 290]",TLC,150,290,NaN,NaN
12,Cuisine,None,"[525, 150]",BRC,525,150,NaN,NaN
13,Cuisine,None,"[325, 350]",BRC,325,350,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Cuisine  None  [525, 150]          BRC     3
3         Cuisine  None  [325, 350]          BRC     3
4   Salle de bain  None  [225, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6       Toilettes  None  [550, 290]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Salle à manger

Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement
VERTICAL
Salle à manger Appartement 160
Changé:  150 50 125 400
0 0 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [275, 450]          BLC     1
2         Cuisine  None  [525, 150]          BRC     3
3         Cuisine  None  [325, 350]          BRC     3
4   Salle de bain  None  [225, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6       Toilettes  None  [550, 290]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Cuisine  None  [525, 150]          BRC     3
3         Cuisine  None  [325, 350]          BRC     3
4   Salle de bain  None  [225, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6       Toilettes  None  [550, 290]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 50 125 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Cuisine  None  [525, 150]          BRC     3
3         Cuisine  None  [325, 350]          BRC     3
4   Salle de bain  None  [225, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6       Toilettes  None  [550, 290]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement
HORIZONTAL
Salle de bain Appartement 75
Changé:  150 350 375 100
0 0 0

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement
VERTICAL
Toilettes Appartement 140
Changé:  550 50 100 240
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Cuisine  None  [525, 150]          BRC     3
3         Cuisine  None  [325, 350]          BRC     3
4   Salle de bain  None  [150, 350]          BLC     4
5       Toilettes  None   [550, 50]          TRC     5
6       Toilettes  None  [550, 290]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Toilettes Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Salle à manger
Appartement Cuisine
Appartement Cuisine
Appartement Salle de bain
Appartement Toilettes
Appartement Toilettes

 Appartement

Appartement Salle à manger
Appartement Salle à manger
VERTICAL
Appartement Salle à manger 160
Salle à manger Salle de bain close edge tb
Changé:  150 50 125 400
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Cuisine  None  [525, 150]          BRC     3
3         Cuisine  None  [325, 350]          BRC     3
4   Salle de bain  None  [150, 350]          BLC     4
5       Toilettes  None   [550, 50]          TRC     5
6       Toilettes  None  [550, 290]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [275, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Cuisine  None  [525, 150]          BRC     3
3         Cuisine  None  [325, 350]          BRC     3
4   Salle de bain  None  [150, 350]          BLC     4
5       Toilettes  None   [550, 50]          TRC     5
6       Toilettes  None  [550, 290]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 50 125 240
Appartement Cuisine
Appartement Cuisine
Appartement Salle de bain
VERTICAL
Appartement Salle de bain 100
Salle de bain Cuisine center
Changé:  150 250 375 200
0 1 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Cuisine  None  [525, 150]          BRC     3
3         Cuisine  None  [325, 350]          BRC     3
4   Salle de bain  None  [150, 350]          BLC     4
5       Toilettes  None   [550, 50]          TRC     5
6       Toilettes  None  [550, 290]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [525, 250]          TLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Cuisine  None  [525, 150]          BRC     3
3         Cuisine  None  [325, 350]          BRC     3
4   Salle de bain  None  [150, 350]          BLC     4
5       Toilettes  None   [550, 50]          TRC     5
6       Toilettes  None  [550, 290]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 350 375 100
Appartement Toilettes
Appartement Toilettes
[[225, 450], [650, 190]]
1

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Chambre,None,"[650, 290]",BRC,650,290,"[650, 290]",BRC
5,Chambre,None,"[525, 450]",BRC,525,450,"[525, 450]",BRC
6,Salle de bain,None,"[525, 350]",BRC,525,350,"[525, 350]",BRC
7,Salle de bain,None,"[225, 450]",BRC,225,450,NaN,NaN
8,Toilettes,None,"[650, 190]",BRC,650,190,NaN,NaN
9,Toilettes,None,"[550, 290]",BRC,550,290,NaN,NaN
10,Salle à manger,None,"[275, 50]",TLC,275,50,NaN,NaN
11,Salle à manger,None,"[150, 290]",TLC,150,290,NaN,NaN
12,Cuisine,None,"[525, 150]",BRC,525,150,NaN,NaN
13,Cuisine,None,"[325, 350]",BRC,325,350,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Cuisine  None  [525, 150]          BRC     3
3         Cuisine  None  [325, 350]          BRC     3
4   Salle de bain  None  [225, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6       Toilettes  None  [550, 290]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Salle à manger

Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement
VERTICAL
Salle à manger Appartement 160
Salle à manger Salle de bain close edge tb
Changé:  150 50 125 400
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [275, 450]          BLC     1
2         Cuisine  None  [525, 150]          BRC     3
3         Cuisine  None  [325, 350]          BRC     3
4   Salle de bain  None  [225, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6       Toilettes  None  [550, 290]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Cuisine  None  [525, 150]          BRC     3
3         Cuisine  None  [325, 350]          BRC     3
4   Salle de bain  None  [225, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6       Toilettes  None  [550, 290]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 50 125 240

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Cuisine  None  [525, 150]          BRC     3
3         Cuisine  None  [325, 350]          BRC     3
4   Salle de bain  None  [225, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6       Toilettes  None  [550, 290]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Salle à manger
Appartement Cuisine
Appartement Cuisine
Appartement Salle de bain
Appartement Toilettes
Appartement Toilettes

 Appartement

Appartement Salle à manger
Appartement Salle à manger
VERTICAL
Appartement Salle à manger 160
Salle à manger Salle de bain close edge tb
Changé:  150 50 125 400
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Cuisine  None  [525, 150]          BRC     3
3         Cuisine  None  [325, 350]          BRC     3
4   Salle de bain  None  [225, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6       Toilettes  None  [550, 290]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [275, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Cuisine  None  [525, 150]          BRC     3
3         Cuisine  None  [325, 350]          BRC     3
4   Salle de bain  None  [225, 450]          BRC     4
5       Toilettes  None  [650, 190]          BRC     5
6       Toilettes  None  [550, 290]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 50 125 240
Appartement Cuisine
Appartement Cuisine
Appartement Salle de bain
Appartement Toilettes
Appartement Toilettes
[[225, 450], [650, 190]]
0
Salle à manger Cuisine close edge lr
Chambre Salle à manger center
Chambre Cuisine close edge tb
Chambre Salle de bain center
Chambre Entrée close edge tb
Chambre Cuisine close edge lr
Chambre Cuisine center
Chambre Salle à manger close edge lr
Chambre Cuisine center
Chambre Salle de bain close edge lr
Chambre Salle à manger close edge lr
Chambre Salle à manger center
Chambre Cuisine center
Chambre Toilettes close edge lr
Chambre Salle de bain center
Chambre Cuisine center
Chambre Salle de bain center
Chambre Salle à manger close edge lr
Chambre Salle à manger close edge lr
Chambre Cuisine center
Chambre Salle de bain center
Chambre Cuisine center
Chambre Salle à manger center

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [550, 50, TRC]       Toilettes  None
5   [650, 150, TRC]       Toilettes  None
6    [430, 50, TRC]   Salle de bain  None
7   [550, 300, TRC]   Salle de bain  None
8    [275, 50, TLC]         Cuisine  None
9   [150, 370, TLC]         Cuisine  None
10  [390, 300, TRC]  Salle à manger  None
11  [550, 425, TRC]  Salle à manger  None
12   [375, 50, TLC]         Chambre  None
13  [275, 450, TLC]         Chambre  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4        Toilettes  None   [550, 50]        TRC       550        50
5        Toilettes  None  [650, 150]        TRC       650       150
6    Salle de bain  None   [430, 50]        TRC       430        50
7    Salle de bain  None  [550, 300]        TRC       550       300
8          Cuisine  None   [275, 50]        TLC       275        50
9          Cuisine  None  [150, 370]        TLC       150       370
10  Salle à manger  None  [390, 300]        TRC       390       300
11  Salle à manger  None  [550, 425]        TRC       550       425
12         Chambre  None   [375, 50]        TLC       375        50
13         Chambre  None  [275, 450]        TLC       275       450

       corner cornertype  x_corner  y_corner
0   [650, 50]        TRC       650        50
1   [550, 50]        TRC       550        50
2   [150, 50]        TLC       150        50
3  [550, 300]        TRC       550       300
4   [275, 50]        TLC       275        50

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Toilettes,None,"[550, 50]",TRC,550,50,"[550, 50]",TRC
5,Toilettes,None,"[650, 150]",TRC,650,150,NaN,NaN
6,Salle de bain,None,"[430, 50]",TRC,430,50,NaN,NaN
7,Salle de bain,None,"[550, 300]",TRC,550,300,"[550, 300]",TRC
8,Cuisine,None,"[275, 50]",TLC,275,50,"[275, 50]",TLC
9,Cuisine,None,"[150, 370]",TLC,150,370,NaN,NaN
10,Salle à manger,None,"[390, 300]",TRC,390,300,NaN,NaN
11,Salle à manger,None,"[550, 425]",TRC,550,425,NaN,NaN
12,Chambre,None,"[375, 50]",TLC,375,50,NaN,NaN
13,Chambre,None,"[275, 450]",TLC,275,450,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [390, 300]          TRC     1
1  Salle à manger  None  [550, 425]          TRC     1
2         Chambre  None   [375, 50]          TLC     2
3         Chambre  None  [275, 450]          TLC     2
4         Cuisine  None  [150, 370]          TLC     3
5   Salle de bain  None   [430, 50]          TRC     4
6       Toilettes  None  [650, 150]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Salle à manger

Salle à manger Chambre
Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Appartement
Chambre Appartement

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Appartement
Chambre Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Chambre
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement
VERTICAL
Cuisine Appartement 80
Changé:  150 50 125 400
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [390, 300]          TRC     1
1  Salle à manger  None  [550, 425]          TRC     1
2         Chambre  None   [375, 50]          TLC     2
3         Chambre  None  [275, 450]          TLC     2
4         Cuisine  None  [275, 450]          BLC     3
5   Salle de bain  None   [430, 50]          TRC     4
6       Toilettes  None  [650, 150]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Chambre
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement
VERTICAL
Toilettes Appartement 300
Changé:  550 50 100 400
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [390, 300]          TRC     1
1  Salle à manger  None  [550, 425]          TRC     1
2         Chambre  None   [375, 50]          TLC     2
3         Chambre  None  [275, 450]          TLC     2
4         Cuisine  None  [275, 450]          BLC     3
5   Salle de bain  None   [430, 50]          TRC     4
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Salle à manger
Appartement Chambre
Appartement Chambre
HORIZONTAL
Appartement Chambre 375
Changé:  275 50 100 400
0 0 0
Appartement Cuisine
Appartement Salle de bain
Appartement Toilettes
HORIZONTAL
Appartement Toilettes 100
Toilettes Salle de bain center
Changé:  450 50 200 400
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [390, 300]          TRC     1
1  Salle à manger  None  [550, 425]          TRC     1
2         Chambre  None   [375, 50]          TLC     2
3         Chambre  None  [275, 450]          TLC     2
4         Cuisine  None  [275, 450]          BLC     3
5   Salle de bain  None   [430, 50]          TRC     4
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None   [450, 50]          BLC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [390, 300]          TRC     1
1  Salle à manger  None  [550, 425]          TRC     1
2         Chambre  None   [375, 50]          TLC     2
3         Chambre  None  [275, 450]          TLC     2
4         Cuisine  None  [275, 450]          BLC     3
5   Salle de bain  None   [430, 50]          TRC     4
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  550 50 100 400

 Appartement

Appartement Salle à manger
Appartement Salle à manger
Appartement Chambre
Appartement Chambre
Appartement Cuisine
Appartement Salle de bain
Appartement Toilettes
HORIZONTAL
Appartement Toilettes 400
Toilettes Entrée close edge tb
Changé:  150 50 500 400
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [390, 300]          TRC     1
1  Salle à manger  None  [550, 425]          TRC     1
2         Chambre  None   [375, 50]          TLC     2
3         Chambre  None  [275, 450]          TLC     2
4         Cuisine  None  [275, 450]          BLC     3
5   Salle de bain  None   [430, 50]          TRC     4
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None   [150, 50]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [390, 300]          TRC     1
1  Salle à manger  None  [550, 425]          TRC     1
2         Chambre  None   [375, 50]          TLC     2
3         Chambre  None  [275, 450]          TLC     2
4         Cuisine  None  [275, 450]          BLC     3
5   Salle de bain  None   [430, 50]          TRC     4
6       Toilettes  None  [550, 450]          BRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  550 50 100 400
[[150, 370], [650, 150], [275, 450]]
1

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Toilettes,None,"[550, 50]",TRC,550,50,"[550, 50]",TRC
5,Toilettes,None,"[650, 150]",TRC,650,150,NaN,NaN
6,Salle de bain,None,"[430, 50]",TRC,430,50,NaN,NaN
7,Salle de bain,None,"[550, 300]",TRC,550,300,"[550, 300]",TRC
8,Cuisine,None,"[275, 50]",TLC,275,50,"[275, 50]",TLC
9,Cuisine,None,"[150, 370]",TLC,150,370,NaN,NaN
10,Salle à manger,None,"[390, 300]",TRC,390,300,NaN,NaN
11,Salle à manger,None,"[550, 425]",TRC,550,425,NaN,NaN
12,Chambre,None,"[375, 50]",TLC,375,50,NaN,NaN
13,Chambre,None,"[275, 450]",TLC,275,450,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [390, 300]          TRC     1
1  Salle à manger  None  [550, 425]          TRC     1
2         Chambre  None   [375, 50]          TLC     2
3         Chambre  None  [275, 450]          TLC     2
4         Cuisine  None  [150, 370]          TLC     3
5   Salle de bain  None   [430, 50]          TRC     4
6       Toilettes  None  [650, 150]          TRC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Salle à manger

Salle à manger Chambre
Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Appartement
Chambre Appartement

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Appartement
Chambre Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Chambre
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Chambre
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Salle à manger
Appartement Chambre
Appartement Chambre
Appartement Cuisine
Appartement Salle de bain
Appartement Toilettes

 Appartement

Appartement Salle à manger
Appartement Salle à manger
Appartement Chambre
Appartement Chambre
Appartement Cuisine
Appartement Salle de bain
Appartement Toilettes
[[150, 370], [650, 150], [275, 450]]
0
Salle de bain Toilettes close edge lr
Salle de bain Cuisine center

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [150, 325, BLC]         Chambre  None
5   [310, 450, BLC]         Chambre  None
6   [310, 330, BLC]         Cuisine  None
7   [560, 450, BLC]         Cuisine  None
8   [150, 125, BLC]  Salle à manger  None
9   [300, 325, BLC]  Salle à manger  None
10  [300, 225, BLC]       Toilettes  None
11  [400, 325, BLC]       Toilettes  None
12  [300, 105, BLC]   Salle de bain  None
13  [550, 225, BLC]   Salle de bain  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Chambre  None  [150, 325]        BLC       150       325
5          Chambre  None  [310, 450]        BLC       310       450
6          Cuisine  None  [310, 330]        BLC       310       330
7          Cuisine  None  [560, 450]        BLC       560       450
8   Salle à manger  None  [150, 125]        BLC       150       125
9   Salle à manger  None  [300, 325]        BLC       300       325
10       Toilettes  None  [300, 225]        BLC       300       225
11       Toilettes  None  [400, 325]        BLC       400       325
12   Salle de bain  None  [300, 105]        BLC       300       105
13   Salle de bain  None  [550, 225]        BLC       550       225

       corner cornertype  x_corner  y_corner
0  [150, 450]        BLC       150       450
1  [310, 450]        BLC       310       450
2  [150, 325]        BLC       150       325
3  [300, 325]        BLC       300       325
4  [300, 225]        BLC       300       225

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,NaN,NaN
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Chambre,None,"[150, 325]",BLC,150,325,"[150, 325]",BLC
5,Chambre,None,"[310, 450]",BLC,310,450,"[310, 450]",BLC
6,Cuisine,None,"[310, 330]",BLC,310,330,NaN,NaN
7,Cuisine,None,"[560, 450]",BLC,560,450,NaN,NaN
8,Salle à manger,None,"[150, 125]",BLC,150,125,NaN,NaN
9,Salle à manger,None,"[300, 325]",BLC,300,325,"[300, 325]",BLC
10,Toilettes,None,"[300, 225]",BLC,300,225,"[300, 225]",BLC
11,Toilettes,None,"[400, 325]",BLC,400,325,NaN,NaN
12,Salle de bain,None,"[300, 105]",BLC,300,105,NaN,NaN
13,Salle de bain,None,"[550, 225]",BLC,550,225,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [150, 125]          BLC     1
1         Cuisine  None  [310, 330]          BLC     3
2         Cuisine  None  [560, 450]          BLC     3
3   Salle de bain  None  [300, 105]          BLC     4
4   Salle de bain  None  [550, 225]          BLC     4
5       Toilettes  None  [400, 325]          BLC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [650, 450]          BRC  1000

 Salle à manger

Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Appartement
VERTICAL
Salle à manger Appartement 75
Changé:  150 50 150 275
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [300, 50]          TLC     1
1         Cuisine  None  [310, 330]          BLC     3
2         Cuisine  None  [560, 450]          BLC     3
3   Salle de bain  None  [300, 105]          BLC     4
4   Salle de bain  None  [550, 225]          BLC     4
5       Toilettes  None  [400, 325]          BLC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [650, 450]          BRC  1000

Salle à manger Appartement
Salle à manger Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle de bain
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement
Cuisine Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle de bain
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement
Cuisine Appartement
HORIZONTAL
Cuisine Appartement 90
Changé:  310 330 340 120
0 0 0

 Salle de bain

Salle de bain Salle à manger
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement
Salle de bain Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement
Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Cuisine
Appartement Cuisine
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes

 Appartement

Appartement Salle à manger
Appartement Cuisine
Appartement Cuisine
VERTICAL
Appartement Cuisine 280
Cuisine Toilettes close edge lr
Changé:  310 50 340 400
0 1 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [300, 50]          TLC     1
1         Cuisine  None  [310, 330]          BLC     3
2         Cuisine  None  [650, 330]          BRC     3
3   Salle de bain  None  [300, 105]          BLC     4
4   Salle de bain  None  [550, 225]          BLC     4
5       Toilettes  None  [400, 325]          BLC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [310, 50]          TRC  1000
8     Appartement  None  [650, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [300, 50]          TLC     1
1         Cuisine  None  [310, 330]          BLC     3
2         Cuisine  None  [650, 330]          BRC     3
3   Salle de bain  None  [300, 105]          BLC     4
4   Salle de bain  None  [550, 225]          BLC     4
5       Toilettes  None  [400, 325]          BLC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  310 330 340 120
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes

 Appartement

Appartement Salle à manger
Appartement Cuisine
Appartement Cuisine
VERTICAL
Appartement Cuisine 120
Cuisine Salle de bain close edge tb
Changé:  310 210 340 240
0 1 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [300, 50]          TLC     1
1         Cuisine  None  [310, 330]          BLC     3
2         Cuisine  None  [650, 330]          BRC     3
3   Salle de bain  None  [300, 105]          BLC     4
4   Salle de bain  None  [550, 225]          BLC     4
5       Toilettes  None  [400, 325]          BLC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [310, 210]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [300, 50]          TLC     1
1         Cuisine  None  [310, 330]          BLC     3
2         Cuisine  None  [650, 330]          BRC     3
3   Salle de bain  None  [300, 105]          BLC     4
4   Salle de bain  None  [550, 225]          BLC     4
5       Toilettes  None  [400, 325]          BLC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [650, 450]          BRC  1000

Ancien:  310 330 340 120
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes
[[150, 125], [560, 450]]
1

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,NaN,NaN
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Chambre,None,"[150, 325]",BLC,150,325,"[150, 325]",BLC
5,Chambre,None,"[310, 450]",BLC,310,450,"[310, 450]",BLC
6,Cuisine,None,"[310, 330]",BLC,310,330,NaN,NaN
7,Cuisine,None,"[560, 450]",BLC,560,450,NaN,NaN
8,Salle à manger,None,"[150, 125]",BLC,150,125,NaN,NaN
9,Salle à manger,None,"[300, 325]",BLC,300,325,"[300, 325]",BLC
10,Toilettes,None,"[300, 225]",BLC,300,225,"[300, 225]",BLC
11,Toilettes,None,"[400, 325]",BLC,400,325,NaN,NaN
12,Salle de bain,None,"[300, 105]",BLC,300,105,NaN,NaN
13,Salle de bain,None,"[550, 225]",BLC,550,225,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [150, 125]          BLC     1
1         Cuisine  None  [310, 330]          BLC     3
2         Cuisine  None  [560, 450]          BLC     3
3   Salle de bain  None  [300, 105]          BLC     4
4   Salle de bain  None  [550, 225]          BLC     4
5       Toilettes  None  [400, 325]          BLC     5
6     Appartement  None   [150, 50]          TLC  1000
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [650, 450]          BRC  1000

 Salle à manger

Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement
Salle à manger Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle de bain
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement
Cuisine Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle de bain
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement
Cuisine Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement
Salle de bain Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement
Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Cuisine
Appartement Cuisine
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes

 Appartement

Appartement Salle à manger
Appartement Cuisine
Appartement Cuisine
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes

 Appartement

Appartement Salle à manger
Appartement Cuisine
Appartement Cuisine
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes
[[150, 125], [560, 450]]
0
Chambre Cuisine center
Salle à manger Cuisine center
Salle à manger Salle de bain close edge lr
Salle à manger Salle de bain close edge lr
Salle à manger Chambre center
Salle à manger Chambre close edge tb
Salle à manger Salle de bain close edge lr
Salle à manger Cuisine close edge tb

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [150, 350, BLC]       Toilettes  None
5   [250, 450, BLC]       Toilettes  None
6   [150, 150, BLC]         Cuisine  None
7   [250, 350, BLC]         Cuisine  None
8   [250, 150, BLC]         Chambre  None
9   [450, 350, BLC]         Chambre  None
10  [450, 110, BLC]   Salle de bain  None
11  [575, 350, BLC]   Salle de bain  None
12   [350, 50, TLC]  Salle à manger  None
13  [150, 150, TLC]  Salle à manger  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4        Toilettes  None  [150, 350]        BLC       150       350
5        Toilettes  None  [250, 450]        BLC       250       450
6          Cuisine  None  [150, 150]        BLC       150       150
7          Cuisine  None  [250, 350]        BLC       250       350
8          Chambre  None  [250, 150]        BLC       250       150
9          Chambre  None  [450, 350]        BLC       450       350
10   Salle de bain  None  [450, 110]        BLC       450       110
11   Salle de bain  None  [575, 350]        BLC       575       350
12  Salle à manger  None   [350, 50]        TLC       350        50
13  Salle à manger  None  [150, 150]        TLC       150       150

       corner cornertype  x_corner  y_corner
0  [150, 450]        BLC       150       450
1  [150, 350]        BLC       150       350
2  [250, 350]        BLC       250       350
3  [450, 350]        BLC       450       350
4   [150, 50]        TLC       150        50
5  [150, 150]        BLC       150       150

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Toilettes,None,"[150, 350]",BLC,150,350,"[150, 350]",BLC
5,Toilettes,None,"[250, 450]",BLC,250,450,NaN,NaN
6,Cuisine,None,"[150, 150]",BLC,150,150,"[150, 150]",BLC
7,Salle à manger,None,"[150, 150]",TLC,150,150,"[150, 150]",BLC
8,Cuisine,None,"[250, 350]",BLC,250,350,"[250, 350]",BLC
9,Chambre,None,"[250, 150]",BLC,250,150,NaN,NaN
10,Chambre,None,"[450, 350]",BLC,450,350,"[450, 350]",BLC
11,Salle de bain,None,"[450, 110]",BLC,450,110,NaN,NaN
12,Salle de bain,None,"[575, 350]",BLC,575,350,NaN,NaN
13,Salle à manger,None,"[350, 50]",TLC,350,50,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [250, 150]          BLC     2
2   Salle de bain  None  [450, 110]          BLC     4
3   Salle de bain  None  [575, 350]          BLC     4
4       Toilettes  None  [250, 450]          BLC     5
5     Appartement  None   [650, 50]          TRC  1000
6     Appartement  None  [650, 450]          BRC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Salle de bain
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Salle de bain
Chambre Salle de bain
Chambre Toilettes
Chambre Appartement
Chambre Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Salle de bain
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement
HORIZONTAL
Toilettes Appartement 400
Changé:  150 350 500 100
0 0 0

 Appartement

Appartement Salle à manger
Appartement Chambre
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes
VERTICAL
Appartement Toilettes 300
Toilettes Entrée close edge tb
Changé:  150 50 500 400
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [250, 150]          BLC     2
2   Salle de bain  None  [450, 110]          BLC     4
3   Salle de bain  None  [575, 350]          BLC     4
4       Toilettes  None  [650, 350]          BRC     5
5     Appartement  None   [150, 50]          TRC  1000
6     Appartement  None  [650, 450]          BRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [250, 150]          BLC     2
2   Salle de bain  None  [450, 110]          BLC     4
3   Salle de bain  None  [575, 350]          BLC     4
4       Toilettes  None  [650, 350]          BRC     5
5     Appartement  None   [650, 50]          TRC  1000
6     Appartement  None  [650, 450]          BRC  1000

Ancien:  150 350 500 100

 Appartement

Appartement Salle à manger
Appartement Chambre
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes
VERTICAL
Appartement Toilettes 100
Toilettes Cuisine close edge lr
Changé:  150 250 500 200
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [250, 150]          BLC     2
2   Salle de bain  None  [450, 110]          BLC     4
3   Salle de bain  None  [575, 350]          BLC     4
4       Toilettes  None  [650, 350]          BRC     5
5     Appartement  None   [650, 50]          TRC  1000
6     Appartement  None  [150, 250]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [250, 150]          BLC     2
2   Salle de bain  None  [450, 110]          BLC     4
3   Salle de bain  None  [575, 350]          BLC     4
4       Toilettes  None  [650, 350]          BRC     5
5     Appartement  None   [650, 50]          TRC  1000
6     Appartement  None  [650, 450]          BRC  1000

Ancien:  150 350 500 100
[[250, 450]]
1

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Toilettes,None,"[150, 350]",BLC,150,350,"[150, 350]",BLC
5,Toilettes,None,"[250, 450]",BLC,250,450,NaN,NaN
6,Cuisine,None,"[150, 150]",BLC,150,150,"[150, 150]",BLC
7,Salle à manger,None,"[150, 150]",TLC,150,150,"[150, 150]",BLC
8,Cuisine,None,"[250, 350]",BLC,250,350,"[250, 350]",BLC
9,Chambre,None,"[250, 150]",BLC,250,150,NaN,NaN
10,Chambre,None,"[450, 350]",BLC,450,350,"[450, 350]",BLC
11,Salle de bain,None,"[450, 110]",BLC,450,110,NaN,NaN
12,Salle de bain,None,"[575, 350]",BLC,575,350,NaN,NaN
13,Salle à manger,None,"[350, 50]",TLC,350,50,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [250, 150]          BLC     2
2   Salle de bain  None  [450, 110]          BLC     4
3   Salle de bain  None  [575, 350]          BLC     4
4       Toilettes  None  [250, 450]          BLC     5
5     Appartement  None   [650, 50]          TRC  1000
6     Appartement  None  [650, 450]          BRC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Salle de bain
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Salle de bain
Chambre Salle de bain
Chambre Toilettes
Chambre Appartement
Chambre Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Salle de bain
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Chambre
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes

 Appartement

Appartement Salle à manger
Appartement Chambre
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes
[[250, 450]]
0
Toilettes Chambre close edge tb

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [650, 290, BRC]         Cuisine  None
5   [525, 450, BRC]         Cuisine  None
6   [650, 130, BRC]         Chambre  None
7   [400, 290, BRC]         Chambre  None
8   [150, 350, BLC]       Toilettes  None
9   [250, 450, BLC]       Toilettes  None
10  [525, 350, BRC]   Salle de bain  None
11  [425, 450, BRC]   Salle de bain  None
12  [400, 170, BRC]  Salle à manger  None
13  [150, 290, BRC]  Salle à manger  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Cuisine  None  [650, 290]        BRC       650       290
5          Cuisine  None  [525, 450]        BRC       525       450
6          Chambre  None  [650, 130]        BRC       650       130
7          Chambre  None  [400, 290]        BRC       400       290
8        Toilettes  None  [150, 350]        BLC       150       350
9        Toilettes  None  [250, 450]        BLC       250       450
10   Salle de bain  None  [525, 350]        BRC       525       350
11   Salle de bain  None  [425, 450]        BRC       425       450
12  Salle à manger  None  [400, 170]        BRC       400       170
13  Salle à manger  None  [150, 290]        BRC       150       290

       corner cornertype  x_corner  y_corner
0  [650, 450]        BRC       650       450
1  [650, 290]        BRC       650       290
2  [150, 450]        BLC       150       450
3  [525, 450]        BRC       525       450
4  [400, 290]        BRC       400       290

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,NaN,NaN
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Cuisine,None,"[650, 290]",BRC,650,290,"[650, 290]",BRC
5,Cuisine,None,"[525, 450]",BRC,525,450,"[525, 450]",BRC
6,Chambre,None,"[650, 130]",BRC,650,130,NaN,NaN
7,Chambre,None,"[400, 290]",BRC,400,290,"[400, 290]",BRC
8,Toilettes,None,"[150, 350]",BLC,150,350,NaN,NaN
9,Toilettes,None,"[250, 450]",BLC,250,450,NaN,NaN
10,Salle de bain,None,"[525, 350]",BRC,525,350,NaN,NaN
11,Salle de bain,None,"[425, 450]",BRC,425,450,NaN,NaN
12,Salle à manger,None,"[400, 170]",BRC,400,170,NaN,NaN
13,Salle à manger,None,"[150, 290]",BRC,150,290,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 290]          BRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [425, 450]          BRC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Salle de bain
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Salle à manger

Salle à manger Chambre
Salle à manger Salle de bain
Salle à manger Salle de bain
Salle à manger Toilettes
VERTICAL
Salle à manger Toilettes 60
Changé:  150 110 250 180
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 110]          TRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [425, 450]          BRC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Salle de bain
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes
Chambre Appartement
Chambre Appartement
VERTICAL
Chambre Appartement 80
Changé:  400 50 250 240
0 0 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 110]          TRC     1
2         Chambre  None   [400, 50]          TRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [425, 450]          BRC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 110]          TRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [425, 450]          BRC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

Ancien:  400 130 250 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 110]          TRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [425, 450]          BRC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Toilettes
Salle de bain Toilettes
HORIZONTAL
Salle de bain Toilettes 175
Changé:  250 350 275 100
0 0 0
Salle de bain Appartement
Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
VERTICAL
Toilettes Salle à manger 240
Changé:  150 110 250 420
1 0 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 110]          TRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [250, 350]          BLC     4
5       Toilettes  None  [150, 530]          BRC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 110]          TRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [250, 350]          BLC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

Ancien:  150 110 250 180
Toilettes Chambre
Toilettes Salle de bain
Toilettes Salle de bain
Toilettes Appartement
VERTICAL
Toilettes Appartement 300
Toilettes Salle à manger center
Changé:  150 50 100 400
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 110]          TRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [250, 350]          BLC     4
5       Toilettes  None   [250, 50]          TLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 110]          TRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [250, 350]          BLC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

Ancien:  150 350 100 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 110]          TRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [250, 350]          BLC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

Toilettes Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Salle de bain
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Salle à manger
VERTICAL
Appartement Salle à manger 60
Changé:  150 110 250 240
0 0 0
Appartement Chambre
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes
VERTICAL
Appartement Toilettes 300
Toilettes Salle à manger center
Changé:  150 50 100 400
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 110]          TRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [250, 350]          BLC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [250, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 110]          TRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [250, 350]          BLC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None  [150, 350]          BRC  1000
8     Appartement  None   [650, 50]          TRC  1000

Ancien:  150 350 100 100
Appartement Toilettes

 Appartement

Appartement Salle à manger
Appartement Salle à manger
Appartement Chambre
VERTICAL
Appartement Chambre 80
Changé:  400 50 250 240
0 0 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 110]          TRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [250, 350]          BLC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None  [150, 350]          BRC  1000
8     Appartement  None   [400, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 110]          TRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [250, 350]          BLC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None  [150, 350]          BRC  1000
8     Appartement  None   [650, 50]          TRC  1000

Ancien:  400 130 250 160
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes
Appartement Toilettes
[[150, 290], [425, 450], [150, 110]]
1

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,NaN,NaN
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Cuisine,None,"[650, 290]",BRC,650,290,"[650, 290]",BRC
5,Cuisine,None,"[525, 450]",BRC,525,450,"[525, 450]",BRC
6,Chambre,None,"[650, 130]",BRC,650,130,NaN,NaN
7,Chambre,None,"[400, 290]",BRC,400,290,"[400, 290]",BRC
8,Toilettes,None,"[150, 350]",BLC,150,350,NaN,NaN
9,Toilettes,None,"[250, 450]",BLC,250,450,NaN,NaN
10,Salle de bain,None,"[525, 350]",BRC,525,350,NaN,NaN
11,Salle de bain,None,"[425, 450]",BRC,425,450,NaN,NaN
12,Salle à manger,None,"[400, 170]",BRC,400,170,NaN,NaN
13,Salle à manger,None,"[150, 290]",BRC,150,290,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 290]          BRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [425, 450]          BRC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Salle de bain
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Salle à manger

Salle à manger Chambre
Salle à manger Salle de bain
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Salle de bain
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes
Chambre Appartement
Chambre Appartement
VERTICAL
Chambre Appartement 80
Changé:  400 50 250 240
0 0 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 290]          BRC     1
2         Chambre  None   [400, 50]          TRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [425, 450]          BRC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 290]          BRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [425, 450]          BRC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

Ancien:  400 130 250 160

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 290]          BRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [425, 450]          BRC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Salle de bain
Toilettes Salle de bain
Toilettes Appartement
VERTICAL
Toilettes Appartement 300
Toilettes Salle à manger center
Changé:  150 50 100 400
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 290]          BRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [425, 450]          BRC     4
5       Toilettes  None   [250, 50]          TLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 290]          BRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [425, 450]          BRC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

Ancien:  150 350 100 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 290]          BRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [425, 450]          BRC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

Toilettes Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Salle de bain
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Salle à manger
Appartement Chambre
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes
VERTICAL
Appartement Toilettes 300
Toilettes Salle à manger center
Changé:  150 50 100 400
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 290]          BRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [425, 450]          BRC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [250, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 290]          BRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [425, 450]          BRC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

Ancien:  150 350 100 100
Appartement Toilettes

 Appartement

Appartement Salle à manger
Appartement Salle à manger
Appartement Chambre
VERTICAL
Appartement Chambre 80
Changé:  400 50 250 240
0 0 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 290]          BRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [425, 450]          BRC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [400, 50]          TRC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [400, 170]          BRC     1
1  Salle à manger  None  [150, 290]          BRC     1
2         Chambre  None  [650, 130]          BRC     2
3   Salle de bain  None  [525, 350]          BRC     4
4   Salle de bain  None  [425, 450]          BRC     4
5       Toilettes  None  [150, 350]          BLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None   [150, 50]          TLC  1000
8     Appartement  None   [650, 50]          TRC  1000

Ancien:  400 130 250 160
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes
Appartement Toilettes
[[150, 290], [425, 450], [150, 110]]
0
Cuisine Chambre close edge lr
Cuisine Salle de bain close edge lr
Cuisine Salle à manger close edge lr
Cuisine Salle de bain center
Cuisine Entrée center
Cuisine Salle à manger close edge lr

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [530, 50, TRC]         Chambre  None
5   [650, 300, TRC]         Chambre  None
6    [275, 50, TLC]  Salle à manger  None
7   [150, 290, TLC]  Salle à manger  None
8    [430, 50, TRC]       Toilettes  None
9   [530, 150, TRC]       Toilettes  None
10  [650, 350, BRC]   Salle de bain  None
11  [350, 450, BRC]   Salle de bain  None
12  [280, 150, TRC]         Cuisine  None
13  [530, 310, TRC]         Cuisine  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Chambre  None   [530, 50]        TRC       530        50
5          Chambre  None  [650, 300]        TRC       650       300
6   Salle à manger  None   [275, 50]        TLC       275        50
7   Salle à manger  None  [150, 290]        TLC       150       290
8        Toilettes  None   [430, 50]        TRC       430        50
9        Toilettes  None  [530, 150]        TRC       530       150
10   Salle de bain  None  [650, 350]        BRC       650       350
11   Salle de bain  None  [350, 450]        BRC       350       450
12         Cuisine  None  [280, 150]        TRC       280       150
13         Cuisine  None  [530, 310]        TRC       530       310

       corner cornertype  x_corner  y_corner
0   [650, 50]        TRC       650        50
1   [150, 50]        TLC       150        50
2   [530, 50]        TRC       530        50
3  [650, 450]        BRC       650       450
4  [530, 150]        TRC       530       150

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Chambre,None,"[530, 50]",TRC,530,50,"[530, 50]",TRC
5,Chambre,None,"[650, 300]",TRC,650,300,NaN,NaN
6,Salle à manger,None,"[275, 50]",TLC,275,50,NaN,NaN
7,Salle à manger,None,"[150, 290]",TLC,150,290,NaN,NaN
8,Toilettes,None,"[430, 50]",TRC,430,50,NaN,NaN
9,Toilettes,None,"[530, 150]",TRC,530,150,"[530, 150]",TRC
10,Salle de bain,None,"[650, 350]",BRC,650,350,NaN,NaN
11,Salle de bain,None,"[350, 450]",BRC,350,450,NaN,NaN
12,Cuisine,None,"[280, 150]",TRC,280,150,NaN,NaN
13,Cuisine,None,"[530, 310]",TRC,530,310,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [150, 290]          TLC     1
2         Chambre  None  [650, 300]          TRC     2
3         Cuisine  None  [280, 150]          TRC     3
4         Cuisine  None  [530, 310]          TRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6   Salle de bain  None  [350, 450]          BRC     4
7       Toilettes  None   [430, 50]          TRC     5
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Appartement

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Appartement
VERTICAL
Salle à manger Appartement 160
Changé:  150 50 125 400
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [275, 450]          BLC     1
2         Chambre  None  [650, 300]          TRC     2
3         Cuisine  None  [280, 150]          TRC     3
4         Cuisine  None  [530, 310]          TRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6   Salle de bain  None  [350, 450]          BRC     4
7       Toilettes  None   [430, 50]          TRC     5
8     Appartement  None  [150, 450]          BLC  1000

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
VERTICAL
Chambre Salle de bain 50
Changé:  530 50 120 300
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [275, 450]          BLC     1
2         Chambre  None  [530, 350]          BRC     2
3         Cuisine  None  [280, 150]          TRC     3
4         Cuisine  None  [530, 310]          TRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6   Salle de bain  None  [350, 450]          BRC     4
7       Toilettes  None   [430, 50]          TRC     5
8     Appartement  None  [150, 450]          BLC  1000

Chambre Salle de bain
Chambre Toilettes
Chambre Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
HORIZONTAL
Salle de bain Salle à manger 75
Salle à manger Cuisine close edge lr
Changé:  150 50 200 400
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [275, 450]          BLC     1
2         Chambre  None  [530, 350]          BRC     2
3         Cuisine  None  [280, 150]          TRC     3
4         Cuisine  None  [530, 310]          TRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6   Salle de bain  None   [150, 50]          BLC     4
7       Toilettes  None   [430, 50]          TRC     5
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [275, 450]          BLC     1
2         Chambre  None  [530, 350]          BRC     2
3         Cuisine  None  [280, 150]          TRC     3
4         Cuisine  None  [530, 310]          TRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6   Salle de bain  None  [350, 450]          BRC     4
7       Toilettes  None   [430, 50]          TRC     5
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 50 125 400
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Appartement
HORIZONTAL
Salle de bain Appartement 200
Salle de bain Salle à manger close edge lr
Changé:  150 350 500 100
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [275, 450]          BLC     1
2         Chambre  None  [530, 350]          BRC     2
3         Cuisine  None  [280, 150]          TRC     3
4         Cuisine  None  [530, 310]          TRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6   Salle de bain  None  [150, 350]          BLC     4
7       Toilettes  None   [430, 50]          TRC     5
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [275, 450]          BLC     1
2         Chambre  None  [530, 350]          BRC     2
3         Cuisine  None  [280, 150]          TRC     3
4         Cuisine  None  [530, 310]          TRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6   Salle de bain  None  [350, 450]          BRC     4
7       Toilettes  None   [430, 50]          TRC     5
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  350 350 300 100

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Salle à manger
HORIZONTAL
Appartement Salle à manger 125
Salle à manger Cuisine close edge lr
Changé:  150 50 250 400
0 1 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [275, 450]          BLC     1
2         Chambre  None  [530, 350]          BRC     2
3         Cuisine  None  [280, 150]          TRC     3
4         Cuisine  None  [530, 310]          TRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6   Salle de bain  None  [350, 450]          BRC     4
7       Toilettes  None   [430, 50]          TRC     5
8     Appartement  None   [150, 50]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [275, 450]          BLC     1
2         Chambre  None  [530, 350]          BRC     2
3         Cuisine  None  [280, 150]          TRC     3
4         Cuisine  None  [530, 310]          TRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6   Salle de bain  None  [350, 450]          BRC     4
7       Toilettes  None   [430, 50]          TRC     5
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 50 125 400
Appartement Chambre
Appartement Cuisine
Appartement Cuisine
Appartement Salle de bain
Appartement Salle de bain
HORIZONTAL
Appartement Salle de bain 200
Salle de bain Salle à manger close edge lr
Changé:  150 350 500 100
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [275, 450]          BLC     1
2         Chambre  None  [530, 350]          BRC     2
3         Cuisine  None  [280, 150]          TRC     3
4         Cuisine  None  [530, 310]          TRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6   Salle de bain  None  [350, 450]          BRC     4
7       Toilettes  None   [430, 50]          TRC     5
8     Appartement  None  [150, 350]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1  Salle à manger  None  [275, 450]          BLC     1
2         Chambre  None  [530, 350]          BRC     2
3         Cuisine  None  [280, 150]          TRC     3
4         Cuisine  None  [530, 310]          TRC     3
5   Salle de bain  None  [650, 350]          BRC     4
6   Salle de bain  None  [350, 450]          BRC     4
7       Toilettes  None   [430, 50]          TRC     5
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  350 350 300 100
Appartement Toilettes
[[150, 290], [650, 300]]
0
Cuisine Salle à manger close edge tb
Chambre Salle de bain close edge lr
Chambre Cuisine close edge lr
Chambre Salle à manger close edge tb
Chambre Salle de bain close edge tb
Chambre Salle de bain close edge tb
Chambre Salle à manger close edge tb
Chambre Cuisine close edge lr
Chambre Salle de bain close edge lr

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [650, 250, BRC]   Salle de bain  None
5   [500, 450, BRC]   Salle de bain  None
6   [150, 200, BLC]  Salle à manger  None
7   [310, 450, BLC]  Salle à manger  None
8   [650, 150, BRC]       Toilettes  None
9   [550, 250, BRC]       Toilettes  None
10  [310, 250, BLC]         Cuisine  None
11  [410, 450, BLC]         Cuisine  None
12   [150, 75, BLC]         Chambre  None
13  [310, 200, BLC]         Chambre  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4    Salle de bain  None  [650, 250]        BRC       650       250
5    Salle de bain  None  [500, 450]        BRC       500       450
6   Salle à manger  None  [150, 200]        BLC       150       200
7   Salle à manger  None  [310, 450]        BLC       310       450
8        Toilettes  None  [650, 150]        BRC       650       150
9        Toilettes  None  [550, 250]        BRC       550       250
10         Cuisine  None  [310, 250]        BLC       310       250
11         Cuisine  None  [410, 450]        BLC       410       450
12         Chambre  None   [150, 75]        BLC       150        75
13         Chambre  None  [310, 200]        BLC       310       200

       corner cornertype  x_corner  y_corner
0  [650, 450]        BRC       650       450
1  [150, 450]        BLC       150       450
2  [650, 250]        BRC       650       250
3  [310, 450]        BLC       310       450
4  [150, 200]        BLC       150       200

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,NaN,NaN
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Salle de bain,None,"[650, 250]",BRC,650,250,"[650, 250]",BRC
5,Salle de bain,None,"[500, 450]",BRC,500,450,NaN,NaN
6,Salle à manger,None,"[150, 200]",BLC,150,200,"[150, 200]",BLC
7,Salle à manger,None,"[310, 450]",BLC,310,450,"[310, 450]",BLC
8,Toilettes,None,"[650, 150]",BRC,650,150,NaN,NaN
9,Toilettes,None,"[550, 250]",BRC,550,250,NaN,NaN
10,Cuisine,None,"[310, 250]",BLC,310,250,NaN,NaN
11,Cuisine,None,"[410, 450]",BLC,410,450,NaN,NaN
12,Chambre,None,"[150, 75]",BLC,150,75,NaN,NaN
13,Chambre,None,"[310, 200]",BLC,310,200,NaN,NaN

               1     3    corner_x cornertype_x  prio
0        Chambre  None   [150, 75]          BLC     2
1        Chambre  None  [310, 200]          BLC     2
2        Cuisine  None  [310, 250]          BLC     3
3        Cuisine  None  [410, 450]          BLC     3
4  Salle de bain  None  [500, 450]          BRC     4
5      Toilettes  None  [650, 150]          BRC     5
6      Toilettes  None  [550, 250]          BRC     5
7    Appartement  None   [150, 50]          TLC  1000
8    Appartement  None   [650, 50]          TRC  1000

 Chambre

Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes
Chambre Appartement
VERTICAL
Chambre Appartement 25
Changé:  150 50 160 150
0 0 0

               1     3    corner_x cornertype_x  prio
0        Chambre  None   [310, 50]          TLC     2
1        Chambre  None  [310, 200]          BLC     2
2        Cuisine  None  [310, 250]          BLC     3
3        Cuisine  None  [410, 450]          BLC     3
4  Salle de bain  None  [500, 450]          BRC     4
5      Toilettes  None  [650, 150]          BRC     5
6      Toilettes  None  [550, 250]          BRC     5
7    Appartement  None   [150, 50]          TLC  1000
8    Appartement  None   [650, 50]          TRC  1000

Chambre Appartement

 Chambre

Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes
Chambre Appartement
Chambre Appartement

 Cuisine

Cuisine Chambre
Cuisine Chambre
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement

 Cuisine

Cuisine Chambre
Cuisine Chambre
Cuisine Salle de bain
HORIZONTAL
Cuisine Salle de bain 90
Changé:  310 250 190 200
0 0 0
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement

 Salle de bain

Salle de bain Chambre
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement

 Toilettes

Toilettes Chambre
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement
VERTICAL
Toilettes Appartement 100
Changé:  550 50 100 200
0 0 0

               1     3    corner_x cornertype_x  prio
0        Chambre  None   [310, 50]          TLC     2
1        Chambre  None  [310, 200]          BLC     2
2        Cuisine  None  [310, 250]          BLC     3
3        Cuisine  None  [500, 250]          BRC     3
4  Salle de bain  None  [500, 450]          BRC     4
5      Toilettes  None   [550, 50]          TRC     5
6      Toilettes  None  [550, 250]          BRC     5
7    Appartement  None   [150, 50]          TLC  1000
8    Appartement  None   [650, 50]          TRC  1000

 Toilettes

Toilettes Chambre
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement

 Appartement

Appartement Chambre
Appartement Chambre
Appartement Cuisine
Appartement Cuisine
Appartement Salle de bain
Appartement Toilettes
Appartement Toilettes

 Appartement

Appartement Chambre
Appartement Chambre
Appartement Cuisine
Appartement Cuisine
Appartement Salle de bain
Appartement Toilettes
Appartement Toilettes
[[150, 75], [410, 450], [650, 150]]
1

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,NaN,NaN
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Salle de bain,None,"[650, 250]",BRC,650,250,"[650, 250]",BRC
5,Salle de bain,None,"[500, 450]",BRC,500,450,NaN,NaN
6,Salle à manger,None,"[150, 200]",BLC,150,200,"[150, 200]",BLC
7,Salle à manger,None,"[310, 450]",BLC,310,450,"[310, 450]",BLC
8,Toilettes,None,"[650, 150]",BRC,650,150,NaN,NaN
9,Toilettes,None,"[550, 250]",BRC,550,250,NaN,NaN
10,Cuisine,None,"[310, 250]",BLC,310,250,NaN,NaN
11,Cuisine,None,"[410, 450]",BLC,410,450,NaN,NaN
12,Chambre,None,"[150, 75]",BLC,150,75,NaN,NaN
13,Chambre,None,"[310, 200]",BLC,310,200,NaN,NaN

               1     3    corner_x cornertype_x  prio
0        Chambre  None   [150, 75]          BLC     2
1        Chambre  None  [310, 200]          BLC     2
2        Cuisine  None  [310, 250]          BLC     3
3        Cuisine  None  [410, 450]          BLC     3
4  Salle de bain  None  [500, 450]          BRC     4
5      Toilettes  None  [650, 150]          BRC     5
6      Toilettes  None  [550, 250]          BRC     5
7    Appartement  None   [150, 50]          TLC  1000
8    Appartement  None   [650, 50]          TRC  1000

 Chambre

Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes
Chambre Appartement
Chambre Appartement

 Chambre

Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes
Chambre Appartement
Chambre Appartement

 Cuisine

Cuisine Chambre
Cuisine Chambre
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement

 Cuisine

Cuisine Chambre
Cuisine Chambre
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement

 Salle de bain

Salle de bain Chambre
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement

 Toilettes

Toilettes Chambre
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement

 Toilettes

Toilettes Chambre
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement

 Appartement

Appartement Chambre
Appartement Chambre
Appartement Cuisine
Appartement Cuisine
Appartement Salle de bain
Appartement Toilettes
Appartement Toilettes

 Appartement

Appartement Chambre
Appartement Chambre
Appartement Cuisine
Appartement Cuisine
Appartement Salle de bain
Appartement Toilettes
Appartement Toilettes
[[150, 75], [410, 450], [650, 150]]
0
Salle de bain Entrée close edge tb

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [150, 350, BLC]  Salle à manger  None
5   [450, 450, BLC]  Salle à manger  None
6   [150, 250, BLC]       Toilettes  None
7   [250, 350, BLC]       Toilettes  None
8    [450, 50, TRC]         Chambre  None
9   [650, 150, TRC]         Chambre  None
10   [310, 50, TLC]         Cuisine  None
11  [150, 175, TLC]         Cuisine  None
12  [650, 325, BRC]   Salle de bain  None
13  [490, 450, BRC]   Salle de bain  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4   Salle à manger  None  [150, 350]        BLC       150       350
5   Salle à manger  None  [450, 450]        BLC       450       450
6        Toilettes  None  [150, 250]        BLC       150       250
7        Toilettes  None  [250, 350]        BLC       250       350
8          Chambre  None   [450, 50]        TRC       450        50
9          Chambre  None  [650, 150]        TRC       650       150
10         Cuisine  None   [310, 50]        TLC       310        50
11         Cuisine  None  [150, 175]        TLC       150       175
12   Salle de bain  None  [650, 325]        BRC       650       325
13   Salle de bain  None  [490, 450]        BRC       490       450

       corner cornertype  x_corner  y_corner
0  [150, 450]        BLC       150       450
1  [150, 350]        BLC       150       350
2   [650, 50]        TRC       650        50
3   [150, 50]        TLC       150        50
4  [650, 450]        BRC       650       450

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Salle à manger,None,"[150, 350]",BLC,150,350,"[150, 350]",BLC
5,Salle à manger,None,"[450, 450]",BLC,450,450,NaN,NaN
6,Toilettes,None,"[150, 250]",BLC,150,250,NaN,NaN
7,Toilettes,None,"[250, 350]",BLC,250,350,NaN,NaN
8,Chambre,None,"[450, 50]",TRC,450,50,NaN,NaN
9,Chambre,None,"[650, 150]",TRC,650,150,NaN,NaN
10,Cuisine,None,"[310, 50]",TLC,310,50,NaN,NaN
11,Cuisine,None,"[150, 175]",TLC,150,175,NaN,NaN
12,Salle de bain,None,"[650, 325]",BRC,650,325,NaN,NaN
13,Salle de bain,None,"[490, 450]",BRC,490,450,NaN,NaN

                1     3    corner_x cornertype_x prio
0  Salle à manger  None  [450, 450]          BLC    1
1         Chambre  None   [450, 50]          TRC    2
2         Chambre  None  [650, 150]          TRC    2
3         Cuisine  None   [310, 50]          TLC    3
4         Cuisine  None  [150, 175]          TLC    3
5   Salle de bain  None  [650, 325]          BRC    4
6   Salle de bain  None  [490, 450]          BRC    4
7       Toilettes  None  [150, 250]          BLC    5
8       Toilettes  None  [250, 350]          BLC    5

 Salle à manger

Salle à manger Chambre
Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Salle de bain
HORIZONTAL
Salle à manger Salle de bain 40
Changé:  150 350 340 100
0 0 0
Salle à manger Toilettes
Salle à manger Toilettes

 Chambre

Chambre Salle à manger
Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes

 Chambre

Chambre Salle à manger
Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
VERTICAL
Chambre Salle de bain 175
Changé:  450 50 200 275
0 0 0

                1     3    corner_x cornertype_x prio
0  Salle à manger  None  [490, 350]          BRC    1
1         Chambre  None   [450, 50]          TRC    2
2         Chambre  None  [450, 325]          BRC    2
3         Cuisine  None   [310, 50]          TLC    3
4         Cuisine  None  [150, 175]          TLC    3
5   Salle de bain  None  [650, 325]          BRC    4
6   Salle de bain  None  [490, 450]          BRC    4
7       Toilettes  None  [150, 250]          BLC    5
8       Toilettes  None  [250, 350]          BLC    5

Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes

 Cuisine

Cuisine Salle à manger
Cuisine Chambre
Cuisine Chambre
Cuisine Salle de bain
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes

 Cuisine

Cuisine Salle à manger
Cuisine Chambre
Cuisine Chambre
Cuisine Salle de bain
Cuisine Salle de bain
Cuisine Toilettes
VERTICAL
Cuisine Toilettes 75
Changé:  150 50 160 200
0 0 0

                1     3    corner_x cornertype_x prio
0  Salle à manger  None  [490, 350]          BRC    1
1         Chambre  None   [450, 50]          TRC    2
2         Chambre  None  [450, 325]          BRC    2
3         Cuisine  None   [310, 50]          TLC    3
4         Cuisine  None  [310, 250]          BLC    3
5   Salle de bain  None  [650, 325]          BRC    4
6   Salle de bain  None  [490, 450]          BRC    4
7       Toilettes  None  [150, 250]          BLC    5
8       Toilettes  None  [250, 350]          BLC    5

Cuisine Toilettes

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain
[[450, 450], [650, 150], [150, 175]]
1

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Salle à manger,None,"[150, 350]",BLC,150,350,"[150, 350]",BLC
5,Salle à manger,None,"[450, 450]",BLC,450,450,NaN,NaN
6,Toilettes,None,"[150, 250]",BLC,150,250,NaN,NaN
7,Toilettes,None,"[250, 350]",BLC,250,350,NaN,NaN
8,Chambre,None,"[450, 50]",TRC,450,50,NaN,NaN
9,Chambre,None,"[650, 150]",TRC,650,150,NaN,NaN
10,Cuisine,None,"[310, 50]",TLC,310,50,NaN,NaN
11,Cuisine,None,"[150, 175]",TLC,150,175,NaN,NaN
12,Salle de bain,None,"[650, 325]",BRC,650,325,NaN,NaN
13,Salle de bain,None,"[490, 450]",BRC,490,450,NaN,NaN

                1     3    corner_x cornertype_x prio
0  Salle à manger  None  [450, 450]          BLC    1
1         Chambre  None   [450, 50]          TRC    2
2         Chambre  None  [650, 150]          TRC    2
3         Cuisine  None   [310, 50]          TLC    3
4         Cuisine  None  [150, 175]          TLC    3
5   Salle de bain  None  [650, 325]          BRC    4
6   Salle de bain  None  [490, 450]          BRC    4
7       Toilettes  None  [150, 250]          BLC    5
8       Toilettes  None  [250, 350]          BLC    5

 Salle à manger

Salle à manger Chambre
Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes

 Chambre

Chambre Salle à manger
Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes

 Chambre

Chambre Salle à manger
Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes

 Cuisine

Cuisine Salle à manger
Cuisine Chambre
Cuisine Chambre
Cuisine Salle de bain
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes

 Cuisine

Cuisine Salle à manger
Cuisine Chambre
Cuisine Chambre
Cuisine Salle de bain
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain
[[450, 450], [650, 150], [150, 175]]
0
Chambre Salle de bain close edge tb
Chambre Entrée close edge tb
Chambre Salle à manger close edge tb

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [350, 50, TLC]  Salle à manger  None
5   [150, 150, TLC]  Salle à manger  None
6   [650, 350, BRC]         Cuisine  None
7   [450, 450, BRC]         Cuisine  None
8   [650, 250, BRC]   Salle de bain  None
9   [450, 350, BRC]   Salle de bain  None
10  [450, 250, BRC]       Toilettes  None
11  [350, 350, BRC]       Toilettes  None
12  [275, 150, TLC]         Chambre  None
13  [150, 390, TLC]         Chambre  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4   Salle à manger  None   [350, 50]        TLC       350        50
5   Salle à manger  None  [150, 150]        TLC       150       150
6          Cuisine  None  [650, 350]        BRC       650       350
7          Cuisine  None  [450, 450]        BRC       450       450
8    Salle de bain  None  [650, 250]        BRC       650       250
9    Salle de bain  None  [450, 350]        BRC       450       350
10       Toilettes  None  [450, 250]        BRC       450       250
11       Toilettes  None  [350, 350]        BRC       350       350
12         Chambre  None  [275, 150]        TLC       275       150
13         Chambre  None  [150, 390]        TLC       150       390

       corner cornertype  x_corner  y_corner
0   [150, 50]        TLC       150        50
1  [650, 450]        BRC       650       450
2  [650, 350]        BRC       650       350
3  [450, 350]        BRC       450       350
4  [150, 150]        TLC       150       150

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Salle à manger,None,"[350, 50]",TLC,350,50,NaN,NaN
5,Salle à manger,None,"[150, 150]",TLC,150,150,"[150, 150]",TLC
6,Cuisine,None,"[650, 350]",BRC,650,350,"[650, 350]",BRC
7,Cuisine,None,"[450, 450]",BRC,450,450,NaN,NaN
8,Salle de bain,None,"[650, 250]",BRC,650,250,NaN,NaN
9,Salle de bain,None,"[450, 350]",BRC,450,350,"[450, 350]",BRC
10,Toilettes,None,"[450, 250]",BRC,450,250,NaN,NaN
11,Toilettes,None,"[350, 350]",BRC,350,350,NaN,NaN
12,Chambre,None,"[275, 150]",TLC,275,150,NaN,NaN
13,Chambre,None,"[150, 390]",TLC,150,390,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [275, 150]          TLC     2
2         Chambre  None  [150, 390]          TLC     2
3         Cuisine  None  [450, 450]          BRC     3
4   Salle de bain  None  [650, 250]          BRC     4
5       Toilettes  None  [450, 250]          BRC     5
6       Toilettes  None  [350, 350]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes
Chambre Appartement
Chambre Appartement

 Chambre

Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes
Chambre Appartement
Chambre Appartement
VERTICAL
Chambre Appartement 60
Changé:  150 150 125 300
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [275, 150]          TLC     2
2         Chambre  None  [275, 450]          BLC     2
3         Cuisine  None  [450, 450]          BRC     3
4   Salle de bain  None  [650, 250]          BRC     4
5       Toilettes  None  [450, 250]          BRC     5
6       Toilettes  None  [350, 350]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Cuisine

Cuisine Salle à manger
Cuisine Chambre
Cuisine Chambre
HORIZONTAL
Cuisine Chambre 175
Chambre Toilettes close edge lr
Changé:  150 150 300 300
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [275, 150]          TLC     2
2         Chambre  None  [275, 450]          BLC     2
3         Cuisine  None  [150, 150]          BLC     3
4   Salle de bain  None  [650, 250]          BRC     4
5       Toilettes  None  [450, 250]          BRC     5
6       Toilettes  None  [350, 350]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [275, 150]          TLC     2
2         Chambre  None  [275, 450]          BLC     2
3         Cuisine  None  [450, 450]          BRC     3
4   Salle de bain  None  [650, 250]          BRC     4
5       Toilettes  None  [450, 250]          BRC     5
6       Toilettes  None  [350, 350]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 150 125 300
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement
HORIZONTAL
Cuisine Appartement 300
Cuisine Chambre close edge lr
Changé:  150 350 500 100
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [275, 150]          TLC     2
2         Chambre  None  [275, 450]          BLC     2
3         Cuisine  None  [150, 350]          BLC     3
4   Salle de bain  None  [650, 250]          BRC     4
5       Toilettes  None  [450, 250]          BRC     5
6       Toilettes  None  [350, 350]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [275, 150]          TLC     2
2         Chambre  None  [275, 450]          BLC     2
3         Cuisine  None  [450, 450]          BRC     3
4   Salle de bain  None  [650, 250]          BRC     4
5       Toilettes  None  [450, 250]          BRC     5
6       Toilettes  None  [350, 350]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  450 350 200 100

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement
VERTICAL
Salle de bain Appartement 200
Changé:  450 50 200 300
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [275, 150]          TLC     2
2         Chambre  None  [275, 450]          BLC     2
3         Cuisine  None  [450, 450]          BRC     3
4   Salle de bain  None   [450, 50]          TRC     4
5       Toilettes  None  [450, 250]          BRC     5
6       Toilettes  None  [350, 350]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Chambre
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Chambre
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Chambre
Appartement Chambre
Appartement Cuisine
Appartement Salle de bain
Appartement Toilettes
Appartement Toilettes

 Appartement

Appartement Salle à manger
Appartement Chambre
Appartement Chambre
HORIZONTAL
Appartement Chambre 125
Chambre Toilettes close edge lr
Changé:  150 150 250 300
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [275, 150]          TLC     2
2         Chambre  None  [275, 450]          BLC     2
3         Cuisine  None  [450, 450]          BRC     3
4   Salle de bain  None   [450, 50]          TRC     4
5       Toilettes  None  [450, 250]          BRC     5
6       Toilettes  None  [350, 350]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 150]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [275, 150]          TLC     2
2         Chambre  None  [275, 450]          BLC     2
3         Cuisine  None  [450, 450]          BRC     3
4   Salle de bain  None   [450, 50]          TRC     4
5       Toilettes  None  [450, 250]          BRC     5
6       Toilettes  None  [350, 350]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 150 125 300
Appartement Cuisine
HORIZONTAL
Appartement Cuisine 300
Cuisine Chambre close edge lr
Changé:  150 350 500 100
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [275, 150]          TLC     2
2         Chambre  None  [275, 450]          BLC     2
3         Cuisine  None  [450, 450]          BRC     3
4   Salle de bain  None   [450, 50]          TRC     4
5       Toilettes  None  [450, 250]          BRC     5
6       Toilettes  None  [350, 350]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 350]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [350, 50]          TLC     1
1         Chambre  None  [275, 150]          TLC     2
2         Chambre  None  [275, 450]          BLC     2
3         Cuisine  None  [450, 450]          BRC     3
4   Salle de bain  None   [450, 50]          TRC     4
5       Toilettes  None  [450, 250]          BRC     5
6       Toilettes  None  [350, 350]          BRC     5
7     Appartement  None   [650, 50]          TRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  450 350 200 100
Appartement Salle de bain
Appartement Toilettes
Appartement Toilettes
[[150, 390], [650, 250]]
0
Chambre Toilettes close edge tb
Chambre Salle de bain center
Chambre Salle de bain close edge lr
Chambre Salle de bain close edge lr
Cuisine Chambre close edge tb
Cuisine Toilettes close edge lr
Cuisine Chambre close edge tb
Cuisine Chambre center
Cuisine Chambre close edge tb
Cuisine Salle de bain close edge lr
Cuisine Toilettes close edge lr
Cuisine Salle de bain close edge tb
Salle à manger Chambre close edge tb
Salle à manger Chambre close edge lr
Salle à manger Salle de bain close edge tb
Salle à manger Chambre close edge tb
Salle à manger Cuisine center
Salle à manger Chambre close edge tb
Salle à manger Chambre center
Salle à manger Chambre close edge lr
Salle à manger Cuisine center

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [150, 250, BLC]   Salle de bain  None
5   [300, 450, BLC]   Salle de bain  None
6   [650, 350, BRC]       Toilettes  None
7   [550, 450, BRC]       Toilettes  None
8   [150, 150, BLC]         Chambre  None
9   [550, 250, BLC]         Chambre  None
10   [650, 50, BRC]         Cuisine  None
11  [550, 350, BRC]         Cuisine  None
12  [550, 250, BRC]  Salle à manger  None
13  [450, 450, BRC]  Salle à manger  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4    Salle de bain  None  [150, 250]        BLC       150       250
5    Salle de bain  None  [300, 450]        BLC       300       450
6        Toilettes  None  [650, 350]        BRC       650       350
7        Toilettes  None  [550, 450]        BRC       550       450
8          Chambre  None  [150, 150]        BLC       150       150
9          Chambre  None  [550, 250]        BLC       550       250
10         Cuisine  None   [650, 50]        BRC       650        50
11         Cuisine  None  [550, 350]        BRC       550       350
12  Salle à manger  None  [550, 250]        BRC       550       250
13  Salle à manger  None  [450, 450]        BRC       450       450

       corner cornertype  x_corner  y_corner
0  [150, 450]        BLC       150       450
1  [650, 450]        BRC       650       450
2  [150, 250]        BLC       150       250
3   [650, 50]        TRC       650        50
4  [650, 350]        BRC       650       350
5  [550, 450]        BRC       550       450

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,NaN,NaN
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,Cuisine,None,"[650, 50]",BRC,650,50,"[650, 50]",TRC
3,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
4,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
5,Salle de bain,None,"[150, 250]",BLC,150,250,"[150, 250]",BLC
6,Salle de bain,None,"[300, 450]",BLC,300,450,NaN,NaN
7,Toilettes,None,"[650, 350]",BRC,650,350,"[650, 350]",BRC
8,Toilettes,None,"[550, 450]",BRC,550,450,"[550, 450]",BRC
9,Chambre,None,"[150, 150]",BLC,150,150,NaN,NaN
10,Chambre,None,"[550, 250]",BLC,550,250,NaN,NaN
11,Salle à manger,None,"[550, 250]",BRC,550,250,NaN,NaN
12,Cuisine,None,"[550, 350]",BRC,550,350,NaN,NaN
13,Salle à manger,None,"[450, 450]",BRC,450,450,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 250]          BRC     1
1  Salle à manger  None  [450, 450]          BRC     1
2         Chambre  None  [150, 150]          BLC     2
3         Chambre  None  [550, 250]          BLC     2
4         Cuisine  None  [550, 350]          BRC     3
5   Salle de bain  None  [300, 450]          BLC     4
6     Appartement  None   [150, 50]          TLC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Appartement

 Salle à manger

Salle à manger Chambre
Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain
HORIZONTAL
Salle à manger Salle de bain 150
Changé:  300 250 250 200
0 0 0
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain
Chambre Appartement
VERTICAL
Chambre Appartement 100
Changé:  150 50 400 200
0 0 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 250]          BRC     1
1  Salle à manger  None  [300, 250]          BLC     1
2         Chambre  None   [550, 50]          TLC     2
3         Chambre  None  [550, 250]          BLC     2
4         Cuisine  None  [550, 350]          BRC     3
5   Salle de bain  None  [300, 450]          BLC     4
6     Appartement  None   [150, 50]          TLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 250]          BRC     1
1  Salle à manger  None  [300, 250]          BLC     1
2         Chambre  None  [150, 150]          BLC     2
3         Chambre  None  [550, 250]          BLC     2
4         Cuisine  None  [550, 350]          BRC     3
5   Salle de bain  None  [300, 450]          BLC     4
6     Appartement  None   [150, 50]          TLC  1000

Ancien:  150 150 400 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 250]          BRC     1
1  Salle à manger  None  [300, 250]          BLC     1
2         Chambre  None  [150, 150]          BLC     2
3         Chambre  None  [550, 250]          BLC     2
4         Cuisine  None  [550, 350]          BRC     3
5   Salle de bain  None  [300, 450]          BLC     4
6     Appartement  None   [150, 50]          TLC  1000

 Chambre

Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain
Chambre Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Chambre
Cuisine Salle de bain
Cuisine Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Appartement

 Appartement

Appartement Salle à manger
Appartement Salle à manger
Appartement Chambre
VERTICAL
Appartement Chambre 100
Changé:  150 50 400 200
0 0 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 250]          BRC     1
1  Salle à manger  None  [300, 250]          BLC     1
2         Chambre  None  [150, 150]          BLC     2
3         Chambre  None  [550, 250]          BLC     2
4         Cuisine  None  [550, 350]          BRC     3
5   Salle de bain  None  [300, 450]          BLC     4
6     Appartement  None   [550, 50]          TLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 250]          BRC     1
1  Salle à manger  None  [300, 250]          BLC     1
2         Chambre  None  [150, 150]          BLC     2
3         Chambre  None  [550, 250]          BLC     2
4         Cuisine  None  [550, 350]          BRC     3
5   Salle de bain  None  [300, 450]          BLC     4
6     Appartement  None   [150, 50]          TLC  1000

Ancien:  150 150 400 100
Appartement Chambre
Appartement Cuisine
Appartement Salle de bain
[[450, 450]]
1

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,NaN,NaN
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,Cuisine,None,"[650, 50]",BRC,650,50,"[650, 50]",TRC
3,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
4,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
5,Salle de bain,None,"[150, 250]",BLC,150,250,"[150, 250]",BLC
6,Salle de bain,None,"[300, 450]",BLC,300,450,NaN,NaN
7,Toilettes,None,"[650, 350]",BRC,650,350,"[650, 350]",BRC
8,Toilettes,None,"[550, 450]",BRC,550,450,"[550, 450]",BRC
9,Chambre,None,"[150, 150]",BLC,150,150,NaN,NaN
10,Chambre,None,"[550, 250]",BLC,550,250,NaN,NaN
11,Salle à manger,None,"[550, 250]",BRC,550,250,NaN,NaN
12,Cuisine,None,"[550, 350]",BRC,550,350,NaN,NaN
13,Salle à manger,None,"[450, 450]",BRC,450,450,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 250]          BRC     1
1  Salle à manger  None  [450, 450]          BRC     1
2         Chambre  None  [150, 150]          BLC     2
3         Chambre  None  [550, 250]          BLC     2
4         Cuisine  None  [550, 350]          BRC     3
5   Salle de bain  None  [300, 450]          BLC     4
6     Appartement  None   [150, 50]          TLC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Appartement

 Salle à manger

Salle à manger Chambre
Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain
Chambre Appartement
VERTICAL
Chambre Appartement 100
Changé:  150 50 400 200
0 0 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 250]          BRC     1
1  Salle à manger  None  [450, 450]          BRC     1
2         Chambre  None   [550, 50]          TLC     2
3         Chambre  None  [550, 250]          BLC     2
4         Cuisine  None  [550, 350]          BRC     3
5   Salle de bain  None  [300, 450]          BLC     4
6     Appartement  None   [150, 50]          TLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 250]          BRC     1
1  Salle à manger  None  [450, 450]          BRC     1
2         Chambre  None  [150, 150]          BLC     2
3         Chambre  None  [550, 250]          BLC     2
4         Cuisine  None  [550, 350]          BRC     3
5   Salle de bain  None  [300, 450]          BLC     4
6     Appartement  None   [150, 50]          TLC  1000

Ancien:  150 150 400 100

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 250]          BRC     1
1  Salle à manger  None  [450, 450]          BRC     1
2         Chambre  None  [150, 150]          BLC     2
3         Chambre  None  [550, 250]          BLC     2
4         Cuisine  None  [550, 350]          BRC     3
5   Salle de bain  None  [300, 450]          BLC     4
6     Appartement  None   [150, 50]          TLC  1000

 Chambre

Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain
Chambre Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Chambre
Cuisine Salle de bain
Cuisine Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Appartement

 Appartement

Appartement Salle à manger
Appartement Salle à manger
Appartement Chambre
VERTICAL
Appartement Chambre 100
Changé:  150 50 400 200
0 0 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 250]          BRC     1
1  Salle à manger  None  [450, 450]          BRC     1
2         Chambre  None  [150, 150]          BLC     2
3         Chambre  None  [550, 250]          BLC     2
4         Cuisine  None  [550, 350]          BRC     3
5   Salle de bain  None  [300, 450]          BLC     4
6     Appartement  None   [550, 50]          TLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [550, 250]          BRC     1
1  Salle à manger  None  [450, 450]          BRC     1
2         Chambre  None  [150, 150]          BLC     2
3         Chambre  None  [550, 250]          BLC     2
4         Cuisine  None  [550, 350]          BRC     3
5   Salle de bain  None  [300, 450]          BLC     4
6     Appartement  None   [150, 50]          TLC  1000

Ancien:  150 150 400 100
Appartement Chambre
Appartement Cuisine
Appartement Salle de bain
[[450, 450]]
0
Chambre Salle à manger center
Chambre Toilettes center

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [650, 325, BRC]         Cuisine  None
5   [330, 450, BRC]         Cuisine  None
6   [150, 350, BLC]       Toilettes  None
7   [250, 450, BLC]       Toilettes  None
8    [550, 50, TRC]   Salle de bain  None
9   [650, 150, TRC]   Salle de bain  None
10   [270, 50, TLC]  Salle à manger  None
11  [150, 300, TLC]  Salle à manger  None
12   [425, 50, TRC]         Chambre  None
13  [550, 290, TRC]         Chambre  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Cuisine  None  [650, 325]        BRC       650       325
5          Cuisine  None  [330, 450]        BRC       330       450
6        Toilettes  None  [150, 350]        BLC       150       350
7        Toilettes  None  [250, 450]        BLC       250       450
8    Salle de bain  None   [550, 50]        TRC       550        50
9    Salle de bain  None  [650, 150]        TRC       650       150
10  Salle à manger  None   [270, 50]        TLC       270        50
11  Salle à manger  None  [150, 300]        TLC       150       300
12         Chambre  None   [425, 50]        TRC       425        50
13         Chambre  None  [550, 290]        TRC       550       290

       corner cornertype  x_corner  y_corner
0  [650, 450]        BRC       650       450
1  [150, 450]        BLC       150       450
2   [650, 50]        TRC       650        50
3   [150, 50]        TLC       150        50
4   [550, 50]        TRC       550        50

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Cuisine,None,"[650, 325]",BRC,650,325,NaN,NaN
5,Cuisine,None,"[330, 450]",BRC,330,450,NaN,NaN
6,Toilettes,None,"[150, 350]",BLC,150,350,NaN,NaN
7,Toilettes,None,"[250, 450]",BLC,250,450,NaN,NaN
8,Salle de bain,None,"[550, 50]",TRC,550,50,"[550, 50]",TRC
9,Salle de bain,None,"[650, 150]",TRC,650,150,NaN,NaN
10,Salle à manger,None,"[270, 50]",TLC,270,50,NaN,NaN
11,Salle à manger,None,"[150, 300]",TLC,150,300,NaN,NaN
12,Chambre,None,"[425, 50]",TRC,425,50,NaN,NaN
13,Chambre,None,"[550, 290]",TRC,550,290,NaN,NaN

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [270, 50]          TLC    1
1  Salle à manger  None  [150, 300]          TLC    1
2         Chambre  None   [425, 50]          TRC    2
3         Chambre  None  [550, 290]          TRC    2
4         Cuisine  None  [650, 325]          BRC    3
5         Cuisine  None  [330, 450]          BRC    3
6   Salle de bain  None  [650, 150]          TRC    4
7       Toilettes  None  [150, 350]          BLC    5
8       Toilettes  None  [250, 450]          BLC    5

 Salle à manger

Salle à manger Chambre
Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes

 Salle à manger

Salle à manger Chambre
Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
VERTICAL
Salle à manger Toilettes 50
Changé:  150 50 120 300
0 0 0

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [270, 50]          TLC    1
1  Salle à manger  None  [270, 350]          BLC    1
2         Chambre  None   [425, 50]          TRC    2
3         Chambre  None  [550, 290]          TRC    2
4         Cuisine  None  [650, 325]          BRC    3
5         Cuisine  None  [330, 450]          BRC    3
6   Salle de bain  None  [650, 150]          TRC    4
7       Toilettes  None  [150, 350]          BLC    5
8       Toilettes  None  [250, 450]          BLC    5

Salle à manger Toilettes

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Chambre
Cuisine Salle de bain
VERTICAL
Cuisine Salle de bain 175
Cuisine Chambre close edge tb
Changé:  330 150 320 300
0 1 0

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [270, 50]          TLC    1
1  Salle à manger  None  [270, 350]          BLC    1
2         Chambre  None   [425, 50]          TRC    2
3         Chambre  None  [550, 290]          TRC    2
4         Cuisine  None  [330, 150]          TRC    3
5         Cuisine  None  [330, 450]          BRC    3
6   Salle de bain  None  [650, 150]          TRC    4
7       Toilettes  None  [150, 350]          BLC    5
8       Toilettes  None  [250, 450]          BLC    5

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [270, 50]          TLC    1
1  Salle à manger  None  [270, 350]          BLC    1
2         Chambre  None   [425, 50]          TRC    2
3         Chambre  None  [550, 290]          TRC    2
4         Cuisine  None  [650, 325]          BRC    3
5         Cuisine  None  [330, 450]          BRC    3
6   Salle de bain  None  [650, 150]          TRC    4
7       Toilettes  None  [150, 350]          BLC    5
8       Toilettes  None  [250, 450]          BLC    5

Ancien:  330 325 320 125

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [270, 50]          TLC    1
1  Salle à manger  None  [270, 350]          BLC    1
2         Chambre  None   [425, 50]          TRC    2
3         Chambre  None  [550, 290]          TRC    2
4         Cuisine  None  [650, 325]          BRC    3
5         Cuisine  None  [330, 450]          BRC    3
6   Salle de bain  None  [650, 150]          TRC    4
7       Toilettes  None  [150, 350]          BLC    5
8       Toilettes  None  [250, 450]          BLC    5

Changé:  550 50 100 275
0 0 0
Cuisine Toilettes
Cuisine Toilettes

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Chambre
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes
HORIZONTAL
Cuisine Toilettes 80
Changé:  250 325 400 125
0 0 1

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [270, 50]          TLC    1
1  Salle à manger  None  [270, 350]          BLC    1
2         Chambre  None   [425, 50]          TRC    2
3         Chambre  None  [550, 290]          TRC    2
4         Cuisine  None  [550, 325]          BRC    3
5         Cuisine  None  [250, 325]          BLC    3
6   Salle de bain  None  [650, 150]          TRC    4
7       Toilettes  None  [150, 350]          BLC    5
8       Toilettes  None  [250, 450]          BLC    5

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [270, 50]          TLC    1
1  Salle à manger  None  [270, 350]          BLC    1
2         Chambre  None   [425, 50]          TRC    2
3         Chambre  None  [550, 290]          TRC    2
4         Cuisine  None  [550, 325]          BRC    3
5         Cuisine  None  [330, 450]          BRC    3
6   Salle de bain  None  [650, 150]          TRC    4
7       Toilettes  None  [150, 350]          BLC    5
8       Toilettes  None  [250, 450]          BLC    5

Ancien:  330 325 320 125
Changé:  150 350 180 100
0 0 0

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Chambre
Toilettes Cuisine
Toilettes Salle de bain

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
[[150, 300], [650, 150], [250, 450]]
1

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Cuisine,None,"[650, 325]",BRC,650,325,NaN,NaN
5,Cuisine,None,"[330, 450]",BRC,330,450,NaN,NaN
6,Toilettes,None,"[150, 350]",BLC,150,350,NaN,NaN
7,Toilettes,None,"[250, 450]",BLC,250,450,NaN,NaN
8,Salle de bain,None,"[550, 50]",TRC,550,50,"[550, 50]",TRC
9,Salle de bain,None,"[650, 150]",TRC,650,150,NaN,NaN
10,Salle à manger,None,"[270, 50]",TLC,270,50,NaN,NaN
11,Salle à manger,None,"[150, 300]",TLC,150,300,NaN,NaN
12,Chambre,None,"[425, 50]",TRC,425,50,NaN,NaN
13,Chambre,None,"[550, 290]",TRC,550,290,NaN,NaN

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [270, 50]          TLC    1
1  Salle à manger  None  [150, 300]          TLC    1
2         Chambre  None   [425, 50]          TRC    2
3         Chambre  None  [550, 290]          TRC    2
4         Cuisine  None  [650, 325]          BRC    3
5         Cuisine  None  [330, 450]          BRC    3
6   Salle de bain  None  [650, 150]          TRC    4
7       Toilettes  None  [150, 350]          BLC    5
8       Toilettes  None  [250, 450]          BLC    5

 Salle à manger

Salle à manger Chambre
Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes

 Salle à manger

Salle à manger Chambre
Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Chambre
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Chambre
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
[[150, 300], [650, 150], [250, 450]]
0
Cuisine Entrée close edge lr
Salle de bain Cuisine center
Salle de bain Toilettes center

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [650, 130, BRC]         Chambre  None
5   [525, 450, BRC]         Chambre  None
6   [525, 200, BRC]  Salle à manger  None
7   [405, 450, BRC]  Salle à manger  None
8    [250, 50, TLC]       Toilettes  None
9   [150, 150, TLC]       Toilettes  None
10  [150, 200, BLC]         Cuisine  None
11  [270, 450, BLC]         Cuisine  None
12  [270, 200, BLC]   Salle de bain  None
13  [390, 450, BLC]   Salle de bain  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Chambre  None  [650, 130]        BRC       650       130
5          Chambre  None  [525, 450]        BRC       525       450
6   Salle à manger  None  [525, 200]        BRC       525       200
7   Salle à manger  None  [405, 450]        BRC       405       450
8        Toilettes  None   [250, 50]        TLC       250        50
9        Toilettes  None  [150, 150]        TLC       150       150
10         Cuisine  None  [150, 200]        BLC       150       200
11         Cuisine  None  [270, 450]        BLC       270       450
12   Salle de bain  None  [270, 200]        BLC       270       200
13   Salle de bain  None  [390, 450]        BLC       390       450

       corner cornertype  x_corner  y_corner
0  [650, 450]        BRC       650       450
1  [525, 450]        BRC       525       450
2   [150, 50]        TLC       150        50
3  [150, 450]        BLC       150       450
4  [270, 450]        BLC       270       450

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Chambre,None,"[650, 130]",BRC,650,130,NaN,NaN
5,Chambre,None,"[525, 450]",BRC,525,450,"[525, 450]",BRC
6,Salle à manger,None,"[525, 200]",BRC,525,200,NaN,NaN
7,Salle à manger,None,"[405, 450]",BRC,405,450,NaN,NaN
8,Toilettes,None,"[250, 50]",TLC,250,50,NaN,NaN
9,Toilettes,None,"[150, 150]",TLC,150,150,NaN,NaN
10,Cuisine,None,"[150, 200]",BLC,150,200,NaN,NaN
11,Cuisine,None,"[270, 450]",BLC,270,450,"[270, 450]",BLC
12,Salle de bain,None,"[270, 200]",BLC,270,200,NaN,NaN
13,Salle de bain,None,"[390, 450]",BLC,390,450,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 200]          BRC     1
1  Salle à manger  None  [405, 450]          BRC     1
2         Chambre  None  [650, 130]          BRC     2
3         Cuisine  None  [150, 200]          BLC     3
4   Salle de bain  None  [270, 200]          BLC     4
5   Salle de bain  None  [390, 450]          BLC     4
6       Toilettes  None   [250, 50]          TLC     5
7       Toilettes  None  [150, 150]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Salle de bain
HORIZONTAL
Salle à manger Salle de bain 15
Changé:  390 200 135 250
0 0 0
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes
Chambre Appartement
VERTICAL
Chambre Appartement 80
Changé:  525 50 125 400
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 200]          BRC     1
1  Salle à manger  None  [390, 200]          BLC     1
2         Chambre  None   [525, 50]          TRC     2
3         Cuisine  None  [150, 200]          BLC     3
4   Salle de bain  None  [270, 200]          BLC     4
5   Salle de bain  None  [390, 450]          BLC     4
6       Toilettes  None   [250, 50]          TLC     5
7       Toilettes  None  [150, 150]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes
VERTICAL
Cuisine Toilettes 50
Changé:  150 150 120 300
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 200]          BRC     1
1  Salle à manger  None  [390, 200]          BLC     1
2         Chambre  None   [525, 50]          TRC     2
3         Cuisine  None  [270, 150]          TLC     3
4   Salle de bain  None  [270, 200]          BLC     4
5   Salle de bain  None  [390, 450]          BLC     4
6       Toilettes  None   [250, 50]          TLC     5
7       Toilettes  None  [150, 150]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

Cuisine Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain
Toilettes Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Salle à manger
Appartement Chambre
Appartement Cuisine
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes
Appartement Toilettes
[[405, 450], [650, 130], [150, 200]]
1

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,NaN,NaN
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Chambre,None,"[650, 130]",BRC,650,130,NaN,NaN
5,Chambre,None,"[525, 450]",BRC,525,450,"[525, 450]",BRC
6,Salle à manger,None,"[525, 200]",BRC,525,200,NaN,NaN
7,Salle à manger,None,"[405, 450]",BRC,405,450,NaN,NaN
8,Toilettes,None,"[250, 50]",TLC,250,50,NaN,NaN
9,Toilettes,None,"[150, 150]",TLC,150,150,NaN,NaN
10,Cuisine,None,"[150, 200]",BLC,150,200,NaN,NaN
11,Cuisine,None,"[270, 450]",BLC,270,450,"[270, 450]",BLC
12,Salle de bain,None,"[270, 200]",BLC,270,200,NaN,NaN
13,Salle de bain,None,"[390, 450]",BLC,390,450,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [525, 200]          BRC     1
1  Salle à manger  None  [405, 450]          BRC     1
2         Chambre  None  [650, 130]          BRC     2
3         Cuisine  None  [150, 200]          BLC     3
4   Salle de bain  None  [270, 200]          BLC     4
5   Salle de bain  None  [390, 450]          BLC     4
6       Toilettes  None   [250, 50]          TLC     5
7       Toilettes  None  [150, 150]          TLC     5
8     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes
Chambre Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain
Toilettes Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Salle à manger
Appartement Chambre
Appartement Cuisine
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes
Appartement Toilettes
[[405, 450], [650, 130], [150, 200]]
0
Salle de bain Chambre close edge lr

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [275, 50, TLC]  Salle à manger  None
5   [150, 210, TLC]  Salle à manger  None
6    [530, 50, TRC]         Chambre  None
7   [650, 300, TRC]         Chambre  None
8   [390, 210, TLC]         Cuisine  None
9   [150, 335, TLC]         Cuisine  None
10  [250, 335, TLC]       Toilettes  None
11  [150, 435, TLC]       Toilettes  None
12  [450, 300, TRC]   Salle de bain  None
13  [650, 400, TRC]   Salle de bain  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4   Salle à manger  None   [275, 50]        TLC       275        50
5   Salle à manger  None  [150, 210]        TLC       150       210
6          Chambre  None   [530, 50]        TRC       530        50
7          Chambre  None  [650, 300]        TRC       650       300
8          Cuisine  None  [390, 210]        TLC       390       210
9          Cuisine  None  [150, 335]        TLC       150       335
10       Toilettes  None  [250, 335]        TLC       250       335
11       Toilettes  None  [150, 435]        TLC       150       435
12   Salle de bain  None  [450, 300]        TRC       450       300
13   Salle de bain  None  [650, 400]        TRC       650       400

       corner cornertype  x_corner  y_corner
0   [150, 50]        TLC       150        50
1   [650, 50]        TRC       650        50
2  [150, 210]        TLC       150       210
3  [150, 335]        TLC       150       335
4  [650, 300]        TRC       650       300

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Salle à manger,None,"[275, 50]",TLC,275,50,NaN,NaN
5,Salle à manger,None,"[150, 210]",TLC,150,210,"[150, 210]",TLC
6,Chambre,None,"[530, 50]",TRC,530,50,NaN,NaN
7,Chambre,None,"[650, 300]",TRC,650,300,"[650, 300]",TRC
8,Cuisine,None,"[390, 210]",TLC,390,210,NaN,NaN
9,Cuisine,None,"[150, 335]",TLC,150,335,"[150, 335]",TLC
10,Toilettes,None,"[250, 335]",TLC,250,335,NaN,NaN
11,Toilettes,None,"[150, 435]",TLC,150,435,NaN,NaN
12,Salle de bain,None,"[450, 300]",TRC,450,300,NaN,NaN
13,Salle de bain,None,"[650, 400]",TRC,650,400,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1         Chambre  None   [530, 50]          TRC     2
2         Cuisine  None  [390, 210]          TLC     3
3   Salle de bain  None  [450, 300]          TRC     4
4   Salle de bain  None  [650, 400]          TRC     4
5       Toilettes  None  [250, 335]          TLC     5
6       Toilettes  None  [150, 435]          TLC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes
Chambre Appartement
Chambre Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement
VERTICAL
Salle de bain Appartement 50
Changé:  450 300 200 150
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1         Chambre  None   [530, 50]          TRC     2
2         Cuisine  None  [390, 210]          TLC     3
3   Salle de bain  None  [450, 300]          TRC     4
4   Salle de bain  None  [450, 450]          BRC     4
5       Toilettes  None  [250, 335]          TLC     5
6       Toilettes  None  [150, 435]          TLC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement
VERTICAL
Toilettes Appartement 15
Changé:  150 335 100 115
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1         Chambre  None   [530, 50]          TRC     2
2         Cuisine  None  [390, 210]          TLC     3
3   Salle de bain  None  [450, 300]          TRC     4
4   Salle de bain  None  [450, 450]          BRC     4
5       Toilettes  None  [250, 335]          TLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Appartement

Appartement Salle à manger
Appartement Chambre
Appartement Cuisine
Appartement Salle de bain
Appartement Salle de bain
HORIZONTAL
Appartement Salle de bain 200
Changé:  250 300 400 150
0 0 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1         Chambre  None   [530, 50]          TRC     2
2         Cuisine  None  [390, 210]          TLC     3
3   Salle de bain  None  [450, 300]          TRC     4
4   Salle de bain  None  [450, 450]          BRC     4
5       Toilettes  None  [250, 335]          TLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None  [250, 300]          BLC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1         Chambre  None   [530, 50]          TRC     2
2         Cuisine  None  [390, 210]          TLC     3
3   Salle de bain  None  [450, 300]          TRC     4
4   Salle de bain  None  [450, 450]          BRC     4
5       Toilettes  None  [250, 335]          TLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  450 300 200 150
Appartement Toilettes
Appartement Toilettes
HORIZONTAL
Appartement Toilettes 400
Toilettes Salle de bain close edge lr
Changé:  150 335 500 115
0 1 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1         Chambre  None   [530, 50]          TRC     2
2         Cuisine  None  [390, 210]          TLC     3
3   Salle de bain  None  [450, 300]          TRC     4
4   Salle de bain  None  [450, 450]          BRC     4
5       Toilettes  None  [250, 335]          TLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None  [150, 335]          BLC  1000
8     Appartement  None  [150, 450]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1         Chambre  None   [530, 50]          TRC     2
2         Cuisine  None  [390, 210]          TLC     3
3   Salle de bain  None  [450, 300]          TRC     4
4   Salle de bain  None  [450, 450]          BRC     4
5       Toilettes  None  [250, 335]          TLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  150 335 100 115

 Appartement

Appartement Salle à manger
Appartement Chambre
Appartement Cuisine
Appartement Salle de bain
Appartement Salle de bain
HORIZONTAL
Appartement Salle de bain 300
Salle de bain Toilettes close edge lr
Changé:  150 300 500 150
0 1 1

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1         Chambre  None   [530, 50]          TRC     2
2         Cuisine  None  [390, 210]          TLC     3
3   Salle de bain  None  [450, 300]          TRC     4
4   Salle de bain  None  [450, 450]          BRC     4
5       Toilettes  None  [250, 335]          TLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 300]          BLC  1000

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1         Chambre  None   [530, 50]          TRC     2
2         Cuisine  None  [390, 210]          TLC     3
3   Salle de bain  None  [450, 300]          TRC     4
4   Salle de bain  None  [450, 450]          BRC     4
5       Toilettes  None  [250, 335]          TLC     5
6       Toilettes  None  [250, 450]          BLC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

Ancien:  450 300 200 150
Appartement Toilettes
Appartement Toilettes
HORIZONTAL
Appartement Toilettes 100
Changé:  150 335 200 115
0 0 0
[[650, 400], [150, 435], [250, 450]]
1

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,NaN,NaN
3,None,None,"[150, 450]",BLC,150,450,NaN,NaN
4,Salle à manger,None,"[275, 50]",TLC,275,50,NaN,NaN
5,Salle à manger,None,"[150, 210]",TLC,150,210,"[150, 210]",TLC
6,Chambre,None,"[530, 50]",TRC,530,50,NaN,NaN
7,Chambre,None,"[650, 300]",TRC,650,300,"[650, 300]",TRC
8,Cuisine,None,"[390, 210]",TLC,390,210,NaN,NaN
9,Cuisine,None,"[150, 335]",TLC,150,335,"[150, 335]",TLC
10,Toilettes,None,"[250, 335]",TLC,250,335,NaN,NaN
11,Toilettes,None,"[150, 435]",TLC,150,435,NaN,NaN
12,Salle de bain,None,"[450, 300]",TRC,450,300,NaN,NaN
13,Salle de bain,None,"[650, 400]",TRC,650,400,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None   [275, 50]          TLC     1
1         Chambre  None   [530, 50]          TRC     2
2         Cuisine  None  [390, 210]          TLC     3
3   Salle de bain  None  [450, 300]          TRC     4
4   Salle de bain  None  [650, 400]          TRC     4
5       Toilettes  None  [250, 335]          TLC     5
6       Toilettes  None  [150, 435]          TLC     5
7     Appartement  None  [650, 450]          BRC  1000
8     Appartement  None  [150, 450]          BLC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Toilettes
Salle à manger Appartement
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain
Chambre Salle de bain
Chambre Toilettes
Chambre Toilettes
Chambre Appartement
Chambre Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Toilettes
Cuisine Appartement
Cuisine Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Toilettes
Salle de bain Appartement
Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Salle de bain
Toilettes Appartement
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Chambre
Appartement Cuisine
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes
Appartement Toilettes

 Appartement

Appartement Salle à manger
Appartement Chambre
Appartement Cuisine
Appartement Salle de bain
Appartement Salle de bain
Appartement Toilettes
Appartement Toilettes
[[650, 400], [150, 435], [250, 450]]
0
Salle à manger Salle de bain close edge lr
Chambre Salle à manger close edge tb
Chambre Salle à manger center
Chambre Salle à manger close edge tb
Chambre Salle de bain center

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4    [250, 50, TLC]         Cuisine  None
5   [150, 350, TLC]         Cuisine  None
6    [490, 50, TRC]   Salle de bain  None
7   [650, 175, TRC]   Salle de bain  None
8   [250, 350, TLC]       Toilettes  None
9   [150, 450, TLC]       Toilettes  None
10  [650, 350, BRC]  Salle à manger  None
11  [250, 450, BRC]  Salle à manger  None
12  [400, 175, TRC]         Chambre  None
13  [650, 335, TRC]         Chambre  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Cuisine  None   [250, 50]        TLC       250        50
5          Cuisine  None  [150, 350]        TLC       150       350
6    Salle de bain  None   [490, 50]        TRC       490        50
7    Salle de bain  None  [650, 175]        TRC       650       175
8        Toilettes  None  [250, 350]        TLC       250       350
9        Toilettes  None  [150, 450]        TLC       150       450
10  Salle à manger  None  [650, 350]        BRC       650       350
11  Salle à manger  None  [250, 450]        BRC       250       450
12         Chambre  None  [400, 175]        TRC       400       175
13         Chambre  None  [650, 335]        TRC       650       335

       corner cornertype  x_corner  y_corner
0   [150, 50]        TLC       150        50
1   [650, 50]        TRC       650        50
2  [150, 350]        TLC       150       350
3  [150, 450]        BLC       150       450
4  [250, 350]        TLC       250       350
5  [650, 450]        BRC       650       450
6  [650, 175]        TRC       650       175

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Toilettes,None,"[150, 450]",TLC,150,450,"[150, 450]",BLC
5,Cuisine,None,"[250, 50]",TLC,250,50,NaN,NaN
6,Cuisine,None,"[150, 350]",TLC,150,350,"[150, 350]",TLC
7,Salle de bain,None,"[490, 50]",TRC,490,50,NaN,NaN
8,Salle de bain,None,"[650, 175]",TRC,650,175,"[650, 175]",TRC
9,Toilettes,None,"[250, 350]",TLC,250,350,"[250, 350]",TLC
10,Salle à manger,None,"[650, 350]",BRC,650,350,NaN,NaN
11,Salle à manger,None,"[250, 450]",BRC,250,450,NaN,NaN
12,Chambre,None,"[400, 175]",TRC,400,175,NaN,NaN
13,Chambre,None,"[650, 335]",TRC,650,335,NaN,NaN

                1     3    corner_x cornertype_x prio
0  Salle à manger  None  [650, 350]          BRC    1
1  Salle à manger  None  [250, 450]          BRC    1
2         Chambre  None  [400, 175]          TRC    2
3         Chambre  None  [650, 335]          TRC    2
4         Cuisine  None   [250, 50]          TLC    3
5   Salle de bain  None   [490, 50]          TRC    4

 Salle à manger

Salle à manger Chambre
Salle à manger Chambre
VERTICAL
Salle à manger Chambre 15
Changé:  250 335 400 115
0 0 0

                1     3    corner_x cornertype_x prio
0  Salle à manger  None  [250, 335]          TRC    1
1  Salle à manger  None  [250, 450]          BRC    1
2         Chambre  None  [400, 175]          TRC    2
3         Chambre  None  [650, 335]          TRC    2
4         Cuisine  None   [250, 50]          TLC    3
5   Salle de bain  None   [490, 50]          TRC    4

Salle à manger Cuisine
Salle à manger Salle de bain

 Salle à manger

Salle à manger Chambre
Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Salle de bain

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Salle de bain

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Chambre
Cuisine Salle de bain

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Chambre
Salle de bain Cuisine
[[650, 350]]
0

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

Chambre Salle à manger center
Chambre Salle à manger close edge lr
Chambre Entrée close edge tb
Chambre Salle de bain center
Chambre Cuisine center
Chambre Cuisine center
Chambre Entrée center
Chambre Entrée close edge lr
Chambre Cuisine center
Chambre Cuisine close edge tb
Chambre Salle à manger center
Chambre Salle de bain center
Chambre Cuisine close edge tb
Chambre Salle de bain close edge lr
Chambre Entrée close edge tb
Chambre Cuisine center
Chambre Salle à manger center
Chambre Cuisine close edge tb
Chambre Salle de bain center
Chambre Cuisine close edge tb
Chambre Salle à manger center
Chambre Salle de bain close edge tb
Chambre Entrée close edge tb
Chambre Salle de bain center
Chambre Salle à manger center
Chambre Toilettes close edge tb
Chambre Entrée close edge tb
Chambre Salle à manger center
Chambre Cuisine close edge lr
Chambre Salle de bain center
Chambre Cuisine close edge lr
Chambre Cuisine close edge lr
Chambre Salle de bain center
Chambre Salle à manger center
Chambre Cuisine close edge lr
Chambre Cuisine close edge lr
Chambre Cuisine close edge lr
Chambre Entrée close edge tb
Chambre Salle à manger close edge lr
Chambre Salle à manger center
Chambre Cuisine close edge tb
Chambre Salle de bain center
Chambre Cuisine close edge lr
Chambre Salle à manger center
Chambre Cuisine close edge lr
Chambre Salle de bain center
Chambre Cuisine close edge lr
Chambre Cuisine close edge lr
Chambre Cuisine close edge lr
Chambre Cuisine close edge lr
Chambre Salle à manger close edge lr
Chambre Entrée close edge tb
Chambre Cuisine center
Chambre Salle à manger center
Chambre Salle de bain center
Chambre Salle de bain center
Chambre Cuisine close edge tb
Chambre Salle à manger close edge lr
Chambre Cuisine center
Chambre Cuisine close edge tb
Chambre Salle à manger center
Chambre Entrée close edge tb
Chambre Cuisine close edge tb
Chambre Cuisine center
Chambre Salle de bain close edge lr
Chambre Toilettes close edge lr
Chambre Salle à manger center
Chambre Salle de bain center
Chambre Entrée close edge lr

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [650, 300, BRC]   Salle de bain  None
5   [450, 450, BRC]   Salle de bain  None
6    [250, 50, TLC]       Toilettes  None
7   [150, 150, TLC]       Toilettes  None
8    [500, 50, TRC]  Salle à manger  None
9   [650, 250, TRC]  Salle à manger  None
10   [375, 50, TLC]         Cuisine  None
11  [250, 370, TLC]         Cuisine  None
12  [150, 150, BLC]         Chambre  None
13  [250, 450, BLC]         Chambre  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4    Salle de bain  None  [650, 300]        BRC       650       300
5    Salle de bain  None  [450, 450]        BRC       450       450
6        Toilettes  None   [250, 50]        TLC       250        50
7        Toilettes  None  [150, 150]        TLC       150       150
8   Salle à manger  None   [500, 50]        TRC       500        50
9   Salle à manger  None  [650, 250]        TRC       650       250
10         Cuisine  None   [375, 50]        TLC       375        50
11         Cuisine  None  [250, 370]        TLC       250       370
12         Chambre  None  [150, 150]        BLC       150       150
13         Chambre  None  [250, 450]        BLC       250       450

       corner cornertype  x_corner  y_corner
0  [650, 450]        BRC       650       450
1   [150, 50]        TLC       150        50
2   [650, 50]        TRC       650        50
3   [250, 50]        TLC       250        50
4  [150, 150]        TLC       150       150
5  [150, 450]        BLC       150       450

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,None,None,"[650, 50]",TRC,650,50,"[650, 50]",TRC
2,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
3,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
4,Salle de bain,None,"[650, 300]",BRC,650,300,NaN,NaN
5,Salle de bain,None,"[450, 450]",BRC,450,450,NaN,NaN
6,Toilettes,None,"[250, 50]",TLC,250,50,"[250, 50]",TLC
7,Toilettes,None,"[150, 150]",TLC,150,150,"[150, 150]",TLC
8,Chambre,None,"[150, 150]",BLC,150,150,"[150, 150]",TLC
9,Salle à manger,None,"[500, 50]",TRC,500,50,NaN,NaN
10,Salle à manger,None,"[650, 250]",TRC,650,250,NaN,NaN
11,Cuisine,None,"[375, 50]",TLC,375,50,NaN,NaN
12,Cuisine,None,"[250, 370]",TLC,250,370,NaN,NaN
13,Chambre,None,"[250, 450]",BLC,250,450,NaN,NaN

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [500, 50]          TRC    1
1  Salle à manger  None  [650, 250]          TRC    1
2         Chambre  None  [250, 450]          BLC    2
3         Cuisine  None   [375, 50]          TLC    3
4         Cuisine  None  [250, 370]          TLC    3
5   Salle de bain  None  [650, 300]          BRC    4
6   Salle de bain  None  [450, 450]          BRC    4

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Salle de bain

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
VERTICAL
Salle à manger Salle de bain 50
Changé:  500 50 150 250
0 0 0

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [500, 50]          TRC    1
1  Salle à manger  None  [500, 300]          BRC    1
2         Chambre  None  [250, 450]          BLC    2
3         Cuisine  None   [375, 50]          TLC    3
4         Cuisine  None  [250, 370]          TLC    3
5   Salle de bain  None  [650, 300]          BRC    4
6   Salle de bain  None  [450, 450]          BRC    4

Salle à manger Salle de bain

 Chambre

Chambre Salle à manger
Chambre Salle à manger
Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
Chambre Salle de bain
HORIZONTAL
Chambre Salle de bain 200
Chambre Cuisine center
Changé:  150 150 300 300
0 1 0

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [500, 50]          TRC    1
1  Salle à manger  None  [500, 300]          BRC    1
2         Chambre  None  [450, 150]          BRC    2
3         Cuisine  None   [375, 50]          TLC    3
4         Cuisine  None  [250, 370]          TLC    3
5   Salle de bain  None  [650, 300]          BRC    4
6   Salle de bain  None  [450, 450]          BRC    4

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [500, 50]          TRC    1
1  Salle à manger  None  [500, 300]          BRC    1
2         Chambre  None  [250, 450]          BLC    2
3         Cuisine  None   [375, 50]          TLC    3
4         Cuisine  None  [250, 370]          TLC    3
5   Salle de bain  None  [650, 300]          BRC    4
6   Salle de bain  None  [450, 450]          BRC    4

Ancien:  150 150 100 300
Changé:  250 300 400 150
0 0 1

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [500, 50]          TRC    1
1  Salle à manger  None  [500, 300]          BRC    1
2         Chambre  None  [250, 300]          BLC    2
3         Cuisine  None   [375, 50]          TLC    3
4         Cuisine  None  [250, 370]          TLC    3
5   Salle de bain  None  [650, 300]          BRC    4
6   Salle de bain  None  [450, 450]          BRC    4

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [500, 50]          TRC    1
1  Salle à manger  None  [500, 300]          BRC    1
2         Chambre  None  [250, 450]          BLC    2
3         Cuisine  None   [375, 50]          TLC    3
4         Cuisine  None  [250, 370]          TLC    3
5   Salle de bain  None  [650, 300]          BRC    4
6   Salle de bain  None  [450, 450]          BRC    4

Ancien:  450 300 200 150

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
Cuisine Salle de bain

 Cuisine

Cuisine Salle à manger
Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
Cuisine Salle de bain

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Cuisine

 Salle de bain

Salle de bain Salle à manger
Salle de bain Salle à manger
Salle de bain Chambre
HORIZONTAL
Salle de bain Chambre 200
Chambre Cuisine center
Changé:  150 150 300 300
0 1 0

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [500, 50]          TRC    1
1  Salle à manger  None  [500, 300]          BRC    1
2         Chambre  None  [250, 450]          BLC    2
3         Cuisine  None   [375, 50]          TLC    3
4         Cuisine  None  [250, 370]          TLC    3
5   Salle de bain  None  [650, 300]          BRC    4
6   Salle de bain  None  [150, 150]          BLC    4

                1     3    corner_x cornertype_x prio
0  Salle à manger  None   [500, 50]          TRC    1
1  Salle à manger  None  [500, 300]          BRC    1
2         Chambre  None  [250, 450]          BLC    2
3         Cuisine  None   [375, 50]          TLC    3
4         Cuisine  None  [250, 370]          TLC    3
5   Salle de bain  None  [650, 300]          BRC    4
6   Salle de bain  None  [450, 450]          BRC    4

Ancien:  150 150 100 300
Salle de bain Cuisine
Salle de bain Cuisine
[[650, 250]]
0

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

Toilettes Chambre close edge tb

                  0               1     3
0    [150, 50, TLC]            None  None
1    [650, 50, TRC]            None  None
2   [650, 450, BRC]            None  None
3   [150, 450, BLC]            None  None
4   [650, 130, BRC]         Chambre  None
5   [525, 450, BRC]         Chambre  None
6   [150, 350, BLC]       Toilettes  None
7   [250, 450, BLC]       Toilettes  None
8   [525, 250, BRC]   Salle de bain  None
9   [425, 450, BRC]   Salle de bain  None
10  [425, 130, BRC]         Cuisine  None
11  [300, 450, BRC]         Cuisine  None
12   [150, 50, BLC]  Salle à manger  None
13  [250, 350, BLC]  Salle à manger  None

<ipython-input-87-52c6ef6f9e66>:569: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['corner'][i] = [elem[0],elem[1]]
<ipython-input-87-52c6ef6f9e66>:570: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['x_corner'][i] = elem[0]
<ipython-input-87-52c6ef6f9e66>:571: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['y_corner'][i] = elem[1]
<ipython-input-87-52c6ef6f9e66>:572: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tab['cornertype'][i] = elem[2]
c:\users\idavid\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

                 1     3      corner cornertype  x_corner  y_corner
0             None  None   [150, 50]        TLC       150        50
1             None  None   [650, 50]        TRC       650        50
2             None  None  [650, 450]        BRC       650       450
3             None  None  [150, 450]        BLC       150       450
4          Chambre  None  [650, 130]        BRC       650       130
5          Chambre  None  [525, 450]        BRC       525       450
6        Toilettes  None  [150, 350]        BLC       150       350
7        Toilettes  None  [250, 450]        BLC       250       450
8    Salle de bain  None  [525, 250]        BRC       525       250
9    Salle de bain  None  [425, 450]        BRC       425       450
10         Cuisine  None  [425, 130]        BRC       425       130
11         Cuisine  None  [300, 450]        BRC       300       450
12  Salle à manger  None   [150, 50]        BLC       150        50
13  Salle à manger  None  [250, 350]        BLC       250       350

       corner cornertype  x_corner  y_corner
0  [650, 450]        BRC       650       450
1  [150, 450]        BLC       150       450
2  [525, 450]        BRC       525       450
3  [425, 450]        BRC       425       450
4   [150, 50]        TLC       150        50
5  [150, 350]        BLC       150       350

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,Salle à manger,None,"[150, 50]",BLC,150,50,"[150, 50]",TLC
2,None,None,"[650, 50]",TRC,650,50,NaN,NaN
3,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
4,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
5,Chambre,None,"[650, 130]",BRC,650,130,NaN,NaN
6,Chambre,None,"[525, 450]",BRC,525,450,"[525, 450]",BRC
7,Toilettes,None,"[150, 350]",BLC,150,350,"[150, 350]",BLC
8,Toilettes,None,"[250, 450]",BLC,250,450,NaN,NaN
9,Salle de bain,None,"[525, 250]",BRC,525,250,NaN,NaN
10,Salle de bain,None,"[425, 450]",BRC,425,450,"[425, 450]",BRC
11,Cuisine,None,"[425, 130]",BRC,425,130,NaN,NaN
12,Cuisine,None,"[300, 450]",BRC,300,450,NaN,NaN
13,Salle à manger,None,"[250, 350]",BLC,250,350,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 350]          BLC     1
1         Chambre  None  [650, 130]          BRC     2
2         Cuisine  None  [425, 130]          BRC     3
3         Cuisine  None  [300, 450]          BRC     3
4   Salle de bain  None  [525, 250]          BRC     4
5       Toilettes  None  [250, 450]          BLC     5
6     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Appartement
VERTICAL
Chambre Appartement 80
Changé:  525 50 125 400
0 0 0

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 350]          BLC     1
1         Chambre  None   [525, 50]          TRC     2
2         Cuisine  None  [425, 130]          BRC     3
3         Cuisine  None  [300, 450]          BRC     3
4   Salle de bain  None  [525, 250]          BRC     4
5       Toilettes  None  [250, 450]          BLC     5
6     Appartement  None   [650, 50]          TRC  1000

 Cuisine

Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
Cuisine Toilettes
HORIZONTAL
Cuisine Toilettes 50
Changé:  250 130 175 320
0 0 0
Cuisine Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Chambre
Appartement Cuisine
Appartement Cuisine
Appartement Salle de bain
Appartement Toilettes
[[650, 130], [300, 450]]
1

,1,3,corner_x,cornertype_x,x_corner,y_corner,corner_y,cornertype_y
0,None,None,"[150, 50]",TLC,150,50,"[150, 50]",TLC
1,Salle à manger,None,"[150, 50]",BLC,150,50,"[150, 50]",TLC
2,None,None,"[650, 50]",TRC,650,50,NaN,NaN
3,None,None,"[650, 450]",BRC,650,450,"[650, 450]",BRC
4,None,None,"[150, 450]",BLC,150,450,"[150, 450]",BLC
5,Chambre,None,"[650, 130]",BRC,650,130,NaN,NaN
6,Chambre,None,"[525, 450]",BRC,525,450,"[525, 450]",BRC
7,Toilettes,None,"[150, 350]",BLC,150,350,"[150, 350]",BLC
8,Toilettes,None,"[250, 450]",BLC,250,450,NaN,NaN
9,Salle de bain,None,"[525, 250]",BRC,525,250,NaN,NaN
10,Salle de bain,None,"[425, 450]",BRC,425,450,"[425, 450]",BRC
11,Cuisine,None,"[425, 130]",BRC,425,130,NaN,NaN
12,Cuisine,None,"[300, 450]",BRC,300,450,NaN,NaN
13,Salle à manger,None,"[250, 350]",BLC,250,350,NaN,NaN

                1     3    corner_x cornertype_x  prio
0  Salle à manger  None  [250, 350]          BLC     1
1         Chambre  None  [650, 130]          BRC     2
2         Cuisine  None  [425, 130]          BRC     3
3         Cuisine  None  [300, 450]          BRC     3
4   Salle de bain  None  [525, 250]          BRC     4
5       Toilettes  None  [250, 450]          BLC     5
6     Appartement  None   [650, 50]          TRC  1000

 Salle à manger

Salle à manger Chambre
Salle à manger Cuisine
Salle à manger Cuisine
Salle à manger Salle de bain
Salle à manger Toilettes
Salle à manger Appartement

 Chambre

Chambre Salle à manger
Chambre Cuisine
Chambre Cuisine
Chambre Salle de bain
Chambre Toilettes
Chambre Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Appartement

 Cuisine

Cuisine Salle à manger
Cuisine Chambre
Cuisine Salle de bain
Cuisine Toilettes
Cuisine Appartement

 Salle de bain

Salle de bain Salle à manger
Salle de bain Chambre
Salle de bain Cuisine
Salle de bain Cuisine
Salle de bain Toilettes
Salle de bain Appartement

 Toilettes

Toilettes Salle à manger
Toilettes Chambre
Toilettes Cuisine
Toilettes Cuisine
Toilettes Salle de bain
Toilettes Appartement

 Appartement

Appartement Salle à manger
Appartement Chambre
Appartement Cuisine
Appartement Cuisine
Appartement Salle de bain
Appartement Toilettes
[[650, 130], [300, 450]]
0

<ipython-input-87-52c6ef6f9e66>:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  self.tabCoinsPieceWithoutRemoved = pd.Series()

Chambre Salle à manger close edge lr
Chambre Salle de bain center
Chambre Salle à manger close edge lr
Chambre Cuisine center
Chambre Entrée close edge tb
Chambre Cuisine close edge tb
Chambre Cuisine center
Toilettes Chambre center
Toilettes Entrée close edge lr
Toilettes Cuisine close edge tb
Toilettes Salle de bain close edge tb
Toilettes Entrée close edge lr
Toilettes Chambre center
Toilettes Chambre center
Toilettes Chambre center

In [9]:
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

point = Point(0.5, 0.5)
polygon = Polygon([(0, 0), (0, 0.4), (0.2, 0.4), (0.2, 1), (1, 1), (1, 0)])
#print(polygon.contains(point))

ModuleNotFoundError: No module named 'shapely'

In [ ]:
plt.plot(*polygon.exterior.xy)

In [ ]:
sizes = [(58, 206), (231, 176), (35, 113), (46, 109)]
positions = rpack.pack(sizes)
positions
poly1 = Polygon(positions)
plt.plot(*poly1.exterior.xy)